.evaluate {
    width: 100%;
    background-color: #f4f5f6;
}

.evaluate-header {
    height: 150rpx;
    padding-top: 40rpx;
    border-bottom: 1rpx solid #eee;
}

.evaluate-classify_li {
    height: 48rpx;
    width: 118rpx;
    text-align: center;
    border-radius: 30rpx;
    line-height: 48rpx;
    margin-right: 24rpx;
    font-size: 22rpx;
    border: 2rpx solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    color: #666666;
}

.evaluate-header > ul {
    font-size: 26rpx;
    margin-left: 25%;
}

.evaluate-header > ul:after {
    content: "";
    display: block;
    clear: both;
}

.evaluate-header > ul li {
    width: 180rpx;
    height: 66rpx;
    text-align: center;
    line-height: 66rpx;
    float: left;
}

.evaluate-header > ul li:first-child {
    border-top-left-radius: 10rpx;
    border-bottom-left-radius: 10rpx;
    border: 1px solid #E83737;
}

.evaluate-header > ul li:last-child {
    border-top-right-radius: 10rpx;
    border-bottom-right-radius: 10rpx;
    border: 1px solid #E83737;
}

.evaluate-header > ul li span {
    margin-left: 10rpx;
}

.evaluate-classify {
    padding: 20rpx 30rpx  30rpx;
    margin-bottom: 24rpx;
    border-bottom-left-radius: 24rpx;
    border-bottom-right-radius: 24rpx;
    height: 112rpx;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;

}

.evaluate-classify div {
    margin-left: 20rpx;
    margin-right: 20rpx;
    text-align: center;
    line-height: 48rpx;
}

.evaluate-content li {
    background-color: #fff;
    padding: 32rpx 32rpx 32rpx 32rpx;
    margin-bottom: 16rpx;
    border-radius: 24rpx;
}

.content-user {
    margin-bottom: 12rpx;
}

.content-user img {
    width: 46rpx;
    height: 46rpx;
    border-radius: 50%;
    vertical-align: bottom;
}

.evaluate-content span, .evaluate-content .color {
    font-size: 24rpx;
    color: #9D9D9D;
}

.evaluate-content p, .evaluate-content .user-name {
    font-size: 32rpx;
    color: #333333;
    font-weight: 500;
    
    flex: 1;
    // margin-left: 80rpx;
}

.evaluate-content .img {
    width: 180rpx;
    height: 188rpx;
    margin-right: 20rpx;
    border-radius: 16rpx;
    margin-bottom: 12rpx;
}

.active {
    background: rgba(250,81,81,0.1);
    border-radius: 30rpx;
    color: #FA5151;
    height: 48rpx;
    line-height: 48rpx;
    text-align: center;
    border: 1rpx solid #fffae8;
    width: 120rpx;
    box-sizing: border-box;
}
.activea{
    
    background: #FFF7CC;
    border-radius: 30rpx;
    color: #FFC300;
    height: 48rpx;
    border: 1rpx solid #FFC300;
    width: 120rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigimg {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 45;
    background-color: #242424;
}

.bigimg_img {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.bigimg img {
    width: 100%;
}

.position_flex {
    position: fixed;
    top: 88rpx;
    left: 0;
    background-color: #FFFFFF;
    z-index: 29;
    width: 100%;
    height: auto;
}

.starall {
    // margin-left: 80rpx;
}
.review_title_box{
    position: relative;color: #d8424e;z-index: 555;font-weight: 500;font-size: 28rpx;display:inline-block;
}
.starall_title{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    height: 42rpx;
    align-items: flex-start;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    span{
        overflow: hidden;  //超出隐藏
        	white-space: nowrap; //不折行
        	text-overflow: ellipsis; //溢出显示省略号
    }
}
.starall_box{
    margin-left: 80rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16rpx;
}
.starall img {
    width: 32rpx;
    height: 32rpx;
    margin-right: 12rpx;
}
.starall_box span{
    color: #666666;
    
    font-size: 24rpx;
}
.content-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    width: 600rpx;
    margin-left: 80rpx;
}
.center view {
    font-size: 28rpx;
    
    color: #333333;
    word-wrap: break-word;
    word-break: break-all;
}
.content_n {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.content_img {
    margin-top: 32rpx;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12rpx;
}

.bigimg_i {
    height: 88rpx;
    width: 100%;
}

.bigimg_i img {
    width: 32rpx;
    height: 32rpx;
    margin: 30rpx 0 0 30rpx;
}

.bigimg_w {
    height: 100%;
    width: 100%;
    margin-top: 1rpx;
}

.bigimg_w img {
    width: 100%;
}
.huangxian{
    position: absolute;
    bottom: 4rpx;
    left: 0rpx;
    width: 60rpx;
    height: 12rpx;
    background-color: #ffe17f;
    z-index: 1;
    opacity: 0.5;
}
.review_title {
    // display: flex;
    // align-items: center;
    font-weight: 400;
    color: #333333;
    margin-left: 80rpx;
    
    font-size: 28rpx;
    margin-top: 14rpx;
    margin-bottom: 14rpx;
}

.review_title p {
    font-size: 24rpx;
    color: #999;
    margin-left: 80rpx;
}

.review_title p:first-child {
    font-size: 26rpx;
    color: red;
    margin-left: 80rpx;
}

.ev_img {
    width: 64rpx !important;
    height: 64rpx !important;
    border-radius: 50%;
    margin-right: 16rpx;
}
.amount{
    margin-top: 16rpx;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttom_box{
    margin-top: 48rpx;
    padding-bottom: 48rpx;
    font-size: 24rpx;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
}
.amount_icon{
    width: 40rpx;
    height: 40rpx;
    margin-right: 12rpx;
}
.amount_num{
    font-size: 28rpx;
    
    font-weight: 500;
    color: #333333;
}
.huifu{
        position: relative;
        margin-left: 80rpx;
        background: #F8F8F8;
        padding: 24rpx;
        
        color: #333333;
        font-size: 28rpx;
        background: rgba(250,81,81,0.1);
        border-radius: 16rpx;
        p{
            overflow: hidden;
            text-overflow:ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            width: 90%;
            font-weight: 400;
            
            color: #333333;
            font-size: 28rpx;
        }
        .Open_p{
            width: 100%;
            display:inherit;
        }
        .Open{
            position: absolute;
            right: 20rpx;
            bottom: 20upx;
            color: #020202;
            font-weight: 500;
        }
        .disnone{
            display: none;
        }
    }
