.container {
  display: flex;
  flex-direction: column;
  .query-input{
    margin-right: 0;
    .Search-input{
      margin-right: 10px !important;
    }
    .select-date {
      margin-right: 10px;
  }
  }
  // .select-date {
  //   margin-left: 10px;
  // }
  .Search{
    margin: 0;
  }
  .merchants-list {
      flex: 1;
  }
  .btn-list{
    margin-left: -0.625rem;
  }
  .jump-list{
    margin-top: 1rem;
  }
  a{
    color: #414658;
  }
  a:hover{
    color: #2d8cf0;
  }
}