.setup-ul{
    margin-top: 48rpx;
    background-color: inherit;
}
.setup-ul>li {
    font-size: 30rpx;
    background: #FFFFFF;
    border-radius: 24rpx;
    padding: 30rpx;
    margin-bottom: 32rpx;
    //    border-bottom: 1rpx solid #eee;
}

.setup-ul>li span {
    margin-right: 30rpx;
}

.last {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.color,
.active {
    margin-right: 0 !important;
    font-size: 24rpx;
    cursor: pointer;
}

.last input {
    flex: 1;
    margin-right: 20rpx;
}



.input {
    width: 300rpx;
}

.setup-buttom {
    border-radius: 52rpx;
    background-color: @btnBackground;
    opacity: 0.4;
    font-size: 32rpx;
}

.sure {
    background-color: @btnBackground;
    opacity: 1;
}

/* 优化 */

.yh-setup-ul {
    position: relative;
}

.yh-color {
    font-size: 32rpx;
    color: @D73B48;
}

.yh-time {
    margin: 0 !important;
    font-size: 32rpx;
}

.yh-setupButtomWrap {
    margin-top: 104rpx !important;
    background-color: initial !important;
}

.yh-isSure {
    width: 690rpx;
    height: 90rpx;
}
.active {
    color: #666666;
}
