.last {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.last i,
.color,
.active {
    margin-right: 0 !important;
    font-size: 32rpx;
    cursor: pointer;
    color: #666666 !important;
}

// .hei{
//     color: #666666;
// }

.setup-ul{
    margin-top: 48rpx;
    background-color: inherit;
}

.setup-ul li img {
    width: 40rpx;
    height: 40rpx;
}

.setup-ul li img {
    position: absolute;
    right: 30rpx;
    //bottom: 35rpx;
    z-index: 99;
    margin-top: -34rpx;
}

.setup-ul>li,
.set_l {
    font-size: 32rpx;
    background: #FFFFFF;
    border-radius: 24rpx;
    padding: 30rpx;
    margin-bottom: 32rpx;
    //    border-bottom: 1rpx solid #eee;
}

/* 优化 */
.yh-setup-ul {
    position: relative;
}

.yh-color {
    font-size: 32rpx;
    color: #D73B48 !important;
}

.yh-time {
    font-size: 32rpx;
    margin: 0 !important;
    color: #666666;
}

.yh-input {
    width: 90%;
}

.yh-setupButtomWrap {
    margin-top: 72rpx !important;
}

.setup-buttom1{
    width: 690rpx;
    height: 90rpx;
    background-color: #FCA8A8;
    line-height: 90rpx;
    border-radius: 8rpx;
    display: flex;
    justify-content: center;
    color: #fff;
}

.yh-setup-buttom {
    width: 690rpx;
    height: 90rpx;
    border-radius: 52rpx;
}
