.container {
  display: flex;
  flex-direction: column;
  .query-input{
    margin-right: 0 !important;
  }
  .fontColor{
    margin-left: 10px;
  }
  .merchants-list {
    flex: 1;
    .OP-button-top {
      justify-content: center;

    }
  }
  .OP-button-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button{
      margin-left: 0px !important;
      margin-bottom: 8px;
    }
  }
  tr td:last-child{
    z-index: -999;
  }
  
  .el-select{
    margin-right: 10px;
  }
  .summary-info {
    background-color: rgba(40,144,255,0.1);;
    border-radius: 4px;
    border: 1px solid #2890FF;
    color: #2890FF;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 10px 0px;
    span {
      font-size: 16px;
      font-family: MicrosoftYaHei;
      margin:10px 40px

    }
  }
}