.memberCenter {
    padding-bottom: 120rpx;
}

.header_return {
    height: 88rpx;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    line-height: 88rpx;
    color: #fff;
    font-size: 40rpx;

    .returnimg {
        position: absolute;
        left: 34rpx;
        top: 66%;
        transform: translateY(-50%);

        img {
            width: 28rpx;
        }
    }
}

.header {
    height: 266rpx;
    padding-top: 88rpx;
    box-sizing: border-box;
    background-color: #000;
    position: relative;
    .banner {
        position: absolute;
        left: 0;
        top: 0rpx;
        /* #ifdef MP-WEIXIN */
        height: 200rpx;
        // margin-top: 132rpx;
        width: 100%;
        /* #endif */
        

        /* #ifdef H5 */
        // margin-top: 88rpx;
        /* #endif */
    }
    .usershowbox {
        position: absolute;
        left: 40rpx;
        right: 40rpx;
        // bottom: 0;
        top: 60rpx;
        height: 204rpx;
        display: flex;
        align-items: center;
        background: linear-gradient(#E4C270 8rpx, #343434 0);
        padding: 0 48rpx;

        .usershow {
            display: flex;
            width: 100%;

            .userimg {
                box-sizing: border-box;
                width: 116rpx;
                height: 116rpx;
                box-sizing: border-box;
                border: 2rpx solid #E4C270;
                border-radius: 50%;
                margin-right: 24rpx;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 50%;
                    width: 100rpx;
                    height: 100rpx;
                }
            }

            .isvip {
                display: flex;
                flex: 1;
                justify-content: center;
                flex-direction: column;
                color: #E4C270;
                flex-grow: 1;

                .username {
                    font-size: 32rpx;
                    display: flex;
                    align-items: center;
                    
                    img {
                        width: 32rpx;
                        height: 32rpx;
                        margin-left: 16rpx;
                    }
                }

                .vip {
                    font-size: 24rpx;
                    opacity: 0.6;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 8rpx;

                    .viprecord {
                        opacity: 1;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.userRights-box {
    padding-bottom: 20rpx;
    background-color: #F4F5F6;


    .userrights {
        background-color: #fff;
        padding: 32rpx 32rpx 32rpx;
        border-radius: 0 0 16rpx 16rpx;

        .title {
            font-size: 32rpx;
            
            font-weight: 500;
            margin-bottom: 24rpx;
        }

        .rights {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .item {
                width: 332rpx;
                height: 136rpx;
                background-image: linear-gradient(#E4C270 8rpx, #F9F2E2 0);
                // background-image: url('../../img/qybj.png');
                background-size: 100% 100%;
                margin-bottom: 20rpx;
                border-radius: 0 0 20rpx 20rpx;
                // margin-right: 10rpx;
                padding: 0 20rpx;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                
                .item-left {
                    
                    color: #7B6A41;

                    .name {
                        font-size: 28rpx;
                        font-weight: bold;
                    }

                    .en {
                        opacity: 0.6;
                        font-size: 22rpx;
                    }
                }

                .item-right {
                    width: 48rpx;
                    height: 48rpx;
                    border-radius: 16rpx;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100%;
                        margin-right: 2rpx;
                        height: 100%;
                    }
                }
            }
        }
        .rights:last-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        
            .item {
                width: 332rpx;
                height: 136rpx;
                background-image: linear-gradient(#E4C270 8rpx, #F9F2E2 0);
                // background-image: url('../../img/qybj.png');
                background-size: 100% 100%;
                margin-bottom: 0rpx;
                border-radius: 0 0 20rpx 20rpx;
                padding: 0 20rpx;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                
                .item-left {
                    
                    color: #7B6A41;
        
                    .name {
                        font-size: 28rpx;
                        font-weight: bold;
                    }
        
                    .en {
                        opacity: 0.6;
                        font-size: 22rpx;
                    }
                }
        
                .item-right {
                    width: 48rpx;
                    height: 48rpx;
                    border-radius: 16rpx;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100%;
                        margin-right: 2rpx;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.usergoods {
    // .userRights-box.userrights();
    background-color:#f4f5f6 ;
    width: 100%;
    padding-bottom: 100rpx;
    .title {
        // .userRights-box.userrights.title();
    }

    .goods {
        background-color: #fff;
        border-radius: 12rpx;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f4f5f6;
        .item+.item {
            margin-top: 24rpx;
        }

        .item {
            background-color: #fff;
            width: 686rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2rpx solid #F4F5F6;
            border-radius: 24rpx;
            display: flex;

            .item-left {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 220rpx;
                height: 220rpx;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .item-right {
                width: 67%;
                box-sizing: border-box;
                padding: 16rpx;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .itemtitle {
                    p {
                        font-size: 28rpx;
                        color: #333;
                        font-weight: bold;
                        margin-bottom: 8rpx;
                    }
                    .goodname-plate {
                        margin-top: 8rpx;
                        width: 112rpx;
                        height: 38rpx;
                        font-size: 20rpx;
                        text-align: center;
                        line-height: 38rpx;
                        color: #E4C270;
                        margin-bottom: 24rpx;
                    }
                }
                

                .pricebox {
                    color: #C2A662;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 100%;
                    view {
                        display: inline-block;
                    }

                    .userprice {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .userprice-title{
                            width: 100%;
                            // align-items: flex-end; 
                            display: flex;
                            justify-content: space-between;
                            font-size: 32rpx;
                            font-weight: 500;
                            color: #674C0D ;
                            display: flex;
                                 // line-height: 14px;
                             height: 46rpx;
                             border-radius: 25rpx; 
                             // background-color: #e4c270;
                             // background-image: url(/static/img/dlf.png);
                             background-size: 25rpx 25rpx;
                             background-repeat: no-repeat; 
                        }
                        .userprice-title_txt{
                            width: 70%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            line-height: 46rpx;
                            height: 46rpx;
                        }
                    }
                    

                    .price {
                        width: 94rpx;
                        // overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: inline-block;
                        font-size: 24rpx;
                        color: #999999;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    
    .noGoods {
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        span {
            margin-top: 60rpx;
        }
    }
}

.footer {
    background-color: #fff;
    padding: 18rpx 36rpx;
    position: fixed;
    height: 100rpx;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;

    view {
        width: 100%;
        height: 84rpx;
        background-color: #E4C270;
        color: #72591E;
        text-align: center;
        line-height: 84rpx;
        border-radius: 42rpx;
        font-size: 32rpx;
    }

    .footer-hover {
        opacity: .9;
    }
}
