page{
    background-color: #F4F5F6;
}
.toload{
    background-color: #F4F5F6;
}
.bosx {
    word-break: break-word;
}

.noFindDiv {
    width: 750rpx;
    height: 394rpx;
    //background-color: #ffffff;
    padding-top: 185px;
    .noFindText{
        font-size:27rpx !important;
    }
}

ul {
    background-color: #F6F6F6;
    width: 100%;
}

ul li {
    padding: 0 32rpx;
    margin-top: 32rpx;
    text-align: center;
}

.time {
    width: 100%;
    height: 46rpx;
    font-size: 24rpx;
    color: #999999;
    //background-color: #D8D8D8;
    padding: 10rpx 20rpx;
    border-radius: 2px;
    
    margin-bottom: 14rpx;
}

.content {
    background-color: #fff;
    border-radius: 24rpx;
    width: 690rpx;
    // margin-top: 30rpx;
    padding: 32rpx;
    text-align: left;
}

.title {
    //width: 100%;
    font-size: 32rpx;
    
    font-weight: 400;
    color: #333333;
}

.con {
    padding-top: 8rpx;
    padding-bottom: 32rpx;
    
    font-size: 28rpx;
    
    font-weight: 400;
    color: #999999;
}

.border {
        border-bottom: 1rpx solid #eee;
    width: 100%;
}

.syatem-bottom {
    color: #D73B48;
    font-size: 32rpx;
    font-weight: 400;
    padding-top: 32rpx;
    padding-bottom: 8rpx;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.syatem-bottom img {
    width: 32rpx;
    height: 44rpx;
    float: right;
}

.new {
    position: relative;
    left: 6rpx;
    width: 30rpx;
    top: -14rpx;
    height: 16rpx;
}

.new_s{
    width: 72rpx;
    height: 40rpx;
    background: #FA5151;
    border-radius: 8rpx;
    display: inline-block;
    color: #ffffff;
    font-size: 24rpx;
    font-weight: 400;
    text-align: center;
    line-height: 40rpx;
    
    margin-left: 16rpx;
}

.head_span {
    font-size: 28rpx;
    line-height: 88rpx;
    vertical-align: middle;
    position: fixed;
    right: 24rpx;
    z-index: 50;
    color: #999;
}

.m_top {
    background-color: #FFFFFF;
    //border-top: 1px solid #efefef;
    width: 100%;
    height: 104rpx;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 24rpx 24rpx;
}

.top_text {
    color: #666666;
    font-size: 28rpx;
    line-height: 104rpx;
    padding: 0 20rpx 0 30rpx;
}

.red {
    color: @uni-text-color-obvious;
    color: #FA5151;
}

.top_read {
    /* text-align: right; */
    font-size: 28rpx;
    color: #D73B48;
    line-height: 104rpx;
    padding-right: 30rpx;
}

.top_ed {
    padding-right: 30rpx;
    display: block !important;
}

.top_readimg {
    /* padding-left: 20rpx; */

    /* #ifdef MP-ALIPAY */
    height: 39rpx;
    width: 39rpx;
    /* #endif */
    /* #ifndef MP-ALIPAY */
    height: 34rpx;
    width: 34rpx;
    /* #endif */
    position: relative;
    top: 6rpx;
    margin-right: 10rpx;
}

/* 优化 */
.lk-crad {
    display: flex;
    align-items: center;
    margin-top: 24rpx;
}

.box {
    height: 100vh;
    background-color: #F6F6F6;
}

.lk-crad .lk-label {
    margin-right: 30rpx;
}

.messagetail {
    width: 100%;
    height: 104rpx;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.messagetail .chec {
    display: flex;
    align-items: center;
}

.messagetail .btn {
    //width: 240rpx;
    //height: 98rpx;
    background-color: @btnBackground;
    color: @lightColor;
    font-size: 30rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 176rpx !important;
    height: 72rpx;
    background: #FA5151;
    border-radius: 36rpx;
    margin-right: 32rpx;
}

.lk-label-div {
    width: 34rpx;
    height: 34rpx;
    border: 2rpx solid #B8B8B8;
    border-radius: 50%;
    margin: 0rpx 12rpx 0rpx 30rpx;
}

.lk-label-img {
    width: 34rpx;
    height: 34rpx;
    margin: 0rpx 12rpx 0rpx 30rpx;
}

.lk-label-span {
    font-size: 28rpx;
    //color: #020202;
    
    
    font-weight: 400;
    color: #999999;
}

.lk-label-image {
    width: 34rpx;
    height: 34rpx;
}

.lk-label-divs {
    width: 34rpx;
    height: 34rpx;
    border: 2rpx solid #B8B8B8;
    border-radius: 50%;
}


.flex1{
    flex: 1;
}

.noFindImg {
    width: 750rpx;
    height: 394rpx;
}
