.head,
.order_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    height: 88rpx;
    padding: 0 30rpx;
    border-bottom: 0.5px solid #eee;
    font-size: 40rpx;
    color: #242424;
}

.head_img {
    width: 24rpx;
    height: 36rpx;
}

.head_search {
    width: 40rpx;
    height: 40rpx;
    visibility: hidden;
}

.order_header {
    justify-content: space-around;
    width: 100%;
    border-bottom: 0.5px solid #D2D2D2;
}

.header_li {
    width: 25%;
    text-align: center;
    height: 84rpx;
    line-height: 84rpx;
    border-bottom: 0.5px solid #eee;
    font-size: 30rpx;
    color: #9D9D9D;
}

.header_border {
    color: #020202;
    font-weight: bold;
    position: relative;
}

.header_border:after {
    border-bottom: 5rpx solid #020202;
    position: absolute;
    bottom: 0;
    width: 50%;
    content: "";
    left: 25%;
}

.last_right > div {
    justify-content: center;
}

.position_head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 35;
}

.content {}

.fail_icon {
    width: 68rpx;
    height: 68rpx;
}
.zhuantai{
    font-size: 32rpx;
    font-weight: normal;
    color: #333333;
    margin-top: 16rpx;
    margin-bottom: 8rpx;
}

.content view:nth-of-type(1) {
    font-size: 30rpx;
    font-weight: 500;
    color: rgba(36, 36, 36, 1);
    text-align: center;
}

.content_v2 {
    margin-top: 101rpx;
    padding: 32rpx 29rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.content_v3 {
    border-top: 0.5px solid rgb(238, 238, 238);
    border-bottom: 0.5px solid rgb(238, 238, 238);
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(2, 2, 2, 1);
    padding: 24rpx 34rpx;
    margin: 0rpx 30rpx;
    width: 690rpx;
    height: 140rpx;
    border: 0.5px solid #EEEEEE;
    border-radius:6rpx;
    box-sizing: border-box;
}

.cg_desc {
    font-size: 28rpx;
    font-weight: normal;
    color: #999999;
}

.cg_items1{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 0 24rpx 24rpx;
    padding: 48rpx;
    box-sizing: border-box;
}

.cg_items {
    background: #FFFFFF;
    border-radius: 24rpx;
    margin-top: 28rpx;
}

.cg_item {
    padding: 32rpx 0rpx;
    border-bottom: 0.5px solid rgb(238, 238, 238);
    display: flex;
    >view:nth-of-type(1) {
        min-width: 80rpx;
        font-size: 32rpx;
        font-weight: normal;
        color: #333333;
    }
    >view:nth-of-type(2) {
        font-size: 32rpx;
        font-weight: normal;
        color: #333333;
        margin-left: 32rpx;
    }
}

.pad{
    padding-left: 32rpx;
}

.magin{
    margin: 0 32rpx;
}

.cg_btn {
    width: 686rpx;
    height: 92rpx;
    text-align: center;
    line-height: 92rpx;
    background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
    border-radius: 52rpx;
    margin: 0 auto;
    margin-top: 100rpx;
    font-size: 32rpx;
    font-weight: normal;
    color: #FFFFFF;
}

.yh-halfWidth {
    height: 178rpx;
    position: fixed;
    background: #FFFFFF;
    z-index: 999;
}

.yh-title {
    font-size: 32rpx;
}

.yh-load {
    height: 60vh;
}
