.container {
  display: flex;
  flex-direction: column;
  .Search {
    .Search-input {
      margin: 0px !important;
    }
    .search-mch {
      margin-left: 8px !important;
    }
    .query-input {
      margin-right: 10px !important;
    }
  }
  .merchants-list {
    flex: 1;
    .OP-button-top {
      justify-content: center;
      margin-bottom:0 !important;
      button{          
        width: 88px !important;
        height: 24px !important;      
      }
    }
  }
  .OP-button-top{
    display: flex;
    justify-content: center;
  }
  tr td:last-child{
    z-index: -999;
  }
  
}