.dateListExpand {    
	padding:24rpx 0 0 80rpx ;
}
.xieyi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    > view {
        width: 640rpx;
        min-height: 100rpx;
        max-height: 486rpx;
        background: #ffffff;
        border-radius: 24rpx;
        .xieyi_btm {
            height: 108rpx;
            color: @D73B48;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 0.5px solid rgba(0, 0, 0, 0.1);
            font-weight: bold;
            font-size: 32rpx;
        }
        .xieyi_title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32rpx;
            
            font-weight: 500;
            color: #333333;
            line-height: 44rpx;
            margin-top: 64rpx;
            margin-bottom: 32rpx;
            font-weight: bold;
            font-size: 32rpx;
        }
        .xieyi_text {
            width: 100%;
            max-height: 236rpx;
            overflow-y: scroll;
            padding: 0 32rpx;
            box-sizing: border-box;
        }
    }
}

.content{
    border-radius: 24rpx;
    margin: 24rpx 0;
    background-color: #fff;
}
.date {
    font-size: 28rpx;
    
    font-weight: 400;
    color: #999999;
    padding:32rpx;
    border-bottom: 1rpx solid rgba(0,0,0,.1);
}

.dateList {
    
    // height: 90rpx;
    padding:24rpx 0 ;
    margin: 0 32rpx;
     border-bottom: 1rpx solid rgba(0,0,0,.1);
     &:nth-last-child(1){
         border-bottom: 0;
     }
     .dateListBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
     span{
         white-space: nowrap;
     }
}
.dateListLeft {
    display: flex;
    align-items: center;
    position: relative;
    img {
       width: 64rpx;
       height: 64rpx;
        border-radius: 50%;
        margin: 0 16rpx 0 0;
    }
    .userInfo{
        .userName{
            font-size: 28rpx;
            
            font-weight: 500;
            color: #333333;
        }
        span{
            margin-right:10rpx ;
        }
    }
}
.dateListright{
    min-width: 44rpx;
    min-height: 32rpx;
}
.dateListLeft span {
    max-width: 180rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .mr_72 {
    min-width: 280rpx;
    font-size: 24rpx;
    
    font-weight: 400;
    color: #999999;
    margin-right: 72rpx;
}

.fansList {
    min-width: 144rpx;
    height: 56rpx;
    line-height: 56rpx;
    text-align: center;
   background: #F4F5F6;
   border-radius: 28rpx;
   font-size: 24rpx;
   
   font-weight: 500;
   color: #333333;
}

.wsj_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200rpx;
}

.wsj_box>div {
    text-align: center;
    font-size: 28rpx;
    
    font-weight: 400;
    color: #333333;
    // margin-top: 28rpx;
}

.wsj_img {
    width: 750rpx;
    height: 460rpx;
}

.container {
    min-height: 100vh;
    .position_head{
           position: sticky;
           top: 0;
           width: 100%;
           z-index: 990;
            border-radius: 0px 0px 24rpx 24rpx;
            background-color: #fff;
    }    
    .headInfo{
        // position: fixed;
        // width: 100%;
        // z-index: 99;
        padding: 32rpx 0;
        .topTabBar {
            // position: fixed;
            z-index: 999;
            width: 100%;
            height: 56rpx;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 28rpx;
            background-color: #fff;
            color: #999999;
            .active1 {
                position: relative;
                color:#333333;;
                font-size: 32rpx;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 160rpx;
                    height: 4rpx;
                    background: #Fa5151;
                    border-radius: 4rpx;
                }
            }
            .active2 {
                position: relative;
                color:#333333;;
                font-size: 32rpx;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 128rpx;
                    height: 4rpx;
                    background: #Fa5151;
                    border-radius: 4rpx;
                }
            }
            .width_50 {
                width: 50% ;
            }
        }
        
        .topTabBar div {
            .center();
            height: 100%;
            font-weight: 500;
            
        }
    }
}

.today_list {
    // padding: 0 20rpx;
    background-color: #FFF;
}

.border_bottom {
        border-bottom: 1rpx solid #eee;
}

.jiantou {
    width: 44rpx !important;
    height: 32rpx !important;
}
