.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #f6f6f6;
}

.checkDiv {
    position: relative;
    min-height: 100vh;
}

.checkDiv1 {
    background-color: #f4f5f6;
    min-height: 100vh;
    // padding: 0 30rpx;
}

.noFindImgDiv {
    padding-top: 88rpx;
}

.checkDivData {
    font-size: 32rpx;
    
    font-weight: 500;
    color: #333333;
     margin: 32rpx 0;
}
.font_one{
    font-size: 32rpx;
    
    font-weight: normal;
    color: #333333;
}
.font_two{
    font-size: 28rpx;
     
    font-weight: normal;
    color: #999999;
    padding-bottom: 72rpx;
}
.btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 124rpx;
        box-sizing: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
        padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
        padding-bottom: env(safe-area-inset-bottom);
    
    .bottom {
        width: 686rpx;
        height: 92rpx;
        font-size: 32rpx;
        color: #fff;
        text-align: center;
        line-height: 92rpx;
        border-radius: 52rpx;
        margin: 0 auto;
        padding:0;
        .solidBtn()
    }

}

.support {
    width: 100%;
    height: 80rpx;
    font-weight: 400;
    color: #999999;
    font-size: 24rpx;
    text-align: center;
    margin-top: 48rpx;
}
.setupBlacka {
    color: #020202;
    font-size: 28rpx;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.setupBlacka-title{
    //margin-left: 14rpx;
    
    font-size: 32rpx;
    
    font-weight: 500;
    color: #333333;
    line-height: 44rpx;
}
.setupBlacka-titlel{
    //margin-left: 14rpx;
    margin-top: 16rpx;
    color: #999999;
}
.setupBlack {
    //color: #020202;
    //font-size: 28rpx;
    
    font-size: 28rpx;
    
    font-weight: 400;
    color: #999999;
    line-height: 32rpx;
}

.myStoreDataDiv {
    border-radius: 25rpx;
    // box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 20rpx 1px;       //阴影
    height: 368rpx;
    text-align: center;
    padding: 32rpx;
    background: #fff;
}
.myStoreDataDiv-title{
    width: 100%;
    //height: 100rpx;
    text-align: left;
    //line-height: 100rpx;
    //margin-left: 32rpx;
    font-size: 32rpx;
    font-weight: 500;
    color: #333333;
    margin-bottom: 42rpx;
}
.myStoreSetupDiva {
    border-radius: 8rpx;
    margin-top: 16rpx;
    border-radius: 25rpx;
    // text-align: center;
    height: 320rpx;
    display: flex !important;
    flex-wrap: wrap;
    background-color: #fff;
    padding-top: 16rpx;
    padding-bottom: 16rpx;

}
.tool{
    margin-top: 16rpx;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    border-radius: 25rpx;
}
.tool-title{
    width: 90%;
    display: flex;
    font-size: 32rpx;
    color: #333333;
    // line-height: 76rpx;
    font-weight: 500;
    padding: 32rpx 32rpx 0 32rpx;
}
.toollist{
    // width:100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 32rpx;
}
.toollist-box{
    width: 25%;
    height: 120rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40rpx;
}
.toollist-box-txt{
    margin-top: 16rpx;
    color: #333333;
    font-size: 24rpx;
}
.myStoreSetupDiva img {
    width: 64rpx;
    height: 64rpx;
    // margin-bottom: 20rpx;
    margin: 0 32rpx;
}

.myStoreSetupDiva div {
    width: 375rpx;
    height: 156rpx;
    display: flex;
    // justify-content: center;
    align-items: center;
}
.myStoreSetupDiv {
    border-radius: 8rpx;
    margin-top: 70rpx;
    text-align: center;
}

.myStoreSetupDiv img {
    width: 62rpx;
    height: 62rpx;
    margin-bottom: 20rpx;
}

.myStoreSetupDiv div {
    width: 50%;
    height: 50%;
    float: left;
    margin-bottom: 80rpx;
}

.myStoreDataDiv div {
    width: 33.33%;
    height: 114rpx;
    float: left;
}

.dataBlack {
    // color: @btnBackground;
    //color: #333333;
    //font-size: 32rpx;
    //margin: 10rpx 0;
    //font-weight: bold;
    
    font-size: 32rpx;
    font-family: DIN-Medium, DIN;
    font-weight: 500;
    color: #333333;
    line-height: 34rpx;
}

.dataGray {
    //color: #888888;
    //font-size: 24rpx;
    
    font-size: 24rpx;
    
    font-weight: 400;
    color: #999999;
    line-height: 32rpx;
    
    margin-top: 8rpx;
}

.myStoreTop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // height: 192rpx;
    padding: 48rpx 32rpx;
    margin-bottom: 16rpx;
    border-bottom-right-radius: 25rpx;
    border-bottom-left-radius: 25rpx;
    background-color: #fff;
    /* #ifdef MP-ALIPAY */
    padding: 24px 0px 0px 5px;
    /* #endif */
    .storeInfo{
        flex: 1;
    }
}

.myStoreTop .img {
    width: 120rpx;
    height: 120rpx;
    border-radius: 50%;
    margin-right: 20rpx;
    margin-left: 38rpx;
}

.imgs{
    width: 96rpx;
    height: 96rpx;
    // background-color: rgba(250,81,81,0.2);
    border-radius: 50%;
    margin-right: 24rpx;
    // margin-left: 32rpx;
    >image{
        width: 92rpx;
        height: 92rpx;
        border-radius: 50%;
        margin: 2rpx;
    }
}

.infoName {
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 32rpx;
    margin-bottom: 12rpx;
    font-weight: 600;
    white-space: nowrap;
    //overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 430rpx;
    
}

.infoShop {
    
    color: #666666;
    font-size: 28rpx;
    word-wrap: break-word;
    width: 460rpx;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
   // margin-top: 10rpx;
}

.btnDiv {
    
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    // font-size: 20rpx;
    // color: #FFFFFF;
    white-space: nowrap;
    .QRcode{
        margin-left: 32rpx;
        position: relative;
        .xxnum {
            position: absolute;
            top: -16rpx;
            right: -16rpx;
            background-color: #f43530;
            color: #fff;
            width: auto;
            height: 32rpx;
            line-height: 32rpx;
            border-radius: 32rpx;
            min-width: 32rpx;
            font-size: 22rpx;
            text-align: center;
            white-space: nowrap;
        }
    }
    img{
        width: 40rpx;
        height: 40rpx;
        // margin-bottom: 14rpx;
        // margin-top: 20rpx;
        // margin-left: -20rpx;
    }
}

.myStoreDiv {
    width: 750rpx;
    height: 848rpx;
    background: #FFFFFF;
    border-radius: 0px 0px 24rpx 24rpx;
    text-align: center;
}

.noFindText{
    font-size: 28rpx;
    
    font-weight: 400;
    color: #999999;
}
.noFindText1{
    font-size: 28rpx;
    
    font-weight: 400;
    color: #333333;
}
.toApply {
    position: absolute;
    bottom:40rpx;
    // border-radius: 5rpx;
    // padding: 20rpx 160rpx;
    // color: @lightColor;
    // background-color: @btnBackground;
    // display: flex;
    // border-radius: 10rpx;
    // font-size: 30rpx;
    width: 686rpx;
    height: 92rpx;
    font-size: 32rpx;
    color: #fff;
    text-align: center;
    line-height: 92rpx;
    border-radius: 52rpx;
    margin: 0 auto;
    padding:0;
    .solidBtn()
    
    
}
.toApply3 {
    position: absolute;
    bottom:524rpx;
    // border-radius: 5rpx;
    // padding: 20rpx 160rpx;
    // color: @lightColor;
    // background-color: @btnBackground;
    // display: flex;
    // border-radius: 10rpx;
    // font-size: 30rpx;
    width: 686rpx;
    height: 92rpx;
    font-size: 32rpx;
    color: #fff;
    text-align: center;
    line-height: 92rpx;
    border-radius: 52rpx;
    margin: 0 auto;
    padding:0;
    .solidBtn()
    
    
}
.toApply1 {
    border-radius: 5rpx;
    padding: 20rpx 120rpx;
    color: @btnBackground;
    background-color: @lightColor;
    display: flex;
    border-radius: 10rpx;
    font-size: 30rpx;
    border: 1px solid @btnBackground;
}

.myStoreBox {
    // padding: 30rpx;
    // padding-top: 30rpx;
}

.font_24 {
    // font-size: 24rpx;
}

.clear {
    clear: both;
}
.toApplyDiv2 {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 59rpx;
}
.supportData {
    display: flex;
    align-items: center;
    justify-content: center;
}

.supportData .img {
    width: 28rpx;
    height: 28rpx;
    margin-right: 10rpx;
}

.myStoreImgDiv {
    padding-top:152rpx;
    
    // margin-bottom: 46rpx;
}

.myStoreImgDiv .img {
    width: 750rpx;
    height: 460rpx;
}

.myStoreDiv > .toApplyDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 59rpx;
}

.noFindDiv{
    width: 750rpx;
    height: 848rpx;
    background: #FFFFFF;
    border-radius: 0px 0px 24rpx 24rpx;
    padding-top:  104rpx;
}
.failDiv{
    height: auto;
    padding-bottom: 64rpx;
}
.noFindDiv_fail{
    margin-top: 24rpx;
    background: #FFFFFF;
    border-radius:24rpx;
    padding: 48rpx;
    .reasonDiv{
        margin-top:24rpx ;
        font-size: 28rpx;
        
        font-weight: 500;
        color: #333333;
    }
}

.noFindImg {
    width: 750rpx;
    height:460rpx;
}
