.bottom_left>span {
    font-size: 26rpx;
    color: #020202;
}
.oreder_info{
    place-self: flex-start;
    flex:1;
    text-align: start !important;
}
.order_space{
    font-size: 32rpx;
    
    font-weight: 400;
    color: #333333;
}
.order_price{
    font-size:32rpx;
    font-weight: 600;
    color: #FA5151;
    .price_symbol{
        font-size: 24rpx;
    }
}
.order_goods{
    margin-bottom: 124rpx;
    overflow-y: scroll;
}
.order_goods li{
    
    padding:32rpx;
    margin: 0 ;
    margin-bottom: 16rpx;
    border-radius: 24rpx;
    background-color: #ffffff;
    &:nth-child(1){
        border-radius: 0 0 24rpx 24rpx;
    }
}
.order_two{
    justify-content: flex-start;
}
.order_two img{
   width: 152rpx;
   height: 152rpx;
   border-radius: 16rpx;    
}
.order_two img:first-child {
    width: 32rpx;
    height: 32rpx;
}
.order_two_img{
    margin-right: 24rpx;
}
.batch_bottom,
.bottom_left,
.batch_bottom_q {
    display: flex;
    align-items: center;
}

.batch_bottom {
    ustify-content: space-around;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 20;
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    justify-content: space-between;
    font-size: 24rpx;
    
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    background-color: #ffffff;
    .batch_bottom_btn{
        padding: 0 32rpx;
        width: 750rpx;
        height: 104rpx;
        margin-top: 12rpx;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.bottom_left {
    justify-content: flex-start;
}

.batch_bottom_q {
    .solidBtn();
    border-radius: 36rpx;
    font-size: 28rpx;
    
    font-weight: 500;
    color: #FFFFFF;
    justify-content: center;
    padding: 16rpx 64rpx;
    
}

.quan_img {
    margin-right: 32rpx;
}
// .batch_bottom {
//         position: fixed;
//         bottom: 0;
//         width: 100%; 
//         background-color:  #F4F5F6;
//         box-sizing: unset;
//         box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
        
//         .btnBox{
//             
            
//         }
//         .bottomBoxBtn {
//             width: 686rpx;
//             height: 92rpx;
//             font-size: 32rpx;
//             color: #fff;
//             text-align: center;
//             line-height: 92rpx;
//             border-radius: 52rpx;
//             margin: 0 auto;
//             padding:0;
//             .solidBtn()
//         }
    
//     }
