
.setup-ul{
    margin-top: 48rpx;
    background-color: inherit;
}
.setup-ul>li {
    font-size: 30rpx;
    background: #FFFFFF;
    border-radius: 24rpx;
    padding: 30rpx;
    margin-bottom: 32rpx;
    //    border-bottom: 1rpx solid #eee;
}

.setup-ul>li span {
    margin-right: 30rpx;
}

.last {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.last i,
.color,
.active {
    margin-right: 0 !important;
    font-size: 24rpx;
    cursor: pointer;
}

.last input {
    flex: 1;
}

.active {
    color: #666666;
}

.input {
    width: 250rpx;
}

.head,
.order_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    height: 88rpx;
    padding: 0 30rpx;
        border-bottom: 1rpx solid #eee;
    font-size: 40rpx;
    color: #242424;
}

.head_img {
    width: 24rpx;
    height: 36rpx;
}

.head_search {
    width: 40rpx;
    height: 40rpx;
    visibility: hidden;
}

.order_header {
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
}

/* 优化 */
.yh-setup-ul {
    position: relative;
}

.yh-color {
    font-size: 32rpx;
    color: #D73B48;
}

.yh-time {
    font-size: 32rpx;
    margin: 0 !important;
}

.yh-setupButtomWrap {
    margin-top: 72rpx !important;   
    background-color:#F4F5F6 !important;
}

.setup-buttom1{
    width: 690rpx;
    height: 90rpx;
    // background-color: #99b4b4;
    background-color: #FCA8A8;
    line-height: 90rpx;
    border-radius: 8rpx;
    display: flex;
    justify-content: center;
    color: #fff;
}

.yh-setup-buttom {
    width: 690rpx;
    height: 90rpx;
    border-radius: 52rpx;
}

.yh-isset {
    width: 690rpx;
    height: 90rpx;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin-top: 10px;
}
.action{
    background: #FCA8A8 !important;
}

.last {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.setup-ul{
    margin-top: 48rpx;
    background-color: inherit;
}

.setup-ul li img {
    width: 40rpx;
    height: 40rpx;
}

.setup-ul li img {
    position: absolute;
    right: 30rpx;
    //bottom: 35rpx;
    z-index: 99;
    margin-top: -34rpx;
}

.setup-ul>li,
.set_l {
    font-size: 32rpx;
    background: #FFFFFF;
    border-radius: 24rpx;
    padding: 30rpx;
    margin-bottom: 32rpx;
    //    border-bottom: 1rpx solid #eee;
}

/* 优化 */
.yh-setup-ul {
    position: relative;
}

.yh-color {
    font-size: 32rpx;
    color: #D73B48;
}

.yh-time {
    font-size: 32rpx;
    margin: 0 !important;
    color: #666666;
}

.yh-input {
    width: 90%;
}

.yh-setupButtomWrap {
    margin-top: 72rpx !important;
}

.setup-buttom1{
    width: 690rpx;
    height: 90rpx;
    background-color: #FCA8A8;
    line-height: 90rpx;
    border-radius: 8rpx;
    display: flex;
    justify-content: center;
    color: #fff;
}

.yh-setup-buttom {
    width: 690rpx;
    height: 90rpx;
    border-radius: 52rpx;
}
