page{
    background-color: #F4F5F6;
}
.box {
    height: 100vh;
}



.setup-ul {
    position: relative;
    margin: initial;
    border-radius: 0 0 24rpx 24rpx;
    padding: 0 32rpx;
    color: #333333;
}

.setup-ul > li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    font-size: 32rpx;
    background: #FFFFFF;
    //border-radius: 24rpx;
    padding: 32rpx 0;
    //margin-bottom: 32rpx;
    border-bottom: 0.5px solid #eee;
}
.setup-ul > li:last-child{
    margin-bottom: initial;
    border-bottom: initial;
}
.anniu{
    width: 100%;
    //height: 124rpx;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
}
.button {
    width: 686rpx;
    height: 92rpx;
    font-size: 32rpx;
    color: #FA5151;
    text-align: center;
    line-height: 92rpx;
    background-color: #FFFFFF;
    border-radius: 52rpx;
    border: 1px solid #FA5151;
    margin: auto;
}

.margin {
    margin-bottom: 0;
}

.srt_div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.srt_div_div {
    width: 560rpx;
    background-color: white;
    margin: 0 auto;
    margin-top: 450rpx;
}

.srt_title {
    font-size: 36rpx;
    text-align: center;
    line-height: 90rpx;
    border-bottom: 1rpx solid #efefef;
    padding-bottom: 10rpx;
}
.jiantou{
    width:32rpx;
    height:44rpx;
    margin-left: auto;
}
.list_left{
    width: 36rpx;
    height: 36rpx;
    margin-right: 15rpx;
}

.srt_word {
    font-size: 30rpx;
    padding: 40rpx 30rpx;
    color-interpolation: #333;
}

.srt_bottom {
    height: 90rpx;
    line-height: 90rpx;
    text-align: center;
    font-size: 30rpx;
    border-top: 1rpx solid #efefef;
}

.srt_left,
.srt_right {
    width: 50%;
    float: left;
    position: relative;
}

.srt_left_height {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1rpx solid #efefef;
    height: 90rpx;
}

.srt_right {
    color: #005edf;
}

.load {
    height: 90vh;
}
