.head {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 40;
}
        .xieyi {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 99;
            display: flex;
            justify-content: center;
            align-items: center;
            > view {
                width: 640rpx;
                min-height: 100rpx;
                max-height: 486rpx;
                background: #ffffff;
                border-radius: 24rpx;
                .xieyi_btm {
                    height: 108rpx;
                    color: @D73B48;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
                    font-weight: bold;
                    font-size: 32rpx;
                }
                .xieyi_title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 32rpx;
                    
                    font-weight: 500;
                    color: #333333;
                    line-height: 44rpx;
                    margin-top: 64rpx;
                    margin-bottom: 32rpx;
                    font-weight: bold;
                    font-size: 32rpx;
                }
                .xieyi_text {
                    width: 100%;
                    max-height: 236rpx;
                    overflow-y: scroll;
                    padding: 0 32rpx;
                    box-sizing: border-box;
                }
            }
        }
        
.header_box {
    height: 88rpx;
    position: relative;
    background-color: #014343;
}

.header img {
    position: absolute;
    top: 26rpx;
    left: 20rpx;
    width: 24rpx;
    height: 36rpx;
}

.header a {
    position: absolute;
    width: 36rpx;
    height: 36rpx;
    border-radius: 50%;
}

.header_img {
    top: 46rpx !important;
    left: 10rpx !important;
    width: 64rpx !important;
    height: 64rpx !important;
}

.header p {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 88rpx;
    color: #ffffff;
    font-size: 32rpx;
}

.header span {
    height: 88rpx;
    width: 60rpx;
    display: inline-block;
    position: absolute;
}

// .subBtn {
//     .solidBtn();
//     .center();
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100rpx;
//     font-size: 30rpx;
//     z-index: 9;
// }

.redColor {
    color: #FF1818 !important;
}

.table {
    border-right: 0;
    border-bottom: 0;
    width: 100%;
    min-width: 100vw;
}

.tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.th,
.td {
    text-align: center;
    width: 100%;
    padding: 0 10rpx;
    // min-width: 120rpx;
    width: 148rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.th {
    font-weight: 400;
    background-color: #ffffff;
}

.td input {
    // width: 110rpx;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    color: #333333;
    border-radius: 48rpx;
}
.relative{
    overflow: scroll;
    // min-width: max-content;
}
.attrList {
    font-size: 28rpx;
    color:  #666666;
    // width: 100%;
    overflow: scroll;
    min-width: max-content;
    padding-bottom: 40rpx;
    border-radius: 0px 0px 24rpx 24rpx;
    background-color: #FFFFFF;
}

.attrListHead {
    list-style: none;
    height: 90rpx;
    // border-bottom: 1rpx solid #eee;
    background: #ffffff;
        
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 9;
}

.attrListHead li {
    float: left;
}

.attrListBody {
    list-style: none;
    height: 88rpx;
        // border-bottom: 1rpx solid #eee;
        
        &:nth-child(odd){
            background-color: #FFFFFF ;
        }
        &:nth-child(even){
            background-color:#F4F5F6;
        }
}

.attrListBody li {
    float: left;
}

.attrListBody div,
.attrListBody span,
.attrListBody input {
    color: #333333;
}

.attrListTr1 {
    height: 100%;
    float: left;
}

.attrListBody .list2 span{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

input {
    font-size: 14px;
    border-radius: 3px;
    height: 30px;
}
.btn{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 124rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
        padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
        padding-bottom: env(safe-area-inset-bottom);
    }
    .bottom {
        width: 686rpx;
        height: 92rpx;
        font-size: 32rpx;
        color: #fff;
        text-align: center;
        line-height: 92rpx;
        border-radius: 52rpx;
        margin: 0 auto;
        padding:0;
        .solidBtn()
    }
