.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expressage_name {
    padding: 32rpx;
    border-radius: 0px 0px 24rpx 24rpx;
    position: relative;
    margin-bottom:24rpx ;
    background-color: #fff;
    .logistics_company{
        border-bottom: 1rpx solid rgba(0,0,0,.1);
        padding-bottom: 32rpx;
    }
    .Logistics_orderNo{
        padding-top: 32rpx;
    }
}

// .expressage_name > div:first-child {
//     padding-top: 20rpx;
// }

.expressage_name > div p {
    font-size: 32rpx;
    color:#333333;
    display: flex;
    align-items: center;
    span{
        color: #333333;
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

// .expressage_name > div p:first-child {
//     margin-bottom: 16rpx;
// }

.courier_num_opacity {
    opacity: 0;
    position: absolute;
}

.expressage_name > div span {
    color: #333333;
}

.copy {
   display: flex;
       font-size: 24rpx;
       color: #D73B48;
       line-height: 32rpx;
       margin-right: 16rpx;
}

ul {
    // margin: 5px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    // margin-left: 5px;
    // margin-right: 5px;
}

li {
    padding-left: 40rpx;
    position: relative;
    height: auto;
}
.LogisticsInfo{
    background-color: #fff;
    padding: 32rpx 0;
    border-radius: 24rpx;
}
.expressage_right p {
    font-size: 32rpx;
    color: #020202;
    margin-left: 30rpx;
    padding-bottom: 40rpx
}

.expressage_right p:first-child {
    margin-left: 30rpx;
    padding-bottom: 20rpx;
    margin-top:36rpx;
}
.expressage_right p:nth-child(2){
   // margin-bottom: 32rpx; 
}
.xiantiao{
    margin-top: -36rpx;
}
.xiantiao div p:first-child{
    color: #FA5151;
}
.expressage_right {
    border-left: 2rpx solid #cccccc;
    padding-right: 20rpx;
}
.expressage_time{
    padding-bottom: 16rpx;
}
.expressage_time span {
    font-size: 28rpx;
    color: #999999
}

.expressage_phone {
    font-size: 26rpx;
    color: #0080ff;
}

.expressage_left {
    position: absolute;
    left: 0;
    bottom: 10rpx;
    margin-right: 30rpx;
}
.expressage_yuanl{
    width: 24rpx;
    height: 24rpx;
    border-radius: 50%;
    margin-left: 30rpx;
    background-color: #FA5151;
    // margin-top: 32rpx;
}
.expressage_yuan {
    width: 24rpx;
    height: 24rpx;
    border-radius: 50%;
    margin-left: 30rpx;
    background-color: #CCCCCC;
    position: absolute;
    left: 0rpx;
    bottom: -10rpx;
}

.expressage__xian {
    height: 124rpx;
    // height: 70rpx;
    border-left: 1px solid #9d9d9d;
    position: absolute;
    left: 10rpx;
    bottom: 8rpx;
}

li:last-child > div:last-child {
    border: none;
}

.copy_input {
    border: none;
}

/* 优化 */
.lines {
    height: 30rpx;
    background-color: #eee;
    width: 100%;
}

.zwwl {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 224rpx;
    font-size: 28rpx;
    color: #333333;
    justify-content: center;
    align-items: center;
}
