page {
    background-color: #f4f5f6;
}
.page{
    .content{
        .content_content{
            margin-top: 32rpx;
            >view{
                width: 750rpx;
                background-color: #ffffff;
                border-radius: 16rpx;
                >view{
                    width: 686rpx;
                    display: flex;
                    flex-direction: row;
                }
                >view:nth-child(1){
                    height: 94rpx;
                    justify-content: flex-start;
                    align-items: center;
                    >image{
                        max-width: 28rpx;
                        max-height: 28rpx;
                        margin-left: 32rpx;
                    }
                    >text{
                        color: #333333;
                        font-size: 32rpx;
                        font-weight: 400;
                        margin-left: 8rpx;
                    }
                }
                >view:nth-child(2){
                    height: 100rpx;
                    border: 1rpx solid #F4F5F6;
                    border-left: 0;
                    border-right: 0;
                    justify-content: space-between;
                    align-items: center;
                    margin: auto;
                    >view:first-child{
                        color: #333333;
                        font-size: 32rpx;
                        font-weight: 400;
                    }
                    >view:last-child{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        >text{
                            color: #999999;
                            font-size: 24rpx;
                            font-weight: 400;
                            margin-right: 8rpx;
                        }
                        >image{
                            max-width: 15rpx;
                            max-height: 30rpx;
                        }
                    }
                }
                >view:nth-child(3){
                    height: 268rpx;
                    //align-items: center;
                    margin: auto;
                    >view{}
                    >view:first-child{
                        width: 176rpx;
                        height: 176rpx;
                        border-radius: 16rpx;
                        overflow: hidden;
                        margin-right: 24rpx;
                        margin-top: 32rpx;
                        >image{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    >view:last-child{
                        display: flex;
                        flex-direction: column;
                        margin-top: 32rpx;
                        >view{
                            color: #666666;
                            font-size: 24rpx;
                            font-weight: 400;
                            margin-top: 8rpx;
                        }
                        >view:first-child{
                            color: #FA5151;
                            font-size: 28rpx;
                            margin-top: 0;
                        }
                        >view:nth-child(4){
                            width: 148rpx;
                            height: 56rpx;
                            color: #ffffff;
                            background-color: #FA5151;
                            border-radius: 28rpx;
                            text-align: center;
                            line-height: 56rpx;
                            margin-left: 336rpx;
                        }
                    }
                }
            }
        }
    }
}
