.recodeTitle {
    font-size: 32rpx;
    
    font-weight: 400;
    color: #333333;
    margin-bottom: 10rpx;
}

.recodeScore {
    font-size: 32rpx;
    color: #FA5151;
    font-weight: 500;
    span{
        
    }
}

.recodeTime {
    font-size: 28rpx;
    font-weight: 400;
    color: #999999;
}

.recodeNo {
    font-size: 24rpx;
    font-weight: 400;
    color: #999999;
    margin-top: 8rpx;
}


.new-item{
    position: relative;
    .new-btn{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        >view{
            width: 140rpx;
            background-color: #FA5151;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
    }
}
.recodeDetail {
    height: 202rpx;
    padding: 0 30rpx;
    font-size: 28rpx;
    display: flex;
    align-items: center;
    border-bottom: 1rpx solid #eee;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
}
.toubu{
    width: 686rpx;
    height: 314rpx;
    background-size: 100% 100%;
}
.scoreNum {
    font-size: 56rpx;
    font-family: DIN-Bold, DIN;
    font-weight: bold;
    color: #333333;
    margin-top: 26rpx;
    margin-bottom: 24rpx;
}
.myhr{
    height: 1rpx;
    width: 88%;
    margin: 20rpx auto;
    background-color: #eee;
}
.jf_box{
    display: flex;
    height: 118rpx;
    // margin-top: 40rpx;
}
.jf_box_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    view{
        margin-bottom: 8rpx;
    }
}
.jf_box_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    view{
        margin-bottom: 8rpx;
    }
}
.jf_box_left_jf{
    font-size: 28rpx;
    font-family: DIN-Bold-, DIN-Bold;

    color: #333333;
}
.jf_box_center_line{
    width: 1rpx;
    background: #F4F5F6;
    height: 80%;
}
.jf_box_left_txt{
    font-size: 24rpx;
     
    font-weight: normal;
    color: #666666;
}
.jf_box_right_jf{
    font-size: 28rpx;
    font-family: DIN-Bold-, DIN-Bold;
    font-weight: normal;
    color: #333333;
}
.jf_box_right_txt{
    font-size: 24rpx;
     
    font-weight: normal;
    color: #666666;
}
.score_head {
    height: 378rpx;
    font-size: 24rpx;
    position: relative;
    display: flex;
    z-index: 99;
    border-radius:  0 0 24rpx 24rpx;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-image: linear-gradient(to right, #FA5151 , #d73b48);
    width: 100%;
}



.scoreData {
    color: #333333;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    margin-left: 48rpx;
}

.scoreData .scoreData-btn {
    height: 70rpx;
    width: 240rpx;
    background-color: #76E6B6;
    color: #024444;
    font-weight: bold;
    font-size: 30rpx;
    border-radius: 35rpx;
    line-height: 68rpx;
}

.toSignBtn {
    width: 240rpx;
    height: 70rpx;
    color: #020202;
    font-size: 30rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35rpx;
    background-color: #fff;
}

.useExp {
    position: absolute;
    right: 31rpx;
    top: 20rpx;
    font-size: 24rpx;
    color: #99B4B4;
    display: flex;
    align-items: center;
}

.useExp img {
    width: 24rpx;
    height: 24rpx;
    margin-right: 7rpx;
    position: initial;
}
.mask_line{
    width: 100%;
    height: 24rpx;
    background-color: #f4f5f6;
    position: fixed;
    /* #ifdef H5 */
    top: 466rpx;
    /* #endif */ 
    left: 0; 
    z-index: 99;
}
.scoreRecode {
    position: relative;
}
.quesheng{
    width: 100%;
    /* #ifdef H5 */
    // margin-top: 170rpx;
    /* #endif */
}
.quesheng{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    image{
        width: 750rpx;
        height: 460rpx;
        margin-top: 104rpx;
    }
    view{
        margin-bottom: 136rpx;
        font-size: 28rpx;
        
        font-weight: 400;
        color: #333333;
    }
}

.recodeTopBox{
    position: fixed;
    width: 100%;
    margin-top: 24rpx;
    .recodeTop {
        height: 120rpx;
        border-radius: 24rpx 24rpx 0 0 ;
        z-index: 9;
        background-color: @uni-bg-color;
        color: @uni-text-color;
        font-size: 30rpx;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1rpx solid #eee;
    }
    
    .recodeTop view {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        width: 33.33%;
        font-size: 28rpx;
        font-weight: 500;
        color: #999999;
    }
    
    .recodeTop .active{
        font-size: 32rpx;
        font-weight: 500;
        color: #333333;
    }

    .date-selector{
        height: 78rpx;
        padding: 0 30rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date-selector-text{
            font-size: 26rpx;
            color: #666666;
            image{
                width: 24rpx;
                height: 12rpx;
                margin-left: 8rpx;
            }
        }
        .screen-selector{
            font-size: 28rpx;
            color: #666666;
            image{
                width: 24rpx;
                height: 24rpx;
                margin-left: 8rpx;
            }
        }
    }
}


.border1 {
    position: absolute;
    height: 2px;
    background-color: @tabColor;
    bottom: 32rpx;
    width: 120rpx;
}

.recodeDiv {
    // /* #ifdef H5 */
    // padding-top: 144rpx;
    padding-top: 222rpx;
    // /* #endif */
    // /* #ifdef MP-WEIXIN */
    // padding-top: 164rpx;
    // /* #endif */
    // height: calc(100vh - 470rpx);
    overflow: scroll;
    .my{
        width: 100%;
        height: 100%;
        // height: calc(100vh - 600rpx);
    overflow: scroll;
    }
}

/* 优化 */
.yh-myscore {
    height: 100vh;
}

.topBox{
    background-color: #f4f5f6;
     border-radius:   0px  0px  24rpx  24rpx   ;
     height: 378rpx;
}

.yh-title {
    height: 88rpx;
}

.yh-halfWidth2 {
    position: relative;
    background-color: #f4f5f6;
}
.yh-kyjf_box{
    width: 160rpx;
    height: 48rpx;
    margin-right: 48rpx;
}
.yh-kyjf_img{
    width: 160rpx;
    height: 48rpx;
}
.xieyi{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    >view{
        width: 640rpx;
        min-height: 100rpx;
        max-height: 486rpx;
        background: #FFFFFF;
        border-radius: 24rpx;
        .xieyi_btm{
            height: 108rpx;
            color: @D73B48;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 0.5px solid rgba(0,0,0,.1);
            font-weight: bold;
            font-size: 32rpx;
        }
        .xieyi_title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32rpx;
            
            font-weight: 500;
            color: #333333;
            line-height: 44rpx;
            margin-top: 64rpx;
            margin-bottom: 32rpx;
            font-weight: bold;
            font-size: 32rpx;
        }
        .xieyi_text{
            width: 100%;
            max-height: 236rpx;
            overflow-y: scroll;
            padding: 0 32rpx;
            box-sizing: border-box;
        }
    }
}
.yh-kyjf {
    // margin: 14rpx 0 34rpx 0;
    font-size: 32rpx;
    
    font-weight: 400;
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.yh-sign_score {
    font-size: 32rpx;
    
    font-weight: 500;
    color: #333333;
}
@media screen and (min-width: 600px) {
    .xieyi{
        transform: translateX(0) !important;
        left: 0 !important;
    }
}
