.container {
    min-height: 100vh;
    background-color: #F4F5F6;
    .content {
        width: 100%;
        .content_li {
            padding: 0 32rpx;
            box-sizing: border-box;
            width: 100%;
            height: 168rpx;
            background: #FFFFFF;
            border-radius: 0px 0px 24rpx 24rpx;
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 16rpx;
            }
            &:not(:first-child) {
                border-radius: 24rpx;
            }
            .content_li_left {
                width: 496rpx;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                .li_left_top {
                    margin-bottom: 8rpx;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 32rpx;
                    font-weight: 500;
                    color: #333333;
                    &.active {
                        margin-bottom: 0rpx;
                    }
                    .default {
                        display: inline-block;
                        padding: 3rpx 10rpx;
                        line-height: 40rpx;
                        background: #FA5151;
                        color: #ffffff;
                        border-radius: 8rpx;
                        text-align: center;
                        margin-right: 16rpx;
                        font-size: 24rpx;
                    }
                    .headerTitle {
                        display: inline-block;
                        flex: 1;
                        font-weight: 700;
                        white-space:nowrap;/*规定段落中的文本不进行换行*/
                        overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
                        text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/
                    }
                }
                .li_left_bottom {
                    font-size: 32rpx;
                    color: #333333;
                    margin-top: 8rpx;
                    display: inline-block;
                    white-space: nowrap; 
                    width: 100%; 
                    overflow: hidden;
                    font-weight: 500;
                    text-overflow:ellipsis;
                }
            }
            .content_li_right {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                p {
                    font-size: 28rpx;
                }
                p {
                    &:first-child {
                        color: #666666;
                    }
                    &:last-child {
                        color: #D73B48;
                    }
                }
                .hr {
                    width: 2rpx;
                    height: 48rpx !important;
                    background-color: rgba(0, 0, 0, 0.1);
                    margin: 0 16rpx;
                    color: #e5e5e5;
                    // height: auto !important;
                }
            }
        }
    }
    .no_header {
        width: 100%;
        background-color: #ffffff;
        height: 668rpx;
        border-radius: 0px 0px 24rpx 24rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        image {
            height: 460rpx;
        }
        p {
            font-size: 28rpx;
            color: #333333;
        }
        
    }
    .btn3 {
        width: 100%;
        padding: 16rpx 32rpx;
        box-sizing: border-box;
        margin-top: 104rpx;
        p {
            width: 100%;
            height: 92rpx;
            background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
            border-radius: 52rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
        }
    }
    .btn {
        width: 100%;
        padding: 16rpx 32rpx;
        background-color: #ffffff;
        position: fixed;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        /* #ifdef MP-WEIXIN */
        padding-bottom: 16rpx;
        padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
        padding-bottom: env(safe-area-inset-bottom); 
        /* #endif */
        p {
            width: 100%;
            height: 92rpx;
            background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
            border-radius: 52rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
        }
    }
    
}
