<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.AdminCgModelMapper">
    <sql id="getAdminCgInfoDynamicSQL">
        <if test="G_Level != null">district_level = #{G_Level}</if>
        <if test="G_ParentID != null">district_pid = #{G_ParentID}</if>
        <if test="name != null">district_name = #{name}</if>

        <if test="district_level != null">district_level = #{district_level}</if>
        <if test="district_pid != null">district_pid = #{district_pid}</if>
        <if test="district_name != null">district_name = #{district_name}</if>

        <if test="nameList != null">
            <foreach collection="nameList" item="name" separator="," open="and district_name in(" close=")">
                #{name}
            </foreach>
        </if>
        <if test="selCity != null">
            <foreach collection="selCity" item="selCity" separator="," open="and id not in(" close=")">
                #{selCity}
            </foreach>
        </if>
    </sql>

    <select id="getAdminCgInfoDynamic" resultType="Map" parameterType="Map">
        SELECT * FROM lkt_map
        <where>
            <trim suffixOverrides="and">
                <include refid="getAdminCgInfoDynamicSQL"/>
            </trim>
        </where>
        <trim suffixOverrides="," prefix="order by">
            <if test="GroupID_sort != null"> id ${GroupID_sort}, </if>
        </trim>
        <if test="pageNo!=null and pageSize!=null"> limit #{pageNo},#{pageSize} </if>
    </select>

    <select id="selectNoSheng" resultType="Map" parameterType="Map">
        SELECT * FROM lkt_map
        <where>
            <trim suffixOverrides="and">
                <include refid="getAdminCgInfoDynamicSQL"/>
            </trim>
        </where>
        <trim suffixOverrides="," prefix="order by">
            <if test="GroupID_sort != null"> id ${GroupID_sort}, </if>
        </trim>
        <if test="pageNo!=null and pageSize!=null"> limit #{pageNo},#{pageSize} </if>
    </select>


    <select id="countDistrict" resultType="int" parameterType="com.laiketui.domain.vo.saas.DistrictVo">
        select count(1) from lkt_map
        <where>
            <include refid="queryDistrictCondition"/>
        </where>
    </select>

    <select id="queryDistrictList" resultType="Map" parameterType="com.laiketui.domain.vo.saas.DistrictVo">
        select * from lkt_map
        <where>
            <trim prefixOverrides="and">
                <include refid="queryDistrictCondition"/>
            </trim>
        </where>
        <if test="pageNo != null and pageSize != ''">limit #{pageNo},#{pageSize}</if>
    </select>

    <sql id="queryDistrictCondition">
        <if test="id != null">id = #{id}</if>
        <if test="district_level != null">district_level = #{district_level}</if>
        <if test="district_pid != null">district_pid = #{district_pid}</if>
        <if test="district_name != null">district_name like concat('%',#{district_name},'%')</if>
    </sql>


</mapper>