<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.BbsConfigModelMapper">
    <sql id="selectDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">and id = #{id}</if>
                <if test="store_id != null">and store_id = #{store_id}</if>
                <if test="is_status != null">and is_status = #{is_status}</if>
            </trim>
        </where>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select * from lkt_bbs_config
        <include refid="selectDynamicSQL"/>
        <if test="pageNo != null and pageSize != ''">limit #{pageNo},#{pageSize}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_bbs_config
        <include refid="selectDynamicSQL"/>
    </select>
</mapper>