<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.BbsLabelPostModelMapper">
    <insert id="add">
        insert into lkt_bbs_label_post (store_id,label_id,post_id) values
        <foreach collection="labelIdList" separator="," item="labelId">
            (#{store_id},#{labelId},#{post_id})
        </foreach>
    </insert>
    <delete id="delByLabelIds">
        delete from lkt_bbs_label_post
        where label_id in
        <foreach collection="ids" item="labelId" open="(" close=")" separator=",">
            #{labelId}
        </foreach>
    </delete>
    <select id="getPostIdByStoreId" resultType="java.lang.Long">
        SELECT DISTINCT lp.post_id FROM lkt_bbs_label_post lp
        LEFT JOIN lkt_bbs_label l ON l.id = lp.label_id
        WHERE lp.store_id =#{store_id}
        <if test="label_id != null">
            and lp.label_id = #{label_id}
        </if>
        <if test="label_name != null and label_name != ''">
            and l.name = #{label_name}
        </if>
    </select>
</mapper>