<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.BbsPostCommentModelMapper">

    <sql id="selectDynamic1SQL">
        AND c.recycle = 0
        <if test="id !=null">and c.id = #{id}</if>
        <if test="recycle != null">and c.recycle = #{recycle}</if>
        <if test="post_key != null and post_key != ''">and c.post_id = #{post_key} or p.title like concat('%',#{post_key},'%')</if>
        <if test="user_key != null and user_key != ''">and c.user_id = #{user_key} or u.user_name like concat('%',#{user_key},'%')</if>
        <if test="content != null and content != ''">and c.content like concat('%',#{content},'%')</if>
        <if test="post_id != null">and c.post_id = #{post_id}</if>
        <if test="store_id != null">and p.store_id = #{store_id}</if>
        <if test="is_top != null and is_top != ''">
            AND c.parent_id = 0
        </if>
        <if test="top_id != null">
            and c.top_id = #{top_id} and c.parent_id != 0
        </if>
    </sql>

    <select id="findTopLevelComments" resultType="com.laiketui.domain.plugin.bbs.BbsPostCommentModel">
            SELECT
                u.user_name,
                c.id,
                c.like_num,
                c.create_time,
                u.headimgurl,
                c.content,
                c.parent_id,
                c.top_id,
                p_user.user_name AS parent_user_name,
                p_user.user_id as parent_user_id,
                c.user_id,
                c.reply_num
                <if  test="like_user_id != null and like_user_id != ''">
                    ,(SELECT COUNT(1) FROM lkt_bbs_comment_like cl WHERE cl.comment_id = c.id and cl.user_id = #{like_user_id} ) AS is_like
                </if>
                ,IFNULL(
                (SELECT COUNT(*) FROM lkt_bbs_post_comment c2 WHERE c2.parent_id = c.id AND c2.recycle = 0),
                 0
                ) AS has_sub_comments
            FROM
                lkt_bbs_post_comment c
                    LEFT JOIN lkt_user u ON c.user_id = u.user_id
                    INNER JOIN lkt_bbs_post p ON p.id = c.post_id
                    LEFT JOIN lkt_bbs_post_comment parent_c ON parent_c.id = c.parent_id
                    LEFT JOIN lkt_user p_user ON parent_c.user_id = p_user.user_id
            <where>
                <include refid="selectDynamic1SQL"/>
            </where>
            ORDER BY
                c.like_num DESC,
                c.create_time DESC
        LIMIT #{pageNo},#{pageSize}
    </select>

    <select id="countDynamic" parameterType="Map" resultType="int">
        SELECT count(1) FROM
        lkt_bbs_post_comment c
        INNER JOIN lkt_user u ON c.user_id = u.user_id
        INNER JOIN lkt_bbs_post p ON p.id = c.post_id
        LEFT JOIN
        lkt_bbs_post_comment parent ON c.parent_id = parent.id
        LEFT JOIN
        lkt_user parent_user ON parent.user_id = parent_user.user_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamic1SQL"/>
            </trim>
        </where>
    </select>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        SELECT
        c.user_id,
        u.user_name,
        c.post_id,
        p.title,
        c.content,
        DATE_FORMAT( c.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
        c.id,
        c.like_num,
        u.headimgurl,
        parent_user.user_name as parent_user_name,
        parent_user.headimgurl as parent_headimgurl,
        parent.content as parent_content
        FROM
        lkt_bbs_post_comment c
        INNER JOIN lkt_user u ON c.user_id = u.user_id
        INNER JOIN lkt_bbs_post p ON p.id = c.post_id
        LEFT JOIN
        lkt_bbs_post_comment parent ON c.parent_id = parent.id   -- 自连接获取上级评论
        LEFT JOIN
        lkt_user parent_user ON parent.user_id = parent_user.user_id  -- 获取上级评论者用户名
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamic1SQL"/>
            </trim>
        </where>
        ORDER BY c.like_num DESC, c.create_time DESC
        <if test="pageNo != null and pageSize != ''">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <update id="delDynamic" parameterType="Map">
        update lkt_bbs_post_comment set recycle = 1 where id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </update>


    <select id="findByParentId" resultType="com.laiketui.domain.plugin.bbs.BbsPostCommentModel">
        SELECT
        u.user_name,
        c.id,
        c.like_num,
        DATE_FORMAT( c.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
        u.headimgurl,
        c.content,
        c.parent_id,
        c.user_id,
        p_user.user_name AS parent_user_name
        <if  test="like_user_id != null and like_user_id != ''">
        ,(SELECT COUNT(1) FROM lkt_bbs_comment_like cl WHERE cl.comment_id = c.id and cl.user_id = #{like_user_id} ) AS is_like
        </if>
        FROM
        lkt_bbs_post_comment c
        LEFT JOIN lkt_user u ON c.user_id = u.user_id
        INNER JOIN lkt_bbs_post p ON p.id = c.post_id
        LEFT JOIN lkt_bbs_post_comment parent_c ON parent_c.id = c.parent_id
        LEFT JOIN lkt_user p_user ON parent_c.user_id = p_user.user_id

        WHERE c.parent_id = #{parentId}
        AND c.recycle = 0
        ORDER BY
        c.like_num DESC,
        c.create_time DESC
        limit #{pageNo},#{pageSize}
    </select>
    <select id="getParentUserName" parameterType="Map" resultType="Map">
        SELECT u.user_name,u.user_id FROM lkt_bbs_post_comment c
        INNER JOIN lkt_user u ON u.user_id = c.user_id
        WHERE c.id = #{id}
    </select>
</mapper>