<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.GroupConfigModelMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.group.GroupConfigModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="store_id" jdbcType="INTEGER" />
    <result column="refunmoney" property="refunmoney" jdbcType="TINYINT" />
    <result column="group_time" property="group_time" jdbcType="INTEGER" />
    <result column="open_num" property="open_num" jdbcType="INTEGER" />
    <result column="can_num" property="can_num" jdbcType="INTEGER" />
    <result column="can_again" property="can_again" jdbcType="TINYINT" />
    <result column="open_discount" property="open_discount" jdbcType="TINYINT" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
    <result column="is_open" property="is_open" jdbcType="INTEGER" />
    <result column="herald_time" property="herald_time" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, store_id, refunmoney, group_time, open_num, can_num, can_again, open_discount, 
    image, rule, is_open, herald_time
  </sql>
</mapper>