<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.GroupOpenRecordModelMapper">

    <sql id="selectDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                and a.recycle=0
                and a.recycle=b.recycle
                <if test="id != null">and a.id = #{id}</if>
                <if test="openId != null">and b.id = #{openId}</if>
                <if test="store_id != null">and a.store_id = #{store_id}</if>
                <if test="name != null">and u.user_name like concat('%', #{name},'%')</if>
                <if test="teamName != null">and team.user_name like concat('%', #{teamName},'%')</if>
                <if test="goodsName != null">and c.product_title like concat('%', #{goodsName},'%')</if>
                <if test="teamNum != null">and b.team_num = #{teamNum}</if>
                <if test="status != null">and b.status = #{status}</if>
                <if test="mch_id != null and mch_id!=''">and ac.mch_id = #{mch_id}</if>
                <if test="startDate != null and startDate != ''">and a.add_time <![CDATA[  >=  ]]> #{startDate}</if>
                <if test="endDate != null and endDate != ''">and a.add_time <![CDATA[  <=  ]]> #{endDate}</if>
                <if test="key != null and key !=''">and (c.product_title like concat('%', #{key},'%') or c.id = #{key})</if>
            </trim>
        </where>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.id,a.goods_id,c.product_title,attr.attribute,a.price,a.attr_price,a.add_date,u.user_name,a.user_id,b.user_id mainUserId,team.user_name teamName,c.imgurl,b.status,b.team_num
        from lkt_group_open_record a inner join lkt_group_open b on a.open_id=b.id inner join lkt_product_list c on a.goods_id=c.id
        inner join lkt_configure attr on attr.id=a.attr_id inner join lkt_user u on u.user_id=a.user_id left join lkt_user team on team.user_id=b.user_id
        inner join lkt_group_activity ac on ac.id=b.activity_id
        <include refid="selectDynamicSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">a.add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_group_open_record a inner join lkt_group_open b on a.open_id=b.id inner join lkt_product_list c on a.goods_id=c.id
        inner join lkt_configure attr on attr.id=a.attr_id inner join lkt_user u on u.user_id=a.user_id left join lkt_user team on team.user_id=b.user_id
        inner join lkt_group_activity ac on ac.id=b.activity_id
        <include refid="selectDynamicSQL"/>
    </select>


    <sql id="getUserJoinGroupInfoSQL">
        <choose>
            <when test="recycle != null and recycle!=''">and a.recycle = #{recycle} </when>
            <otherwise>and a.recycle = 0</otherwise>
        </choose>
        <if test="status != null">and `open`.status = #{status}</if>
        <if test="orderType != null and orderType!=''">and a.otype = #{orderType}</if>
        <if test="userId != null and userId!=''">and a.user_id = #{userId}</if>
    </sql>

    <select id="getUserJoinGroupInfo" parameterType="Map" resultType="Map">
        SELECT attr.id AS attrId,op.id AS openId,op.activity_id AS acId, op.`status`,o.id AS orderId, o.add_time, o.arrive_time settleDate,d.size,o.`status` AS orderStatus,mch.id mchId,mch.head_img mchImg,	mch.`name` mchName, attr.img,d.p_name,attr.pid AS goodsId,d.p_id,op.team_num,o.z_price FROM lkt_order o
        LEFT JOIN lkt_order_details d ON d.r_sNo = o.sNo
        LEFT JOIN lkt_group_open_record re ON re.sno = o.sNo
        LEFT JOIN lkt_group_open op ON op.id = re.open_id
        LEFT JOIN lkt_configure attr ON attr.id = d.sid
        LEFT JOIN lkt_product_list c ON c.id = attr.pid
        LEFT JOIN lkt_mch mch ON mch.id = c.mch_id
        where o.recycle = 0
        <if test="userId != null and userId!=''">and o.user_id = #{userId}</if>
        <if test="orderNoList != null">
            <foreach collection="orderNoList" item="sNo" separator="," open="and o.sNo in(" close=")">
                #{sNo}
            </foreach>
        </if>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null">o.add_time ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countUserJoinGroupInfo" parameterType="Map" resultType="int">
        select count(1) from lkt_order a inner join lkt_order_details b on a.sno=b.r_sno and a.recycle=b.recycle
        inner join lkt_group_open_record `record` on `record`.sno=a.sno
        inner join lkt_group_open `open` on `open`.id=`record`.open_id
        inner join lkt_configure attr on attr.id=b.sid
        inner join lkt_product_list c on c.id = attr.pid
        left join lkt_mch mch on mch.id=c.mch_id
        <where>
            <trim prefixOverrides="and">
                <include refid="getUserJoinGroupInfoSQL"/>
            </trim>
        </where>
    </select>


    <sql id="getUserJoinGroupOrderInfoSQL">
        and o.status >0
        <choose>
            <when test="recycle != null and recycle!=''">and a.recycle = #{recycle} </when>
            <otherwise>and a.recycle = 0</otherwise>
        </choose>
        <if test="openId != null and openId!=''">and a.open_id = #{openId}</if>
        <if test="notStatus != null and notStatus!=''">and o.status != #{notStatus}</if>
    </sql>
    <select id="getUserJoinGroupOrderInfo" parameterType="Map" resultType="Map">
        select o.id oid,o.sno,o.z_price,o.user_id,o.store_id,o.pay, o.mch_id, o.real_sno, o.status, b.num, b.id as detailId, c.id as attrId, c.pid from lkt_group_open_record a
            inner join lkt_order o on o.sno=a.sno
            inner join lkt_order_details b on b.r_sno=a.sno
            left join lkt_configure c on c.id = b.sid
        <where>
            <trim prefixOverrides="and">
                <include refid="getUserJoinGroupOrderInfoSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null">a.add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countUserJoinGroupOrderInfo" parameterType="Map" resultType="int">
        select count(1) from lkt_group_open_record a inner join lkt_order o on o.sno=a.sno inner join lkt_order_details b on b.r_sno=a.sno
        <where>
            <trim prefixOverrides="and">
                <include refid="getUserJoinGroupOrderInfoSQL"/>
            </trim>
        </where>
    </select>

    <select id="countGroup" resultType="int">
        SELECT count(1) FROM lkt_group_open_record re
        LEFT JOIN lkt_group_open op ON op.id = re.open_id
        where op.recycle = 0
        <if test="status != null">
            and op.status = #{status}
        </if>
        <if test="userId != null and userId != ''">
            and re.user_id = #{userId}
        </if>
    </select>


    <select id="getSnoByGroupOpen" resultType="String">
        SELECT re.sno FROM lkt_group_open_record re
        LEFT JOIN lkt_group_open op ON op.id = re.open_id
        where op.recycle = 0
        <if test="status != null">
            and op.status = #{status}
        </if>
        <if test="userId != null and userId != ''">
            and re.user_id = #{userId}
        </if>
    </select>
</mapper>