<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laiketui.common.mapper.LangModelMapper">

    <select id="count" resultType="int" parameterType="com.laiketui.domain.vo.saas.LanguageVo">
        select count(1) from lkt_lang as a
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

    <select id="queryList" resultType="Map" parameterType="com.laiketui.domain.vo.saas.LanguageVo">
        select * from lkt_lang a
        <where>
            <trim prefixOverrides="and">
                <include refid="queryCondition"/>
            </trim>
        </where>
    </select>

    <sql id="queryCondition">
        <if test="lang_name != null and lang_name != '' ">AND a.lang_name LIKE CONCAT('%', #{lang_name},'%')</if>
        <if test="id != null">AND a.id = #{id}</if>
        AND a.recycle = 1
        AND a.is_show = 1
    </sql>

</mapper>