<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.LivingUserLikeModelMapper" >
    <select id="queryMyLike" parameterType="String" resultType="map">
        select r.living_theme,r.living_description,date_format(r.start_time,'%Y-%m-%d %H:%i:%s') as start_time,r.living_time
        ,u.user_name,u.headimgurl,r.living_num,r.living_img,r.living_status
        from lkt_living_user_like l
        left join lkt_living_room r on r.id = l.living_id
        left join lkt_user u on u.user_id=r.user_id
        where l.user_id=#{user_id} and l.recycle=0
        order by l.id desc;
    </select>
</mapper>