<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.LivingRoomModelMapper" >
    <sql id="selectDynamicSQL">
        and a.store_id = #{store_id}
        <if test="title!=null and title!=''">and (a.id=#{title} or a.living_theme like concat('%',#{title},'%'))</if>
        <if test="status!=null and status!=''">and a.living_status=#{status}</if>
        <if test="userId!=null and userId!=''">and (a.user_id=#{userId} or b.user_name like concat ('%',#{userId},'%'))</if>
        <if test="startTime!=null">and a.start_time <![CDATA[  >=  ]]> #{startTime}</if>
        <if test="endTime!=null">and a.start_time <![CDATA[  <=  ]]> #{endTime}</if>
    </sql>

    <select id="selectDynamic" parameterType="map" resultType="map">
        select a.id,a.store_id,a.living_theme,a.living_time,date_format(start_time,'%Y-%m-%d %H:%i:%s') as start_time
        ,a.living_time,a.end_time,a.living_status,a.living_img,date_format(a.add_time,'%Y-%m-%d %H:%i:%S') as add_time
        ,a.user_id,a.living_num,a.living_review_num,a.push_url,a.play_url,a.like_num,a.sort
        ,b.user_name from lkt_living_room a
        left join lkt_user b on b.user_id = a.user_id
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
        order by a.sort desc,a.add_time desc
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countDynamic" parameterType="map" resultType="int">
        select count(1) from lkt_living_room a
        left join lkt_user b on b.user_id = a.user_id
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
    </select>

    <sql id="governOrderList">
        and o.otype = 'ZB'
        <if test="roomId!=null and roomId!=''">and d.living_room_id=#{roomId}</if>
        <if test=" store_id != null and store_id !=0"> and o.store_id = #{store_id} and lu.store_id = #{store_id}</if>
        <choose>
            <when test="recycle != null">and o.recycle=#{recycle}</when>
            <otherwise>and o.recycle != 1</otherwise>
        </choose>
        <if test="status !=null">and o.status = #{status}</if>
        <if test="sNo!=null">and (o.sNo like concat('%',#{sNo},'%') or lu.user_name like concat('%',#{sNo},'%') or
            o.mobile like concat('%',#{sNo},'%') or o.user_id like concat('%',#{sNo},'%') or o.p_sno like
            concat('%',#{sNo},'%') )
        </if>
        <if test="anchor!=null">and d.anchor_id=#{anchor}</if>
        <if test="mch_name!=null">and m.name like concat('%',#{mch_name},'%')</if>
        <if test="startdate!=null and startdate!='' ">and o.add_time <![CDATA[  >=  ]]> #{startdate}</if>
        <if test="enddate!=null and startdate!='' ">and o.add_time <![CDATA[  <=  ]]> #{enddate}</if>
    </sql>
    <select id="selectOrderDynamic" parameterType="map" resultType="map">
        SELECT
        a.detailId,
        a.p_id,
        a.sid,
        a.real_sno,
        a.id,
        a.consumer_money,
        a.num,
        a.sNo,
        a.NAME,
        a.sheng,
        a.shi,
        a.xian,
        a.source,
        a.address,
        a.store_id,
        a.add_time,
        a.mobile,
        a.old_total,
        a.old_freight,
        a.z_price,
        a.z_freight,
        a.status,
        a.goodsNum,
        a.oid,
        a.reduce_price,
        a.coupon_price,
        a.preferential_amount,
        a.allow,
        a.drawid,
        a.otype,
        a.ptstatus,
        a.spz_price,
        a.user_name,
        a.user_id,
        a.mch_id,
        a.p_sNo,
        a.shop_id,
        a.shopName,
        a.arrive_time,
        a.settlement_status,
        a.operation_type,
        a.product_title,
        a.attribute,
        a.img,
        a.needNum,
        a.fybl,
        a.self_lifting,
        a.is_lssued,
        a.express_id,
        a.courier_num,
        a.freight,
        a.goodsAmt,
        a.after_discount,
        a.pay,
        a.supplierName,
        a.supplier_settlement,
        a.gongyingshang,
        a.supplier_superior,
        a.goodsPrice,
        a.r_status,
        a.commission,
        a.living_room_id,
        a.recycle,
        a.anchor_id,
        FROM
        (
        SELECT
        d.id detailId,
        d.p_id,
        d.sid,
        o.real_sno,
        o.id,
        o.consumer_money,
        o.num,
        o.sNo,
        o.NAME,
        o.sheng,
        o.shi,
        o.xian,
        o.source,
        o.address,
        o.store_id,
        date_format( o.add_time, '%Y-%m-%d %H:%i:%s' ) AS add_time,
        o.mobile,
        o.old_total,
        o.old_freight,
        o.z_price,
        o.z_freight,
        o.status,
        count( d.id ) over(partition by o.id) goodsNum,
        o.id AS oid,
        o.reduce_price,
        o.coupon_price,
        o.preferential_amount,
        o.allow,
        o.drawid,
        o.otype,
        o.ptstatus,
        o.spz_price,
        lu.user_name,
        o.user_id,
        o.mch_id,
        o.p_sNo,
        m.id AS shop_id,
        m.NAME shopName,
        o.arrive_time,
        o.settlement_status,
        o.operation_type,
        d.p_name product_title,
        attr.attribute,
        attr.img,
        d.num needNum,
        attr.commission AS fybl,
        o.self_lifting,
        o.is_lssued,
        d.express_id,
        d.courier_num,
        d.freight,
        attr.price goodsAmt,
        d.after_discount,
        pay.NAME pay,
        s.supplier_name supplierName,
        sum( d.supplier_settlement ) over(partition by o.id) supplier_settlement,
        p.gongyingshang,
        p.supplier_superior,
        d.p_price goodsPrice,
        d.r_status,
        d.commission,
        d.living_room_id,
        o.recycle,
        d.anchor_id,
        ROW_NUMBER() over(partition by o.id) AS top
        FROM
        lkt_order AS o
        LEFT JOIN lkt_user AS lu ON o.user_id = lu.user_id
        RIGHT JOIN lkt_order_details AS d ON o.sNo = d.r_sNo
        RIGHT JOIN lkt_configure attr ON attr.id = d.sid
        RIGHT JOIN lkt_product_list AS p ON p.id = attr.pid
        RIGHT JOIN lkt_mch AS m ON p.mch_id = m.id
        LEFT JOIN lkt_payment pay ON pay.class_name = o.pay
        LEFT JOIN lkt_supplier AS s ON p.gongyingshang = s.id
        <where>
            <trim prefixOverrides="and">
                <include refid="governOrderList"/>
            </trim>
        </where>
        ) AS a
        WHERE a.top &lt;2
    </select>

    <select id="countOrderDynamic" parameterType="map" resultType="int">
        select count(1)
        from lkt_order as o
        left join lkt_user as lu on o.user_id = lu.user_id
        right join lkt_order_details as d on o.sNo = d.r_sNo
        RIGHT JOIN lkt_configure attr on attr.id=d.sid
        right join lkt_product_list as p on p.id = attr.pid
        right join lkt_mch as m on p.mch_id = m.id
        left join lkt_payment pay on pay.class_name = o.pay
        left join lkt_supplier as s on p.gongyingshang = s.id
        <where>
            <trim prefixOverrides="and">
                <include refid="governOrderList"/>
            </trim>
        </where>
    </select>


    <select id="selectFollowDynamic" resultType="map" parameterType="map">
        select b.*,date_format(a.add_time,'%Y-%m-%d %H:%i:%s') as follow_time from lkt_living_follow_list a
        left join lkt_user b on a.user_id = b.user_id
        where 1=1 and a.recycle=0
        <if test="store_id!=null and store_id!=''">and a.store_id=#{store_id}</if>
        <if test="anchor_id!=null and anchor_id!=''">and a.anchor_id=#{anchor_id}</if>
        <if test="key != null and key != ''">and (b.user_name like concat('%',#{key},'%') or b.mobile = #{key} or b.user_id like concat('%',#{key},'%') or b.zhanghao like concat('%',#{key},'%'))</if>
        <if test="startDate != null and startDate != ''">and a.add_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and a.add_time <![CDATA[  <=  ]]> #{endDate}</if>
        order by a.add_time
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>


    <select id="countFollowDynamic" resultType="int" parameterType="map">
        select count(1) from lkt_living_follow_list a
        left join lkt_user b on a.user_id = b.user_id
        where 1=1 and a.recycle=0
        <if test="store_id!=null and store_id!=''">and a.store_id=#{store_id}</if>
        <if test="anchor_id!=null and anchor_id!=''">and a.anchor_id=#{anchor_id}</if>
        <if test="key != null and key != ''">and (b.user_name like concat('%',#{key},'%') or b.mobile = #{key} or b.user_id like concat('%',#{key},'%') or b.zhanghao like concat('%',#{key},'%'))</if>
        <if test="startDate != null and startDate != ''">and a.add_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and a.add_time <![CDATA[  <=  ]]> #{endDate}</if>
    </select>


    <select id="queryGovernIndex" resultType="map" parameterType="map">
        SELECT
        a.id,
        a.store_id,
        a.living_theme,
        a.living_description,
        a.start_time,
        a.living_time,
        a.end_time,
        a.living_status,
        a.living_img,
        a.add_time,
        a.user_id,
        a.living_num,
        a.living_review_num,
        a.push_url,
        a.play_url,
        a.like_num,
        a.recycle,
        a.sort,
        a.living_fans_num,
        a.fans_num,
        a.user_name,
        a.mobile,
        a.livingNum,
        a.zhanghao
        FROM
        (
        SELECT
        r.*,
        u.user_name,
        u.mobile AS mobile,
        count( 1 ) over(partition by u.id ) AS livingNum,
        ROW_NUMBER() over(partition by u.id) AS top,
        u.zhanghao,
        u.id AS uid,
        u.user_id as u_user_id,
        u.user_name as uname
        FROM
        lkt_living_room r
        LEFT JOIN lkt_user u ON u.user_id = r.user_id
        where r.store_id =#{store_id} and r.recycle=0
        <if test="keyWord!=null">and (u.id=#{keyWord} or u.user_id= #{keyWord} or u.user_name like concat
            ('%',#{keyWord},'%') or u.mobile=#{keyWord} or u.zhanghao=#{keyWord})
        </if>
        <if test="startDate != null and startDate != ''">and r.add_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and r.add_time <![CDATA[  <=  ]]> #{endDate}</if>
        order by r.add_time desc
        ) AS a
        WHERE a.top &lt; 2
    </select>


    <select id="queryFans" resultType="map" parameterType="map">
        select b.user_id,b.user_name,b.headimgurl as user_img from lkt_living_follow_list a left join lkt_user b on a.user_id = b.user_id
        where a.anchor_id=#{anchor_id} and a.store_id = #{store_id} and a.recycle=0
        <if test="user_name!=null">and b.user_name like concat ('%',#{user_name},'%')</if>
        <if test="pageNo!=null and pageSize!=null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <select id="countFans" resultType="int" parameterType="map">
        select count(1) from lkt_living_follow_list a left join lkt_user b on a.user_id = b.user_id
        where a.anchor_id=#{anchor_id} and a.store_id = #{store_id} and a.recycle=0
    </select>


    <select id="queryFollow" resultType="map" parameterType="map">
        select a.anchor_id as user_id,b.user_name,b.headimgurl as user_url from lkt_living_follow_list a left join lkt_user b on a.anchor_id = b.user_id
        where a.user_id=#{user_id} and a.store_id = #{store_id} and a.recycle=0
        <if test="user_name!=null">and b.user_name like concat ('%',#{user_name},'%')</if>
        <if test="pageNo!=null and pageSize!=null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <select id="countFollow" resultType="int" parameterType="map">
        select count(1) from lkt_living_follow_list a left join lkt_user b on a.anchor_id = b.user_id
        where a.user_id=#{user_id} and a.store_id = #{store_id} and a.recycle=0
        <if test="user_name!=null">and b.user_name like concat ('%',#{user_name},'%')</if>
    </select>

    <sql id="orderDataSql">
        <trim prefixOverrides="and">
            a.store_id = #{store_id} and a.recycle=0 and a.oType='ZB' and d.living_room_id=#{room_id}
            <if test="statusList != null">
                <foreach collection="statusList" item="status" separator="," open="and a.status in(" close=")">
                    #{status,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="startTime!=null">and a.add_time <![CDATA[  >=  ]]> #{startTime}</if>
            <if test="endTime!=null">and a.add_time <![CDATA[  <=  ]]> #{endTime}</if>
            <if test="keyWord!=null">and (a.sNo like concat('%',#{keyWord},'%') or m.name like concat('%',#{keyWord},'%') or u.user_name like concat('%',#{keyWord},'%')) </if>
        </trim>
    </sql>

    <select id="getOrderDetailDynamic" parameterType="Map" resultType="Map">
        select a.*,r.id as roomId,r.living_theme as title,m.name as mch_name,m.head_img as headimgurl,d.commission from lkt_order a left JOIN lkt_order_details d ON a.sNo = d.r_sNo LEFT JOIN lkt_product_list as p on p.id = d.p_id
        left join lkt_living_room r on d.living_room_id = r.id left join lkt_mch m on m.id = p.mch_id left join lkt_user u on u.user_id = a.user_id
        <where>
            <trim prefixOverrides="and">
                <include refid="orderDataSql"/>
            </trim>
        </where>
        order by add_time desc
        <if test="pageNo!=null and pageSize!=null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>


    <sql id="queryRecommendSql">
        <trim prefixOverrides="and">
            a.store_id = #{store_id} and a.recycle=0 and a.living_status=1
            <if test="anchorList != null">
                <foreach collection="anchorList" item="user_id" separator="," open="and a.user_id in(" close=")">
                    #{user_id,jdbcType=INTEGER}
                </foreach>
            </if>
        </trim>
    </sql>

    <select id="queryRecommend" parameterType="Map" resultType="Map">
        select a.*,u.user_name,u.headimgurl as user_url,u.fans_num from lkt_living_room a left join lkt_user u on a.user_id = u.user_id
        <where>
            <trim prefixOverrides="and">
                <include refid="queryRecommendSql"/>
            </trim>
        </where>
        <if test="sort!=null">order by ${sort}</if>
        <if test="pageNo!=null and pageSize!=null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <select id="countRecommend" parameterType="Map" resultType="int">
        select count(1) from lkt_living_room a left join lkt_user u on a.user_id = u.user_id
        <where>
            <trim prefixOverrides="and">
                <include refid="queryRecommendSql"/>
            </trim>
        </where>
    </select>

    <select id="queryLiving" resultType="map" parameterType="Integer">
        select r.id as roomId, u.user_name, u.headimgurl, r.user_id
        from lkt_living_room r
        left join lkt_user u on u.user_id = r.user_id
        where r.store_id = #{store_id} and r.living_status=1
        and r.recycle = 0
        group by r.user_id, roomId, u.user_name, u.headimgurl
        order by sort desc
        limit #{pageSize};
    </select>

    <select id="queryRecord" parameterType="map" resultType="map">
        select u.user_id,u.user_name,u.mobile,r.money,date_format(r.add_date,'%Y-%m-%d %H:%i:%s') as add_date from lkt_record r
        left join lkt_user u on r.user_id=u.user_id
        where r.type=42 and r.store_id=#{store_id}
        <if test="keyWord!=null">and (u.id=#{keyWord} or u.user_id= #{keyWord} or u.user_name like concat ('%',#{keyWord},'%') or u.mobile=#{keyWord})</if>
        <if test="start_time != null and start_time != ''">and r.add_date <![CDATA[  >=  ]]> #{start_time}</if>
        <if test="end_time != null and end_time != ''">and r.add_date <![CDATA[  <=  ]]> #{end_time}</if>
        order by r.add_date desc
        <if test="pageNo != null and pageSize != ''">limit #{pageNo},#{pageSize}</if>
    </select>

    <select id="countRecord" parameterType="map" resultType="int">
        select count(1) from lkt_record r
        left join lkt_user u on r.user_id=u.user_id
        where r.type=42 and r.store_id=#{store_id}
        <if test="keyWord!=null">and (u.id=#{keyWord} or u.user_id= #{keyWord} or u.user_name like concat ('%',#{keyWord},'%') or u.mobile=#{keyWord})</if>
        <if test="start_time != null and start_time != ''">and r.add_date <![CDATA[  >=  ]]> #{start_time}</if>
        <if test="end_time != null and end_time != ''">and r.add_date <![CDATA[  <=  ]]> #{end_time}</if>
    </select>
</mapper>