<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laiketui.common.mapper.MchStoreAccountModelMapper">
    <sql id="getMchStoreAccountDynamicSQL">
        recycle = 0
        <if test="id != null">and id = #{id}</if>
        <if test="store_id != null">and store_id = #{store_id}</if>
        <if test="mch_id != null">and mch_id = #{mch_id}</if>
        <if test="mch_store_id != null">and mch_store_id = #{mch_store_id}</if>
        <if test="account_number != null">and account_number = #{account_number}</if>
        <if test="startDate != null and startDate != ''">and add_date <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and add_date <![CDATA[  <=  ]]> #{endDate}</if>
    </sql>

    <select id="selectList" parameterType="Map" resultType="Map">
        select * from lkt_mch_store_account
        <where>
            <trim prefixOverrides="and">
                <include refid="getMchStoreAccountDynamicSQL" />
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countList" parameterType="Map" resultType="int">
        select count(1) from lkt_mch_store_account
        <where>
            <trim prefixOverrides="and">
                <include refid="getMchStoreAccountDynamicSQL" />
            </trim>
        </where>
    </select>
</mapper>