<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.OrderDataModelMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.order.OrderDataModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="trade_no" property="trade_no" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>

  <sql id="getDynamicSQL">
    <where>
      <trim prefixOverrides="and">
        AND order_type = #{orderType}
        AND status = 1
        <if test="userId != null">AND `data` like CONCAT('%', #{userId},'%')</if>
        <if test="storeId != null">AND `data` like CONCAT('%', #{storeId},'%')</if>
      </trim>
    </where>
  </sql>

  <select id="getVipOrder" parameterType="Map" resultType="Map">
    SELECT * FROM lkt_order_data
    <include refid="getDynamicSQL"/>
    <trim prefix=" ORDER BY " suffixOverrides=",">
      <if test="addTimeSort != null">addtime ${addTimeSort},</if>
    </trim>
    <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
  </select>

  <select id="countVipOrder" parameterType="Map" resultType="Integer">
    SELECT COUNT(1) FROM lkt_order_data
    <include refid="getDynamicSQL"/>
  </select>
</mapper>