<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.PlatformActivitiesModelMapper">
    <resultMap id="BaseResultMap" type="com.laiketui.domain.plugin.activitie.PlatformActivitiesModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="store_id" property="store_id" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="default_num" property="default_num" jdbcType="INTEGER"/>
        <result column="buy_time" property="buy_time" jdbcType="VARCHAR"/>
        <result column="group_man" property="group_man" jdbcType="INTEGER"/>
        <result column="group_can" property="group_can" jdbcType="INTEGER"/>
        <result column="group_kai" property="group_kai" jdbcType="INTEGER"/>
        <result column="group_time" property="group_time" jdbcType="INTEGER"/>
        <result column="group_kai_num" property="group_kai_num" jdbcType="INTEGER"/>
        <result column="group_can_num" property="group_can_num" jdbcType="INTEGER"/>
        <result column="group_can_again" property="group_can_again" jdbcType="TINYINT"/>
        <result column="free_freight" property="free_freight" jdbcType="TINYINT"/>
        <result column="starttime" property="starttime" jdbcType="TIMESTAMP"/>
        <result column="endtime" property="endtime" jdbcType="TIMESTAMP"/>
        <result column="join_starttime" property="join_starttime" jdbcType="TIMESTAMP"/>
        <result column="join_endtime" property="join_endtime" jdbcType="TIMESTAMP"/>
        <result column="isdelete" property="isdelete" jdbcType="TINYINT"/>
        <result column="addtime" property="addtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, store_id, image, name, type, status, default_num, buy_time, group_man, group_can,
    group_kai, group_time, group_kai_num, group_can_num, group_can_again, free_freight, 
    starttime, endtime, join_starttime, join_endtime, isdelete, `addtime`
    </sql>


    <sql id="selectDynamicSQL">
        <trim prefixOverrides="and">
            <if test="store_id != null">and store_id = #{store_id}</if>
            <if test="id != null">and id = #{id}</if>
            <if test="isdelete != null">and `isdelete` = #{isdelete}</if>
            <if test="name != null">and (id=#{name} or `name` like concat('%',#{name},'%'))</if>
            <if test="type!=null">
                <choose>
                    <when test="type=='PTHDLX_pt'">and type='pt'</when>
                    <when test="type=='PTHDLX_ms'">and type='ms'</when>
                    <otherwise>and type=''</otherwise>
                </choose>
            </if>
        </trim>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select *
        from lkt_platform_activities
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="status_sort!=null and status_sort!=''">status ${status_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != null">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_platform_activities
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
    </select>
</mapper>