<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.ReturnOrderModelMapper">

    <sql id="selectDynamicSQL">
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="user_id != null">and a.user_id = #{user_id}</if>
        <if test="sNo != null">and a.sNo = #{sNo}</if>
        <if test="orderDetailId != null">and a.p_id = #{orderDetailId}</if>
        <if test="goodsId != null">and a.pid = #{goodsId}</if>
        <if test="returnId != null">and a.re_id = #{returnId}</if>
        <if test="r_type != null">and a.r_type = #{r_type}</if>
        <if test="re_type != null">and a.re_type = #{re_type}</if>
        <if test="mchId != null">and b.mch_id = concat(',',#{mchId},',')</if>
        <if test="rTypeList != null">
            <foreach collection="rTypeList" item="type" separator="," open="and a.r_type in(" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="reTypeList != null">
            <foreach collection="reTypeList" item="type" separator="," open="and a.re_type in(" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="startDate != null and startDate!=''">AND a.audit_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate!=''">AND a.audit_time <![CDATA[  <=  ]]> #{endDate}</if>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.*,b.sNo from lkt_return_order a inner join lkt_order b on a.sNo = b.sNo
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="audit_time_sort!=null and audit_time_sort!=''">audit_time ${audit_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_return_order a inner join lkt_order b on a.sNo = b.sNo
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>

    <sql id="getReturnOrderListDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="store_id != null">and a.store_id = #{store_id}</if>
                <if test="orderDetailId != null">and a.p_id = #{orderDetailId}</if>
                <if test="likeOrderno != null">and a.sNo like CONCAT('%',#{likeOrderno},'%')</if>
                <if test="sNo != null">and a.sNo like CONCAT('%',#{sNo},'%')</if>
                <if test="orderNo != null">and a.sNo =#{orderNo}</if>
                <if test="re_type_GT != null">and a.re_type <![CDATA[  >  ]]> #{re_type_GT}</if>
                <if test="user_id != null and user_id!=''">AND a.user_id = #{user_id}</if>
                <if test="orderType != null ">AND exists (select id from lkt_order x where x.sno = a.sno and x.otype=#{orderType})</if>
                <if test="r_typeList != null and r_type!=''">
                    <foreach collection="r_typeList" item="type" separator="," open="and a.r_type in(" close=")">
                        #{type,jdbcType=INTEGER}
                    </foreach>
                </if>
            </trim>
        </where>
    </sql>

    <select id="getReturnOrderListDynamic" parameterType="Map" resultType="com.laiketui.domain.order.ReturnOrderModel">
        SELECT * FROM lkt_return_order a
        <include refid="getReturnOrderListDynamicSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <if test="re_time_sort!=null and re_time_sort!=''">re_time ${re_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countReturnOrderListDynamic" parameterType="Map"
            resultType="int">
        SELECT count(1) FROM lkt_return_order a
        <include refid="getReturnOrderListDynamicSQL"/>
    </select>

    <select id="getReturnOrderJoinOrderListDynamic" parameterType="Map" resultType="Map">
        SELECT a.readd, a.id oId, a.sNo, a.z_price, a.old_total, a.pay, a.user_id,a.otype,a.cpc,
        a.name, a.mobile, a.offset_balance, a.real_sno, a.subtraction_id, a.mch_id,
        a.p_sNo, a.status, a.real_sno, m.id detialId, attr.pid goodsId, m.p_name, m.p_price,
        m.sid attributeId, m.num, m.r_sNo, m.express_id, m.coupon_id detailCouponId,
        m.arrive_time, m.freight, b.re_type, b.p_id, m.r_status,b.id refundId,m.supplier_settlement,m.after_write_off_num,m.write_time,m.write_time_id,b.r_type,b.r_write_off_num,b.re_money
        ,m.living_room_id,m.anchor_id
        FROM
        lkt_order a,
        lkt_return_order b,
        lkt_order_details m,
        lkt_configure attr
        <where>
            a.store_id = #{store_id}
            and attr.id = b.sid
            AND a.sNo = m.r_sNo
            AND b.p_id = m.id
            <if test="id != null and id!=''">
                AND b.id = #{id}
            </if>
        </where>
    </select>

    <select id="getReturnOrderQuickRefund" parameterType="Map" resultType="Map">
        SELECT a.readd, a.id oId, a.sNo, a.z_price, a.old_total, a.pay, a.user_id,
        a.name, a.mobile, a.offset_balance, a.real_sno, a.subtraction_id, a.mch_id,
        a.p_sNo, a.STATUS, m.id detialId, m.p_id goodsId, m.p_name, m.p_price,
        m.sid attributeId, m.num, m.r_sNo, m.express_id, m.coupon_id detailCouponId,
        m.arrive_time, m.freight, m.r_status,m.supplier_settlement,m.living_room_id,m.anchor_id
        FROM
        lkt_order a,
        lkt_order_details m
        <where>
            a.store_id = #{store_id}
            AND a.sNo = m.r_sNo
            <if test="id != null and id!=''">
                AND m.id = #{id}
            </if>
        </where>
    </select>

    <sql id="selectRturnOrderNumDynamicSQL">
        and a.store_id = #{store_id}
        and b.recycle=0
        <if test="mch_id != null and mch_id!=''">AND p.mch_id = #{mch_id}</if>
        <if test="supplierMchId != null">
            and p.mch_id = #{supplierMchId}
        </if>
        <if test="likeOrderno != null and likeOrderno!=''">and a.sNo like CONCAT('%',#{likeOrderno},'%')</if>
        <if test="sNo != null and sNo!=''">and a.sNo like CONCAT('%',#{sNo},'%')</if>
        # 售后未完成的
        <if test="rType != null and rType = 1">and a.r_type not in (100)</if>
        <if test="user_id != null and user_id!=''">AND a.user_id = #{user_id}</if>
        <if test="orderTypes != null">
            <foreach collection="orderTypes" item="type" separator="," open="and b.otype in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="supplierPro != null and supplierPro != ''">
            and p.gongyingshang != ''
        </if>
        <if test="notgys != null and notgys != ''">
            and p.gongyingshang = ''
        </if>
        <if test='user_recycle!= null'> and b.user_recycle = #{user_recycle} </if>
    </sql>

    <select id="countRturnOrderNumDynamic" parameterType="Map" resultType="int">
        SELECT count(distinct b.sno)
        FROM lkt_return_order a
        LEFT JOIN lkt_order b ON a.sNo = b.sNo
        LEFT JOIN lkt_product_list p ON p.id = a.pid
        <where>
            <trim prefixOverrides="and">
                <include refid="selectRturnOrderNumDynamicSQL"/>
            </trim>
        </where>
    </select>


    <sql id="getReturnOrderByGoodsInfoSQL">
        a.store_id = #{store_id}
        <if test="id != null">and d.id=#{id}</if>
        <if test="condition!=null">AND (d.sNo like CONCAT('%',#{condition},'%') or u.user_name = #{condition} or u.mobile = #{condition} or u.user_id = #{condition})</if>
        <if test="likeOrderno != null and likeOrderno!=''">and (d.sNo like CONCAT('%',#{likeOrderno},'%') or u.user_id like CONCAT('%',#{likeOrderno},'%'))</if>
        <if test="orderno != null and orderno!=''">and d.sNo=#{orderno}</if>
        <if test="orderId != null">and o.id=#{orderId}</if>
        <if test="orderType != null">and o.otype=#{orderType}</if>
        <if test="orderType1 != null ">or o.otype = #{orderType1}</if>
        <if test="mch_id!=null">AND b.mch_id = #{mch_id}</if>
        <if test="mchName != null and mchName!=''">and e.name like CONCAT('%',#{mchName},'%')</if>
        <if test="startDate!=null">AND d.re_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate!=null">AND d.re_time <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="reType!=null">AND d.re_type = #{reType}</if>
        <if test="supplierId!=null">AND b.gongyingshang = #{supplierId} AND d.re_type != 2 AND d.is_agree = 1</if>
        <if test="supplierId==null">AND b.gongyingshang = ''</if>
        <if test="orderTypeList != null">
            <foreach collection="orderTypeList" item="type" separator="," open="and o.otype in (" close=")">
                #{type}
            </foreach>
        </if>
        <if test="orderTypeNotList != null">
            <foreach collection="orderTypeNotList" item="type" separator="," open="and o.otype not in (" close=")">
                #{type}
            </foreach>
        </if>
        <!--        <if test="newReturn != null">and d.re_time= (select max(re_time) from lkt_return_order x where x.sno=d.sno group-->
        <!--            by x.sno)-->
        <!--        </if>-->
        <if test="return_type!=null">
            <if test="return_type==1">AND d.r_type in(1,3) and d.re_type=1</if>
            <if test="return_type==2">AND d.r_type in(4,9,13,15)</if>
            <if test="return_type==3">AND d.r_type in(2,5,8) AND d.re_type != 3</if>
            <if test="return_type==4">AND d.r_type in(1,3,11) AND d.re_type = 3</if>
            <if test="return_type==5">AND d.r_type =12</if>
            <if test="return_type==6">AND d.r_type in(5,10) AND d.re_type = 3</if>
            <if test="return_type==7">and d.r_type =0</if>
        </if>
        <if test="mchName != null and mchName != ''">and e.name like CONCAT('%',#{mchName},'%')</if>
    </sql>
    <select id="getReturnOrderByGoodsInfo" parameterType="Map" resultType="Map">
        SELECT
        o.currency_code,o.currency_symbol,o.exchange_rate,
        a.actual_total,d.id,d.sNo,d.pid,a.p_id,d.re_money,d.user_id,a.p_name,a.p_price,a.p_integral,d.re_apply_money,a.after_discount,a.after_write_off_num,a.unit,a.num,a.size,a.sid,a.supplier_settlement,d.real_money,d.re_photo,d.r_write_off_num,
        CAST(d.re_type AS char) re_type,CAST(d.r_type AS char) r_type,d.re_time,b.imgurl,b.is_distribution,b.write_off_settings,c.write_off_num,c.img,e.name mchName,c.yprice as supplierPrice,a.is_addp,o.z_price as goodsPrice,e.id as detailMchId,
        CASE
        WHEN (d.r_type = 1 || d.r_type = 3 || d.r_type=16)
        AND d.re_type = 1 THEN
        '退款中'
        when d.r_type = 4 || d.r_type = 9 || d.r_type = 15 then '退款成功'
        when (d.r_type = 2 || d.r_type = 5 || d.r_type = 8 || d.r_type=10) and d.re_type != 3 then '退款失败'
        when (d.r_type = 1 || d.r_type = 3 || d.r_type = 11) and d.re_type = 3 then '换货中'
        when d.r_type = 12 then '换货成功'
        when (d.r_type = 5 || d.r_type = 10) and d.re_type = 3 then '换货失败'
        when d.r_type = 13 then '退款成功'
        ELSE '待审核'
        END prompt,
        o.sheng,o.shi,o.xian,o.address,o.name,o.mobile,u.mobile as user_mobile
        FROM
        lkt_return_order AS d
        inner join lkt_order o on o.sno=d.sNo
        LEFT JOIN lkt_order_details AS a ON d.p_id = a.id
        <if test="isAddp != null and isAddp != ''">AND is_addp IS NULL OR is_addp = 0</if>
        left join lkt_configure c on c.id = a.sid
        LEFT JOIN lkt_product_list AS b ON c.pid = b.id
        LEFT JOIN lkt_mch AS e ON e.id = b.mch_id
        LEFT JOIN lkt_user u ON d.user_id = u.user_id
        <where>
            <include refid="getReturnOrderByGoodsInfoSQL"/>
        </where>

        <trim prefix="order by" suffixOverrides=",">
            <if test="reTypeSort!=null">field(prompt,'待审核','换货中','退款中','换货失败','退款失败','换货成功','退款成功')
                ${reTypeSort},
            </if>
            <if test="reTimeSort!=null">d.re_time ${reTimeSort},</if>
        </trim>
        <if test="pageNo != null and pageSize!=null">LIMIT #{pageNo},#{pageSize}</if>
    </select>
    <select id="getReturnOrderByGoodsCount" parameterType="Map" resultType="int">
        select count(a.id) from (SELECT d.id FROM
        lkt_return_order AS d
        inner join lkt_order o on o.sno=d.sNo
        LEFT JOIN lkt_order_details AS a ON d.p_id = a.id
        left join lkt_configure c on c.id = a.sid
        LEFT JOIN lkt_product_list AS b ON c.pid = b.id
        LEFT JOIN lkt_mch AS e ON e.id = b.mch_id
        LEFT JOIN lkt_user u ON d.user_id = u.user_id
        <where>
            <include refid="getReturnOrderByGoodsInfoSQL"/>
        </where>
        ) a
    </select>

    <!-- and a.r_type not in  (2,4,5,8,9,10,12) 不在售后状态 -->
    <sql id="getReturnOrderListSQL">
        a.store_id = #{storeId}
        and a.user_id = #{userId}
        <if test=" keyword != null and keyword!=''">
            and ( a.sNo like concat('%',#{keyword},'%') or b.p_name like concat('%',#{keyword},'%'))
        </if>
        <if test=" returnOrderId != null">
            and a.id=#{returnOrderId}
        </if>
        <if test=" type != null">
            and o.otype=#{type}
        </if>
        <if test="typeList != null and typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and o.otype in (" close= ")">
                #{type}
            </foreach>
        </if>
        and a.re_type > 0
    </sql>
    <!-- 个人中心售后列表 -->
    <select id="getReturnOrderList" parameterType="Map" resultType="Map">
        select a.*,b.id detailId,b.p_name,b.p_price,b.num,b.size,attr.pid goodsId,attr.img attrImg,attr.unit
        from lkt_return_order as a
        left join lkt_order_details as b on a.p_id = b.id
        left join lkt_configure attr on attr.id = b.sid
        left join lkt_order o on a.sNo = o.sNo
        <where>
            <trim prefixOverrides="and">
                <include refid="getReturnOrderListSQL"/>
            </trim>
        </where>
        order by a.re_time desc
        limit #{start},#{pageSize}
    </select>

    <!-- 个人中心售后列表 -->
    <select id="getReturnOrderListCount" parameterType="Map" resultType="int">
        select count(1)
        from lkt_return_order as a
        left join lkt_order_details as b on a.p_id = b.id
        left join lkt_configure attr on attr.id = b.sid
        left join lkt_order o on a.sNo = o.sNo
        <where>
            <trim prefixOverrides="and">
                <include refid="getReturnOrderListSQL"/>
            </trim>
        </where>
    </select>

    <select id="getUnFinishShouHouOrder" parameterType="Map" resultType="int">
        select count(1) from lkt_return_order where store_id = #{storeId}
        and user_id = #{userId}
        <if test="orderDetailsId != null and orderDetailsId != 0 ">
            and p_id = #{orderDetailsId}
        </if>
        and sNo = #{sNo}
    </select>

    <sql id="selectRturnOrderNumDynamic1SQL">
        <if test="store_id != null">and b.store_id = #{store_id}</if>
        <if test="mch_id != null">and a.mch_id = concat(',',#{mch_id},',')</if>
        <if test="sNo != null">and b.sNo like concat(',',#{sNo},',')</if>
        <if test="re_type != null">and b.re_type=#{re_type}</if>
        <if test="not_re_type != null">and b.re_type!=#{not_re_type}</if>
        <if test="supplierReturn != null">AND lpl.gongyingshang != ''</if>
        <if test="supplierReturn == null">AND lpl.gongyingshang = ''</if>
        <choose>
            <when test="r_type != null">and b.r_type = #{r_type}</when>
            <when test="rTypeList != null">
                <foreach collection="rTypeList" item="type" separator="," open="and b.r_type in(" close=")">
                    #{type,jdbcType=INTEGER}
                </foreach>
            </when>
            <otherwise>and b.r_type != '100'</otherwise>
        </choose>
        <if test="ordernoLike!=null">and (a.sNo like concat('%',#{ordernoLike},'%') or a.name like
            concat('%',#{ordernoLike},'%') or a.mobile like concat('%',#{ordernoLike},'%') or a.user_id like
            concat('%',#{ordernoLike},'%') or a.p_sNo like concat('%',#{ordernoLike},'%'))
        </if>
        <if test="startDate!=null">AND b.re_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate!=null">AND b.re_time <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="otype!=null">AND a.otype =  #{otype}</if>
    </sql>
    <select id="selectRturnOrderNumDynamic1" parameterType="Map" resultType="Map">
        select c.actual_total, b.*, lm.name as shop_name, a.pay, c.p_name, c.p_price,c.unit, c.num,
        s.supplier_name,lpl.cover_map as goodsImgUrl,a.currency_symbol,a.currency_code,a.exchange_rate,
        CASE
        WHEN (b.r_type = 1 || b.r_type = 3 || b.r_type=16)
        AND b.re_type = 1 THEN
        '退款中'
        when b.r_type = 4 || b.r_type = 9 || b.r_type = 15 then '退款成功'
        when (b.r_type = 2 || b.r_type = 5 || b.r_type = 8) and b.re_type != 3 then '退款失败'
        when (b.r_type = 1 || b.r_type = 3 || b.r_type = 11) and b.re_type = 3 then '换货中'
        when b.r_type = 12 then '换货成功'
        when (b.r_type = 5 || b.r_type = 10) and b.re_type = 3 then '换货失败'
        when b.r_type = 13 then '退款成功'
        ELSE
        '审核中'
        END returnName
        from lkt_return_order as b
        left join lkt_order_details as c on b.p_id = c.id
        left join lkt_order as a on c.r_sNo = a.sNo
        LEFT JOIN lkt_product_list as lpl on lpl.id = c.p_id
        LEFT JOIN lkt_mch as lm on lm.id = lpl.mch_id
        LEFT JOIN lkt_supplier as s on s.id = lpl.gongyingshang
        <where>
            <trim prefixOverrides="and">
                <include refid="selectRturnOrderNumDynamic1SQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="re_time_sort!=null and re_time_sort!=''">b.re_time ${re_time_sort},</if>
            <if test="r_type_sort!=null and r_type_sort!=''">b.r_type ${r_type_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countRturnOrderNumDynamic1" parameterType="Map" resultType="int">
        select count(1) from lkt_return_order as b
        left join lkt_order_details as c on b.p_id = c.id
        left join lkt_order as a on c.r_sNo = a.sNo
        LEFT JOIN lkt_product_list as lpl on lpl.id = c.p_id
        LEFT JOIN lkt_mch as lm on lm.id = lpl.mch_id
        LEFT JOIN lkt_supplier as s on s.id = lpl.gongyingshang
        <where>
            <trim prefixOverrides="and">
                <include refid="selectRturnOrderNumDynamic1SQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="re_time_sort!=null and re_time_sort!=''">b.re_time ${re_time_sort},</if>
            <if test="r_type_sort!=null and r_type_sort!=''">b.r_type ${r_type_sort},</if>
        </trim>
    </select>
    <select id="getReturnGoodsNum" parameterType="Map" resultType="java.lang.Long">
        select ifnull(sum(o.num), 0) from lkt_return_order a left join lkt_product_list b on a.pid=b.id inner join  lkt_order
                                   o  on  a.sNo=o.sNo
        <where>
            <if test="storeid!=null and storeid!=''">
                a.store_id=#{storeid}
            </if>
            <choose>
                <when test="regix==2">
                    and DATE_FORMAT(a.re_time,'%Y-%m')=#{date}
                </when>
                <otherwise>
                    and DATE_FORMAT(a.re_time,'%Y-%m-%d')=#{date}
                </otherwise>
            </choose>
            <choose>
                <when test="type==0">
                    and b.mch_id=#{mchId}
                    and  (b.gongyingshang='' or  b.gongyingshang is null)
                </when>
                <when test="type==1">
                    and b.mch_id!=#{mchId}
                    and  (b.gongyingshang='' or  b.gongyingshang is null)
                </when>
                <otherwise>
                    and  b.gongyingshang!=''
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="getOrderNumByPeriod" resultType="java.lang.Integer">
        select count(DISTINCT b.sNo) from   lkt_return_order a left join lkt_order b on a.sNo=b.sNo
        <where>
        DATE_FORMAT(a.re_time,'%Y-%m-%d')<![CDATA[ >=]]>#{startDate}
        and DATE_FORMAT(a.re_time,'%Y-%m-%d')<![CDATA[ <=]]>#{endDate} and a.store_id=#{storeid}
        and b.otype='GM'
        and a.r_type=0
        </where>
    </select>

    <select id="countReturnNotFinishedCount" resultType="int">
        SELECT
            count(a.id )
        FROM
            lkt_return_order a
            LEFT JOIN lkt_order b ON a.sNo = b.sNo
        WHERE
            a.store_id = #{store_id}
          AND b.recycle = 0
          AND a.user_id = #{user_id}
          AND b.otype IN ( 'GM','VI','PT' )
          AND b.user_recycle = 1
          AND a.r_type not in  (2,8,4,9,10,12,13,15) and b.status != 7
    </select>

    <select id="getOrderReturnIsNotEnd" resultType="int">
        select count(1) from lkt_return_order a,lkt_order_details b where a.p_id=b.id and a.store_id = #{storeId} and a.sNo = #{sNo} and a.r_type not in (2,8,4,9,10,12,13,15) and b.r_status != 7
    </select>

    <select id="getFinishReturnList" resultType="com.laiketui.domain.order.ReturnOrderModel">
        SELECT
        a.id,
        a.store_id,
        a.user_id,
        a.sNo,
        a.pay_pal_return_id,
        a.ali_out_request_no,
        a.p_id,
        a.re_type,
        a.content,
        a.re_apply_money,
        a.re_money,
        a.real_money,
        a.re_time,
        a.re_photo,
        a.audit_time,
        a.r_content,
        a.r_type,
        a.sid,
        a.pid,
        a.re_id,
        a.is_agree,
        a.r_write_off_num
        FROM
        (
        SELECT *,ROW_NUMBER() over(partition by pid) as top FROM
        lkt_return_order
        WHERE
        r_type IN ( 4, 9, 13 )
        <if test="sNo != null and sNo != ''">
            and sNo = #{sNo}
        </if>
        ) AS a
        WHERE a.top &lt; 2
    </select>
</mapper>
