<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SecondsActivityModelMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.seckill.SecondsActivityModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="store_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="isshow" property="isshow" jdbcType="TINYINT" />
    <result column="is_delete" property="is_delete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, store_id, name, status, type, starttime, endtime, isshow, is_delete
  </sql>

  <select id="countSecondsGoodsListByLabelId" resultType="int">
   SELECT COUNT(DISTINCT a.id)
    FROM
    lkt_seconds_activity a
    RIGHT JOIN
    lkt_seconds_label lab ON lab.id = a.label_id AND lab.recovery = 0
    RIGHT JOIN
    lkt_product_list b ON a.goodsId = b.id AND b.recycle = 0
    RIGHT JOIN
    lkt_mch c ON b.mch_id = c.id
    LEFT JOIN
    lkt_brand_class d ON b.brand_id = d.brand_id
    LEFT JOIN
    lkt_product_class e ON substring_index(substring_index(b.product_class, '-', 2), '-', -1) = e.cid
    LEFT JOIN lkt_configure attr ON attr.id = a.attr_id
    <where>
      <trim prefixOverrides="and">
        <include refid="getSecondsGoodsListByLabelIdSQL"/>
      </trim>
    </where>
  </select>


  <sql id="getSecondsGoodsListByLabelIdSQL">
    <choose>
      <when test="is_delete==null">and a.is_delete=0</when>
      <when test="is_delete==-1">and (a.is_delete=0 or a.is_delete=1)</when>
      <otherwise>and a.is_delete=#{is_delete}</otherwise>
    </choose>
    <choose>
      <when test="is_show==null">and a.isshow=1</when>
      <when test="is_show==-1"/>
      <otherwise>and a.isshow=#{is_delete}</otherwise>
    </choose>
    <if test='store_id != null '>and a.store_id = #{store_id}</if>
    <if test="c_recycle != null">and attr.recycle = #{c_recycle}</if>
    <if test='goods_status != null '>and b.status = #{goods_status}</if>
    <if test='status != null '>and a.status = #{status}</if>
    <if test='mchId != null '>and lab.mch_id = #{mchId}</if>
    <if test='secGoodsId != null '>and a.id = #{secGoodsId}</if>
    <if test="labelId != null">and a.label_id = #{labelId}</if>
    <if test="not_delete != null">and a.delete_method != 1</if>
    <if test="keyName != null">AND(b.product_title like CONCAT('%', #{keyName},'%') or
      b.id =#{keyName})
    </if>
    <if test="secStatus != null">
      <choose>
        <when test="secStatus==1">and #{sysDate} <![CDATA[  <  ]]> a.starttime</when>
        <when test="secStatus==2">and #{sysDate}<![CDATA[  >=  ]]>a.starttime and #{sysDate} <![CDATA[  <=  ]]>
          a.endtime</when>
        <when test="secStatus==3">and #{sysDate} <![CDATA[  >  ]]> a.endtime</when>
      </choose>
    </if>
    <if test="startDate != null and startDate!=''">and a.starttime <![CDATA[  >=  ]]> #{startDate}</if>
    <if test="endDate != null and endDate!=''">and a.endtime<![CDATA[  <=  ]]> #{endDate}</if>
    <if test="heraldDate != null">and a.starttime <![CDATA[  <=  ]]> #{heraldDate}</if>
    <if test="num != null">and a.num &gt; 0</if>
    <if test="labIsShow != null">and lab.is_show = 1</if>
  </sql>

  <select id="getSecondsGoodsListByLabelId" resultType="java.util.Map">
    SELECT
    a.id,
    a.goodsId,
    a.product_title,
    a.initial,
    a.volume,
    a.mchName,
    a.brandName,
    a.className,
    a.stockNum,
    a.num,
    a.max_num,
    a.starttime,
    a.endtime,
    a.is_show,
    a.seconds_price,
    a.price_type,
    a.`status`,
    a.attribute,
    a.goodsPrice
    FROM
    (
    SELECT
    a.id,
    b.id AS goodsId,
    b.product_title,
    b.initial,
    b.volume,
    c.NAME AS mchName,
    d.brand_name AS brandName,
    e.pname AS className,
    a.num AS stockNum,
    b.num,
    a.max_num,
    a.starttime,
    a.endtime,
    a.isshow AS is_show,
    a.seconds_price,
    a.price_type,
    a.`status`,
    attr.attribute,
    ifnull(max(attr.price) over(partition by a.id),0) as goodsPrice,
    ROW_NUMBER() over(partition by a.id) AS top
    FROM
    lkt_seconds_activity a
    RIGHT JOIN
    lkt_seconds_label lab ON lab.id = a.label_id AND lab.recovery = 0
    RIGHT JOIN
    lkt_product_list b ON a.goodsId = b.id AND b.recycle = 0
    RIGHT JOIN
    lkt_mch c ON b.mch_id = c.id
    LEFT JOIN
    lkt_brand_class d ON b.brand_id = d.brand_id
    LEFT JOIN
    lkt_product_class e ON substring_index(substring_index(b.product_class, '-', 2), '-', -1) = e.cid
    LEFT JOIN lkt_configure attr ON attr.id = a.attr_id
    <where>
      <trim prefixOverrides="and">
        <include refid="getSecondsGoodsListByLabelIdSQL"/>
      </trim>
    </where>
    ) AS a
    WHERE a.top &lt; 2
    <trim prefix="order by" suffixOverrides=",">
      <if test="admin_status_sort!=null and admin_status_sort!=''">FIELD(a.`status`,  1,2,3,4,5),</if>
      <if test="status_sort!=null and status_sort!=''">a.`status` ${status_sort},</if>
    </trim>
    <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
  </select>
</mapper>