<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SignConfigModelMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.config.SignConfigModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="store_id" jdbcType="INTEGER" />
    <result column="is_status" property="is_status" jdbcType="TINYINT" />
    <result column="score_num" property="score_num" jdbcType="INTEGER" />
    <result column="starttime" property="starttime" jdbcType="CHAR" />
    <result column="endtime" property="endtime" jdbcType="CHAR" />
    <result column="is_remind" property="is_remind" jdbcType="TINYINT" />
    <result column="reset" property="reset" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="continuity" property="continuity" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="Instructions" property="instructions" jdbcType="VARCHAR" />
    <result column="modify_date" property="modify_date" jdbcType="TIMESTAMP" />
    <result column="is_many_time" property="is_many_time" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, store_id, is_status, score_num, starttime, endtime, is_remind, reset, imgurl, 
    score, continuity, detail, Instructions, modify_date, is_many_time
  </sql>
</mapper>