<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laiketui.common.mapper.StoreSelfDeliveryModelMapper">
    <sql id="selectDynamicSQL">
        <if test="subtable_id != null">and a.subtable_id != 0</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="sNo != null">and a.sNo like concat('%',#{sNo},'%')</if>
        <if test="expressName != null">and (a.courier_num like concat('%',#{expressName},'%')  or a.kdComOrderNum  like concat('%',#{expressName},'%'))</if>
        <if test="mch_name != null"> and m.name like concat('%',#{mch_name},'%') </if>
        <if test="status != null">and a.is_status = #{status} </if>
        <if test="startDate != null and startDate != ''">and a.deliver_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and a.deliver_time <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="mch_id != null">and m.id = #{mch_id}</if>
        <if test="search != null">and (a.courier_num like concat('%',#{search},'%')  or a.sNo  like concat('%',#{search},'%'))</if>
    </sql>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.*, b.kuaidi_name, o.name, o.mobile, o.sheng, o.shi, o.xian, o.address,
               m.name as shop_name, m.realname as send_name, m.tel as send_tel, m.sheng as send_sheng,
               m.shi as send_shi, m.xian as send_xian, m.address as send_address
        from lkt_express_delivery a
            left join lkt_express b on a.express_id =  b.id
            left join lkt_order o on a.sNo = o.sNo
            left join lkt_order_details d on a.order_details_id = d.id
            left join lkt_product_list p on d.p_id = p.id
            left join lkt_mch m on p.mch_id = m.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from(
        select
        <if test="ByCourierNum != null">a.courier_num,</if>
        1 AS dummy from lkt_express_delivery a
        left join lkt_express b on a.express_id = b.id
        left join lkt_order o on a.sNo = o.sNo
        left join lkt_order_details d on a.order_details_id = d.id
        left join lkt_product_list p on d.p_id = p.id
        left join lkt_mch m on p.mch_id = m.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="group by" suffixOverrides=",">
            <if test="ByCourierNum!=null">a.courier_num,</if>
        </trim>
        ) num
    </select>


    <sql id="GoodsByExpressDeliveryId">
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="name != null">and d.p_name like concat('%',#{name},'%') </if>
        <if test="expressId != null">and a.express_id = #{expressId}</if>
        <if test="courierNum != null">and a.courier_num = #{courierNum}</if>
    </sql>

    <select id="getGoodsByExpressDeliveryId" parameterType="Map" resultType="Map">
        select d.p_id, d.p_name, d.p_price, a.num, c.id, c.img, c.attribute
        from lkt_express_delivery a
        left join lkt_order_details d on a.order_details_id = d.id
        left join lkt_configure c on d.sid = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="GoodsByExpressDeliveryId"/>
            </trim>
        </where>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
</mapper>