<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SupplierProModelMapper" >

    <sql id="selectDynamicSQL">
        and a.store_id = #{storeId}
        and a.recycle = 0
        <if test="mchId != null">AND a.mch_id = #{mchId} AND a.supplier_superior is not null</if>
        <if test="mchId == null">AND a.mch_id = 0</if>
        <if test="condition != null">AND (a.product_title like CONCAT('%',#{condition},'%') or a.id = #{condition} or b.supplier_name = #{condition})</if>
        <if test="goodsId != null">AND a.id = #{goodsId}</if>
        <if test="supplierName != null">AND b.supplier_name like CONCAT('%',#{supplierName},'%')</if>
        <if test="supplierKey != null">AND (b.supplier_name like CONCAT('%',#{supplierKey},'%') or a.id = #{supplierKey} or a.product_title like CONCAT('%',#{supplierKey},'%'))</if>
        <if test="productTitle != null">AND a.product_title like CONCAT('%',#{productTitle},'%')</if>
        <if test="status != null">AND a.status = #{status}</if>
        <if test="supplier_status != null">AND a.supplier_status = #{supplier_status}</if>
        <if test="statusList != null">
            <foreach collection="statusList" item="status" separator="," open="and a.status in (" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="mch_status != null">AND a.mch_status = #{mch_status}</if>
        <if test="mchStatusList != null">
            <foreach collection="mchStatusList" item="mch_status" separator="," open="and a.mch_status in (" close=")">
                #{mch_status,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="product_class != null and product_class!=''">AND a.product_class like CONCAT('%-',#{product_class},'-%')</if>
        <if test="brand_id != null">AND a.brand_id = #{brand_id}</if>
        <if test="startTime != null and startTime != ''">and a.add_date <![CDATA[  >=  ]]> #{startTime}</if>
        <if test="endTime != null and endTime != ''">and a.add_date <![CDATA[  <=  ]]> #{endTime}</if>
        <if test="outageStartTime != null and outageStartTime != ''">and a.outage_time <![CDATA[  >=  ]]> #{outageStartTime}</if>
        <if test="outageEndTime != null and outageEndTime != ''">and a.outage_time <![CDATA[  <=  ]]> #{outageEndTime}</if>
        <if test="violationStartTime != null and violationStartTime != ''">and a.violation_time <![CDATA[  >=  ]]> #{violationStartTime}</if>
        <if test="violationEndTime != null and violationEndTime != ''">and a.violation_time <![CDATA[  <=  ]]> #{violationEndTime}</if>
        <if test="supplierId != null and supplierId != ''">and a.gongyingshang = #{supplierId}</if>
        <if test="requestPage != null and requestPage == 1">and a.status != 4</if>
    </sql>

    <select id="selectCondition" parameterType="Map" resultType="Map">
        SELECT a.*,b.supplier_name FROM lkt_product_list a LEFT JOIN lkt_supplier b ON a.gongyingshang = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="examine_time_sort!=null and add_date_sort!=''">a.examine_time ${examine_time_sort},</if>
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
            <if test="add_date_sort!=null and add_date_sort!=''">add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countCondition" parameterType="Map" resultType="int">
        SELECT COUNT(1) FROM lkt_product_list a LEFT JOIN lkt_supplier b ON a.gongyingshang = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>

</mapper>