<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SystemTellModelMapper">
    <sql id="selectDynamicSQL">
        <if test="id != null">and a.id = #{id}</if>
        <if test="idNot != null">and a.id != #{idNot}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="type != null">and a.type = #{type}</if>
        <if test="startDate != null">and a.startdate <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null">and a.enddate <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="endDate_gt != null">and a.enddate <![CDATA[  >  ]]> #{endDate_gt}</if>
        <if test="startDate_lt != null">and a.startdate <![CDATA[  <  ]]> #{startDate_lt}</if>
        <if test="store_tell != null">and a.store_tell = #{store_tell}</if>
        <if test="user_tell != null">and a.user_tell = #{user_tell}</if>
        <if test="mch_tell != null">and a.mch_tell = #{mch_tell}</if>
        <if test="supplier_tell != null">and a.supplier_tell = #{supplier_tell}</if>
        <if test="mch_son_tell != null">and a.mch_son_tell = #{mch_son_tell}</if>
        <if test="user_store_id != null and store_type != null and read_id != null">
        and a.id not in (select tell_id from lkt_system_tell_user b where b.store_id = #{user_store_id} and b.store_type = #{store_type} and b.read_id = #{read_id} )
        </if>
        <if test="user_store_id != null and store_type != null and read_id != null and is_supplier != null">
            and a.id not in
            (select tell_id from lkt_system_tell_user b
            where b.store_id = #{user_store_id} and b.store_type = #{store_type} and b.read_id = #{read_id} and is_supplier = #{is_supplier} )
        </if>
        <if test="storeTime != null and storeTime != ''">and a.enddate <![CDATA[  >=  ]]> #{storeTime}</if>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select * from lkt_system_tell a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_time_sort!=null and add_time_sort!=''">add_time ${add_time_sort},</if>
            <if test="type_sort!=null and type_sort!=''">`type` ${type_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_system_tell a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>
</mapper>