<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.UserAuthorityModelMapper">

    <sql id="getAdminListSQL">
        AND a.role_id = b.role_id
        AND a.role_id = c.id
        AND a.main_id = d.user_id
        <if test="uid != null">and a.id = #{uid}</if>
        <if test="type_authority != null">and a.type = #{type_authority}</if>
        <if test="type_role != null">and c.type = #{type_role}</if>
        <if test="not_roleId != null">and c.id <![CDATA[  <>  ]]> #{not_roleId}</if>
        <if test="mchId != null">and c.main_id = #{mchId} and c.type=2</if>
    </sql>

    <select id="getAdminList" parameterType="Map" resultType="Map">
        SELECT distinct a.id authorityId, d.id, d.zhanghao, c. NAME roleName,
        a.add_date, e.user_name addName, d.user_name,c.id roleId FROM lkt_user_authority a LEFT JOIN lkt_user e ON
        e.user_id = a.create_id,
        lkt_authority_mapping b, lkt_user_role c, lkt_user d
        <where>
            <trim prefixOverrides="and">
                <include refid="getAdminListSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="audit_time_sort!=null and audit_time_sort!=''">audit_time ${audit_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countAdminList" parameterType="Map" resultType="int">
        select count(distinct a.id) from lkt_user_authority a LEFT JOIN lkt_user e ON e.user_id = a.create_id,
        lkt_authority_mapping b, lkt_user_role c, lkt_user d
        <where>
            <trim prefixOverrides="and">
                <include refid="getAdminListSQL"/>
            </trim>
        </where>
    </select>

</mapper>