<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.UserBaseMapper">
    <sql id="selectOneSQL">
        <if test="id != null">and a.id = #{id}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="user_id != null">and a.user_id = #{user_id}</if>
        <if test="user_name != null and user_name != ''">and a.user_name = #{user_name}</if>
        <if test="access_id != null and access_id != ''">and a.access_id = #{access_id}</if>
        <if test="access_key != null and access_key != ''">and a.access_key = #{access_key}</if>
        <if test="wx_id != null and wx_id != ''">and a.wx_id = #{wx_id}</if>
        <if test="wx_name != null and wx_name != ''">and a.wx_name = #{wx_name}</if>
        <if test="gzh_id != null and gzh_id != ''">and a.gzh_id = #{gzh_id}</if>
        <if test="zfb_id != null and zfb_id != ''">and a.zfb_id = #{zfb_id}</if>
        <if test="bd_id != null and bd_id != ''">and a.bd_id = #{bd_id}</if>
        <if test="tt_id != null and tt_id != ''">and a.tt_id = #{tt_id}</if>
        <if test="clientid != null and clientid != ''">and a.clientid = #{clientid}</if>
        <if test="sex != null">and a.sex = #{sex}</if>
        <if test="headimgurl != null and headimgurl != ''">and a.headimgurl = #{headimgurl}</if>
        <if test="city != null">and a.city = #{city}</if>
        <if test="score != null">and a.score = #{score}</if>
        <if test="password != null">and a.password = #{password}</if>
        <if test="mobile != null">and a.mobile = #{mobile}</if>
        <if test="zhanghao != null">and a.zhanghao = #{zhanghao}</if>
        <if test="mima != null">and a.mima = #{mima}</if>
        <if test="e_mail != null and e_mail != ''">and a.e_mail = #{e_mail}</if>
        <if test="source != null">and a.source = #{source}</if>
        <if test="login_num != null">and a.login_num = #{login_num}</if>
        <if test="grade != null">and a.grade = #{grade}</if>
        <if test="grade_end != null">and a.grade_end = #{grade_end}</if>
        <if test="access_token != null">and a.access_token = #{access_token}</if>
        <if test="user_from_id != null">and a.user_from_id = #{user_from_id}</if>
        <if test="cpc != null">and a.cpc = #{cpc}</if>
        <if test="country_num != null">and a.country_num = #{country_num}</if>
    </sql>
    <select id="selectOne" parameterType="User" resultType="User">
        select a.*,b.id mchId from lkt_user a left join lkt_mch b on a.user_id=b.user_id and b.recovery=0
        <where>
            <trim prefixOverrides="and">
                <include refid="selectOneSQL"/>
            </trim>
        </where>
    </select>

    <sql id="Base_Column_List">
        id
        , store_id, user_id, user_name, access_id, access_key, wx_id, wx_name, gzh_id,cpc,country_num,
        zfb_id, bd_id, tt_id, clientid, sex, headimgurl, province, city, county, detailed_address,
        money, score, lock_score, Register_data, e_mail, real_name, mobile, birthday,
        wechat_id, address, Bank_name, Cardholder, Bank_card_number, share_num, Referee,
        access_token, consumer_money, img_token, zhanghao, `source`, login_num, verification_time,
        parameter, is_lock, last_time, grade, tui_id, grade_add, grade_m, grade_end, is_out,
        is_box,cpc,country_num,preferred_currency,
        CASE source WHEN 1 THEN '小程序' WHEN 2 THEN 'H5移动端' WHEN 3 THEN '支付宝小程序' WHEN 4 THEN '头条小程序' WHEN 5 THEN '百度小程序' WHEN 6 THEN 'PC端' WHEN 11 THEN 'APP端' ELSE '未知' END as sourceName
    </sql>

    <sql id="selectDynamicSQL">
        <if test="store_id != null and store_id != ''">and a.store_id = #{store_id}</if>
        <if test="key != null and key != '' and vague==1">and (a.e_mail like concat('%',#{key},'%') or a.user_name like concat('%',#{key},'%') or a.mobile like concat('%',#{key},'%') or a.user_id like concat('%',#{key},'%'))</if>
        <if test="key != null and key != '' and vague!=1">and a.user_id =#{key}</if>
        <if test="user_id != null and user_id != ''">and a.user_id =#{user_id}</if>
        <if test="zhanghao != null and zhanghao != ''">and a.zhanghao = #{zhanghao}</if>
        <if test="userName != null and userName != ''">and a.user_name like concat('%',#{userName},'%')</if>
        <if test="mobile != null and mobile != ''">and a.mobile = #{mobile}</if>
        <if test="tel != null and tel != ''">and a.mobile like concat('%',#{tel},'%')</if>
        <if test="e_mail != null and e_mail != ''">and a.e_mail = #{e_mail}</if>
        <if test="grade != null">and a.grade = #{grade}</if>
        <if test="is_out != null and is_out != ''">and a.is_out = #{is_out}</if>
        <if test="source != null and source != ''">and a.source = #{source}</if>
        <if test="user_name1 != null and user_name1 != ''">and ( a.user_name like concat('%',#{user_name1},'%') or
            a.user_id like concat('%',#{user_name1},'%') or a.mobile like concat('%',#{user_name1},'%'))
        </if>
        <if test="cpc != null and cpc != ''">and a.cpc = #{cpc}</if>
        <if test="sourceList != null">
            <foreach collection="sourceList" item="source" separator="," open="and a.source in(" close=")">
                #{source,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="notIdList != null">
            <foreach collection="notIdList" item="id" separator="," open="and a.id not in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">and a.Register_data <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and a.Register_data <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="userReports != null and userReports != ''">and a.source in (1,2,3,4,5,6,7)</if>
        <if test="isStore != null and isStore != ''"> and user_id not in (select main_id from lkt_user_authority where type=1)</if>
        <if test="cpc != null and cpc != ''">and a.cpc = #{cpc}</if>
        <if test="country_num != null and country_num != ''">and a.country_num = #{country_num}</if>
    </sql>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select
        <include refid="Base_Column_List"/>
        from lkt_user a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_user a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>

    <sql id="selectMemberDynamicSQL">
        AND grade_end is NOT NULL
        and store_id = #{storeId}
        <if test="userId != null">and user_id = #{userId}</if>
        <if test="phone != null">and mobile = #{phone}</if>
        <if test="condition != null and condition != ''">and (user_id like concat('%',#{condition},'%') OR mobile like concat('%',#{condition},'%'))</if>
        <if test="isOver != null">and is_out = #{isOver}</if>
        <if test="name != null">and user_name like concat('%',#{name},'%')</if>
    </sql>

    <select id="getMember" parameterType="Map" resultType="Map">
        select
        id,store_id,user_id,user_name,headimgurl,Register_data,mobile,birthday,zhanghao,source,grade,tui_id,grade_add,grade_m,grade_end,is_out,is_box,cpc
        from lkt_user
        <where>
            <trim prefixOverrides="and">
                <include refid="selectMemberDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="grade_add_sort!=null and grade_add_sort!=''">grade_add ${grade_add_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countMember" parameterType="Map" resultType="Integer">
        select COUNT(1) from lkt_user
        <where>
            <trim prefixOverrides="and">
                <include refid="selectMemberDynamicSQL"/>
            </trim>
        </where>
    </select>

    <sql id="selectUser">
        and store_id = #{storeId}
        and grade = 0
        <if test="userId != null">and user_id = #{userId}</if>
        <if test="phone != null">and mobile = #{phone}</if>
        <if test="userName != null">and user_name like concat('%',#{userName},'%')</if>
        <if test="e_mail != null">and e_mail = #{e_mail}</if>
    </sql>

    <select id="getUser" parameterType="Map" resultType="Map">
        SELECT id,user_id,user_name,mobile,cpc FROM `lkt_user`
        <where>
            <trim prefixOverrides="and">
                <include refid="selectUser"/>
            </trim>
        </where>
        order by Register_data DESC
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countUser" parameterType="Map" resultType="Integer">
        select COUNT(1) from lkt_user
        <where>
            <trim prefixOverrides="and">
                <include refid="selectUser"/>
            </trim>
        </where>
    </select>

    <select id="getUserList" parameterType="Map" resultType="Map">
        select id,user_id,user_name,Register_data from lkt_user a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
                <if test="user_roleId != null and user_roleId != ''">and NOT EXISTS(select x.id from lkt_user_authority x where x.main_id=user_id and type=1)</if>
                <if test="not_mch != null and not_mch != ''">and NOT EXISTS(select x.id from lkt_mch x where x.user_id=a.user_id and x.recovery=0 and x.review_status=1)</if>
            </trim>
        </where>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countUserList" parameterType="Map" resultType="int">
        select count(1) from lkt_user a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
                <if test="user_roleId != null and user_roleId != ''">and NOT EXISTS(select x.id from lkt_user_authority x where x.main_id=user_id and type=1)</if>
                <if test="not_mch != null and not_mch != ''">and NOT EXISTS(select x.id from lkt_mch x where x.user_id=a.user_id and x.recovery=0 and x.review_status=1)</if>
            </trim>
        </where>

    </select>

    <sql id="sumMchTurnoverReportSQL">
        b.recycle = 0
        <if test="startDate!=null">and a.Register_data <![CDATA[  >  ]]> #{startDate}</if>
        <if test="startEnd!=null">and a.Register_data <![CDATA[  <  ]]> #{startEnd}</if>
        <if test="mchName!=null">and b.name like concat('%',#{mchName},'%')</if>
        <if test="addTimeStartBetween!=null and addTimeEndBetween">and a.Register_data between #{addTimeStartBetween}
            and
            #{addTimeEndBetween}
        </if>
    </sql>
    <select id="sumMchTurnoverReport" parameterType="Map" resultType="Map">
        SELECT
        a.total,
        a.name,
        a.mchId,
        a.store_id
        FROM
        (
        SELECT
        count( a.id ) over(PARTITION BY a.store_id) AS total,
        b.name,
        b.id mchId,
        a.store_id,
        ROW_NUMBER() over(PARTITION BY a.store_id) AS top
        FROM
        lkt_user AS a
        LEFT JOIN lkt_customer AS b ON a.store_id = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="sumMchTurnoverReportSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="total_sort!=null and total_sort!=''">total ${total_sort},</if>
        </trim>
        ) AS a
        WHERE a.top = 1
        <if test="startPage != null and pageEnd != ''">limit #{startPage},#{pageEnd}</if>
    </select>
    <select id="countMchTurnoverReport" parameterType="Map" resultType="int">
        select count(distinct a.store_id) as total from lkt_user as a left join lkt_customer as b on a.store_id =
        b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="sumMchTurnoverReportSQL"/>
            </trim>
        </where>
    </select>

    <select id="selectUserConsumptionReport" parameterType="Map" resultType="Map">
        SELECT
        a.id,
        a.user_id,
        a.user_name,
        a.source,
        a.orderNum,
        a.orderAmt,
        a.sourceName,
        a.yx_num,
        a.yx_price,
        a.reback_num,
        a.reback_amt
        FROM
        (
        SELECT
        a.id, a.user_id,CAST(a.user_name AS char) user_name, a.source ,
        ROW_NUMBER() over(partition by a.user_id) AS top,
        count(1) over(partition by a.user_id) AS orderNum, sum(b.z_price) over(partition by a.user_id) AS orderAmt ,
        #来源
        ( SELECT x.ctext FROM lkt_data_dictionary_list x WHERE x.sid = 5 AND x.`value` = a.source AND x.recycle = 0 ) AS
        sourceName ,
        #有效订单数量
        ( SELECT count(1) AS yx_num FROM lkt_order x WHERE x.user_id = a.user_id AND x.`status` not in (0,7) ) AS yx_num
        ,
        #有效订单金额
        ( SELECT if(sum(x.z_price) IS NULL, 0, sum(x.z_price)) AS orderAmt FROM lkt_order x WHERE x.user_id = a.user_id
        AND x.`status` not in (0,7) ) AS yx_price ,
        #退款订单数量
        ( SELECT count(1) AS reback_num FROM lkt_return_order x WHERE x.store_id = a.store_id AND x.user_id = a.user_id
        AND x.re_type != 3 AND x.r_type IN (4, 9) ) AS reback_num ,
        #退款订单金额
        ( SELECT if(sum(x.real_money) IS NULL, 0, sum(x.real_money)) AS rebackAmt FROM lkt_return_order x WHERE x.store_id =
        a.store_id AND x.user_id = a.user_id AND x.re_type != 3 AND x.r_type IN (4, 9) ) AS reback_amt
        FROM lkt_user a, lkt_order b
        WHERE a.store_id = #{store_id}
        AND a.user_id = b.user_id
        and b.status in (1,2,5)
        <if test="user_id != null and user_id != ''">and a.user_id = #{user_id}</if>
        <if test="startDate != null and startDate != ''">and a.Register_data <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and a.Register_data <![CDATA[  <=  ]]> #{endDate}</if>
        order by orderAmt
        ) AS a
        WHERE a.top &lt; 2
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countUserConsumptionReport" parameterType="Map" resultType="int">
        SELECT count(distinct a.user_id)
        FROM lkt_user a, lkt_order b
        WHERE a.store_id = #{store_id}
        AND a.user_id = b.user_id
        and b.status in (1,2,5)
        <if test="user_id != null and user_id != ''">and a.user_id = #{user_id}</if>
        <if test="startDate != null and startDate != ''">and Register_data <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and Register_data <![CDATA[  <=  ]]> #{endDate}</if>
    </select>

    <update id="updateUserInfoById" parameterType="User">
        update lkt_user
        <set>
            <trim suffixOverrides=",">
                <if test="zhanghao != null and zhanghao != ''">zhanghao = #{zhanghao},</if>
                <if test="mima != null and mima != ''">mima = #{mima},</if>
                <if test="user_name != null and user_name != ''">user_name = #{user_name},</if>
                <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
                <if test="birthday != null">birthday = #{birthday},</if>
                <if test="password != null and password != ''">`password` = #{password},</if>
                <if test="headimgurl != null and headimgurl != ''">headimgurl = #{headimgurl},</if>
                <if test="login_num != null and login_num != ''">login_num = #{login_num},</if>
                <if test="access_id != null and access_id != ''">access_id = #{access_id},</if>
                <if test="referee != null and referee != ''">Referee = #{referee},</if>
                <if test="sex != null and sex != ''">sex = #{sex},</if>
                <if test="cpc != null and cpc != ''">cpc = #{cpc},</if>
                <if test="country_num != null and country_num != ''">country_num = #{country_num},</if>
            </trim>
        </set>
        <where>
            <choose>
                <when test="user_id!=null and user_id!=''">
                    user_id = #{user_id}
                </when>
                <otherwise>
                    id = #{id}
                </otherwise>
            </choose>
        </where>
    </update>

    <update id="updateUserAccessId" parameterType="Map">
        update lkt_user
        <set>
            <trim suffixOverrides=",">
                <if test="token != null and token != ''">access_id = #{token},</if>
                <if test="language != null and language != ''">lang = #{language},</if>
            </trim>
        </set>
        <where>
            store_id = #{store_id}
            and access_id = #{access_id}
        </where>
    </update>

    <select id="getNotCreatedMchUser" resultType="Map">
        SELECT
        a.user_id,
        a.user_name
        FROM
        lkt_user a
        WHERE
        a.store_id = #{storeId}
        AND
        a.user_id NOT IN (SELECT m.user_id FROM lkt_mch m WHERE m.store_id = #{storeId})
        <if test="queryUser != null and queryUser != ''">
            AND(a.user_id like concat('%',#{queryUser},'%')
            or a.user_name like concat('%',#{queryUser},'%')
            or a.mobile like concat('%',#{queryUser},'%'))
        </if>
        <trim prefix="order by" suffixOverrides=",">
            <if test="Register_data_sort!=null and Register_data_sort!=''">Register_data ${Register_data_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="NotCreatedMchUser" resultType="int">
        SELECT
        count(a.id)
        FROM
        lkt_user a
        WHERE
        a.store_id = #{storeId}
        AND
        a.user_id NOT IN (SELECT m.user_id FROM lkt_mch m WHERE m.store_id = #{storeId})
        <if test="queryUser != null and queryUser != ''">
            AND(a.user_id like concat('%',#{queryUser},'%')
            or a.user_name like concat('%',#{queryUser},'%')
            or a.mobile like concat('%',#{queryUser},'%'))
        </if>
    </select>
    <select id="getActiveCountByHour" resultType="map">
        SELECT ANY_VALUE(DATE_FORMAT(time, '%H:00')) AS hour, COUNT(*) AS num
        FROM
            (
                SELECT
                    DATE_FORMAT(
                            concat( date( last_time ), ' ', IF((floor(MINUTE(last_time)/30))>=1 ,HOUR(last_time) + 1,HOUR(last_time))),
                            '%Y-%m-%d %H'
                        ) AS time
                FROM lkt_user
                WHERE DATE_FORMAT( last_time, '%Y-%m-%d' ) = #{date}
                  and store_id=#{storeId}
            ) a
        GROUP BY DATE_FORMAT( time,'%Y-%m-%d %H')
        ORDER BY hour
    </select>

    <select id="getUserAllByUserId" resultType="java.lang.String">
        select user_id from lkt_user where store_id=#{storeId}
        <if test="isAuth != null">
            AND user_id NOT IN ( SELECT main_id FROM lkt_user_authority WHERE type = 1 )
        </if>
    </select>

    <select id="getUserByAccount" resultType="com.laiketui.domain.user.User">
        select * from lkt_user
        where store_id = #{store_id}
        <choose>
            <when test="type == 1">
                and (mobile = #{zhanghao} and cpc = #{cpc})
            </when>
            <when test="type == 2">
                and e_mail = #{zhanghao}
            </when>
            <when test="type == 3">
                and zhanghao = #{zhanghao}
            </when>
        </choose>
        and user_id not in (select main_id from lkt_user_authority where type= 1 ) limit 1
    </select>
</mapper>