<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.UserCollectionModelMapper">
    <sql id="selectDynamicSQL">
        <if test="store_id != null">and c.store_id = #{store_id}</if>
        <if test="collectionMch == null">and a.is_presell = 0</if>
        <if test="type != null">and c.type=#{type}</if>
        <if test="collectionType != null">
            <if test="collectionType == 1">
                and c.mch_id=0
            </if>
            <if test="collectionType == 2">
                and c.mch_id!=0
            </if>
        </if>
        <if test="user_id != null">and c.user_id = #{user_id}</if>
        <if test="mch_id!=null"> AND c.mch_id = #{mch_id} </if>
        <if test="startDate !=null "> AND c.add_time <![CDATA[  >=  ]]> #{startDate} </if>
        <if test="endDate !=null "> AND c.add_time <![CDATA[  <=  ]]> #{endDate} </if>
        <if test="startDate_lt !=null "> AND c.add_time <![CDATA[  <  ]]> #{startDate_lt} </if>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map" flushCache="false">
        select m.id shopid,c.id cid,c.p_id,c.user_id,a.product_title,a.id goodsId,a.status,m.is_open,m.logo,m.name as
        mch_name,m.collection_num from lkt_user_collection as c left join lkt_product_list as a on c.p_id = a.id left
        join lkt_mch as m on
        <choose>
            <when test="collectionType == 1">a.mch_id = m.id</when>
            <otherwise>c.mch_id = m.id</otherwise>
        </choose>
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_time_sort!=null and add_time_sort!=''">c.add_time ${add_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_user_collection as c left join lkt_product_list as
        a on c.p_id = a.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>

    <select id="selectMchDynamic" parameterType="Map" resultType="Map" flushCache="false">
        select m.id shopid,c.id cid,c.p_id,c.user_id,m.is_open,m.logo,m.name as mch_name,m.collection_num
        from lkt_user_collection as c
        left join lkt_mch as m on c.mch_id = m.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_time_sort!=null and add_time_sort!=''">c.add_time ${add_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="getUserGoodsCollection" resultType="java.util.Map">
        SELECT c.id, c.p_id, a.product_title, a.mch_id,a.status,a.num,a.s_type,a.recycle,a.imgurl FROM lkt_user_collection AS c
             LEFT JOIN lkt_product_list AS a ON c.p_id = a.id
             WHERE a.store_id = #{store_id} AND c.type = 1 AND c.user_id = #{user_id}
        <if test="commodity_type != null and commodity_type.toString()!= ''"> and a.commodity_type=#{commodity_type} </if>
        <if test="mchNameOrProName != null and mchNameOrProName.toString()!= ''"> and a.product_title like concat('%',#{mchNameOrProName},'%')</if>
             ORDER BY c.add_time DESC,a.recycle DESC
    </select>
    <select id="getMchGoodsCollection" resultType="java.util.Map">
        SELECT a.id AS shopid, c.id, c.mch_id, a.head_img AS img, a.NAME AS mch_name, a.is_open, a.collection_num
        FROM lkt_user_collection AS c
                 inner JOIN lkt_mch AS a ON c.mch_id = a.id
        WHERE a.store_id = #{store_id}
          AND c.type = 1
          AND c.user_id = #{user_id}
        <if test="mchNameOrProName != null and mchNameOrProName.toString()!= ''"> and a.name like concat('%',#{mchNameOrProName},'%')</if>
        ORDER BY c.add_time DESC
    </select>
    <select id="getAuctionGoodsCollection" resultType="java.util.Map">
        SELECT
        c.id,
        c.p_id,
        p.product_title,
        p.mch_id,
        a.recovery as recycle,
        p.imgurl,
        a.goods_price as price
        FROM
        lkt_user_collection AS c
        LEFT JOIN lkt_auction_product AS a ON c.p_id = a.id
        LEFT JOIN lkt_product_list p on a.goods_id = p.id
        WHERE
            p.store_id = #{store_id} AND c.type = 3 AND c.user_id = #{user_id}
        <if test="mchNameOrProName != null and mchNameOrProName.toString()!= ''"> and p.product_title like concat('%',#{mchNameOrProName},'%')</if>
    </select>
    <select id="getAuctionMchCollection" resultType="java.util.Map">
        SELECT a.id AS shopid, c.id, c.mch_id, a.head_img AS img, a.name AS mch_name, a.is_open
        FROM lkt_user_collection AS c
        inner JOIN lkt_mch AS a ON c.mch_id = a.id
        WHERE a.store_id = #{store_id}
        AND c.type = 3
        AND c.user_id = #{user_id}
        AND c.p_id is NULL
        <if test="mchNameOrProName != null and mchNameOrProName.toString()!= ''"> and a.name like concat('%',#{mchNameOrProName},'%')</if>
        ORDER BY c.add_time DESC
    </select>
</mapper>