body{
    background-color: #F4F5F6;
}
.xian{
    width: 72rpx;
    height: 4rpx;
    background: #fff;
    border-radius: 4rpx;
    margin-top: 8rpx;
}
/deep/.list_right_top_btn{
    height: 56rpx !important;
    min-width: 156rpx !important;
}
/deep/.list_right_bottom >uni-view{
    margin-top:32rpx !important;
}
/deep/.list_right_bottom >uni-view > uni-view{
    font-size: 32rpx!important;
    color: #333333 !important;
}
/deep/.list_right_bottom >uni-view > uni-text{
    font-size: 28rpx!important;
    margin-top:16rpx !important;
    color:#999999 !important;
}
.new_class{
    align-items: center;
}
.container{
     background-color: #F4F5F6;
    .fenlei{
        position: fixed;
        z-index: 999;
        color: #999999;
        background-color: #FFFFFF;
        border-radius: 0 0 24rpx 24rpx;
        padding: 30rpx 0;
        width: 100%;
        overflow-x: auto;
        .fl_scroll{
            border-right: 1px solid #A1CECE;
            .fl_view{
                display: flex;
                >view{
                    min-width: 100rpx;
                    height: 60rpx;
                    padding: 0 30rpx;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                }
            }
        }
    }
    .content{
        padding: 32rpx;
        box-sizing: border-box;
        .list{
            display: flex;
            //height: 168rpx;
            background: #FFFFFF;
            //box-shadow: 0rpx 4rpx 15rpx 0rpx #E6E6E6;
            border-radius: 6rpx;
            padding: 24rpx;
            box-sizing: border-box;
            margin-bottom: 24rpx;
            border-radius: 24rpx;
            &_left{
                position: relative;
                width: 80rpx;
                height: 80rpx;
                margin-right: 25rpx;
                
                image{
                    width: 100%;
                    height: 100%;
                    border-radius: 12rpx;
                }
                
                view{
                    .center();
                    .size(24rpx);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                    background-color: rgba(0,0,0,0.5);
                    color: #FFFFFF;
                }
            }
            
            &_right{
                flex: 1;
                display: flex;
                flex-direction: column;
                
                &_top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    &_title{
                        .size(30rpx);
                        color: #000000;
                    }
                    
                    &_btn{
                        .center();
                        .size(24rpx);
                        //width: 90rpx;
                        height: 50rpx;
                       // border: 1px solid @priceColor;
                        border-radius: 30rpx;
                       // color: @priceColor;
                        box-sizing: border-box;
                        background-color: #fa5151;
                        color: #ffffff;
                        padding: 0 24rpx;
                    }
                }
                
                &_bottom{
                    display: flex;
                    justify-content: space-between;
                    //padding-right: 30rpx;
                    
                    >view{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 32rpx;
                        
                        // view{
                        //     font-size: 32rpx;
                        //     line-height: 22rpx;
                        //    // color: @tabColor;
                        // }
                        
                        // text{
                        //     .size(28rpx);
                        //     color: #888888;
                        //     margin-top: 16rpx;
                        // }
                    }
                    
                }
                
            }
            
        }
        
    }
    
}
