.container {
    min-height: 100vh;
    background-color: #F4F5F6;
    .content {
        width: 100%;
        padding: 0 32rpx;
        border-bottom-left-radius: 24rpx;
        border-bottom-right-radius:24rpx;
        box-sizing: border-box;
        background-color: #ffffff;
        .header_type {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 32rpx 0 8rpx 0;
            .header_type_left {
                width: 160rpx;
                font-size: 32rpx;
                color: #333333;
                text-align: left;
            }
            .header_type_right {
                flex: 1;
                margin-left: 32rpx;
                display: flex;
                align-items: center;
                p {
                    display: flex;
                    align-items: center;
                    &:first-child {
                        margin-right: 64rpx;
                    }
                    span {
                        font-size: 32rpx;
                        color: #333333;
                        margin-left: 16rpx;
                    }
                    image {
                        width: 32rpx;
                        height: 32rpx;
                    }
                }
            }
        }
        
        .header_info {
            width: 100%;
            background-color: #ffffff;
            .enterprise,.personal {
                margin-top: 24rpx;
                display: flex;
                flex-direction: column;
                padding-bottom: 32rpx;
                li {
                    display: flex;
                    align-items: center;
                    &:not(:first-child) {
                        margin-top: 24rpx;
                    }
                   .header_info_left {
                    display: inline-block;
                       width: 160rpx;
                       font-size: 32rpx;
                       color: #333333;
                    //    display: flex;
                    //    align-items: center;
                    //    justify-content: flex-start;
                    display: -webkit-inline-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                       span {
                           color: #FA5151;
                           margin-right: 8rpx;
                       }
                   }
                   .header_info_right {
                       flex: 1;
                       margin-left: 32rpx;
                       display: flex;
                       align-items: center;
                       justify-content: flex-end;
                       input {
                           width: 100%;
                           height: 76rpx;
                           border-radius: 16rpx;
                           border: 1rpx solid rgba(0,0,0,0.1);
                           padding-left: 20rpx;
                           box-sizing: border-box;
                           font-size: 32rpx;
                           color: #333333;
                       }
                   }
                }
                
            }
        }
    }
    .btn {
        width: 100%;
        padding: 16rpx 32rpx;
        background-color: #ffffff;
        position: fixed;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        border-bottom-left-radius: 24rpx;
        border-bottom-right-radius: 24rpx;
        /* #ifdef MP-WEIXIN */
        padding-bottom: 16rpx;
        padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
        padding-bottom: env(safe-area-inset-bottom); 
        /* #endif */
        p {
            width: 100%;
            height: 92rpx;
            background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
            border-radius: 52rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
        }
    }
}
