.home_navigation {
    border-bottom: none;
    width: 750rpx;
    display: flex;
    background-color: #fbf4d6;
    position: sticky;
    // box-sizing: border-box;
    border-radius: 0 0 24rpx 24rpx;
    justify-content: flex-start;
    // background-color: transparent;
    /* #ifdef MP-WEIXIN */
    // position: fixed;
    top: 0rpx;
    height: 176rpx;
    padding-top: 88rpx;
    // top: 87rpx;
    /* #endif */
    /* #ifndef MP-WEIXIN */
    height: 88rpx;
    top: 0;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
    /* #endif */
    left: 0;
    z-index: 99;
    .home_input input{
        // width: 628rpx;
        height: 64rpx;
        border-radius: 32rpx;
        border: 1rpx solid  rgba(151,151,151,0.2);
        padding-left: 70rpx;
        /* #ifdef MP-WEIXIN */
        width: 460rpx;
        /* #endif */
        /* #ifdef H5 */
        width: 638rpx;
        /* #endif */
        // padding-right: 54rpx;
        background-color: #ffffff 60%;
        margin-left: 32rpx;
    }

    .searchImg{
        width: 34rpx;
        height: 34rpx;
        left: 54rpx;
        top: 50%;
        transform: translateY(-50%);
    }

}
.skeleton{
    margin-top: 16rpx;
}
.guize_bg {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 100rpx;
    height: 100%;
    margin-left: auto;
    padding-right: 30rpx;
}

.wen_img {
    width: 32rpx;
    height: 44rpx;
    margin-right: 6rpx;
}

.guize {
    font-size: 28rpx;
    color: #FFC300;
}

.banner {
    height: 320rpx;
    width: 100%;
    vertical-align: top;
}

.div1 {
    width: 686rpx;
    margin-top: 32rpx;
    margin-left: 32rpx;
    border-radius: 24rpx;
    height: 108rpx;
    background-color: #fff;
    font-size: 24rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div1_left {
    padding: 32rpx 30rpx;
    padding-right: 21rpx;
    font-size: 32rpx;
    font-weight: normal;
    color: #FFC300;
}

.div1_left img {
    height: 27rpx;
    width: 27rpx;
    position: relative;
    top: 2px;
}

.red {
    color: @priceColor;
    font-size: 28rpx;
    padding-left: 4px;
    font-weight: bold;
}

.div1_right {
    width: 108rpx;
    height: 44rpx;
    border-radius: 22rpx;
    font-size: 24rpx;
    color: @btnBackground;
    border: 1px solid;
    border-color: linear-gradient(to right, @btnBackground, @btnBackground);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 {
    width: 100%;
    padding: 0 20rpx 20rpx 20rpx;
    display: flex;
    flex-wrap: wrap;
}

.div2 li {
    /* margin:0 10rpx; */
    margin-top: 20rpx;
    /* background-color: #fff; */
    width: 50%;
}

.pro_all {
    margin: 0 10rpx;
    background-color: #fff;
    border-radius: 16rpx;
    overflow: hidden;
    height: 100%;
}

.pro_img {
    width: 100%;
    height: 336rpx;
    vertical-align: top;
    border-radius: 16rpx;
}

.pro_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 28rpx;
    color: #020202;
    margin: 14rpx 16rpx 26rpx;
    max-height: 70rpx;
}

.pro_div3 {
    padding: 0 20rpx;
    margin-top: -16rpx;
}

.pro_price {
    font-size: 28rpx;
    color: #FFC300;
    font-weight: bold;
}

.pro_price img {
    width: 28rpx;
    height: 28rpx;
}

.pro_two {
    color: #999999;
    font-size: 22rpx;
    display: flex;
    justify-content: space-between;
}

.pro_two span {
    padding-top: 6rpx;
    padding-bottom: 16rpx;
}

.no-bargain {
    // height: 100%;
    pointer-events: none;
    width: 100%;
    text-align: center;
    // background-color: #fbf4d6;
    // background-color: #fff;
    // padding-top: 199rpx;
    padding:24rpx 32rpx 68rpx 32rpx;
    .noFindDiv1{
        padding-top: 200rpx;
        width: 686rpx;
        height: 880rpx;
        background-color: #fff;
        border-radius: 24rpx;
        img{
            width: 100%;
            height: 356rpx;
            object-fit: cover;
            margin-bottom: 0;
        }
    }
}

.no-bargain p {
    height: 29rpx;
    line-height: 36rpx;
    color: #666666;
    font-size: 30rpx;
    font-weight: 500;
}

.no-bargain img {
    display: block;
    width: 750rpx;
        // height: 394rpx;
    margin: auto;
    margin-bottom: 45rpx;
}

.head {
    height: 88rpx;
    padding: 0 30rpx;
        border-bottom: 1rpx solid #eee;
    font-size: 40rpx;
    color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_img {
    width: 24rpx;
    height: 36rpx;
}

.heads-centent {
    width: 630rpx;
    text-align: center;
    font-size: 32rpx;
    color: #020202;
}

/* 优化 */
.yh-integral {
    height: 100%;
}

.yh-loads {
    position: relative;
    // height: 100vh;
    overflow-x: hidden;
    background-color: #fbf4d6;
}
.yh-loads2 {
    position: relative;
    overflow-x: hidden;
    background-color: #fbf4d6;
}

.yh-price {
    text-decoration: line-through;
}
.pro_all .imageBox{
    display: flex;
}
.pro_all .imageBox>image{
    
    background:rgba(248,248,248,1);
    //border-radius:10rpx;
}
.rule{
    position: absolute;
    width: 180rpx;
    height: 56rpx;
    border-radius: 52rpx;
    left: 40rpx;
    top: 188rpx;
    z-index: 88;
    background-color:#ffc300;
    display: flex;
    font-size: 24rpx;
    align-items: center;
    color: #fff;
}
.rule_img{
    width: 24rpx;
    margin-left: 26rpx;
    margin-right: 10rpx;
    height: 24rpx;
}
.pro_all .imageBox view{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 337rpx;
    color: #FFFFFF;
    height: 88rpx;
    line-height: 88rpx;
    text-align: center;
    background: linear-gradient(45deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
    border-radius: 0px 0px 16rpx 16rpx;
}

.fuhao {
    font-weight: normal;
    font-size: 32rpx;
    font-family: DIN-Bold, DIN-Bold;
}
