.box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.xieyi{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    >view{
        width: 640rpx;
        min-height: 100rpx;
        max-height: 486rpx;
        background: #FFFFFF;
        border-radius: 24rpx;
        .xieyi_btm{
            height: 108rpx;
            color: @D73B48;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 0.5px solid rgba(0,0,0,.1);
            font-weight: bold;
            font-size: 32rpx;
        }
        .xieyi_title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32rpx;
            
            font-weight: 500;
            color: #333333;
            line-height: 44rpx;
            margin-top: 64rpx;
            margin-bottom: 32rpx;
            font-weight: bold;
            font-size: 32rpx;
        }
        .xieyi_text{
            width: 100%;
            max-height: 236rpx;
            overflow-y: scroll;
            padding: 0 32rpx;
            box-sizing: border-box;
        }
    }
}
.dp_con1_box{
    display: flex;
    .new{
        width: 64rpx;
        margin-left: 16rpx;
        height: 40rpx;
        background: #07C160;
        border-radius: 8rpx;
        font-size: 24rpx;
        line-height: 40rpx;
        text-align: center;
        
        font-weight: 400;
        color: #FFFFFF;
    }
}
.find_img{

    /* #ifndef MP-WEIXIN */
    width: 100% !important;
    height: 100% !important;
    /* #endif */
    /* #ifdef MP-WEIXIN */
    width: 750rpx !important;
    height: 460rpx !important;
    /* #endif */
}
.find_text{
    margin-top:0 !important;
    color: #333333 !important;
    font-size: 14px !important;
}
.header {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 30rpx;
}

//预售标签
.preSale_tag{
    padding: 5rpx;
    background: #014D4D;
    border-radius: 4rpx;
    font-size: 20rpx;
    line-height: 26rpx;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 10rpx;
    text-align: center;
    margin-bottom: 3rpx;
}

.header view {
    font-size: 32rpx;
}

.header img {
    width: 24rpx;
    height: 36rpx;
}

.header p {
    font-size: 40rpx;
    color: #020202;
}

.header p:last-child {
    font-size: 28rpx;
    font-weight: 100;
}

.manege {
    width: 120rpx;
    height: 70rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30rpx;
    color: #020202;
    margin-left: auto;
}

ul,
.del {
    display: flex;
    justify-content: space-between;

}

.del,
.del_sele {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.del {
    // height: 120rpx;
    
    /* #ifdef MP-WEIXIN */
    height: 164rpx;
    /* #endif */
    /* #ifdef H5 */
    height: 98rpx;
    /* #endif */
    /* #ifdef APP-PLUS */
    height: 105rpx;
    /* #endif */
    width: 100%;
    font-size: 30rpx;
    color: #242424;
    border-top: 1px solid #eee;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 20;
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #fff;
    padding-left: 30rpx;
}

.del_div {
    .solidBtn();
    width: 176rpx;
    // height: 72%;
    min-height: 70rpx;
    line-height: 70rpx;
    text-align: center;
    margin-right: 32rpx;
    border-radius: 36rpx;
}

.del span {
    margin-left: 16rpx;
    font-size: 28rpx;
    color: #999999;
    font-weight: 400;
}

.del > p {
    color: #e83737;
}

ul {
    padding: 32rpx 32rpx 120rpx 32rpx;
    // padding: ;
    flex-flow: row wrap;
    font-size: 30rpx;
}

li {
    // width: 100%;
    border-radius: 10rpx;
    margin-bottom: 2rpx;
    background-color: #fff;
    // padding-bottom: 20rpx;
}

.list_li {
    display: flex;
    margin-bottom: 20rpx;
    border-radius: 0rpx;
    border-bottom: 1rpx solid rgb(238, 238, 238);
    flex-direction: column;
    width: 334rpx;
    // height: 504rpx;
    border-radius: 16rpx;
    position: relative;
}
.list_li_two {
    display: flex;
    margin-bottom: 20rpx;
    border-radius: 0rpx;
    border-bottom: 1rpx solid rgb(238, 238, 238);
    flex-direction: column;
    width: 334rpx;
    // height: 506rpx;
    border-radius: 16px;
    position: relative;
}
.list_li_two::after{
    content: ' ';
    position: absolute;
    top: 0;
    z-index: 18;
    left: 0;
    bottom: 0;
    border-radius: 16rpx;
    right: 0;
    background: rgba(255,255,255,0.6);
}
.list_li_three{
    display: flex;
    // width: 100%;
    height: 234rpx;
    margin-bottom: 16rpx;
    border-radius: 24rpx;
    border-bottom: 1rpx solid rgb(238, 238, 238);
}
.list_imgBox {
    position: absolute;
    z-index: 19;
    // top: 24rpx;
    // left: 24rpx;
    padding-top: 32rpx;
    padding-left: 32rpx;
}

.list_img,
.list_img1 {
    width: 84rpx;
    height: 84rpx;
}
.mask_addInvoice {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .mask_invoice_content {
         width: 640rpx;
         background-color: #ffffff;
         display: flex;
         flex-direction: column;
         align-items: center;
         border-radius: 24rpx;
         .invoice_content_top {
             flex: 1;
             width: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             p {
                 &:first-child {
                     font-size: 32rpx;
                     //font-weight: 500;
                     color: #333333;
                     margin-bottom: 16rpx;
                 }
                 &:last-child {
                     font-size: 32rpx;
                 }
             }
             .remarksTitle{
                 padding-top: 64rpx;
                 margin-bottom: 32rpx !important;
             }
             .remarksContent{
                 margin-top: 64rpx;
                 margin-bottom:66rpx !important;
             }
         }
         .invoice_content_bottom {
             width: 100%;
             height: 108rpx;
             border-top: 2rpx solid #e5e5e5;
             display: flex;
             justify-content: space-evenly;
             align-items: center;
             p {
                 &:first-child {
                     color: #333333;
                    //  border-right: 2rpx solid #e5e5e5;
                 }
                 &:last-child {
                     color: #D73B48;
                 }
             }
             p {
                 width: 100%;
                 height: 100%;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 font-size: 32rpx;
                 //font-weight: 500;
             }
         }
     }
     .mask_remarks_content{
         padding:0 48rpx;
         box-sizing: border-box;
     }
}
li .logoBox{
    width: 334rpx;
    height: 334rpx;
    vertical-align: middle;
    float: left;
    position: relative;
    
    >img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    
    >div{
        .center();
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        // width: 60%;
        // height: 60%;
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 28rpx;
    }
}

.describe {
    color: #333333;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 28rpx;
    padding-left: 16rpx;
    // padding-top: 16rpx;
    padding-right: 16rpx;
    // padding-bottom: 16rpx;
}

.collection_button {
    color: #014343;
    padding: 16rpx 16rpx 16rpx 16rpx;
    font-size: 32rpx;
font-family: DIN-Bold, DIN;
}

.collection_button .span_b1 {
    color: #FA5151;
    font-weight: bold;
    font-size: 34rpx;
}

.collection_button .span_b2 {
    color: @uni-text-color-grey;
    text-decoration: line-through;
    font-size: 24rpx;
    display: inline-block;
    margin-left: 10rpx;
}

.collection_button .vip_price{
    text-decoration: none;
    color: #014343;
}

.collection_button div {
    .outBtn();
    width: 100rpx;
    height: 44rpx;
    font-size: 24rpx;
    font-weight: 500;
    text-align: center;
    line-height: 40rpx;
    border-radius: 22rpx;
    float: right;
}

.collection_button > div > img {
    vertical-align: inherit;
    width: 8rpx;
    height: 14rpx;
}

.left {
    position: relative;
}

.describe i,
.del i {
    width: 30rpx;
    height: 30rpx;
    border: 1rpx solid #999;
    border-radius: 50%;
}

.describe i {
    display: block;
    position: absolute;
    left: 0;
    top: 8rpx;
}

.describe i > img,
.del i > img {
    vertical-align: top;
    width: 28rpx;
    height: 28rpx;
}

.describe i > img {
    display: none;
}

.active {
    opacity: 0.8;
}

.quan_img {
    // vertical-align: middle;
    // margin-right: 10rpx;
    // padding: 10rpx;
    width: 40rpx !important;
    height: 40rpx !important;
}

.none1 {
    text-align: center;
    padding-top: 45%;
}

.none1 img {
    width: 160rpx;
    height: 160rpx;
    display: block;
    margin: 0 auto;
    margin-bottom: 30rpx;
}

.sc_right_X {
    // width: 401rpx;
    float: left;
    font-size: 28rpx;
    // margin-left: 30rpx;
}

.sc_right_Y {
    // width: 476rpx;
    // float: left;
    // margin-left: 30rpx;
}

.dp_css {
    font-size: 24rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    margin-top: 16rpx;
    margin-left: 16rpx;
    padding-bottom: 16rpx;
}

.noFindDiv {
    padding-top: 240rpx !important;
    img {
        width: 240rpx;
        height: 272rpx;
    }
    p{
        margin-top: 28rpx;
        font-size: 28rpx;
    }
}

.nav_twin {
    font-size: 30rpx;
    color: rgba(153, 153, 153, 1);
    width: 50%;
    text-align: center;
    float: left;
    height: 90rpx;
    line-height: 90rpx;
    position: relative;
    font-weight: 400;
}
.sc_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24rpx 0 24rpx 0;
    border-radius: 0px 0px 24rpx 24rpx;
    background: #ffffff;
    border-top: 1px solid #E5E5E5;
    margin: 0 32rpx;
}
.sc_font_one{
    font-size: 24rpx;
}
.sc_font_two{
    color: #FA5151;
    padding: 0 5px
}
.sc_font_three{
    color: #D73B48;
    font-size: 24rpx;
}
.bj_box{
    background-color: #F4F5F6;
}
.twins {
    width: 100%;
    height: 90rpx;
    background: rgba(255, 255, 255, 1);
    padding-bottom: 16rpx;
    border-radius: 0 0 12px 12px;
    // border-radius: 0px 0px 24rpx 24rpx;
    // view{
    //     border-radius: 0px 0px 24rpx 24rpx;
    // }
    // border-top: 1px solid rgba(238, 238, 238, 1);
    // border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.nav_twin_hover {
    font-size: 30rpx;
    font-weight: bold;
    color:#333333;
}

.nav_line {
    position: absolute;
    bottom: 16rpx;
    left: 33%;
    width: 128rpx;
    height: 4rpx;
    background: @btnBackground;
    display: block;
}

.dp_img {
    margin-left: 32rpx;
    margin-top: 32rpx;
    width: 84rpx !important;
    height: 84rpx !important;
    border-radius: 50rpx;
    // float: left;
}

.dp_con {
    flex: 1;
    margin-left: 24rpx;
    margin-right: 32rpx;
    // height: 100%;
    width: 576rpx;
    display: flex;
    flex-direction: column;
    margin-top: 36rpx;
}
.attention_btn{
    box-sizing: border-box;
    border: 2rpx solid #F4F5F6;
    width: 144rpx;
    height: 56rpx;
    line-height: 56rpx;
    font-size: 24rpx;
    text-align: center;
    color: #999999;
    border-radius: 28rpx;
}
.attention_btnl{
    background-color: #FA5151;
    width: 144rpx;
    height: 56rpx;
    line-height: 56rpx;
    font-size: 24rpx;
    text-align: center;
    color: #FFFFFF;
    border-radius: 28rpx;
}
.dp_con1 {
    font-size: 32rpx;
    
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: #333333;
}
.dp_con2_box_num{
    color: #333333;
    font-weight: 500;
    font-family: DIN-Medium, DIN;
    font-size: 28rpx;
}
.dp_con2_box_title{
    color: #999999;
    
    margin-top: 8rpx;
    font-size: 24rpx;
}
.dp_con2 {
    margin-top: 30rpx;
    font-size: 22rpx;
    width: 576rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.dp_con2_box{
    display: flex;
    flex-direction: column;
    width: 184rpx;
    height: 82rpx;
    justify-content: center;
    align-items: center;
}
.dp_right {
    width: 16rpx;
    height: 28rpx;
    float: right;
    margin-top: 30rpx;
}

.status_p {
    position: relative;
    z-index: 9999;
    height: 80rpx;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30rpx;
    font-size: 28rpx;
    color: #020202;
    background: #f8f8f8;
}

.data_h_h {
    position: fixed;
    top: 0;
    width: 100%;
    background: @btnBackground;
}

.navtion {
    z-index: 100;
    width: 100%;
}

.navtion > div {
    height: 88rpx;
}

.bg_F6 {
    background: #f6f6f6;
}

.dowmPro {
    width: 120rpx;
    height: 120rpx;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 26rpx;
    line-height: 120rpx;
    text-align: center;
}

.goods_content_item_icon{
    display: flex;
    margin-right: 24rpx;
    margin: 16rpx 0;
    flex-wrap: wrap;
    padding: 0 16rpx;
    margin-top: 8rpx;
}

.goods_content_item_icon>view{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    padding: 0 6rpx;
    margin-bottom: 10rpx;
    height:30rpx;
    box-sizing: border-box;
    padding: 2rpx 4rpx;
    font-size: 20rpx;
    border:1px solid rgba(255,80,65,1);
    border-radius: 8rpx;
    background-color: #FF5041;
    color: #FFFFFF;
}
.goods_content_item_icon>view:nth-child(3n-1) {
    border:1px solid rgba(255,80,65,1);
    border-radius: 8rpx;
    background-color: #FF5041;
    color: #FFFFFF;
}
.goods_content_item_icon>view:nth-child(3n) {
    color: #FE9331;border-color: #FE9331;
}
