@font-face {
  font-family: "laiketui"; /* Project id 2595504 */
  src: url('./static/iconfont1/iconfont.woff2?t=1766395365902') format('woff2'),
       url('./static/iconfont1/iconfont.woff?t=1766395365902') format('woff'),
       url('./static/iconfont1/iconfont.ttf?t=1766395365902') format('truetype');
}

.laiketui {
  font-family: "laiketui" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.laiketui-zhaoxiangji:before {
  content: "\e663";
}

.laiketui-zuo:before {
  content: "\e622";
}

.laiketui-sousuo:before {
  content: "\e6c4";
}

.laiketui-shoppingcart:before {
  content: "\e881";
}

.laiketui-top:before {
  content: "\e613";
}

.laiketui-heart-fill:before {
  content: "\e81b";
}

.laiketui-huifudetiezi:before {
  content: "\e618";
}

.laiketui-tiezi:before {
  content: "\e62d";
}

.laiketui-fatie:before {
  content: "\e825";
}

.laiketui-tiezi1:before {
  content: "\e696";
}

.laiketui-tiezi2:before {
  content: "\e612";
}

.laiketui-tie:before {
  content: "\e619";
}

.laiketui-tieba:before {
  content: "\e611";
}

.laiketui-icon_tieba:before {
  content: "\e70e";
}

.laiketui-tieba1:before {
  content: "\e850";
}

.laiketui-fenxiang-tieba:before {
  content: "\e629";
}

.laiketui-shequ-2:before {
  content: "\e668";
}

.laiketui-fabfa-weixin:before {
  content: "\e61b";
}

.laiketui-a-fasfa-user-plus:before {
  content: "\e610";
}

.laiketui-fasfa-trashCopy:before {
  content: "\e60f";
}

.laiketui-fa-play:before {
  content: "\e792";
}

.laiketui-fa-edit:before {
  content: "\e60e";
}

.laiketui-yanjing1:before {
  content: "\e6d1";
}

.laiketui-yanjing2:before {
  content: "\e8bf";
}

.laiketui-check:before {
  content: "\e658";
}

.laiketui-fa-file-alternate:before {
  content: "\e60c";
}

.laiketui-dianzan:before {
  content: "\e65e";
}

.laiketui-fasfa-chevron-down:before {
  content: "\e60b";
}

.laiketui-fa-times:before {
  content: "\e6aa";
}

.laiketui-fasfa-plus:before {
  content: "\e609";
}

.laiketui-lianjie:before {
  content: "\e601";
}

.laiketui-shipin:before {
  content: "\e657";
}

.laiketui-icon_shanchu:before {
  content: "\e669";
}

.laiketui-icon_font:before {
  content: "\e633";
}

.laiketui-iconoutdent:before {
  content: "\e6af";
}

.laiketui-icon_date:before {
  content: "\e643";
}

.laiketui-icon-juzhongduiqi:before {
  content: "\e60d";
}

.laiketui-icon-zuoduiqi:before {
  content: "\e620";
}

.laiketui-icon_indent:before {
  content: "\e6b0";
}

.laiketui-icon-zuoyouduiqi:before {
  content: "\e621";
}

.laiketui-icon-zitixieti:before {
  content: "\e6ea";
}

.laiketui-icon-Character-Spacing:before {
  content: "\e6f2";
}

.laiketui-icon-723bianjiqi_duanhouju:before {
  content: "\e6f4";
}

.laiketui-icon-clearedformat:before {
  content: "\e6f5";
}

.laiketui-icon-text_color:before {
  content: "\e6f8";
}

.laiketui-icon-fontbgcolor:before {
  content: "\e6f9";
}

.laiketui-icon-checklist:before {
  content: "\e6fb";
}

.laiketui-icon-youxupailie:before {
  content: "\e6fc";
}

.laiketui-icon-wuxupailie:before {
  content: "\e6fd";
}

.laiketui-icon-fengexian:before {
  content: "\e702";
}

.laiketui-icon-charutupian:before {
  content: "\e703";
}

.laiketui-icon-format-header-1:before {
  content: "\e704";
}

.laiketui-icon-zitixiabiao:before {
  content: "\e705";
}

.laiketui-icon-zitishangbiao:before {
  content: "\e706";
}

.laiketui-icon-direction-rtl:before {
  content: "\e708";
}

.laiketui-icon-fontSize:before {
  content: "\e608";
}

.laiketui-icon-line-height:before {
  content: "\e640";
}

.laiketui-Icon_redo:before {
  content: "\e604";
}

.laiketui-Icon_undo:before {
  content: "\e605";
}

.laiketui-icon-youduiqi:before {
  content: "\e82b";
}

.laiketui-icon-zitijiacu:before {
  content: "\e82c";
}

.laiketui-icon-zitixiahuaxian:before {
  content: "\e82d";
}

.laiketui-icon-722bianjiqi_duanqianju:before {
  content: "\e602";
}

.laiketui-icon-zitishanchuxian:before {
  content: "\e606";
}

.laiketui-fa-th-large:before {
  content: "\ea06";
}

.laiketui-fasfa-pen:before {
  content: "\e60a";
}

.laiketui-camera:before {
  content: "\e684";
}

.laiketui-baseline-close-px:before {
  content: "\e615";
}

.laiketui-fasfa-check-circle:before {
  content: "\e600";
}

.laiketui-arrow-left:before {
  content: "\e726";
}

.laiketui-a-fasfa-info-circle:before {
  content: "\e6a9";
}

.laiketui-chevron-down:before {
  content: "\e9b1";
}

.laiketui-xiaoxi3:before {
  content: "\e896";
}

.laiketui-aixin:before {
  content: "\eca1";
}

.laiketui-Gc_120_face-Share:before {
  content: "\e617";
}

.laiketui-my:before {
  content: "\e624";
}

.laiketui-home1:before {
  content: "\e614";
}

.laiketui-faxian:before {
  content: "\e603";
}

.laiketui-wode:before {
  content: "\e8a0";
}

.laiketui-xiaoxi:before {
  content: "\e607";
}

.laiketui-home:before {
  content: "\e674";
}

.laiketui-jiahaocu:before {
  content: "\e661";
}

.laiketui-a-zu3650:before {
  content: "\e653";
}

.laiketui-a-zu3612:before {
  content: "\e654";
}

.laiketui-a-zu3648:before {
  content: "\e655";
}

.laiketui-a-zu3649:before {
  content: "\e656";
}

.laiketui-yanjing:before {
  content: "\e651";
}

.laiketui-eye-close:before {
  content: "\e652";
}

.laiketui-shangpin:before {
  content: "\e650";
}

.laiketui-shouhou:before {
  content: "\e64d";
}

.laiketui-jiesuan:before {
  content: "\e64e";
}

.laiketui-pingjia:before {
  content: "\e64f";
}

.laiketui-biaojiweiyidu:before {
  content: "\e64c";
}

.laiketui-xiugai:before {
  content: "\e64b";
}

.laiketui-xingxing1:before {
  content: "\e649";
}

.laiketui-xingxing:before {
  content: "\e64a";
}

.laiketui-haoping:before {
  content: "\e646";
}

.laiketui-chaping:before {
  content: "\e647";
}

.laiketui-zhongping:before {
  content: "\e648";
}

.laiketui-xiaolian:before {
  content: "\e645";
}

.laiketui-shangjia:before {
  content: "\e644";
}

.laiketui-xiajia:before {
  content: "\e642";
}

.laiketui-bangding:before {
  content: "\e63f";
}

.laiketui-zhiding:before {
  content: "\e63e";
}

.laiketui-jinru:before {
  content: "\e63d";
}

.laiketui-add:before {
  content: "\e63c";
}

