
.hide {
    display: none !important;
}

.Pre_sale_box{
     font-size: 24rpx;
   span{
        color: #FFFFFF;
    }
    div{
       // display: flex;
       // justify-content: space-between; 
    }
}

.pre_deposit{
    margin-top: 16rpx;
}

.integral-img {
    height: 26rpx;
    width: 26rpx;
    margin-right: 6rpx;
}


.maskTitle {
    text-align: center;
    font-size: 28rpx;
    position: relative;
}

.guanbiImg {
    width: 30rpx;
    height: 30rpx;
    position: absolute;
    top: 20rpx;
    right: 40rpx;
    z-index: 999999;
}


.order {
    background-color: #F4F5F6;
    min-height: 100vh;
    overflow-x: hidden;
}

.order_wl,
.order_last > div,
.order_pay,
.order_xx,
.order_border,
.retreat {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.order_last {
    height: 100% !important;
    border-radius: 24rpx 24rpx 0 0;
}

.order_zt {
    // background-color: @btnBackground;
    background: linear-gradient(90deg, #FA5151 0%, #D73B48 100%);
    
    font-size: 48rpx;
    color: @uni-o-text-color-status;
    padding: 48rpx;
    border-radius: 0 0 24rpx 24rpx;
    flex-direction: column;
    justify-content: center;
    height: 222rpx;
    box-sizing: border-box;
}

.order_p {
    color: #FFFFFF;
    font-size: 24rpx;
    margin-top: 20rpx;
}

.arrow {
    width: 18rpx;
    height: 30rpx;
}

.address_one {
    padding: 32rpx;
    font-size: 28rpx;
    // color: #020202;
    background-color: #fff;
    margin: 16rpx 0;
    border-radius: 24rpx;
}

.address_one p {
    font-size: 28rpx;
    color: #999999;
    // margin-top: 20rpx;
}
.lis_one{
   padding-top: 0px!important;
}
.order_goods {
    // background-color: #fff;
    // padding-left: 15px;
    // padding-bottom: 46rpx;
    border-radius:0 0 24rpx 24rpx;
}

.order_goods li {
    padding: 0 32rpx;
    background-color: #ffffff;
    margin-right: 0;
}

.order_last {
    height: 100%;
    height: 302rpx;
    flex-flow: column;
    align-items: stretch;
    font-size: 28rpx;
    color: #020202;
    padding: 30rpx 0;
}

.borderBom0{
    border-bottom: initial !important;
    margin-bottom: 0 !important;
}

.order_color {
    color: #9d9d9d;
    font-size: 24rpx;
    margin-bottom: 16rpx;
    height: 108rpx;
    width: 100%;
    border-bottom: 1rpx solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        &:first-child {
            font-size: 32rpx;
            color: #333333;
        }
        &:last-child {
            font-size: 32rpx;
            font-weight: 500;
            color: #333333;
        }
    }
}
.order_color input{
    font-size: 24rpx;
}

.order_color p {
    font-size: 24rpx;
}

.order_pay {
    padding: 32rpx !important;
    font-size: 32rpx;
    color: rgba(255,255,255,0.9);
    margin-bottom: 16rpx;
    border-radius: 0 0 24rpx 24rpx;
    .order_color {
        border: none;
        .z_price_bold {
            color: #FA5151;
        }
    }
}

.order_xx p {
    font-size: 22rpx;
}

.order_xx {
    border-radius: 24rpx;
    background-color: #fff;
    padding: 0 32rpx;
    font-size: 22rpx;
    color: #9d9d9d;
    align-items: baseline;
    margin-bottom: 94rpx;
    display: flex;
    flex-direction: column;
    margin-top: 16rpx;
    .order_xx_top {
        border-bottom: 1rpx solid #eee;
    }
    .order_xx_top,.order_xx_bottom {
        width: 100%;
        height: 108rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            &:first-child {
                font-size: 32rpx;
                color: #333333;
            }
            &:last-child {
                font-size: 32rpx;
                color: #666666;
                display: flex;
                align-items: center;
                .order-copy {
                    font-size: 24rpx;
                    font-weight: 500;
                    color: #D73B48 !important;
                    margin-right: 12rpx;
                }
            }
        }
        .order-sNo{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 296rpx !important;
        }
    }
}

// .order_border {
//     width: 100rpx;
//     height: 40rpx;
//     border: 1px solid #bbb;
//     justify-content: center;
//     font-size: 22rpx;
//     border-radius: 8rpx;
// }


.retreat {
    // width: 142rpx;
    // height: 50rpx;
    justify-content: center;
    font-size: 24rpx;
    // color: #9d9d9d;
    // border: 1px solid #9d9d9d;
}

.retreat {
    width: 120rpx;
    height: 42rpx;
    border-radius: 4rpx !important;
}



.color_two {
    margin: 10rpx 0;
}

.copy_input {
    border: none;
    font-size: 22rpx;
    color: #999;
}


.complete {
    height: 93.5%;
    width: 100%;
    background-color: rgba(000, 000, 000, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 34;
    display: flex;
    justify-content: center;
    padding-top: 55%;
}

.complete_tishi,
.complete_qiandao {
    width: 520rpx;
    height: 300rpx;
    background-color: #fff;
    border-radius: 10rpx;
    text-align: center;
}

.complete_tishi > img {
    width: 90rpx;
    height: 90rpx;
    margin-bottom: 10rpx;
}

.complete_tishi > div {
    text-align: right;
    padding: 10rpx 10rpx 20rpx 0;
}

.complete_tishi > div > img,
.complete_img {
    width: 40rpx;
}

.complete_tishi p {
    font-size: 28rpx;
    color: #232323;
}

.complete_tishi p > span {
    margin: 0 5rpx;
    color: #be9e5f;
}

.complete_qiandao {
    padding: 30rpx;
    text-align: left;
    font-size: 28rpx;
    position: absolute;
}

.complete_qiandao > p {
    margin-top: 50rpx;
    word-wrap: break-word;
}

.complete_b {
    padding-top: 45%;
}

.complete_img {
    position: absolute;
    top: 20rpx;
    right: 20rpx;
    z-index: 100;
}



.else_foot {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 999;
}

.head,
.order_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_img {
    width: 24rpx;
    height: 36rpx;
}

.head_search {
    width: 40rpx;
    height: 40rpx;
    visibility: hidden;
}

.order_header {
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
}

.header_li {
    width: 25%;
    text-align: center;
    height: 84rpx;
    line-height: 84rpx;
        border-bottom: 1rpx solid #eee;
    font-size: 30rpx;
    color: #9d9d9d;
}

.header_border {
    color: #020202;
    font-weight: bold;
    position: relative;
}

.header_border:after {
    border-bottom: 5rpx solid #020202;
    position: absolute;
    bottom: 0;
    width: 50%;
    content: '';
    left: 25%;
}

.last_right > div {
    justify-content: center;
}



.red {
    color: #ff3333 !important;
}

.bold {
    font-weight: bold;
}

.order_puls {
    font-size: 24rpx;
    margin-top: 20rpx;
    padding-right: 50rpx;
}

.address_one_a {
    margin-right: 30rpx;
    font-weight: bold;
    font-size: 32rpx !important;
    font-weight: 500;
    color: #333333 !important;
}

.address_one_b {
    // font-weight: bold;
    font-size: 32rpx;
    color:#333333 !important;
}

.address_one_c {
    margin: 8rpx 0;
}

.order_goods_lis {
    //     border-bottom: 1rpx solid #eee;
    border-radius: 24rpx;
    margin-bottom: 16rpx;
    padding: 32rpx !important;
    padding-bottom: 0 !important;
}

.order_two_a {
    // margin-right: 20rpx;
    // width: 58%;
    flex: 1;
    // height: 260rpx;
    // min-height: 222rpx;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left !important;
    .price_num {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32rpx;
        font-weight: 600;
        color: #FA5151;
        // margin: 30rpx 0 22rpx;
        margin: 8rpx 0 16rpx;
        .price{
            font-weight: 600;
            .price_symbol{
                font-size: 24rpx;
            }
        }
    }
}

.order_p_name {
    height: 80rpx;
    margin: 0;
    font-size: 32rpx;
    color: #333333;
    overflow:hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical; 

}

.order_goods_adiv {
    // width: 100%;
    // position: absolute;
    display: flex;
    justify-content: flex-end;
    // right: 0;
    // bottom: 34rpx;
}

.order_goods_adiv .retreat {
    margin-left: 10px;
}

.order_goods_adiv_b {
    // margin-right: 20rpx;
    margin-left: 10px;
}

.order_color_a {
    display: flex;
    align-items: center;
    font-size: 28rpx;
}

.order_color_a_b {
    height: 24rpx;
    width: 24rpx;
    margin-right: 3px;
}

.order_color_a {
    text-align: right;
}

.order_color_b {
    max-width: 520rpx;
    // word-wrap: break-word;
    // text-overflow: -o-ellipsis-lastline;
    // overflow: hidden; //溢出内容隐藏
    // text-overflow: ellipsis; //文本溢出部分用省略号表示
    // display: -webkit-box; //特别显示模式
    // -webkit-line-clamp: 2; //行数
    // line-clamp: 2; 
    // -webkit-box-orient: vertical; //盒子中内容竖直排列
}
.wrapper {
  display: flex;
  // margin: 50px auto;
  width: 520rpx;
  overflow: hidden;
  // border-radius: 8px;
  // padding: 15px ;
  // box-shadow: 20px 20px 60px #bebebe,
  //   -20px -20px 60px #ffffff;
}
.text {
  font-size: 32rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  /* display: flex; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.text::before {
  content: '';
  height: calc(100% - 24px);
  float: right;
}
.text::after {
  content: '';
  width: 999vw;
  height: 999vw;
  position: absolute;
  box-shadow: inset calc(100px - 999vw) calc(30px - 999vw) 0 0 #fff;
    margin-left: -100px;
}
.btn{
  // float: right;
  clear: both;
  margin-left: 10rpx;
  margin-top: 24rpx;
  font-size: 24rpx;
  // padding: 0 8px;
  // background: #3F51B5;
  
  // border-radius: 4px;
  
   line-height: 56rpx;
   height: 56rpx;
  color:  #D73B48;
  cursor: pointer;
  margin-top: 8rpx;
}
.btn::before{
  // content:'更多'
}
.exp{
  display: none;
}
.exp:checked+.text{
  -webkit-line-clamp: 999;
}
.exp:checked+.text::after{
  visibility: hidden;
}
// .exp:checked+.text .btn::before{
//   content:'收起'
// }
.exp:checked+.text .btn::before{
  content:''
}

.margin-top-zj {
    margin-top: 44rpx;
}

.margin-top-flex {
    display: flex;
    align-items: center;
}

.integral_hei {
    height: 26rpx;
    width: 26rpx;
    margin-right: 3px;
}

.order_pay_li {
    height: 1px;
    background-color: #eee;
    padding: 0 !important;
    margin-top: 30rpx;
}

.z_price_bold {
    color: @btnBackground !important;
    font-weight: bold;
}

.z_price_color {
    color: @btnBackground !important;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.order_pay_li_a {
    height: 20rpx;
    background-color: #f6f6f6;
    padding: 0 !important;
    margin: 0;
    margin-left: -48rpx;
}

.order_no_opacity {
    opacity: 0;
    position: absolute;
}


.order_one {
    justify-content: flex-start;
    width: 698rpx;
    font-size: 28rpx;
    color: #666666;
    height: auto;
    line-height: 0;
    // border-bottom: 1px solid rgb(238, 238, 238);
}

.order_one img:first-child {
    width: 40rpx;
    height: 40rpx;
    margin-right: 16rpx;
}

.order_one img:last-child {
    width: 40rpx;
    height: 40rpx;
    margin-left: 8rpx;
}

.order_two {
    // padding-bottom: 90rpx ;
    padding-top: 24rpx;
    display: flex;
    border-bottom: 1rpx solid rgba(0,0,0,.1);
    img{
        margin-right: 24rpx;
    }
}
.goodsImg {
    width: 216rpx;
    height: 216rpx;
    border-radius: 16rpx;
    font-size: 24rpx;
    color: #999999;
}

.order_two:nth-last-of-type(2){
    border:0;
}

.color_two {
    margin: 0;
}


.retreat {
    background: #F4F5F6;
    border-radius: 36rpx;
    font-size: 28rpx;
    color: #333333;
    // padding: 16rpx 32rpx;
    width: 176rpx;
    // height: 72px;
}

.order_zt {
    position: relative;
    overflow: hidden;
}

.orderbg {
    position: absolute;
    right: -120rpx;
    top: 0;
    height: 100%;
}

.mt_0 {
    margin-top: 0 !important;
}

.order_time {
    font-size: 20rpx;
    color: #bbbbbb;
    margin-top: 16rpx;
}

.color_one{
    // margin-top: 20rpx;
    max-width: 460rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24rpx;
    color: #999999;
}

.order_foot-wrap{
    .more_add {
        height: 98rpx;
        font-size: 28rpx;
        color: #999999;
        position: absolute;
        left: 32rpx;
        //bottom: 0rpx;
        z-index: 999;
        line-height: 98rpx;
        /* #ifdef MP-WEIXIN */
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom); 
        /* #endif */
    }
    .more_add_block {
        border-radius: 8rpx;
        padding: 16rpx 32rpx;
        position: fixed;
        left: 32rpx;
        bottom: 80rpx;
        /* #ifdef MP-WEIXIN */
        bottom: 120rpx;
        /* #endif */
        background-color: #ffffff;
        font-size: 28rpx;
        color: #333333;
        z-index: 9999;
        box-shadow: 0px 0px 24rpx 0px rgba(0,0,0,0.12);
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 10rpx solid transparent;
            border-right: 10rpx solid transparent;
            border-bottom: 10rpx solid #fff;
            position: fixed;
            left: 52rpx;
            bottom: 70rpx;
            transform: rotate(180deg);
            z-index: 9999;
            box-shadow: 0px 0px 24rpx 0px rgba(0,0,0,0.12);
        }
        p {
            position: relative;
        }
        p {
            &:not(:last-child)::after {
                content: '';
                display: block;
                width: 100%;
                height: 2rpx;
                background-color: #e5e5e5;
                margin: 16rpx 0;
            }
        }
    }
}

.order_foot {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 32rpx;
    position: fixed;
    width: 100%;
    align-items: center;
    // height: 104rpx;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    box-shadow: 0px -1rpx 0px 0px rgba(0,0,0,0.1);
    padding-top: 16rpx;
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    /* #ifndef MP */
    padding-bottom: 16rpx;
    /* #endif */
    .seeAfterSale{
        
    }
    .comment{
        border: 1rpx solid #FA5151;
        background-color: transparent;
        color: #FA5151;
        margin-left: 24rpx;
        border-radius: 56rpx;
        width: 176rpx;
        font-size: 28rpx;
        height: 72rpx;
        line-height: 72rpx;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
    }
}
.after-finish {
    border: none;
}

.btn {
    display: flex;
    .sqtk {
        position: relative;
        // right: -10px;
    }
}
.mask_addInvoice {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .mask_invoice_content {
         width: 640rpx;
         height: 358rpx;
         background-color: #ffffff;
         display: flex;
         flex-direction: column;
         align-items: center;
         border-radius: 24rpx;
         .invoice_content_top {
             flex: 1;
             width: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             p {
                 &:first-child {
                     font-size: 32rpx;
                     font-weight: 500;
                     color: #333333;
                     margin-bottom: 16rpx;
                 }
                 &:last-child {
                     font-size: 32rpx;
                     color: #999999;
                     font-weight: 500;
                     margin-top: 16rpx;
                 }
             }
         }
         .invoice_content_bottom {
             width: 100%;
             height: 108rpx;
             border-top: 2rpx solid #e5e5e5;
             display: flex;
             justify-content: space-evenly;
             align-items: center;
             p {
                 &:first-child {
                     color: #333333;
                     border-right: 2rpx solid #e5e5e5;
                 }
                 &:last-child {
                     color: #D73B48;
                 }
             }
             p {
                 width: 100%;
                 height: 100%;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 font-size: 32rpx;
                 font-weight: 500;
             }
         }
     }
}
/deep/.last_right div{
    width: 176rpx;
    height: 72rpx;
    line-height: 72rpx;
    font-size: 28rpx !important;
    // border: 1px solid #Fa5151;
    &:last-child{
        background-color: #FA5151 !important;
        color: #FFFFFF !important;
        border: 0;
    }
}
/deep/.last_right .last_right_leftBtn{
    border: 1rpx solid #FA5151 !important;
    color: #FA5151 !important;
}
/deep/.head div:nth-of-type(1){
    background: repeat !important;
    /* #ifdef MP-WEIXIN */
    height:94rpx !important;
    /* #endif */
}
