/deep/.el-table__fixed::before {
    display: none !important;
}
.container {
    display: flex;
    flex-direction: column;
    .active2{
        color: #13ce66 !important;
    }
    .active3{
        color: #888f9e !important;
    }
    .menu-list {
        flex: 1;
    }
}