.head,
.order_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    height: 88rpx;
    padding: 0 30rpx;
    border-bottom: 1rpx solid #eee;
    font-size: 40rpx;
    color: #242424;
}

.head_img {
    width: 24rpx;
    height: 36rpx;
}

.head_search {
    width: 40rpx;
    height: 40rpx;
    visibility: hidden;
}

.order_header {
    justify-content: space-around;
    width: 100%;
    border-bottom: 1rpx solid #D2D2D2;
}

.header_li {
    width: 25%;
    text-align: center;
    height: 84rpx;
    line-height: 84rpx;
    border-bottom: 1rpx solid #eee;
    font-size: 30rpx;
    color: #9D9D9D;
}

.header_border {
    color: #020202;
    font-weight: bold;
    position: relative;
}

.header_border:after {
    border-bottom: 5rpx solid #020202;
    position: absolute;
    bottom: 0;
    width: 50%;
    content: "";
    left: 25%;
}

.last_right > div {
    justify-content: center;
}

.position_head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 35;
}


/*头部*/
.goodAnimate {
    animation: myGood 0.5s 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes myGood {
    from {
        bottom: -1300rpx;
    }

    to {
        bottom: 0rpx;
    }
}

.goodAnimate1 {
    animation: myGood1 0.5s 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes myGood1 {
    from {
        bottom: 0rpx;
    }

    to {
        bottom: -1300rpx;
    }
}

.share_btn {
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 230rpx;
    height: 200rpx;

}

.can_roll {
    // width: 80%;
    // margin-left: 10%;
    // overflow-x: auto;
    // height: 160rpx;
}

.flex_start {
    // -webkit-justify-content: unset !important;
    // justify-content: unset;
}

.share_btn::after {
    border: none;
}

.group_imgurl img {
    width: 100%;
    height: 272rpx;
}
.group{
    border-radius: 24rpx 24rpx 24rpx 24rpx;
    background: #FFFFFF;
    margin-top: -20rpx;
    .group_img{
        position: relative;
        .pt_yjs{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 136rpx;
            height: 136rpx;
            border-radius: 50%;
            background: rgba(0,0,0,.5);
            display: flex;
            align-items: center;
            justify-content: center;
            .pt_yjs_tip{
                font-weight: normal;
                color: #FFFFFF;
                text-align: center;
                transform: rotate(-15deg);
                font-size: 32rpx;
            }
        }
        
    }
}
.group li {
    display: flex;
    padding:32rpx;
}

.group li .group_img  {
   width: 228rpx;
   height: 228rpx;
   img{
       width: 228rpx;
       height: 228rpx;
       border-radius: 16rpx 16rpx 16rpx 16rpx;
   }
}

.group_div {
    padding-left: 24rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.group_title {
    font-size: 28rpx;
    font-weight: bold;
    color: #3E3E3E;
    line-height: 38rpx;
    
    width: 440rpx;
    height: auto;
    display:inline-block;
    overflow: hidden; /*超出隐藏*/
    text-overflow: ellipsis;/*隐藏后添加省略号*/
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:1; //想显示多少行
}

.group_people{
   // width: 86rpx;
   // height: 34rpx;
   // line-height: 32rpx;
   padding: 2rpx 12rpx;
   background: #FA5151;
   border-radius: 4rpx 4rpx 4rpx 4rpx;
   font-size: 24rpx;
    
   font-weight: 400;
   color: #FFFFFF;
   margin-right:6rpx;
}


.group_num {
    font-size: 24rpx;
     
    font-weight: 400;
    color: #999999;
    line-height: 32rpx;
    padding-top: 30rpx;
}

.group_money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32rpx;
    color: #020202;
    line-height: 38rpx;
    padding-top: 18rpx;
}

.group_money span:first-child {
        font-size: 34rpx;
        font-weight: 600;
        color: #FA5151;
}

.group_money span:last-child {
    font-size: 24rpx;
    color: #999;
    position: relative;
    margin-left: 10rpx;
}

.group_money span:last-child:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1rpx;
    border-bottom: 1rpx solid #999999;
    content: "";
}
.group_end_title{
    font-size: 32rpx;
    font-weight: bold;
    color: #FC5156;
    display: flex;
    align-items: center;
    justify-content: center;
    .group_end_center{
        margin: 0 8rpx;
    }
    image{
        width: 72rpx;
        height: 12rpx;
    }
}
.group_end {
    font-size: 28rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: Bold;
    position: relative;
    color: #FC5156;
    margin: 8rpx auto 20rpx;
}

.group_end span {
    color: #FFFFFF;
    font-size: 28rpx;
    min-width: 40rpx;
    max-width:200rpx;
    padding: 0 4rpx;
    margin: auto 4rpx;
    background: #FA5151;
    text-align: center;
    border-radius: 8rpx 8rpx 8rpx 8rpx;
}
.group_people_num{
    font-size: 28rpx;
     
    font-weight: 400;
    color: #333333;
    .group_people_num_team{
        color: #FC5156;
    }
}
.group_people_num_success{
    margin-top: 20rpx;
}
.group_people_t {
    line-height: 90rpx;
    font-size: 30rpx;
    color: #020202;
    font-weight: bold;
    padding-left: 30rpx;
    position: relative;
}

/* 拼团人 */
.group_wf_t,
.group_people_t {
    font-size: 32rpx;
    font-weight: bold;
    color: #333333;
    padding:32rpx 30rpx 36rpx;
    position: relative;
}
.group_wf_t{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group_gz {
    font-size: 26rpx;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.group_gz span {
    margin: auto;
}

.yh-yhpj {
    font-size: 30rpx;
    font-weight: bold;
}
.yh-ptgz {
    font-weight: normal;
    margin-right: 8rpx;
}
.group_people_t .arrow {
    // top: 32rpx
}

.group_span1 {
    color: #999;
    font-size: 24rpx;
    font-weight: normal;
    margin-left: 20rpx;
}

.group_span2 {
    color: #FF0000;
    font-size: 24rpx;
    font-weight: normal;
    margin: 0 6rpx;
}

.group_peo ul {
    border-top: 1rpx solid #EEEEEE;
    padding: 10rpx 30rpx;
}

.group_peo ul li {
    clear: both;
}

.group_peo_l,
.group_peo_r {
    width: 50%;
    float: left;
    display: flex;
    justify-content: flex-start;
    height: 110rpx;
}

.group_peo_r {
    justify-content: flex-end;
}

.group_peo_l div,
.group_peo_r div {
    margin: auto 0;
}

.group_peo_l img {
    width: 54rpx;
    height: 54rpx;
    background-size: 100% 100%;
    border-radius: 50%;
    margin: auto 0;
    margin-right: 20rpx;
}

.group_l_r p:first-child {
    color: #020202;
    font-size: 28rpx;
    height: 38rpx;
    margin: auto;
}

.group_l_r p:last-child {
    font-size: 24rpx;
    color: #999999;
    height: 34rpx;
    margin: auto;
}

.group_r_l p:first-child {
    font-size: 24rpx;
    color: #020202;
}

.group_r_l p:first-child span {
    color: #FF0000;
}

.group_r_l p:last-child {
    font-size: 22rpx;
    color: #999999;
}

.group_r_r {
    width: 140rpx;
    height: 50rpx;
    direction: flex;
    justify-content: center;
    text-align: center;
    line-height: normal;
    background-size: 100% 100%;
    margin: auto;
    margin-left: 20rpx !important;
    display: flex;
}

.group_r_r span {
    margin: auto;
    font-size: 28rpx;
    color: #FFFFFF
}


.group_u {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 276rpx;
    background: linear-gradient(180deg, #FFCECE 0%, #FFFFFF 100%);
    border-radius: 24rpx 24rpx 24rpx 24rpx;
    padding: 50rpx 34rpx;
    
    
}

.group_u li {
    width: 104rpx;
    height: 104rpx;
    margin-right: 24rpx;
    position: relative;
    display: flex;
    border-radius: 50%;
    border: 4rpx solid #FFFFFF;
    z-index: 990;
    &:nth-child(1){
        border: 4rpx solid #FA5151;
        position: absolute;
        top: -48rpx;
        margin: 0;
    }
}

.group_u li:last-child {
    margin-right: 0;
}

.group_u li img {
    
    box-sizing: border-box;
    width: 80rpx;
    // height: 80rpx;
    // background-size: 100% 100%;
    // border: 1rpx dashed #B8B8B8;
    border-radius: 50%;
}

.group_u li .active {
    // border: 3rpx solid #FA5151;
}
.group_u_userName{
    width: 100%;
    position: absolute;
    bottom: -60rpx;
    font-size: 24rpx;
     
    font-weight: 400;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

}
.group_u_name {
    position: absolute;
    border-radius: 12rpx;
    color: #fff;
    display: none;
    justify-content: center;
    bottom: -4rpx;
    width: 100%;
    text-align: center;
    z-index: 998;
}

.group_u li:first-child .group_u_name {
    display: flex;
}

.group_u_name span {
    margin: auto;
    font-size: 18rpx;
    height: 30rpx;    
    background: #FA5151;
    box-sizing: border-box;
    padding: 0 10rpx;
    border-radius: 20rpx;
}

.group_btns {
    width: 100%;
    height: 92rpx;
    background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
    border-radius: 52rpx 52rpx 52rpx 52rpx;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: @btnBackground;
}

.group_btns span {
    margin: auto;
    text-align: center;
    color: @lightColor;
    font-size: 30rpx;
}

.group_go {
    width: 190rpx;
    background-color: @btnBackground;
    height: 70rpx;
    position: absolute;
    border-radius: 6rpx;
    bottom: 30rpx;
    right: 0;
    text-align: center;
    line-height: 70rpx;
    color: @lightColor;
}
// 拼团人数
.groupBox_people{
    position: relative;
    // max-height: 736rpx;
    background: #FFFFFF;
    border-radius: 24rpx 24rpx 24rpx 24rpx;
    margin: 16rpx 0;
    padding: 48rpx 32rpx 32rpx;
    .group_end_head{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 70rpx;
    }
}





/* 拼团玩法样式 */

/* 玩法 */
.rate_line{
            width:610rpx;
            margin:auto;
			position: relative;
			height: 20rpx;
			background: #F6F6F6;
			border-radius: 10rpx 10rpx 10rpx 10rpx;
			display: flex;
			.line_num{
                border-radius: 10rpx 10rpx 10rpx 10rpx;
                width:45%;
                display:flex;
                align-items: center;
                justify-content: space-between;
                background: #FA5151;
                .buzhou_num {
                        background: #FFFFFF;
                        color: #999999;
                        border-radius: 50%;
                        width: 32rpx;
                        height: 32rpx;
                		position: absolute;
                		top: 50%;
                        transform: translateY(-50%);
                        text-align: center;
                		font-size: 22rpx;
                		font-weight: 500;
                        border: 1rpx solid #EFEFEF;
                        &:nth-child(1){
                            left: 0%;
                        }
                        &:nth-child(2){
                            left: 32%;
                        }
                        &:nth-child(3){
                            left: 64%;
                        }
                        &:nth-child(4){
                            right: -1rpx;
                        }
                }
                .actice_num{
                    color: #FFFFFF;
                    background: #FA5151;
                }
            }
			
		}
.arrow {
    // position: absolute;
    // top: 32rpx;
    // right: 3rpx;
}

/* .group_gz{position: absolute;top: 0;right: 66rpx;bottom: 0;display: block;font-size: 26rpx;color: #666666;} */
.group_gz span {
    margin: auto;
}
.group_wf{
    background: #FFFFFF;
    border-radius: 24rpx 24rpx 24rpx 24rpx;
    margin:0 0 16rpx 0;		
    
}
.group_wf ul {
    // width:610rpx;
    height: 124rpx;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}

.group_wf ul li {
    position: relative;
    text-align: center;
    background-size: 100% 100%;
    margin: auto;
}


.group_wf ul li p {
    font-size: 24rpx;
    color: #999999;
    margin: auto;
    height: 36rpx;
    font-weight: 500;
}
.actice_tip p{
    color: #FA5151 !important;
}
.group_wf ul li .arrow {
    // top: 0;
    // right: -50rpx;
    // bottom: 0;
    // margin: auto;
}
.list_break1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list_break2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    font-size: 28rpx;
    font-weight: 500;
    color: rgba(2, 2, 2, 1);
}

.mask_quren_box{
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
}
.mask_quren {
    line-height: 98rpx;
    bottom:40rpx;
    padding: 0 !important;
}

.shareMask {
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;

    /* #ifdef H5 */
    width: 630rpx;
    bottom: 60rpx;
    left: calc((100% - 630rpx) / 2);
    border-radius: 20rpx;
    /* #endif */
}

.sharepyq {
    /* #ifdef H5 */
    width: 70%;
    margin: 0 auto;
    /* #endif */
}

.shareMaskTitle {
    font-size: 34rpx;
    text-align: center;
    color: #020202;
    font-weight: Bold;
    padding-top: 30rpx;
    padding-bottom: 58rpx;
}

.shareIcon {
    width: 25%;
    text-align: center;

    /* #ifdef H5 */
    width: 50%;
    float: left;
    text-align: center;
    /* #endif */
    
}

.shareIcon img {
    width: 80rpx;
    height: 80rpx;
    margin-bottom: 20rpx;
    /* #ifdef H5 */
    margin-top: 34rpx;
    margin-bottom: 0;
    /* #endif */
}

.shareIcon p {
    font-size: 24rpx;
    /* margin-bottom: 58rpx; */
    color: #666;
    text-align: center;
    /* #ifdef H5 */
    margin-bottom: 16rpx;
    /* #endif */
    
}

.shareEnd {
    text-align: center;
    font-size: 36rpx;
    height: 100rpx;
    line-height: 100rpx;
    border-top: 1rpx solid #eee;
}

.saveEWMBtn {
    width: 100%;
    height: 100rpx;
    font-size: 32rpx;
    line-height: 100rpx;
    background-color: #000;
    color: #fff;
    border: none;
    position: absolute;
    bottom: 0;
}

.goods_name {
    font-size: 28rpx;
    color: #020202;
    padding: 0 30rpx 0 30rpx;
}

.goods_price {
    margin: 30rpx 0 24rpx;
    color: #ff0000;
    font-size: 40rpx;
}

.goods_price > span {
    font-size: 30rpx;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* 遮罩层样式 */
.mask {
   width: 100%;
   background-color: rgba(000, 000, 000, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999 !important;
   // 拼团活动状态弹窗样式
   .ptPopMask{
       position: relative;
       text-align: center;
       flex:1;
        .ptPopMaskBg{            
            image{
                width: 686rpx;
                height: 612rpx;
            }
        }
        .ptPopMaskCon{
            position: absolute;
            top:70%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 520rpx;
            box-sizing: border-box;
            .ptPopMaskTitle{
                font-size: 32rpx;
                color: #666666;
                margin-bottom: 60rpx;
            }
            .ptPopMaskBtn{
                font-size: 26rpx;
                 
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div{
                    // min-width: 249rpx;
                    width: 100%;
                    height: 64rpx;     
                    line-height: 64rpx;
                    text-align: center;
                    background: #FC5156;
                    border-radius: 38rpx 38rpx 38rpx 38rpx;
                }
                .ptPopMaskBtn_kt{
                    color: #FFFFFF;
                }
                .ptPopMaskBtn_gd{
                    border: 2rpx solid #FC5156;
                    color: #FA5151;
                    background: transparent;
                }
            }
        }
   }
}
.mask_d {
    z-index: 999;
}
.mask_price {
    font-size: 24rpx;
    color: #FA5151;
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
    .font_30 {
        font-size: 40rpx;
        font-family: DIN-Bold, DIN;
        
    }
}
.yh-ml {
    color: @priceColor;
}
.yh-ml-span {
    font-size: 30rpx;
}
.yh-kc-num {
    font-size: 28rpx;
     
    font-weight: normal;
    color: #666666;
}
.numb ._img {
    padding: 0px;
}
// .mask_two p {
//     color: #999999;
// }

.mask_two li {
        float: left;
        width: auto;
        min-width: 60rpx;
        margin: 24rpx 20rpx 0 0;
        padding: 0 10rpx;
    }
.mask_two,.mask_num{
        border-bottom: 0.5px solid #eee;
    }
.cha {
    width: 48rpx;
    height: 48rpx;
    position: absolute;
    top: -10rpx;
    right: -10rpx;
    padding: 10rpx;
    background-size: 50% 50% !important;
}

.back {
    background-color: #fff;
}

.orange {
        background-color: #FFFFFF;
        color: #020202;
        height: 48rpx;
        width: 144rpx;
        font-size: 24rpx;
        // border: 2rpx solid @btnBackground !important;
        background: rgba(250,81,81,0.1);
        border-radius: 24rpx;
        color: @btnBackground !important;
    }
    .orange div,.select div,.back div {
        margin: 0px 16rpx;
    }

.select {
        color: #666666;
        font-size: 24rpx;
        height: 48rpx;
        border: 0rpx solid rgba(2, 2, 2, 1) !important;
        background: rgba(248, 248, 248, 1);
        border-radius: 24rpx;
    }


.goods_spec li {
    padding: 30rpx;
    color: #020202;
    font-size: 24rpx;
    padding-left: 170rpx;
    position: relative;
        border-bottom: 1rpx solid #eee;
    overflow: hidden;
    justify-content: flex-start;
}

.goods_spec li > span {
    font-size: 28rpx;
    color: #888;
}

.goods_spec li .g_div {
    position: absolute;
    top: 0;
    left: 30rpx;
    width: 180rpx;
    height: 100%;
    text-align: center;
    display: flex;
}

.goods_spec li .g_div div {
    display: flex;
    align-items: center;
    width: nowrap;
}

.goods_spec li > p {
    width: 80%;
    overflow: hidden;
    height: 40rpx;
    line-height: 40rpx;
}

.active {
    color: #9D9D9D !important;
    font-size: 26rpx !important;
}

.user,
.goods_d,
.mask_num,
.guige,
.goods_spec li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    // border-radius: 24rpx;
    .arrow{
        width: 16rpx !important;
        height: 22rpx !important;
    }
}

.mask_over{
    width: 100%;
}
.mask_two,.mask_num{
        border-bottom: 0.5px solid #eee;
    }
    .mask_num {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 120rpx;
    }
.numb ._img {
        padding: 0px;
    }
    
    .goods_mun {
        color: #9d9d9d;
        padding: 0rpx;
        display: inline-block;
        width: auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .goods_mun {
        display: flex;
        align-items: center;
    border: 2rpx solid rgba(0,0,0,0.1);
        border-radius: 27rpx;
        height: 56rpx;
        width: 124rpx;
    }
    
    .goods_mun span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .goods_mun span img {
        width: 16rpx;
        height: 16rpx;
        padding: 10rpx;
        /* #ifdef MP-ALIPAY */
        background-size: 25rpx 25rpx !important;
        width: 0.1rem;
        height: 0.07rem;
        /* #endif */
    }
    
.guige {
    color: #999;
    font-size: 28rpx;
    border-top: 1rpx solid #eee;
    justify-content: center;
    display: block;
    text-align: left;
    height: 100rpx;
    line-height: 100rpx;
    position: relative;
}

.guige .arrow {
    right: 0;
}


.success_gou {
    width: 34rpx;
    height: 34rpx;
    background: rgba(2, 2, 2, 1);
    border-radius: 50%;
    color: white;
    font-size: 14rpx;
    text-align: center;
    line-height: 34rpx;
    float: left;
}

.success_word {
    font-size: 30rpx;
    font-weight: 500;
    color: rgba(2, 2, 2, 1);
    margin-left: 9rpx;
    float: left;
}

.wenhao_css {
    width: 80rpx;
    height: 80rpx;
    line-height: 80rpx;
    position: absolute;
    top: 2rpx;
    left: 6rpx;
    font-size: 48rpx;
    font-weight: 500;
    color: rgba(184, 184, 184, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.class_gou_img {
    width: 34rpx;
    height: 34rpx;
    margin-top: 4rpx;
}

.pro_name {
    font-weight: normal;
}

.wxshareIcon {
    width: 100%;
    height: 92rpx;
    line-height: 92rpx;
    background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
    border-radius: 52rpx 52rpx 52rpx 52rpx;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: @btnBackground;
    text-align: center;
    color: @lightColor;
    font-size: 30rpx;
}

.isLoseEfficacy {
    position: absolute;
    top: 138rpx;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 999;
}

.isLoseEfficacy img {
    position: absolute;
    height: 327rpx;
    width: 324rpx;
    left: 50%;
    top: 274rpx;
    transform: translate(-50%);
}

/* 优化 */
.yh-group-end {
    // margin-top: 60rpx;
    display: flex;
    align-items: center;
}

.yh-gsuccess {
    margin-top: 40rpx
}

.yh-gfail {
    color: red;
}

.yh-wenhao-css {
    text-align: center !important;
    width: 100rpx !important;
}

.yh-ptcg {
    padding-top: 30rpx;
}

.yh-line {
    width: 100%;
    height: 20rpx;
    background: rgba(248, 248, 248, 1);
}

.yh-group-wf-t {
    margin: 0rpx 30rpx;
    border-bottom: 1rpx solid rgb(230, 230, 230);
}

.yh-group-wf-y {
    margin: 0rpx 30rpx;
    margin-bottom: 80rpx;
    border-bottom: 1rpx solid rgb(230, 230, 230);
}

.yh-p-name {
    color: #020202;
    font-size: 28rpx;
}

.yh-p-title {
    color: #666666;
    font-size: 28rpx;
}

.yh-group-btns-q {
    margin-top: 48rpx;
}

.yh-group-btns-w {
    .outBtn();
    background: #FFFFFF !important;
    margin-top:40rpx;
}

.outBtn[class]{
    color: @btnBackground;
}

.yh-group-people-t {
    font-size: 30rpx;
    font-weight: bold;
}

.yh-ct-title {
    background: #FF7D00;
        margin-left: 20rpx;
        border-radius: 4rpx;
        height: 50rpx;
        width: 140rpx;
        font-size: 28rpx;
        display: flex;
        align-items: center;
        justify-content: center;
}

.yh-group-wf-r {
    margin: 0rpx 30rpx;
}

.yh-pt-ptwf {
    font-size: 32rpx;
    font-weight: bold;
    color: #333333;
}

.yh-pt-ptgz {
    font-size: 24rpx;
    font-weight: 500;
    color: #666666;
}

.yh-mask {
    display: flex;
    justify-content: center;
}

.yh-shareMask {
    bottom: 7%;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 70vh;
    border-radius: 5rpx;
}

.yh-cha {
    color: #fff;
    border: 1rpx #afafaf solid;
    border-radius: 100%;
    width: 16rpx;
    height: 16rpx;
    position: absolute;
    z-index: 99;
}

.yh-right {
    width: 100%;
    padding: 10rpx;
    box-sizing: border-box;
}

.yh-ewmImg {
    width: 100%;
    height: 68vh;
}

.yh-saveEWMBtn-q {
    background-color: #fff;
    color: #000;
    border-top: 1rpx #eaeaea solid;
}

.yh-allCenter {
    width: 100%;
    padding: 60rpx 0;
    border-radius: 10rpx;
    background-color: rgb(255, 255, 255);
    margin: 0rpx auto;
    position: absolute;
    bottom: 0rpx;
    left: 0rpx;
    background: #fff;
}

.yh-shareIcon {
    display: flex;
    height: 140rpx;
    justify-content: center;
}

.yh-s-load {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yh-rule {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rpx;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yh-rule-content {
    width: 560rpx  !important;
    background: #fff;
    border-radius: 24rpx;
    border: 2rpx solid #222;
}

.yh-rule-div {
    font-size: 30rpx;
    text-align: center;
    font-weight: bold;
    color: #020202;
    padding-top: 40rpx;
}

.yh-rule-s {
    height: 70%;
    padding: 20rpx;
    color: #666666;
    width: 560rpx;
}

.yh-closerule {
    border: 2rpx solid #222;
    color: rgb(36, 36, 36);
    font-size: 16rpx;
    width: 46%;
    height: 40rpx;
    line-height: 36rpx;
    text-align: center;
    margin-left: 27%;
    margin-top: 5%;
    border-radius: 4rpx;
    margin-bottom: 60rpx;
}

.yh-show-rule {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rpx;
    z-index: 998;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yh-show-rule-content {
    width: 560rpx;
    background: #fff;
    border-radius: 24rpx;
    height: 700rpx;
}

.yh-show-rule-ptgz {
    font-size: 30rpx;
    text-align: center;
    font-weight: bold;
    color: #020202;
    padding-top: 40rpx;
}

.yh-show-rule-div {
    height: 460rpx;
    padding: 20px;
    color: #666666;
    width: 560rpx;
    box-sizing: border-box;
    word-break: break-all;
}

.yh-show-rule-closerule {
    .outBtn();
    .center();
    font-size: 16px;
    width: 46%;
    height: 40px;
    margin-left: 27%;
    margin-top: 5%;
    border-radius: 4rpx;
}


//内容一 支付状态
        .content_one{
            background: #FA5151;
            height: 280rpx;
            line-height: 280rpx;
            >view{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                /* #ifdef MP-WEIXIN */
                // padding-top: 88rpx;
                box-sizing: border-box;
                /* #endif */
                >view{
                    width: 68rpx;
                    height: 68rpx;
                    border-radius: 68rpx;
                    opacity: .9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >image{
                        width: 100%;
                        height: 100%;
                    }
                }
                >text{
                    color: #FFFFFF;
                    font-size: 32rpx;
                    margin-left: 16rpx;
                }
            }
        }
        .successful_b{
            color: #ffffff !important;
        }
        .failure_b{
            color: #000000 !important;
        }
