.container{
    
}
.con{
    border-radius: 0 0 24rpx 24rpx;
}
.top{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        padding: 32rpx;
        border-radius: 0px 0px 24rpx 24rpx;
        box-sizing: border-box;
        .top_price{
            width: 100%;
            padding: 56rpx 0;
            text-align: center;
           
            border-radius: 20rpx;
            .name{
                font-size: 32rpx;
                
                font-weight: 400;
                color: #666666;
            }
            .Nth{
                margin-bottom: 16rpx;
                font-size: 56rpx;
                font-family: DIN-Bold, DIN;
                font-weight: bold;
                color: #FA5151;
            }
        }
        .btns{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 32rpx;
            view{
                height: 92rpx;
                line-height: 92rpx;
                text-align: center;
                border-radius: 52rpx;
            }
            .btns_left{
                 min-width: 252rpx;
                 margin-right: 24rpx;
                 box-sizing: border-box;
                 .outBtn()
            }
            .btns_right{
                flex: 1;
               .solidBtn ()
            }
        }
        
    }
    
    .bottom{
        min-height:60vh ;
        margin-top: 24rpx;
        background: #FFFFFF;
        border-radius: 24rpx 24rpx 0px 0px;
        padding: 32rpx;
        .explain{
            font-size: 32rpx;
            
            font-weight: 500;
            color: #333333;
            margin-bottom: 24rpx;
        }
        .vHtml{
            font-size: 28rpx;
            
            font-weight: 400;
            color: #999999;
        }
    }
