/deep/.el-input-group__append,
.el-input-group__prepend {
  padding: 0 !important;
  width: 57px !important;
  text-align: center !important;
}
/deep/.el-table .el-table__cell.gutter {
  width: 0.9375rem;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 0;
  display: none;
}
.red_ekko{
  /deep/.el-input__inner{
    border: 1px solid #FA5151;
  }
}
/deep/.transfer-title {
  span {
    color: #414658;
  }
}
/deep/.el-radio-button__inner {
    background: #F4F7F8;
}
.padding_one{
    padding: 37px 20px;
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
}
.margin_one{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.margin_two{
    margin-bottom: 16px;
}
.font_radio{
    font-size: 16px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #2890FF;
    cursor: pointer;
    margin-right: 20px;
}
/deep/.el-table {
  border-radius: 4px 4px 0 0 !important;
  .OP-button {
    button {
      width: 82px !important;
      padding: 5px;
      height: 24px;
      background: #ffffff;
      border: 1px solid #d5dbe8;
      border-radius: 2px;
      font-size: 12px;
      font-weight: 400;
      color: #888f9e;
      line-height: 9px;
    }

    // button:hover {
    //   border: 1px solid rgb(64, 158, 255);
    //   color: rgb(64, 158, 255);
    // }

    // button:hover i {
    //   color: rgb(64, 158, 255);
    // }

    // .OP-button-top {
    //   margin-bottom: 8px;

    //   button {
    //     width: 82px !important;
    //     height: 24px;
    //     padding: 5px;
    //     text-align: center;
    //     background: #ffffff;
    //     border: 0.0625rem solid #d5dbe8;
    //     border-radius: 0.125rem;
    //     font-size: 0.75rem;
    //     font-weight: normal;
    //     color: #888f9e;

    //     &:not(:first-child) {
    //       margin-left: 8px !important;
    //     }
    //   }
    // }
  }
}
.footer-button {
  position: fixed;
  right: 0;
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.9375rem 1.25rem;
  border-top: 0.0625rem solid #E9ECEF;
  background: #FFFFFF;
  width: 300%;
  z-index: 10;

  button {
    width: 70px;
    height: 40px;
  }
}

.select-input {
  width: 173px;
  margin-right: 10px;
}

.input-name {
  width: 245px;
  margin-right: 10px;
}

/deep/.group_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .group_span {
    text-align: left;
    margin-left: 10px;
  }
}

.fontColor:hover {
  color: #2890FF;
  border: 0.0625rem solid #2890FF;
  background-color: #fff;
}

/deep/.Info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;

  span {
    margin-left: 10px;
    text-align: left;
  }
}

/deep/.delete {
  width: 58px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shaco_box_one {
  width: 580px;
  height: 80px;
  background: #F4F7F9;
  padding: 20px;
}

.container {
  width: 100%;
  height: 737px;
  // background-color: #fff;
  border-radius: 4px;

  .box_one {
    width: 100%;
    // min-height: 408px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  .box_two {
    width: 100%;
    min-height: 761px;
    // background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    border-radius: 4px;

  }

  .box_three {
    width: 100%;
    // min-height: 705px;
    // background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    border-radius: 4px;

  }
  
  .box_four {
    width: 100%;
    min-height: 650px;
    // background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    border-radius: 4px;

  }
  .kid_left {
    margin-left: 14px;
  }

  .add_bt {
    color: #2890FF;
    border: 1px solid #2890FF;
  }

  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    background: #FFFFFF;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #E9ECEF;

    span {
      font-size: 16px;
      font-weight: 400;
      color: #414658;
    }
  }

  /deep/.el-form {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 45px;

    .add-info {
      width: 100%;
      width: 750px;
      height: 80px;
      background: #F4F7F9;
      padding: 0 20px;
      display: flex;
      align-items: center;

    }
    .notice_margin {
      margin-left: 40px;
      margin-right: 10px;
    }

    .notice_font {
      font-size: 14px;
      font-family: Microsoft YaHei-Regular, Microsoft YaHei;
      font-weight: 400;
      color: #97A0B4;
      margin-left: 10px;
    }

    .el-icon-circle-plus-outline {
      color: #2890FF;
      font-size: 1.25rem;
      margin-left: 0.625rem;
      margin-top: 13px;
    }

    .el-icon-remove-outline {
      font-size: 1.25rem;
      margin-left: 0.625rem;
      margin-top: 13px;
    }

    .el-form-item {
      .el-form-item__label {
        padding-right: 14px;
      }

      .el-form-item__content {

        .select-input,
        .coupons-name {

          width: 580px;
          height: 40px;
        }

        .issue-number,
        .consumption-threshold {
          width: 580px;
          height: 40px;
        }

        .issue-number_two {
          width: 540px;
          height: 40px;
        }

        .issue-number_three {
          width: 440px;
          height: 40px;
        }

        .issue-number_four {
          width: 541px;
          height: 40px;
        }

        .issue-number_five {
          width: 470px;
          height: 40px;
        }

        .issue-number {
          margin-right: 10px;
        }

        .consumption-threshold {
          margin: 0 10px;
        }

        .instructions {
          width: 580px;
        }

        .select-goods {
          .el-select {
            width: 400px;
          }
        }

        .select-class {
          width: 460px;
          padding: 10px 10px 10px 0;

          .addBtn {
            button {
              width: 96px;
              height: 38px;
              border: 1px solid #2890FF;
              border-radius: 4px;
              background-color: #fff;
              color: #2890FF;
              margin-left: 10px;
              margin: 0;
            }
          }

          .class-block {
            max-height: 200px;
            overflow: auto;
            width: 580px;

            .remove {
              margin-left: 20px;
            }
          }
        }

      }
    }



  }


  .dialog-block {

    // 弹框样式
    /deep/.el-dialog {
      width: 680px;
      // height: 540px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 !important;

      .el-dialog__header {
        width: 100%;
        height: 58px;
        line-height: 58px;
        font-size: 16px;
        margin-left: 19px;
        font-weight: bold;
        border-bottom: 1px solid #E9ECEF;
        box-sizing: border-box;
        margin: 0;
        padding: 0 0 0 19px;

        .el-dialog__headerbtn {
          font-size: 18px;
          top: 0 !important;
        }

        .el-dialog__title {
          font-weight: normal;
        }
      }

      .el-dialog__body {
        width: 100%;

        // height: 410px;
        // padding: 0 !important;
        .dialog-container {
          width: 100%;
          height: 410px;
          padding: 10px;

          .wl-transfer {
            height: 100% !important;

            .transfer-left,
            .transfer-right {
              width: 45% !important;
            }

            .transfer-center {
              width: 10% !important;
              left: 45%;
            }
          }
        }
      }

      .el-dialog__footer {
        width: 100%;
        height: 72px;
        border-top: 1px solid #E9ECEF;
        padding-top: 16px;
        padding-bottom: 14px;

        .qx_bt:hover {
          color: #2890FF;
          border: 1px solid #2890FF;
          background-color: #fff !important;
        }

        .form-footer {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .bgColor:hover {
            background-color: #fff;
            color: #2890ff;
            border: 1px solid #2890ff;
          }
        }
      }
    }
  }
}

.Search {
  display: flex;
}

.Search-select {
  width: 180px;
  margin-right: 10px;
}

.Search-input {
  width: 280px;
  margin-right: 10px;
}

.Table {
  margin-top: 14px;
  border: 1px solid #E9ECEF;
}
