.pj_font{
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #97A0B4;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 180px;
}
.pj_font2{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 180px;
}
.container {
  display: flex;
  flex-direction: column;
  .Search {
    .select-input {
      width: 180px !important;
      margin-right: 10px;
    }

    .Search-condition {
      .select-date {
        margin-right: 10px;
      }
    }
  }
  .merchants-list {
    flex: 1;
  }

  /deep/.el-table {
    .cell {
      // display: flex;
      // justify-content: center;
      .comment-img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
      .OP-button {
        button {
          width: 82px !important;
          padding: 5px;
          height: 24px;
          background: #ffffff;
          border: 1px solid #d5dbe8;
          border-radius: 2px;
          font-size: 12px;
          font-weight: 400;
          color: #888f9e;
          line-height: 9px;
        }
  
        button:hover {
          border: 1px solid rgb(64, 158, 255);
          color: rgb(64, 158, 255);
        }
  
        button:hover i {
          color: rgb(64, 158, 255);
        }
  
        .OP-button-top {
          margin-bottom: 8px;
          button {
            width: 82px !important;
            height: 24px;
            padding: 5px;
            text-align: center;
            background: #ffffff;
            border: 0.0625rem solid #d5dbe8;
            border-radius: 0.125rem;
            font-size: 0.75rem;
            font-weight: normal;
            color: #888f9e;
  
            &:not(:first-child) {
              margin-left: 8px !important;
            }
          }
        }
      }
  }
}