.container {
  display: flex;
  flex-direction: column;
  .select-input{
    width: 180px !important;
  }
  .query-input{
    margin-right: 0 !important;
  }
  .fontColor{
    margin-left: 10px;
  }
  .merchants-list {
    flex: 1;
    .OP-button-top {
      justify-content: center;

    }
  }
  .OP-button-top{
    display: flex;
    justify-content: center;
    margin-bottom:0px !important;
    button{
      margin-right: 10px;
    }
  }
  tr td:last-child{
    z-index: -999;
  }
  
  .el-select{
    margin-right: 10px;
  }
}