.head {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 40;
}

.header img {
    position: absolute;
    top: 26rpx;
    left: 20rpx;
    width: 24rpx;
    height: 36rpx;
}

.header a {
    position: absolute;
    width: 36rpx;
    height: 36rpx;
    border-radius: 50%;
}

.header_img {
    top: 46rpx !important;
    left: 10rpx !important;
    width: 64rpx !important;
    height: 64rpx !important;
}

.header p {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 88rpx;
    color: #020202;
    font-size: 32rpx;
}

.header span {
    height: 88rpx;
    width: 60rpx;
    display: inline-block;
    position: absolute;
}
.relative{
    width: 750rpx;
    height: 848rpx;
    background: #FFFFFF;
    border-radius: 0px 0px 24rpx 24rpx;
}
.noFindDiv{
    padding-top:  104rpx;
}

.noFindImg {
    width: 750rpx;
    height:460rpx;
}

.noFindTitle {
   font-size: 32rpx;
   
   font-weight: 500;
   color: #333333;
    margin: 32rpx 0;
}

.noFindText {
    font-size: 28rpx;
    
    font-weight: 400;
    color: #999999;
}
