.size(@size){
    font-size: @size;
    line-height: @size;
}
  .nodata{
        font-size: 28rpx;
        
        font-weight: 500;
        color: #888888;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%,-50%);
        image{
            width: 750rpx;
            // height: 388rpx;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        p{
            text-align: center;
            margin-top: 19rpx;
        }
    }
.container{
    min-height: 100vh;
    background-color: #f4f5f6;
    
    .jiantou{
        width:27rpx;
        height:15rpx;
        margin-left: auto;
        padding: 8rpx 20rpx;
    }
    
    .content{
        margin-bottom: 16rpx;
        // border-radius: 24rpx;
        .list:first-child{
            border-radius: 24rpx;
            border-top-left-radius: 0rpx;
            border-top-right-radius: 0;
            border-bottom-right-radius:24rpx ;
            border-bottom-left-radius:24rpx ;
        }
        .list{
            // background-color: #FFFFFF;
            border-radius: 24rpx;
            margin-bottom: 16rpx;
            background-color: #FFFFFF;
            &_top{
                // border-bottom: 1px solid #E5E5E5;
            }
            
            
            
            &_item{
                display: flex;
                align-items: center;
                // padding: 24rpx 0;
                height: 108rpx;
                // padding-left: 32rpx;
                border-bottom: 1px solid #E5E5E5;
                // padding-left: 32rpx;
                margin-left: 32rpx;
                // padding-right: 32rpx;
                margin-right: 32rpx;
                // border-radius: 24rpx;
            }
            &_item:last-child{
                display: flex;
                align-items: center;
                // padding: 24rpx 0;
                border-bottom: 0;
                height: 108rpx;
                // padding-left: 32rpx;
                // padding-left: 32rpx;
                
                // margin-left: 32rpx;
                // padding-right: 32rpx;
                margin-right: 32rpx;
                // border-radius: 24rpx;
            }
            &_bottom{
                margin-left: 60rpx;
                // background-color: #FFFFFF;
                &_item:last-child{
                    border-bottom-left-radius: 24rpx;
                    border-bottom-right-radius: 24rpx;
                }
                
                .list_item{
                    border-bottom: 1px solid #E5E5E5;
                }
                .list_item:last-child{
                    border-bottom:0;
                }
            }
            
            .label{
                display: flex;
                align-items: center;
                
                text{
                    .size(26rpx);
                }
                
                .checkBox{
                    width: 32rpx;
                    height: 32rpx;
                    position: relative;
                    box-sizing: border-box;
                    margin-right: 20rpx;
                    background-color: #fff;
                    border: 1px solid rgba(183,183,183,1);
                    border-radius:4rpx;
                    background-size: 80%;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                
                .checkBox.active{
                    border-color: #010101;
                }
                
            }
        }
        
    }
    .btn_box{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 124rpx;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: unset;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
        padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
        padding-bottom: env(safe-area-inset-bottom);
    }
    .circleImg{
        width: 34rpx;
        height: 34rpx;
        margin-right: 32rpx;
    }
    .w_btn{
        width: 686rpx;
        height:92rpx;
        background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32rpx;
        color: #fff;
        border-radius: 52rpx;
    }
    .bottomBox{
        height: 98rpx;
        
        >view{
			.solidBtn();
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 98rpx;
            font-size: 32rpx;
            line-height: 98rpx;
            text-align: center;
        }
    }
    
}


.pl_60{
    // padding-left: 60rpx!important;
    margin-left: 120rpx!important;
    border-bottom: 1px solid #E5E5E5 !important;
    
}
