
.QR-card {
    .orderInfo{
        background: #FFFFFF;
        padding:48rpx 0 64rpx;
        border-radius: 0px 0px 24rpx 24rpx;
        text-align: center;
        view{
            margin-top: 16rpx;
            font-size: 32rpx;
            
            font-weight: 500;
            color: #333333;
        }
    }
    .button {
        margin: 0 32rpx;
        .outBtn();
        // margin: 0 32rpx;
        border-radius: 5rpx;
        height: 92rpx;
        line-height: 92rpx;
        margin-bottom: 40rpx;
        font-size: 32rpx;
        border-radius: 52rpx;
        box-sizing: border-box;
        background-color:transparent;
    }
}
.QR-card .myOrder {
    .solidBtn();
    margin-top: 104rpx;
}
