.page_top{
    background-color: #fff;
    width: 100%;
    height: 156rpx;
    display: flex;
    align-items: center;
    margin-bottom: 16rpx;
    border-radius: 0 0 24rpx 24rpx;
}
.page_top_txt{
    display: flex;
    width: 686rpx;
    border-radius: 16rpx;
    height: 92rpx;
    display: flex;
    align-items: center;
    margin: 32rpx;
    background-color: #feeded;
}
.page_top_title{
    font-weight: 300;
    color: #FA5151;
    font-size: 32rpx;
}
.container{
    min-height: 100vh;
    background-color: #F5F5F5;
    
    .list{
        display: flex;
        align-items: center;
        height: 156rpx;
        background-color: #FFFFFF;
        border-radius: 24rpx;
        margin-top: 16rpx;
        image{
            width:64rpx;
            height:64rpx;
            border-radius:50%;
            margin-left: 30rpx;
        }
        
        >view{
            display: flex;
            flex-direction: column;
            height: 92rpx;
            padding: 32rpx;
            view{
                font-size: 32rpx;
                
                font-weight: 400;
                color: #333333;
                margin-bottom: 8rpx;
            }
            
            text{
                font-size: 28rpx;
                
                font-weight: 400;
                color: #999999;
            }
        }
        
        >text{
            font-size: 28rpx;
            
            font-weight: 400;
            margin-top: 40rpx;
            color: #999999;
            margin-left: auto;
            margin-right: 30rpx;
            span{
                color: #FA5151;
            }
        }
    }

    .list:not(:last-child){
        border-bottom: 1px solid #E5E5E5;
    }

}


.noRecord{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200rpx;
    
    image{
        width: 750rpx;
        height: 388rpx;
        margin-bottom: 40rpx;
    }
    
    text{
        font-size: 28rpx;
        color: #333333;
    }
    
}
