.wallet_account {
    width: 686rpx;
    height: 444rpx;
    background-color: #fff;
    border-radius: 10px;
    // margin: 42rpx auto ;
    margin-bottom: 24rpx;
    //margin-top: 32rpx;
    margin-left: auto;
    margin-right: 32rpx;
    color: #fff;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-position: left top;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.wallet_r {
    position: absolute;
    left: 0;
    bottom: 32rpx;
    width: 100%;
    height: 88rpx;
}

.wallet_r,
.wallet_r>div,
.wallet_mx {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.wallet_mx>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.wallet_value{
    font-size: 32rpx;

    line-height: 30rpx;
    color: #333333;
    font-weight: 500;
}

.wallet_size{
    font-size: 28rpx;
    
    line-height: 28rpx;
    color: #999999;
    margin-top:16rpx;
}

.wallet_r>div {
    .center();
    width: 50%;
    height: 92rpx;
    font-size: 30rpx;
    color: @btnBackground;
    border-radius: 2rpx solid #FA5151;
    border: 50%;
}
.btn{
    position: absolute;
    left: 0;
    bottom: 32rpx;
    width: 100%;
    height: 92rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}
.null{
    width: 100%;
    margin-top: 100rpx;
}
.tips {
    width: 100%;
    text-align: center;
            
            font-weight: 400;
            color: #333333;
            font-size: 28rpx;
        }
.null_img{
    width: 100%;
    height: 380rpx;
}
.btn_left{
    width: 296rpx;
    height: 92rpx;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #FA5151;
    border-radius: 50rpx;
    border: 2rpx solid #FA5151;
    margin-right: 32rpx;
}
.overflow-btn-jymxl{
    color: #9a9899;
    font-size: 28rpx;
    
    // font-weight: 500;
}
.btn_rigth{
    width: 296rpx;
    height: 92rpx;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    background: linear-gradient(
    270deg
    , #FF6F6F 0%, #FA5151 100%);
    border-radius: 50rpx;
    border: 2rpx solid #FA5151;
}
.wallet_r>div img {
    width: 40rpx;
    height: 32rpx;
    margin-right: 20rpx;
    
}
.wallet_border>span{
    width: 80%;
    display: flex;
    height: 92rpx;
    justify-content: center;
    align-items: center;
    border-radius: 2rpx solid #FA5151;
    // background-color: #FA5151;
}
// .wallet_border {
//     height: 92rpx;
// }

.wallet_ct {
    font-size: 56rpx;
    font-weight: bold;
    line-height: 68rpx;
    font-family: DIN-Bold, DIN;
    margin-bottom: 32rpx;
    margin-top: 88rpx;
    color: #333333;
}

.wallet_xt {
    font-size: 32rpx;
    line-height: 32rpx;
    // margin-top: 32rpx;
    color: #666666;
}

.wallet_my {
    font-size: 30rpx;
    color: #020202;
    padding: 0 30rpx 24rpx 30rpx;
    border-bottom: 1px solid #000000-10%;
    font-weight: bold;
}

.wallet_mx {
    height: 126rpx;
    margin: 0 30rpx;
    border-bottom: 1rpx solid #eee;
    font-size: 28rpx;
    color: #242424;
}

.wallet_zhi {
    font-size: 32rpx;
    font-weight: 500;
    color: #FA5151;
    
}

.hei{
    font-size: 32rpx;
    color: #999;
    
}
.buttom_db{
    margin-top: 48rpx;
    font-size: 24rpx;
    padding-bottom: 64rpx;
    
    font-weight: 400;
    color: #999999;
    text-align: center;
    line-height: 32rpx;
}
.position {
    width: 100%;
    padding-top: 32rpx;
    background-repeat: no-repeat;
    background-size: 750rpx 254rpx;
    background-color: #f4f5f6;
}

.wallet_account_box {
    height: 506rpx;
    position: relative;
    background-color: #f4f5f6;
    box-sizing: border-box;
}

.wallet_account_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.wallet_account_bg .img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.wallet_ct,
.wallet_xt {
    z-index: 2;
}
.overflow-btn{
    width: 100%;
    height: 120rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 24rpx 24rpx 0 0;
    border-bottom: #eee 1rpx solid;
}
.overflow-btn-box{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.overflow-btn-jymx{
    color: #333333;
    font-size: 32rpx;
    font-weight: 600;
    
    font-weight: 500;
    
}
.overflow-btn-hx{
    width: 128rpx;
    height: 4rpx;
    background-color: #FA5151;
    margin-top: 8rpx;
}
.overflow {
    overflow: hidden;
    // border-radius: 24rpx;
    background-color: #fff;
    border-bottom-left-radius: 24rpx;
    border-bottom-right-radius: 24rpx;
}

.nodata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 128rpx;
    padding-bottom: 128rpx;
    // background-color: #fff;
    img{
        width: 750rpx;
        height: 460rpx;
    }
    p{
        color: #888888;
        margin-top: 28rpx;
        font-size: 28rpx;
    }
}
