.box {
    height: 100vh;
    background-color: #f6f6f6;
}
// /deep/.uni-input-input{
//     color: #333333;
//     font-size: 40rpx;
// }

.head {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 40;
}

.header {
    background-color: white;
}

.header img {
    position: absolute;
    top: 28rpx;
    left: 20rpx;
    width: 24rpx;
    height: 36rpx;
}

.header p {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 88rpx;
}

.put_head {
    height: 60rpx;
    line-height: 60rpx;
    padding: 0 30rpx;
    font-size: 22rpx;
    color: #9d9d9d;
    position: relative;
}

.put_head span {
    color: #020202;
}

.put_head,
.put_money,
.yz_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input::-webkit-input-placeholder {
    color: #9d9d9d;
}

.put_money {
    background-color: #fff;
    font-size: 28rpx;
    color: #020202;
}

.message {
    font-size: 28rpx;
    background-color: #f4f5f6;
    color: #020202;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 24rpx;
}
.yuankuan{
    border: 2rpx solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 498rpx;
    height: 76rpx;
    border-radius: 16rpx;
    // margin: 0 16rpx;
}
.message li {
    display: flex;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;


    &.gap {
        height: 20rpx;
        background: #f6f6f6;
        margin: 0 !important;
        margin-left: 0;
        width: 100%;
    }

    &.add-bank-li {
        display: flex;
        position: relative;
        font-size: 32rpx;
        height: 100rpx;
        .left_text {

            //font-size: 30rpx;
            
            // font-weight: 500;
            color: #333333;
            width: 148rpx;
        }
        .placeholder {

            font-size: 32rpx;
            
            // font-weight: 500;
            color: #999999;
        }
        img {
            position: absolute;
            width: 32rpx;
            height: 44rpx;
            right: 32rpx;
        }
    }
}

li .left_text {
    // font-weight: 500;
    width: 148rpx;
    font-size: 32rpx;
    margin-right: 32rpx;
    color: #333333;
}
input{
    height: auto;
}
.message input {
    border: none;
    padding: 0 20rpx;
    flex: 1;
    font-size: 28rpx;
}

.setup-buttom {
    height: 90rpx;
    width: 690rpx;
    margin: 0 auto;
    position: relative;
    border-radius: 56rpx;
    margin-top: 72rpx;
}

.setup-buttom1 {
    width: 690rpx;
    height: 90rpx;
    background-color: #FCA8A8;
    line-height: 90rpx;
    border-radius: 56rpx;
    display: flex;
    justify-content: center;
    color: #fff;
}
.setup-buttom1 {
    height: 90rpx;
    width: 690rpx;
    margin: 0 auto;
    position: relative;
    margin-top: 70rpx;
}

.put_head > p:first-child {
    font-size: 21rpx;
}

.put_head > p:last-child {
    color: #020202;
    font-size: 22rpx;
}

.yz_li {
    position: relative;
    border: none;
}
.mask_title_title{
    width: 100%;
    line-height: 68rpx;
    height: 68rpx;
    
    text-align: center;
    font-weight: 500;
    color: #333333;
    font-size: 40rpx;
}
.yz_span {
    text-align: right;
    width: auto !important;
    color: #D73B48;
    margin-right: 15px;
    font-size: 32rpx;
}

.yz_li .active {
    text-align: right;
    width: auto !important;
    color: #666666;
    padding-right: 28rpx;
}

.hr {
    height: 20rpx;
    width: 100%;
    background: #f6f6f6;
}

.put_mons {
    font-size: 28rpx;
    color: #b8b8b8;
}
.mask{

}
.mask > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 740rpx;
    background: #fff;
    display: flex;
    flex-direction: column;

}

.mask_title {
    display: flex;
    justify-content: space-between;
    height: 136rpx;
    width: 100%;
    line-height: 100rpx;
    color: #020202;
    font-size: 30rpx;
    padding: 0 32rpx;
    box-sizing: border-box;
    align-items: center;
    

}

.closeImg {
    width: 48rpx;
    height: 48rpx;
}

.chooseValueBox {
    display: flex;
    height: 90rpx;
    background: #f6f6f6;
    font-size: 28rpx;
    color: #020202;
    line-height: 90rpx;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
}

.chooseValue {
    display: flex;
    align-items: center;
}

.chooseValue .span {
    white-space: nowrap;
    padding: 0 30rpx;
    color: @tabColor;
    font-size: 28rpx;
}

.chooseValue .fenge{
    width: 15rpx;
    height: 27rpx;
}

.flex {
    display: flex;
}

.chooseBox {
    flex: 1;
    overflow: scroll;
    padding: 0 30rpx;
    box-sizing: border-box;
}

.new {
    //margin-top: 57rpx;
    font-size: 30rpx;
    
    color: #020202;
    display: flex;
    align-items: center;
    height: 100rpx;
    padding-left: 30rpx;

}

.chooseBox li {
    height: 108rpx;
    line-height: 108rpx;
    color: #333333;
    font-size: 32rpx;
    border-bottom: 0.5px solid #00000010;
    box-sizing: border-box;
    display: block;
    justify-content: space-between;
    align-items: center;
    img{
        width: 29rpx;
        height: 29rpx;
        float: right;
    }
}

// .chooseBox li.active1 {
//     display: block;
//     justify-content: space-between;
//     align-items: center;
// }

.chooseBox li.active1 {
    display: block;
    justify-content: space-between;
    align-items: center;
        // color: @tabColor;
        color: #FA5151;
}
.chooseBox li.active {
    color: #333333;
    display: block;
    justify-content: space-between;
    align-items: center;
}
.chooseBtn{
    .center();
    font-size: 30rpx;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 124rpx;box-shadow: 0px -1rpx 0px 0px rgba(0,0,0,0.2);
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
}
.chooseBtn_left{
    color: #FA5151;
    width: 332rpx;
    line-height: 92rpx;
    text-align: center;
    border-radius: 50rpx;
    height: 92rpx;
    
    margin-right: 22rpx;
    font-weight: 500;
    border: solid 2rpx  #FA5151;
}
.chooseBtn_rigth{
    color: #Fff;
    width: 332rpx;
    line-height: 92rpx;
    text-align: center;
    border-radius: 50rpx;
    font-weight: 500;
    height: 92rpx;
    background-color: #FA5151;
}
.active1 .img {
    width: 29rpx;
    height: 29rpx;
    float: right;
}
.withdrawal-box{
    background: #fff;    
    width:100%;
    overflow: hidden;
    margin: 24rpx 0;
    border-radius: 24rpx;
    view{
        ;
        padding:32rpx 0;
        margin: 0 32rpx;
        display:flex;
        align-items: center;
        font-size: 32rpx;
        color: #333333;
        font-weight: 500;
        // margin: 24rpx 0 0;
        border-bottom: 1rpx solid rgba(0,0,0,.1);
        &:nth-child(1){
            border-radius:24rpx 24rpx 0 0 ;
        }
        &:nth-last-child(1){
            border: none;
            border-radius:0 0 24rpx 24rpx;
        }
        view{
            
        }
    }
    .withdrawal-box-title{
        min-width: 160rpx;
        font-weight: 400;
        margin-right: 32rpx;
    }
}
