.header {
    background-color: white;
}

.header img {
    position: absolute;
    top: 28rpx;
    left: 20rpx;
    width: 24rpx;
    height: 36rpx;
}

.header p {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 88rpx;
}

.success_head {
    text-align: center;
    font-size: 28rpx;
    height: 272rpx;
    color: #020202;
    border-radius: 25rpx;
    background-color: #fff;
}

.success_head img {
    width: 68rpx;
    height: 68rpx;
    margin-top: 48rpx;
}

ul {
   
}

li {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 32rpx;
    border-bottom: 1rpx solid rgba(0,0,0,.1);
    font-size: 32rpx;
    flex:1;
    font-weight: 500;
    color: #333333
}

li p:first-child {
   
}
page{
    background-color: #f4f5f6;
}
.go_shopping{
    background: linear-gradient(270deg, #FF6F6F 0%, #FA5151 100%);
    border-radius: 52rpx;
}

.look_order {
    border-radius: 52rpx;
}

.ulbox{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    border-radius: 24rpx;
    // align-items: center;
    li{ 
        box-sizing: border-box;
        padding: 32rpx 0;
        margin: 0 32rpx;
        font-weight: 500;
        &:nth-child(1){
            font-weight: 400;
            padding: 32rpx ;
            margin: 0rpx;
        }
        // display: flex;
        // justify-content: center;
        &:nth-last-child(1){
            border: none;
        }
    }
    .isBankCard-wx{
        display: flex;
        align-items: center;
        >image{
            width: 40rpx;
            height: 40rpx;
            border-radius: 50%;
            margin-right: 12rpx;
        }
    }
}
.success_title {
    padding-bottom: 5rpx;
    font-size: 32rpx;
    color: #333333;
    font-weight: 500;
    
    margin-top: 16rpx;
}

.success_title_disc {
    font-size: 28rpx;
    margin-top: 8rpx;
    
    color: #999999;
}

.hr {
    height: 24rpx;
    background: #F4F5F6;
    // color: #666666;
    // font-size: 28rpx;
    // background-color: #eee;
    // padding-left: 5%;
    width: 100%;
}

.money {
    font-size: 60rpx;
    font-weight: bold;
    color: #333333;
    margin: 10rpx 0;
}
