.order_goods{    
    border-radius: 0px 0px 24rpx 24rpx;
    margin-bottom:24rpx ;
    background-color: #fff;
    li{
        margin: 0;
    }
}
.order_two {
    // border-radius: 0px 0px 24rpx 24rpx;
   border: none;
   padding:   32rpx ;
   .shopImg{
       width: 216rpx;
       height: 216rpx;
       border-radius: 16rpx;
       margin-right: 24rpx;
   }
   .order_two_a {
       // margin-right: 20rpx;
       flex: 1;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       height: 216rpx;             
       .price_num {
           display: flex;
           justify-content: space-between;
           align-items: center;
           font-size: 32rpx;
           color: #FA5151;
           .price{
               font-weight: 600;
               .price_symbol{
                   font-size: 24rpx;
               }
           }
       }
       .order_p_name {
           text-align: start;
            height: auto;
            margin: 0 0 20rpx 0;
            font-size: 32rpx;
            color: #333333;
            overflow:hidden;
            text-overflow:ellipsis;
            display: -webkit-box;
           -webkit-line-clamp: 2;
           -webkit-box-orient: vertical; 
       }
       .color_one{
           text-align: start;
           // margin-top: 20rpx;
           max-width: 260rpx;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           font-size: 24rpx;
           color: #999999;
       }
       .color_two {
          color: #999999;
          // margin: 10rpx 0;
       }
   }
    
}

.refund_pay {
     border-radius:24rpx;
    margin-left: 5rpx;
    font-size: 32rpx;
    color: #020202;
    background-color: #fff;
}

.refund_pay>li,
.right_d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.refund_pay>li:nth-child(1) {
    align-items: center;
    justify-content: space-between;
}

.refund_pay>li {
    width:auto;
    padding: 32rpx 0rpx 32rpx 0;
    margin: 0 32rpx 0 32rpx ;
    border-bottom: 1rpx solid #eee;
}

.uploadphoto {
    font-size: 24rpx;
    // padding-top: 10rpx;
    border:1rpx dashed #CCCCCC;
    position: relative;
    color: #333333;
    width: 160rpx;
    height: 160rpx;
    float: left;
    margin-right: 15rpx;
    text-align: center;
    border-radius: 16rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.uploadphoto .p {
    font-size: 24rpx;
    // width: 100rpx;
    margin: 0 auto;
    color: #b8b8b8;
}

.xiangji {
    width: 48rpx;
    height: 48rpx;
    margin-bottom: 20rpx;
}

.input {
    position: relative;
    width: 100%;
    // border: 1px solid rgba(0,0,0,0.1);
    // margin-top: 32rpx;
   .words_num{
       position: absolute;
       right: 24rpx;
       bottom: 24rpx;
       font-size: 28rpx;
       color: #333333;
       span{
           color: #999999;
       }
   }
}
.input_text {
     border-radius: 16rpx;
    border: none;
    min-height: 136rpx;
    /* #ifdef MP */
    min-height: 240rpx;
    /* #endif */
    font-size: 28rpx;
    margin-left: 20rpx;
    width: 526rpx;
    box-sizing: border-box;
    color:#020202;
     padding:16rpx;
     margin-left: 0;
     word-break: break-all;
     border: 1rpx solid rgba(0,0,0,0.1);
     padding-bottom: 60rpx;
}

.refund_money {
    border: none;
    width: 51%;
    margin: 2rpx 0 0 10rpx;
}

.refund_color {
    font-size: 32rpx;
    color: #9D9D9D;
}

.refund_scoreDeduction{
    flex: 1;
    display: flex;
    color: #FA5151;
}

.font_red {
    color: #FA5151;
}

.bottom {
    // height: 98rpx;
    // width: 100%;
    // font-size: 32rpx;
    // color: #fff;
    // text-align: center;
    // line-height: 98rpx;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // background-color: @btnBackground;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    // height: 124rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: 16rpx;
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    /* #ifndef MP */
    padding-bottom: 16rpx;
    /* #endif */
    span{
        width: 686rpx;
        height: 92rpx;
        font-size: 32rpx;
        color: #fff;
        text-align: center;
        line-height: 92rpx;
        border-radius: 52rpx;
        margin: 0 auto;
        padding:0;
        .solidBtn()
    }
}

.p_name {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.img_dele {
    position: absolute;
    top: 10rpx;
    right: 10rpx;
    height: 20rpx;
    width: 20rpx;
}

.evaluat_img {
    height: 100%;
    width: 100%;
    border-radius: 16rpx;
}

.img_dele {
    height: 28rpx;
    width: 28rpx;
}

.evaluat_li {
    float: left;
    height: 150rpx;
    width: 150rpx;
    margin-right: 24rpx;
    position: relative;
}

.evaluat_ul:after {
    display: block;
    content: "";
    clear: both;
}

/*  申请成功     */
.return_end_head{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0rpx 0rpx 24rpx 24rpx;
    margin-bottom: 24rpx;
    background-color: #ffffff;
    .end_tips{
        margin-left: 16rpx;
    }
}
.return_end {
    font-size: 28rpx;
    color: #333333;
}

.pic {
    text-align: center;
    width:68rpx;
    height:68rpx;
}

.pic img {
    width:68rpx;
    height:68rpx;
}

.end_one {
    font-size: 32rpx;
    
    font-weight: 500;
    color: #333333;
    margin-top: 88rpx;
}

.end_two {
    font-size: 28rpx;
    
    font-weight: 400;
    color: #999999;
    margin: 16rpx 0 88rpx 0;
}

.return_message {
    height: 108rpx;
    padding: 32rpx;
    border-bottom: 1rpx solid rgba(0,0,0,.1);
    font-size: 32rpx;
    
    font-weight: 400;
    color: #333333;
    border-radius:24rpx 24rpx 0 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

.end_message {
    display: flex;
}

.end_message {
    padding: 32rpx 0;
    margin: 0 32rpx;
    border-bottom: 1rpx solid rgba(0,0,0,.1);
    
    font-weight: 500;
    box-sizing: border-box;
    &:nth-last-child(1){
        border:0;
    }
}

.end_text {
    width: 450rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}

.end_lef {
    text-align: justify;
    width: 160rpx;
    height: 44rpx;
    font-size: 32rpx;
    
    font-weight: 400;
    color: #333333;
    display:-webkit-inline-box;
    overflow: hidden; /*超出隐藏*/
    text-overflow: ellipsis;/*隐藏后添加省略号*/
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:1; //想显示多少行
}

.end_lef:after {
    // width: 100%;
    // height: 0;
    // margin: 0;
    // display: inline-block;
    // overflow: hidden;
    // content: '';
}


/* 优化 */
.order_two_div {
    margin-right: 92rpx;
    width: 50%;
    .color_one{
        margin-top: 10rpx;
    }
}

.yh-line {
    height: 32rpx;
    width: 100%;
    background-color: #eee;
}

.right_d_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    input{
        // font-weight: 600 !important;
    }
}
.right_d_right{
    width: 200rpx;
    text-align: end;
}
.yh-refund_color {
    color: #999999;
    font-size: 32rpx;
    // padding-right: 32rpx;
}

.yh-return_suess-div {
    height: 150rpx;
}

.yh-return-end-div {
    height: 32rpx;
    width: 100%;
    background-color: #eee;
}

.evaluat_imgBox {
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.flex1 {
    flex: 1;
    word-break: break-all;
}

.end_msg_ul {
    color: #333333;
    font-size: 32rpx;
    background-color: #ffffff;
    border-radius: 0 0 24rpx 24rpx;
}


.leftText{
    display: inline-flex;
    align-items: center;
    // justify-content: flex-end;
    width: 160rpx;
    // margin-left: 32rpx;
}
.leftText span{
    display: inline-block;
    max-width: 160rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
