<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.ActivityProModelMapper">

    <sql id="selectGoodsDynamicSQL">
        <if test="activityId != null">AND pro.activity_id = #{activityId} and pro.p_id=a.id</if>
        <if test="store_id != null">AND a.store_id = #{store_id}</if>
        <if test="cid != null">AND a.product_class LIKE CONCAT('%-', #{cid},'-%')</if>
        <if test="goodsIdList != null">
            <foreach collection="goodsIdList" item="id" separator="," open="and pro.p_id in(" close=")">
                #{id}
            </foreach>
        </if>
        AND a.mch_status = 2
        AND a.recycle = 0
        AND a.active = 1
        AND c.recycle = 0
    </sql>

    <select id="selectGoodsDynamic" parameterType="Map" resultType="Map">
        SELECT
        a.store_id,
        a.activity_id,
        a.p_id,
        a.is_display,
        a.sort,
        a.add_date,
        a.product_title,
        a.imgurl,
        a.num,
        a.pid,
        a.mch_status,
        a.recycle,
        a.product_class,
        a.price
        FROM
        (
        SELECT
        pro.store_id,
        pro.activity_id,
        pro.p_id,
        pro.is_display,
        pro.sort,
        pro.add_date,
        a.product_title,
        a.imgurl,
        c.num,
        c.pid,
        c.recycle as crecycle,
        a.mch_status,
        a.recycle,
        a.product_class,
        min(c.price) over(partition by c.pid) AS price,
        ROW_NUMBER() over(partition by c.pid) AS top
        FROM
        lkt_activity_pro pro
        inner JOIN lkt_product_list AS a on pro.p_id=a.id
        left JOIN lkt_configure AS c ON a.id = c.pid
        ) AS a
        <where>
            <trim prefixOverrides="and">
                <if test="group_goodsId!=null">and a.top &lt;2</if>
                <if test="activityId != null">AND a.activity_id = #{activityId} and a.p_id=a.id</if>
                <if test="store_id != null">AND a.store_id = #{store_id}</if>
                <if test="cid != null">AND a.product_class LIKE CONCAT('%-', #{cid},'-%')</if>
                <if test="goodsIdList != null">
                    <foreach collection="goodsIdList" item="id" separator="," open="and a.p_id in(" close=")">
                        #{id}
                    </foreach>
                </if>
                AND a.mch_status = 2
                AND a.recycle = 0
                AND a.active = 1
                AND a.crecycle = 0
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <choose>
                <when test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort}</when>
                <otherwise>a.sort DESC</otherwise>
            </choose>
        </trim>
        <if test="page != null and pageSize!=null">
            LIMIT #{page},#{pageSize}
        </if>
    </select>

    <select id="countGoodsDynamic" parameterType="Map" resultType="int">
        SELECT count(distinct a.id)
        FROM
        lkt_activity_pro pro
        inner JOIN lkt_product_list AS a on pro.p_id=a.id
        left JOIN lkt_configure AS c ON a.id = c.pid
        <where>
            <trim prefixOverrides="and">
                <include refid="selectGoodsDynamicSQL"/>
            </trim>
        </where>
    </select>
    <select id="getActivityGoodsList" resultType="java.util.Map">
        SELECT
        a.id,
        a.cover_map,
        a.product_title,
        a.imgurl,
        a.status,
        a.volume,
        a.price,
        a.yprice,
        a.s_type
        FROM
        (
        SELECT
        a.id,
        a.cover_map,
        a.product_title,
        a.imgurl,
        a.status,
        IF
        ( a.volume &lt; 0, 0, a.volume )+ a.real_volume AS volume,
        a.s_type,
        min( c.price ) over(partition by c.pid) AS price,
        c.yprice,
        ROW_NUMBER() over(partition by c.pid) AS top
        FROM
        lkt_activity_pro AS b
        LEFT JOIN lkt_product_list AS a ON b.p_id = a.id
        RIGHT JOIN lkt_configure AS c ON a.id = c.pid
        WHERE
        b.store_id = #{storeId}
        AND b.activity_id = #{aId}
        AND b.is_display = 1
        AND a.store_id = #{storeId}
        AND a.mch_status = 2
        AND a.recycle = 0
        AND a.active = 1
        <if test='statusList != null'>
            <foreach collection="statusList" item="status" separator="," open="and a.status in(" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
        ORDER BY
        b.sort DESC
        ) AS a
        WHERE a.top = 1
    </select>
</mapper>