<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.AuctionRecordModelMapper">
    <resultMap id="BaseResultMap" type="com.laiketui.domain.auction.AuctionRecordModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="store_id" property="store_id" jdbcType="INTEGER"/>
        <result column="auction_id" property="auction_id" jdbcType="INTEGER"/>
        <result column="add_time" property="add_time" jdbcType="TIMESTAMP"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="user_id" property="user_id" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, store_id, auction_id, add_time, price, user_id
    </sql>

    <sql id="selectAuctionRecordInfoSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="store_id != null">and a.store_id = #{store_id}</if>
                <if test="auction_id != null">and a.auction_id = #{auction_id}</if>
                <if test="key != null">AND (a.id =#{key} or a.user_id =#{key} or b.user_name LIKE CONCAT('%',#{key},'%'))</if>
            </trim>
        </where>
    </sql>

    <select id="selectAuctionRecordInfo" parameterType="Map" resultType="Map">
        select a.* ,b.user_name,b.mobile from lkt_auction_record as a left join lkt_user as b on a.user_id = b.user_id
        <include refid="selectAuctionRecordInfoSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <if test="id_sort!=null and id_sort!=''">a.id ${id_sort},</if>
            <if test="add_time_sort!=null and id_sort!=''">a.add_time ${add_time_sort},</if>
            <if test="price_sort!=null and price_sort!=''">a.price ${price_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != null">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countAuctionRecordInfo" parameterType="Map" resultType="int">
        select count(a.id) from lkt_auction_record as a left join lkt_user as b on a.user_id = b.user_id
        <include refid="selectAuctionRecordInfoSQL"/>
    </select>

    <sql id="selectAuctionRecordListSQL">
        <if test="id != null">and a.id = #{id}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="auction_id != null">and a.auction_id = #{auction_id}</if>
        <if test="user_name != null">and c.user_name like concat('%',#{user_name},'%')</if>
        <if test="user_id != null">and c.user_id like concat('%',#{user_id},'%')</if>
    </sql>

    <select id="selectAuctionRecordList" parameterType="Map" resultType="Map">
        select @i := @i+1 as my_no,#{pageStart} as offset,a.id as a_id,a.title,a.price,a.imgurl,a.current_price as
        c_price,a.status,a.is_buy,b.id as id,b.price as user_price,b.add_time,
        c.user_name,c.user_id,b.id as r_id,c.headimgurl from (lkt_auction_product as a left join lkt_auction_record as b
        on a.id = b.auction_id)
        left join lkt_user as c on b.user_id = c.user_id left join (select @i := #{pageStart}) as r
        <where>
            <trim prefixOverrides="and">
                <include refid="selectAuctionRecordListSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="id_sort!=null and id_sort!=''">b.id ${id_sort},</if>
            <if test="add_time_sort!=null and id_sort!=''">b.add_time ${add_time_sort},</if>
            <if test="price_sort!=null and price_sort!=''">b.price ${price_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != null">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countAuctionRecordList" parameterType="Map" resultType="int">
        select count(b.id) as num
        from (lkt_auction_product as a left join lkt_auction_record as b on a.id = b.auction_id)
                 left join lkt_user as c on b.user_id = c.user_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectAuctionRecordListSQL"/>
            </trim>
        </where>
    </select>



</mapper>