<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.AuctionPromiseModelMapper">
    <resultMap id="BaseResultMap" type="com.laiketui.domain.auction.AuctionPromiseModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="user_id" jdbcType="VARCHAR"/>
        <result column="promise" property="promise" jdbcType="TINYINT"/>
        <result column="add_time" property="add_time" jdbcType="TIMESTAMP"/>
        <result column="a_id" property="a_id" jdbcType="INTEGER"/>
        <result column="trade_no" property="trade_no" jdbcType="CHAR"/>
        <result column="is_pay" property="is_pay" jdbcType="TINYINT"/>
        <result column="is_back" property="is_back" jdbcType="TINYINT"/>
        <result column="store_id" property="store_id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="CHAR"/>
        <result column="allow_back" property="allow_back" jdbcType="TINYINT"/>
        <result column="address_id" property="address_id" jdbcType="INTEGER"/>
        <result column="source" property="source" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, promise, add_time, a_id, trade_no, is_pay, is_back, store_id, type,
    allow_back, address_id, source
    </sql>

    <sql id="selectAuctionPromiseListSQL">
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="specialId != null">and c.id = #{specialId}</if>
        <if test="is_pay != null">and a.is_pay = #{is_pay}</if>
        <if test="userId != null">and b.user_id = #{userId}</if>
        <if test="key != null">and (b.user_id = #{key} OR b.user_name like
            concat('%',#{key},'%') OR b.mobile = #{key})
        </if>
        <if test="specialName != null">and c.name like concat('%',#{specialName},'%')</if>
        <if test="recovery != null">and a.recovery = #{recovery}</if>
        <if test="type != null">
            <choose>
                <!--0=未缴纳 1=已缴纳 2=已退还 3=已扣除 -->
                <when test="type==0 and MyPromiseList !=null">and a.is_pay =1</when>
                <when test="type==0">and a.is_pay is null and a.is_back is null</when>
                <when test="type==1">and a.is_pay=1 and a.is_back is null and is_deduction=0</when>
                <when test="type==2">and a.is_pay=1 and a.is_back = 1</when>
                <when test="type==3">and a.is_pay=1 and a.is_back is null and is_deduction=1</when>
            </choose>
        </if>
        <if test="add_time_start != null">and a.add_time <![CDATA[  >=  ]]> #{add_time_start}</if>
        <if test="add_time_end != null">and a.add_time <![CDATA[  <  ]]>#{add_time_end}</if>
    </sql>

    <select id="selectAuctionPromiseList" parameterType="Map" resultType="Map">
        select c.`name` specialName, a.id,b.user_id,b.user_name,b.mobile,a.promise,DATE_FORMAT(a.add_time, '%Y-%m-%d %k:%i:%s')
        add_time,a.is_back,a.is_pay,a.is_deduction,DATE_FORMAT(a.back_time, '%Y-%m-%d %k:%i:%s') back_time from lkt_auction_promise as a
        left join lkt_user as b on a.store_id = b.store_id and a.user_id = b.user_id left join lkt_auction_special as c
        on a.special_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectAuctionPromiseListSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="id_sort!=null and id_sort!=''">a.id ${id_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != null">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countAuctionPromiseList" parameterType="Map" resultType="int">
        select count(distinct a.id) from lkt_auction_promise as a
        left join lkt_user as b on a.store_id = b.store_id and a.user_id = b.user_id left join lkt_auction_special as c
        on a.special_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectAuctionPromiseListSQL"/>
            </trim>
        </where>
    </select>
</mapper>