<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.BbsCategoryModelMapper">

    <sql id="selectDynamicSQL">
        <if test="id != null">and id = #{id}</if>
        <if test="recycle != nul">and recycle = #{recycle}</if>
        <if test="sid != null">and sid = #{sid}</if>
        <if test="level != null">and level = #{level}</if>
        <if test="name != null and name != ''">and name like concat ('%',#{name},'%')</if>
        <if test="store_id != null">and store_id = #{store_id}</if>
    </sql>
    <delete id="del">
        update lkt_bbs_category set recycle = 1
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_bbs_category
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
    </select>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
     select bimg,DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,id,img,is_popular,level,name from lkt_bbs_category
    <where>
        <include refid="selectDynamicSQL"/>
    </where>
     order by sort_order desc
     <if test="pageNo != null and pageSize != null">
         limit #{pageNo},#{pageSize}
     </if>
    </select>

    <select id="checkCount" resultType="java.lang.Integer">
        select count(1) from lkt_bbs_category
        where name = #{name} and level = #{level} and recycle = 0
        <if test="id != null">
            and id &lt;&gt;#{id}
        </if>
    </select>
</mapper>