<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.BbsTemplateConfigModelMapper">
    <sql id="selectDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">and id = #{id}</if>
                <if test="store_id != null">and store_id = #{store_id}</if>
                <if test="recycle != null">and recycle = #{recycle}</if>
                <if test="status != null">and status = #{status}</if>
            </trim>
        </where>
    </sql>
    <update id="del">
        update lkt_bbs_template_config set recycle = 1 where id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select id,store_id,name,icon,img,status,DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time from lkt_bbs_template_config
        <include refid="selectDynamicSQL"/>
        <if test="pageNo != null and pageSize != ''">limit #{pageNo},#{pageSize}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_bbs_template_config
        <include refid="selectDynamicSQL"/>
    </select>
    <select id="checkCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM lkt_bbs_template_config WHERE name = #{name} and recycle = 0
        <if test="id != null">
            and id &lt;&gt;#{id}
        </if>
    </select>
</mapper>