<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.BlockHomeModelMapper" >

    <sql id="selectDynamicSQL">
        <if test="id != null">and a.id = #{id}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="recycle != null">and a.recycle = #{recycle}</if>
        <if test="likeName != null">and a.block_name like concat('%',#{likeName},'%')</if>
        <if test="goodsIdList != null">
            <foreach collection="goodsIdList" item="id" separator="," open="and b.product_id in (" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="enable_or_not != null and enable_or_not != ''"> and a.enable_or_not = #{enable_or_not}</if>
    </sql>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        SELECT
        a.id,
        a.block_name,
        a.keyword,
        a.add_date,
        a.sort,
        a.img,
        a.recycle,
        a.store_id,
        a.enable_or_not,
        a.product_id
        FROM
        (
        SELECT
        a.id,
        a.block_name,
        a.keyword,
        a.add_date,
        a.sort,
        a.img,
        a.recycle,
        a.store_id,
        a.enable_or_not,
        b.product_id,
        ROW_NUMBER() over(partition by a.id) AS top
        FROM
        lkt_block_home a
        LEFT JOIN lkt_block_product b ON a.id = b.main_id
        ) as a
        <where>
            <if test="group_id!=null">and a.top &lt;2</if>
            <if test="id != null">and a.id = #{id}</if>
            <if test="store_id != null">and a.store_id = #{store_id}</if>
            <if test="recycle != null">and a.recycle = #{recycle}</if>
            <if test="likeName != null">and a.block_name like concat('%',#{likeName},'%')</if>
            <if test="goodsIdList != null">
                <foreach collection="goodsIdList" item="id" separator="," open="and a.product_id in (" close=")">
                    #{id,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="enable_or_not != null and enable_or_not != ''">and a.enable_or_not = #{enable_or_not}</if>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
            <if test="add_date_sort!=null and add_date_sort!=''">a.add_date ${sort_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(0) from lkt_block_home a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>


    <sql id="selectGoodsInfoSQL">
        <if test="sourceId!=null and sourceId!='' and sourceType=='isMch'"> and c.mch_id=#{sourceId}</if>
        <if test="sourceId!=null and sourceId!='' and sourceType=='isSupplier'"> and c.gongyingshang=#{sourceId}</if>
        <if test="sourceType=='isSupplier'"> and c.gongyingshang !=''</if>
        <if test="id != null">and a.id = #{id}</if>
        <if test="language != null and language != ''">and c.lang_code = #{language}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="recycle != null">and a.recycle = #{recycle}</if>
        <if test="commodity_type != null">and c.commodity_type = #{commodity_type}</if>
        <if test="key != null">and (c.id like concat('%',#{key},'%') or c.scan like concat('%',#{key},'%') or c.product_title like concat('%',#{key},'%'))</if>
        <if test="cid != null">and c.product_class like concat('%-',#{cid},'-%')</if>
        <if test="bid != null">and brand.brand_id = #{bid}</if>
        <if test="startDate != null">and a.add_date <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null">and a.add_date <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="proStartDate != null">and b.add_date <![CDATA[  >=  ]]> #{proStartDate}</if>
        <if test="proEndDate != null">and b.add_date <![CDATA[  <=  ]]> #{proEndDate}</if>
        <if test="recycle != null">and a.recycle = #{recycle}</if>
        <if test="recycle != null">and a.recycle = #{recycle}</if>
        <if test="goodsIdList != null">
            <foreach collection="goodsIdList" item="id" separator="," open="and b.id in (" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="stockNum != null and stockNum!=''">AND c.num <![CDATA[ >  ]]>  0</if>
        <if test="GoodsStatus!=null">
            <foreach collection="GoodsStatus" item="status" separator="," open="and c.STATUS in(" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>


    <select id="selectGoodsInfo" parameterType="Map" resultType="Map">
        select case when c.gongyingshang>0 then s.supplier_name else m.name end as pro_source,m.name as
        mch_name,b.main_id, c.id
        ,c.scan,c.gongyingshang,c.mch_id,c.imgurl,c.product_title,c.num,c.volume,brand.brand_name
        brandName,b.sort,
        a.add_date,c.initial,b.id mappingId,b.add_date proAddDate,c.product_class classId,c.store_id,c.s_type,c.status,c.recycle
        from lkt_block_home a inner join lkt_block_product b on a.id=b.main_id
        inner join lkt_product_list c on c.id=b.product_id
        left join lkt_brand_class brand on brand.brand_id=c.brand_id
        left join lkt_mch m on m.id = c.mch_id
        left join lkt_supplier s on s.id = c.gongyingshang
        <where>
            <trim prefixOverrides="and">
                <include refid="selectGoodsInfoSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">b.sort ${sort_sort},</if>
            <if test="add_date_sort!=null and add_date_sort!=''">b.add_date ${sort_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countGoodsInfo" parameterType="Map" resultType="int">
        select count(1) from lkt_block_home a inner join lkt_block_product b on a.id=b.main_id
        inner join lkt_product_list c on c.id=b.product_id
        left join lkt_product_class class on class.cid=substring_index(substring_index(c.product_class, '-', 2), '-', -1)
        left join lkt_brand_class brand on brand.brand_id=c.brand_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectGoodsInfoSQL"/>
            </trim>
        </where>
    </select>

    <select id="getRepeatCount" parameterType="Map" resultType="int">
        select count(0) from lkt_block_home a  left join lkt_block_product b on a.id=b.main_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>


    <select id="getAllMch" parameterType="map" resultType="map">
        select id,name,'isMch' as type from lkt_mch
        where store_id=1 and  recovery=0 and review_status=1
        <if test="keyWord!=null and keyWord!=''"> and name like concat('%',#{keyWord},'%')</if>
    </select>

    <select id="getAllSupplier" parameterType="map" resultType="map">
        select distinct s.id,s.supplier_name as name,'isSupplier' as type from lkt_supplier s left join lkt_product_list p on p.gongyingshang=s.id
        where s.store_id=1 and s.recovery=0 and s.status=0
        <if test="keyWord!=null and keyWord!=''"> and s.supplier_name like concat('%',#{keyWord},'%')</if>
    </select>
</mapper>
