<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.BrandClassModelMapper">

    <sql id="getBrandClassDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="examine != null"> and examine = #{examine}</if>
                <if test="store_id!=null">and store_id = #{store_id}</if>
                <if test="lang_code !=null and lang_code != '' ">AND lang_code = #{lang_code}</if>
                <if test="categories!=null and categories!=''"> AND categories LIKE CONCAT('%,', #{categories}, ',%') </if>
                <if test="categoriesList != null">
                    <foreach collection="categoriesList" item="classId" separator="or" open="and (" close=")">
                        categories LIKE CONCAT('%,', #{classId}, ',%')
                    </foreach>
                </if>
                <choose>
                    <when test="status!=null">AND status = #{status}</when>
                    <otherwise>
                        AND status = 0
                    </otherwise>
                </choose>
                <if test="brandIdList != null">
                    <foreach collection="brandIdList" item="id" separator="," open="and brand_id in(" close=")">
                        #{id,jdbcType=INTEGER}
                    </foreach>
                </if>
                <choose>
                    <when test="recycle!=null">AND recycle = #{recycle}</when>
                    <otherwise>
                        AND recycle = 0
                    </otherwise>
                </choose>
            </trim>
        </where>
    </sql>

    <select id="getBrandClassDynamic" parameterType="Map" resultType="Map">
        SELECT distinct brand_id,
        brand_name,sort,notset
        FROM lkt_brand_class
        <include refid="getBrandClassDynamicSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <choose>
                <otherwise>sort DESC</otherwise>
            </choose>
        </trim>
    </select>

    <sql id="getBrandClassInfoSQL">
        AND recycle = 0 and notset = 0
        <if test="store_id!=null">and a.store_id = #{store_id}</if>
        <if test="brand_name!=null">AND brand_name LIKE CONCAT('%', #{brand_name}, '%')</if>
        <if test="lang_code != null and lang_code != '' ">AND a.lang_code = #{lang_code}</if>
        <if test="brand_id!=null">AND brand_id =#{brand_id}</if>
        <if test="mch_id!=null">AND mch_id =#{mch_id}</if>
        <if test="condition != null">AND (a.brand_name like CONCAT('%',#{condition},'%') or b.supplier_name like CONCAT('%',#{condition},'%') or c.name like CONCAT('%',#{condition},'%'))</if>
        <if test="examine!=null">AND examine =#{examine}</if>
        <if test="operator!=null and operator=='pt'">AND (mch_id is not null or supplier_id is not null)</if>
        <if test="brandExamineList != null">
            <foreach collection="brandExamineList" item="examine" separator="," open="and examine in("
                     close=")">
                #{examine}
            </foreach>
        </if>
    </sql>

    <select id="getBrandClassInfo" parameterType="Map" resultType="Map">
        SELECT a.*,CASE
        WHEN a.mch_id IS NOT NULL THEN c.name
        WHEN a.supplier_id IS NOT NULL THEN b.supplier_name
        ELSE '平台'
        END AS supplier_name
        FROM lkt_brand_class a left join lkt_supplier b on a.supplier_id = b.id left join lkt_mch c on a.mch_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getBrandClassInfoSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <choose>
                <otherwise>sort DESC</otherwise>
            </choose>
        </trim>
        <if test="pageStart != null and pageEnd!=null">
            LIMIT #{pageStart},#{pageEnd}
        </if>
    </select>

    <select id="countBrandClassInfo" parameterType="Map" resultType="int">
        SELECT count(1)
        FROM lkt_brand_class a left join lkt_supplier b on a.supplier_id = b.id left join lkt_mch c on a.mch_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getBrandClassInfoSQL"/>
            </trim>
        </where>
    </select>

    <sql id="getGoodsBrandListSQL">
        and a.brand_id = b.brand_id
        and c.cid = substring_index(substring_index(a.product_class, '-', 2), '-', -1)
        and a.recycle = 0
        and b.recycle = 0
        and c.recycle = 0
        and a.mch_status=2
        <if test="store_id!=null">and a.store_id = #{store_id}</if>
        <foreach collection="GoodsStatus" item="status" separator="," open="and a.STATUS in(" close=")">
            #{status,jdbcType=INTEGER}
        </foreach>
        <if test="brandIdList != null">
            <foreach collection="brandIdList" item="brandId" separator="," open="and b.brand_id in(" close=")">
                #{brandId}
            </foreach>
        </if>
        <if test="classIdList != null">
            <foreach collection="classIdList" item="classId" separator="," open="and c.cid in(" close=")">
                #{classId}
            </foreach>
        </if>
        <if test="brandId!=null">and b.brand_id = #{brandId}</if>
        <if test="classId!=null">and c.cid = #{classId}</if>
        <choose>
            <when test="is_presell!=null">and a.is_presell=#{is_presell}</when>
            <otherwise>and a.is_presell=0</otherwise>
        </choose>
        <if test="keyword != null">AND (a.product_title LIKE CONCAT('%',#{keyword},'%') or a.keyword LIKE CONCAT('%',#{keyword},'%'))</if>
    </sql>
    <select id="getGoodsBrandList" parameterType="Map" resultType="Map">
        select distinct b.brand_id,b.brand_name,b.sort from lkt_product_list a,lkt_brand_class b,lkt_product_class c
        <where>
            <trim prefixOverrides="and">
                <include refid="getGoodsBrandListSQL"/>
            </trim>
        </where>
    </select>

    <select id="getBrandDynamic" parameterType="Map" resultType="Map">
        SELECT distinct brand_id as id,
        brand_name as name,sort
        FROM lkt_brand_class
        <include refid="getBrandClassDynamicSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <choose>
                <otherwise>sort DESC</otherwise>
            </choose>
        </trim>
    </select>
</mapper>