<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.CommentsModelMapper">
    <select id="getCommentsDynamicByPid" parameterType="Map" resultType="com.laiketui.domain.product.CommentsModel">
        SELECT *
        FROM lkt_comments
        WHERE store_id = #{store_id}
        AND pid = #{pid}
        <if test="like_oid!=null and like_oid!=''">
            AND oid LIKE CONCAT(#{like_oid},'%')
        </if>
        ORDER BY add_time DESC
        <if test="pageNo!=null and pageSize!=null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <sql id="getCommentsUserDynamicByPidSQL">
        <if test="commentId!=null and commentId!=''">AND a.id = #{commentId}</if>
        <if test="pid!=null and pid!=''">AND a.pid = #{pid}</if>
        <if test="attribute_id!=null">and a.attribute_id = #{attribute_id}</if>
        <if test="like_oid!=null and like_oid!=''">AND oid LIKE CONCAT(#{like_oid},'%')</if>
        <if test="type!=0 and type == 1">and a.CommentType <![CDATA[  >=  ]]> 4</if>
        <if test="type!=0 and type == 2">and a.CommentType = 3</if>
        <if test="type!=0 and type == 3">and a.CommentType <![CDATA[  >=  ]]> 1 and a.CommentType <![CDATA[  <=  ]]> 2</if>
        <if test="type!=0 and type == 4">and exists (select x.id from lkt_comments_img x where x.comments_id=a.id limit 1)</if>
        <if test="type!=0 and type == 5">and a.review is not null</if>
        <if test="key!=null and key!=''">AND (m.user_id = #{key} or m.user_name like concat('%',#{key},'%') )</if>
        <if test="startDate!=null and startDate != ''">and a.add_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate!=null and endDate != ''">and a.add_time <![CDATA[  <=  ]]> #{endDate}</if>
<!--        <if test="type!=0 and type == 4">-->
<!--            and (a.id in (select comments_id from lkt_comments_img where comments_id = a.id))-->
<!--        </if>-->
    </sql>
    <select id="getCommentsUserDynamicByPid" parameterType="Map" resultType="Map">
        SELECT a.id, DATE_FORMAT(a.add_time,'%Y-%m-%d %H:%i:%s') add_time, a.content, a.CommentType,
        a.anonymous, a.review, DATE_FORMAT(a.review_time,'%Y-%m-%d %H:%i:%s') review_time, a.pid,
        a.attribute_id, m.user_name, m.headimgurl,m.user_id,goods.mch_id,
        case when CommentType <![CDATA[  >=  ]]> 4 then '5'
        when CommentType = 3 then '3'
        when CommentType <![CDATA[  >=  ]]>1 and CommentType <![CDATA[  <=  ]]> 2 then '2'
        end plType,d.arrive_time,goods.mch_id,a.order_detail_id
        FROM lkt_comments a
        LEFT JOIN lkt_user m ON a.uid = m.user_id AND a.store_id = m.store_id
        LEFT JOIN lkt_order_details d ON d.id = a.order_detail_id
        LEFT JOIN lkt_product_list goods ON goods.id=a.pid
        WHERE a.store_id = #{store_id}
        <include refid="getCommentsUserDynamicByPidSQL"/>
        <trim prefix="group by" suffixOverrides=",">
            <choose>
                <when test="group_commentId!=null">
                    a.id,
                    add_time,
                    a.content,
                    a.CommentType,
                    a.anonymous,
                    a.review,
                    review_time,
                    a.pid,
                    a.attribute_id,
                    m.user_name,
                    m.headimgurl,
                    m.user_id,
                    goods.mch_id,
                </when>
            </choose>
        </trim>
        ORDER BY add_time DESC
        <if test="pageNo!=null and pageSize!=null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <select id="countCommentsUserDynamicByPid" parameterType="Map" resultType="int">
        SELECT count(distinct a.id) FROM lkt_comments AS a
        LEFT JOIN lkt_user AS m ON a.uid = m.user_id
        AND a.store_id = m.store_id
        LEFT JOIN lkt_order_details AS d ON d.id = a.order_detail_id
        WHERE a.store_id = #{store_id}
        <include refid="getCommentsUserDynamicByPidSQL"/>
    </select>

    <sql id="getCommentsOrderSQL">
        and c.store_id = #{store_id}
        <if test="orderno!=null and orderno!=''">AND o.sNo LIKE CONCAT('%',#{orderno},'%')</if>
        <if test="mchName!=null and mchName!=''">AND lm.name LIKE CONCAT('%',#{mchName},'%')</if>
        <if test="mchId!=null">AND lm.id = #{mchId}</if>
        <if test="keyword!=null and keyword!=''">AND (o.sNo LIKE CONCAT('%',#{keyword},'%') or lpl.product_title LIKE CONCAT('%',#{keyword},'%'))</if>
        <if test="orderType!=null">and o.otype=#{orderType}</if>
        <if test="status==1">and a.r_status in (5,12)</if>
        <if test="status==2">and a.r_status in (66,99)</if>
        <if test='type=="GOOD"'>and c.CommentType > 3</if>
        <if test='type=="NOTBAD"'>and c.CommentType =3</if>
        <if test='type=="BAD"'>and c.CommentType <![CDATA[  <  ]]> 3</if>
        <if test='type=="HAVEIMG"'>and exists (select x.id from lkt_comments_img x where x.comments_id=c.id limit 1)</if>
        <if test="startDate!=null">and c.add_time <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate!=null">and c.add_time <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="commentId!=null">and c.id=#{commentId}</if>
        <if test="detailId!=null">and a.id=#{detailId}</if>
        <if test="userIdOrName!=null">and (u.user_id = #{userIdOrName} or u.user_name LIKE CONCAT('%',#{userIdOrName},'%'))</if>
        <if test="productId!=null">and lpl.id=#{productId}</if>
        <if test="isLook!=null">and c.is_look = #{isLook}</if>
        <if test="orderTypeList != null">
            <foreach collection="orderTypeList" item="type" separator="," open="and o.otype in (" close=")">
                #{type}
            </foreach>
        </if>
        <if test="cid != null and cid != ''">and c.id = #{cid} </if>
    </sql>

    <select id="getCommentsOrderDynamic" parameterType="Map" resultType="Map">
        SELECT
        a.odid,
        a.r_sNo,
        a.p_price,
        a.p_name,
        a.attrSize,
        a.r_status,
        a.z_price,
        a.store_id,
        a.oid,
        a.uid,
        a.pid,
        a.attribute_id,
        a.size,
        a.content,
        a.CommentType,
        a.anonymous,
        a.add_time,
        a.review,
        a.review_time,
        a.type,
        a.otype,
        a.order_detail_id,
        a.mch_id,
        a.sNo,
        a.id,
        a.shop_name,
        a.replyText,
        a.user_name,
        a.id,
        a.headimgurl,
        a.user_id,
        a.is_look,
        a.productId,
        a.product_title
        FROM(
        SELECT
        a.id AS odid,
        a.r_sNo,
        a.p_price,
        a.p_name,
        a.size attrSize,
        a.r_status,
        o.z_price,
        c.store_id,
        c.oid,
        c.uid,
        c.pid,
        c.attribute_id,
        c.size,
        c.content,
        c.CommentType,
        c.anonymous,
        c.add_time,
        c.review,
        c.review_time,
        c.type,
        o.otype,
        c.order_detail_id,
        o.mch_id,
        o.sNo,
        ROW_NUMBER() over(partition by c.id) AS top,
        lm.`name` AS shop_name,
        lm.id as lmid,
        reply.content replyText,
        u.user_name,
        c.id,
        u.headimgurl,
        u.user_id,
        c.is_look,
        lpl.id AS productId,
        lpl.product_title
        FROM
        lkt_order_details AS a
        LEFT JOIN lkt_comments AS c ON a.r_sNo = c.oid
        AND a.sid = c.attribute_id
        LEFT JOIN lkt_order AS o ON a.r_sNo = o.sNo
        LEFT JOIN lkt_configure AS attr ON attr.id = a.sid
        LEFT JOIN lkt_product_list AS lpl ON lpl.id = attr.pid
        LEFT JOIN lkt_mch AS lm ON lm.id = lpl.mch_id
        LEFT JOIN lkt_user AS u ON u.user_id = o.user_id
        LEFT JOIN lkt_reply_comments reply ON reply.cid = c.id
        AND lm.user_id = reply.uid
        <where>
            <trim prefixOverrides="and">
                <include refid="getCommentsOrderSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <choose>
                <when test="add_time_sort!=null and add_time_sort!=''">c.add_time ${add_time_sort}</when>
                <otherwise>c.add_time desc</otherwise>
            </choose>
        </trim>
        ) as a
        where a.top =1
        <if test="pageStart>=0 and pageEnd>0">
            limit #{pageStart},#{pageEnd}
        </if>
    </select>
    <select id="countCommentsOrderDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_order_details AS a
        LEFT JOIN lkt_comments AS c ON a.r_sNo = c.oid AND a.sid = c.attribute_id
        LEFT JOIN lkt_order as o on a.r_sNo = o.sNo
        LEFT join lkt_configure as attr on attr.id = a.sid
        LEFT JOIN lkt_product_list as lpl on lpl.id = attr.pid
        LEFT JOIN lkt_mch as lm on lm.id = lpl.mch_id
        left join lkt_user as u on u.user_id=o.user_id
        <where>
            <trim prefixOverrides="and">
                <include refid="getCommentsOrderSQL"/>
            </trim>
        </where>
    </select>
</mapper>