<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.CoreMenuModelMapper">
    <sql id="selectDynamicSQL">
        <if test="id != null">and id =#{id}</if>
        <if test="sid != null">and s_id =#{sid}</if>
        <if test="type != null">and type =#{type}</if>
        <if test="isCore != null">and is_core =#{isCore}</if>
        <if test="recycle != null">and recycle =#{recycle}</if>
        <if test="lang_code != null">and lang_code =#{lang_code}</if>
        <if test="title != null">and title =#{title}</if>
        <if test="titleORid != null">and (title like concat('%',#{titleORid},'%') or id like concat('%',#{titleORid},'%')) </if>
        <if test="titleLike != null and titleLike != ''">and title like concat('%',#{titleLike},'%')</if>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select * from lkt_core_menu
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">sort ${sort_sort},</if>
            <if test="id_sort!=null and id_sort!=''">id ${id_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_core_menu
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>


    <sql id="getFunctionOverviewSQL">
        <if test="id!=null">and a.id = #{id}</if>
        <if test="recycle!=null">and a.recycle = #{recycle}</if>
        <if test="s_id!=null">and a.s_id = #{s_id}</if>
        <if test="store_id!=null">and b.store_id = #{store_id}</if>
        <if test="store_id_pt!=null">and b.store_id in (#{store_id_pt},0)</if>
        <if test="isdisplay!=null">and a.is_display = #{isdisplay}</if>
        <if test="is_display!=null">and b.is_display = #{is_display}</if>
        <if test="is_core!=null">and a.is_core = #{is_core}</if>
        <if test="type!=null">and a.type = #{type}</if>
        <if test="lang_code!=null">and a.lang_code = #{lang_code}</if>
        <if test="roleId!=null">and c.id = #{roleId}</if>
        <if test="name!=null">and (a.id = #{name} or a.title like concat('%',#{name},'%') or a.guide_name like concat('%',#{name},'%') )</if>
        <if test="levelList != null">
            <foreach collection="levelList" item="level" separator="," open="and level in (" close=")">
                #{level,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>
    <select id="getFunctionOverview" parameterType="Map" resultType="Map">
        select a.id,b.id guidId,a.s_id,title,a.image,a.image1,a.level,a.url,a.briefintroduction,
               b.is_display,b.guide_sort,a.guide_name,b.role_id,a.type,a.action
        from lkt_core_menu as a
                 left join lkt_guide_menu as b on a.id = b.menu_id
                 left join lkt_role as c on b.role_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getFunctionOverviewSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
            <if test="guide_sort!=null and guide_sort!=''">b.guide_sort ${guide_sort},</if>
            <if test="is_display_sort!=null and is_display_sort!=''">b.is_display ${is_display_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countFunctionOverview" parameterType="Map" resultType="int">
        select count(1)
        from lkt_core_menu as a
        left join lkt_guide_menu as b on a.id = b.menu_id
        left join lkt_role as c on b.role_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getFunctionOverviewSQL"/>
            </trim>
        </where>
    </select>

    <select id="getRoleMenuIds" parameterType="Map" resultType="int">
        select a.id from lkt_core_menu as a
        left join lkt_guide_menu as b on a.id = b.menu_id
        left join lkt_role as c on b.role_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getFunctionOverviewSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
            <if test="guide_sort!=null and guide_sort!=''">b.guide_sort ${guide_sort},</if>
            <if test="is_display_sort!=null and is_display_sort!=''">b.is_display ${is_display_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="getRoleMenuInfos" parameterType="Map" resultType="Map">
        select distinct a.* from lkt_core_menu as a
        left join lkt_role_menu as b on a.id = b.menu_id
        left join lkt_role as c on b.role_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getFunctionOverviewSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
            <if test="guide_sort!=null and guide_sort!=''">b.guide_sort ${guide_sort},</if>
            <if test="is_display_sort!=null and is_display_sort!=''">b.is_display ${is_display_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="getCoreMenuInfoBySid" resultType="java.util.Map">
        select * from lkt_core_menu where s_id = #{sid}
        and recycle = 0
        <if test="lang_code != null and lang_code != ''">
            and lang_code = #{lang_code}
        </if>
        order by sort desc
    </select>

    <select id="getMenuIdsWithTabChildren" resultType="java.lang.Integer">
        SELECT DISTINCT s_id
        FROM lkt_core_menu
        WHERE s_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND recycle = 0
        AND is_tab = 1
    </select>

    <select id="getSystemMenuList" resultType="java.lang.Integer">
        select id from lkt_core_menu where recycle=0 and is_display=0
        <if test="lang_code != null and lang_code != ''">
            and lang_code = #{lang_code}
        </if>
        order by sort desc
    </select>

    <!-- 新增：根据多个 ID 批量查询菜单信息 -->
    <select id="selectByIds" parameterType="java.util.List" resultType="com.laiketui.domain.role.CoreMenuModel">
        SELECT id, s_id, title, module, url, type, level, sort, recycle, lang_code, is_display, is_button, is_tab, is_core, action, image, image1, briefintroduction, guide_name
        FROM lkt_core_menu
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND recycle = 0
        ORDER BY FIELD(id, <foreach collection="list" item="id" separator=",">#{id}</foreach>)
    </select>

    <select id="getMenuIdsByLangCode" resultType="java.lang.Integer">
        SELECT id
        FROM lkt_core_menu
        WHERE lang_code = #{langCode}
        AND recycle = 0
        AND is_display = 0
    </select>

    <select id="selectAllRoleMenus" resultType="java.util.HashMap">
        SELECT
        m.id,
        m.s_id,
        m.level,
        m.title,
        m.url,
        m.action,
        m.is_tab,
        m.is_button,
        m.image,
        m.image1,
        m.sort
        FROM lkt_core_menu m
        INNER JOIN lkt_role_menu rm ON rm.menu_id = m.id
        WHERE rm.role_id = #{roleId}
        AND m.recycle = 0
        <if test="language != null and language != ''">
            AND m.lang_code = #{language}
        </if>
        ORDER BY m.sort DESC
    </select>


</mapper>
