<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.CountryModelMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.dictionary.CountryModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="zh_name" property="zh_name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="code2" property="code2" jdbcType="VARCHAR" />
    <result column="is_show" property="is_show" jdbcType="TINYINT" />
      <result column="num3" property="num3" jdbcType="TINYINT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
      id, name, zh_name, code, code2, is_show , num3
  </sql>

  <select id="getItuList" resultType="java.util.Map">
    SELECT name,zh_name,code,code2,num3,national_flag from lkt_ds_country where is_show = 1
    <if test="keyword != null and keyword !=''">
      and (name like concat('%',#{keyword},'%') or code2 like concat('%',#{keyword},'%'))
    </if>
    and code2 != ''
    ORDER BY
    CASE
    WHEN code = 'CN' THEN 0
    ELSE 1
    END,
    code;
  </select>


    <select id="countCountry" resultType="int" parameterType="com.laiketui.domain.vo.saas.CountryVo">
        select count(1) from lkt_ds_country as a
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

    <select id="queryCountryList" resultType="Map" parameterType="com.laiketui.domain.vo.saas.CountryVo">
        select * from lkt_ds_country a
        <where>
            <trim prefixOverrides="and">
                <include refid="queryCondition"/>
            </trim>
        </where>
        ORDER BY id desc
        <if test="pageNo != null and pageSize != ''">limit #{pageNo},#{pageSize}</if>
    </select>

    <sql id="queryCondition">

        <if test="keyword != null and keyword !=''">
            and (name like concat('%',#{keyword},'%') or code2 like concat('%',#{keyword},'%') or zh_name like concat('%',#{keyword},'%'))
        </if>

        <if test="id != null">AND a.id = #{id}</if>
        AND a.is_show = 1


    </sql>


</mapper>