<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.CouponActivityModelMapper">

    <sql id="getCouponActivityDynamicSQL">
        AND lkt_coupon_activity.store_id = #{store_id}
        AND lkt_coupon_activity.recycle = 0
        <if test="id != null">AND lkt_coupon_activity.id = #{id}</if>
        <if test="status != null">AND lkt_coupon_activity.STATUS = #{status}</if>
        <if test="activity_type != null">AND activity_type = #{activity_type}</if>
        <if test="activity_type_4 != null">AND activity_type != 4</if>
        <if test="mch_id != null">AND lkt_coupon_activity.mch_id =#{mch_id}</if>
        <if test="not_mch_id != null">AND lkt_coupon_activity.mch_id !=#{not_mch_id}
        and lkt_mch.is_open_coupon = 1
        </if>
        <if test="is_display != null">AND lkt_coupon_activity.is_display =#{is_display}</if>
        <if test="likeName != null">AND (lkt_coupon_activity.name like concat('%',#{likeName},'%') or lkt_coupon_activity.id like concat('%',#{likeName},'%'))</if>
        <if test="issueUnit != null">AND issue_unit = #{issueUnit}</if>
        <if test="mchName != null">AND lkt_mch.name like concat('%',#{mchName},'%')</if>
        <if test="receiveType != null">AND receive_type = #{receiveType}</if>
        <if test="validate_overdue != null">AND (lkt_coupon_activity.end_time <![CDATA[  >  ]]> #{validate_overdue} or lkt_coupon_activity.end_time is null)</if>
        <if test="validate_not_overdue != null">AND lkt_coupon_activity.end_time <![CDATA[  <  ]]> #{validate_not_overdue}</if>
        <if test="mchList != null">
            <foreach collection="mchList" item="mchId" separator="," open="and mch_id in(" close=")">
                #{mchId,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and lkt_coupon_activity.type in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="ids != null">
            <foreach collection="ids" item="id" separator="," open="and lkt_coupon_activity.id in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="isOpenCoupon != null and isOpenCoupon != ''"> and (lkt_mch.is_open_coupon is NULL or lkt_mch.is_open_coupon = #{isOpenCoupon})
          </if>
    </sql>

    <select id="getCouponActivityDynamic" parameterType="Map" resultType="Map">
        SELECT lkt_coupon_activity.* FROM lkt_coupon_activity left join lkt_mch on lkt_coupon_activity.mch_id = lkt_mch.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getCouponActivityDynamicSQL"/>
            </trim>
        </where>
        <trim prefix=" ORDER BY " suffixOverrides=",">
            <if test="start_time_sort != null"> lkt_coupon_activity.start_time ${start_time_sort} </if>
            <if test="add_time_sort != null"> lkt_coupon_activity.add_time ${add_time_sort} </if>
        </trim>
        <if test="page != null and pageSize!=null">
            LIMIT #{page},#{pageSize}
        </if>
    </select>
    <select id="countCouponActivityDynamic" parameterType="Map" resultType="int">
        SELECT count(1) FROM lkt_coupon_activity left join lkt_mch on lkt_coupon_activity.mch_id = lkt_mch.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getCouponActivityDynamicSQL"/>
            </trim>
        </where>
    </select>
</mapper>