<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.CouponModalMapper">

    <select id="getUsersCoupons" resultType="Map" parameterType="Map" flushCache="true" useCache="false">
        select
        a.id,a.hid,a.expiry_time,b.name,b.activity_type,b.money,b.discount,b.z_money,b.type,b.product_class_id,b.product_id
        from lkt_coupon as a
        left join lkt_coupon_activity as b on a.hid = b.id
        where a.store_id = #{store_id} and a.user_id = #{user_id}
        and a.status = 0 and a.recycle = 0
        <if test=" mch_id != null ">and b.mch_id = #{mch_id}</if>
        <if test=" type != null ">and a.type = #{type}</if>
        <if test="notTypeList != null">
            <foreach collection="notTypeList" item="type" separator="," open="and b.type not in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
        order by b.money desc,a.expiry_time asc
    </select>



    <select id="getCouponInfoListDynamic" resultType="Map" parameterType="Map">
        select * from lkt_coupon as a
        <where>
            <trim prefixOverrides="and">
                <include refid="getCouponInfoListDynamicSQL"/>
            </trim>
        </where>
        <trim prefix=" ORDER BY " suffixOverrides=",">
            <if test="type_sort != null">a.type ${sort_sort},</if>
            <if test="add_time_sort != null">a.add_time ${add_time_sort},</if>
        </trim>
        <if test="page != null and pageSize!=null">
            LIMIT #{page},#{pageSize}
        </if>
    </select>

    <select id="countCouponInfoListDynamic" resultType="int" parameterType="Map">
        select count(1) from lkt_coupon as a
        <where>
            <trim prefixOverrides="and">
                <include refid="getCouponInfoListDynamicSQL"/>
            </trim>
        </where>
    </select>


    <sql id="getUserCouponActivityDynamicSQL">
        a.store_id = #{store_id}
        and a.status = 0
        <if test="recycle == null">and a.recycle=0</if>
        <if test="status != null">AND a.STATUS = #{status}</if>
        <if test="hid != null">AND a.hid = #{hid}</if>
        <if test="mch_id != null">AND a.mch_id = #{mch_id}</if>
        <if test="likeOrderno != null">AND c.sNo like concat('%',#{likeOrderno},'%')</if>
        <if test="activityType != null">AND b.activity_type = #{activityType}</if>
        <if test="user_name != null and user_name != ''">and d.user_name like concat('%',#{user_name},'%')</if>
        <if test="userName != null">AND( c.sNo like concat('%',#{userName},'%') or d.user_id like
            concat('%',#{userName},'%') or d.mobile like concat('%',#{userName},'%'))
        </if>
        <if test="keyWord != null">AND( c.sNo like concat('%',#{keyWord},'%') or d.user_name like
            concat('%',#{keyWord},'%') or a.id like concat('%',#{keyWord},'%'))
        </if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and a.type in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="ids != null">
            <foreach collection="ids" item="id" separator="," open="and a.id in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="couponType != null">AND a.type = #{couponType}</if>
        <if test="user_id != null">AND a.user_id = #{user_id}</if>
        <if test="notCouponType != null">AND a.type != #{notCouponType}</if>
        <if test="free_or_not != null">AND a.free_or_not = #{free_or_not}</if>
    </sql>
    <select id="getUserCouponActivityDynamic" parameterType="Map" resultType="Map">
        SELECT
        a.id,
        a.hid,
        a.recycle,
        a.astatus,
        a.mch_id,
        a.free_or_not,
        a.user_id,
        a.type,
        a.add_time,
        a.expiry_time,
        a.type,
        a.NAME,
        a.activity_type,
        a.money,
        a.discount,
        a.mobile,
        a.duserid,
        a.sNo,
        a.user_name,
        a.headimgurl,
        a.STATUS
        FROM
        (
        SELECT DISTINCT
        a.id,
        a.hid,
        a.recycle,
        a.status as astatus,
        a.mch_id,
        a.free_or_not,
        a.user_id,
        a.add_time,
        a.expiry_time,
        a.type,
        b.NAME,
        a.store_id,
        b.activity_type,
        b.money,
        b.discount,
        d.mobile,
        d.user_id as duserid,
        c.sNo,
        CAST( d.user_name AS CHAR ) user_name,
        d.headimgurl,
        e.STATUS,
        ROW_NUMBER() over(partition by a.user_id) AS top
        FROM
        lkt_coupon AS a
        LEFT JOIN lkt_coupon_activity AS b ON a.hid = b.id
        LEFT JOIN lkt_coupon_sno AS c ON c.coupon_id = a.id
        AND c.recycle = 0
        LEFT JOIN lkt_user AS d ON a.user_id = d.user_id
        LEFT JOIN lkt_order AS e ON c.sNo = e.sNo
        ) AS a
        where
        a.store_id = #{store_id}
        and a.status = 0
        <if test="group_user_id!=null">and a.top &lt;2</if>
        <if test="recycle == null">and a.recycle=0</if>
        <if test="status != null">AND a.astatus = #{status}</if>
        <if test="hid != null">AND a.hid = #{hid}</if>
        <if test="mch_id != null">AND a.mch_id = #{mch_id}</if>
        <if test="likeOrderno != null">AND a.sNo like concat('%',#{likeOrderno},'%')</if>
        <if test="activityType != null">AND a.activity_type = #{activityType}</if>
        <if test="user_name != null and user_name != ''">and a.user_name like concat('%',#{user_name},'%')</if>
        <if test="userName != null">AND( a.sNo like concat('%',#{userName},'%') or a.duserid like
            concat('%',#{userName},'%') or a.mobile like concat('%',#{userName},'%'))
        </if>
        <if test="keyWord != null">AND( a.sNo like concat('%',#{keyWord},'%') or a.user_name like
            concat('%',#{keyWord},'%') or a.id like concat('%',#{keyWord},'%'))
        </if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and a.type in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="ids != null">
            <foreach collection="ids" item="id" separator="," open="and a.id in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="couponType != null">AND a.type = #{couponType}</if>
        <if test="user_id != null">AND a.user_id = #{user_id}</if>
        <if test="notCouponType != null">AND a.type != #{notCouponType}</if>
        <if test="free_or_not != null">AND a.free_or_not = #{free_or_not}</if>
        <trim prefix=" ORDER BY " suffixOverrides=",">
            <if test="add_time_sort != null">
                a.add_time ${add_time_sort}
            </if>
        </trim>
        <if test="page != null and pageSize!=null">
            LIMIT #{page},#{pageSize}
        </if>
    </select>
    <select id="countUserCouponActivityDynamic" parameterType="Map" resultType="int">
        SELECT count(distinct a.id) FROM lkt_coupon AS a
        LEFT JOIN lkt_coupon_activity AS b ON a.hid = b.id
        LEFT JOIN lkt_coupon_sno AS c ON c.coupon_id = a.id and c.recycle=0
        LEFT JOIN lkt_user AS d ON a.user_id = d.user_id
        <where>
            <include refid="getUserCouponActivityDynamicSQL"/>
        </where>
    </select>

    <select id="countCouponDynamic" resultType="int" parameterType="Map">
        select count(1) from lkt_coupon as a
        where a.store_id = #{store_id}
        <if test="status != null">and a.status = #{status}</if>
        <if test="recycle != null">and a.recycle = #{recycle}</if>
        <if test="user_id != null">and a.user_id = #{user_id}</if>
        <if test="hid != null">and a.hid = #{hid}</if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and a.type in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
    </select>

    <select id="countCouponIsUser" resultType="int" parameterType="Map">
        select count(1) from lkt_coupon as a
        where a.store_id = #{store_id}
        and a.recycle = 0
        and a.type = 2
        <if test="user_id != null">and a.user_id = #{user_id}</if>
        <if test="idList != null">
            <foreach collection="idList" item="type" separator="," open="and a.id in(" close=")">
              <if test="type != 0">#{type,jdbcType=INTEGER}</if>
            </foreach>
        </if>
    </select>
    <select id="countCouponActivityDynamicByUserId" resultType="java.lang.Integer">
        SELECT count(distinct a.user_id) FROM lkt_coupon AS a
        LEFT JOIN lkt_coupon_activity AS b ON a.hid = b.id
        LEFT JOIN lkt_coupon_sno AS c ON c.coupon_id = a.id and c.recycle=0
        LEFT JOIN lkt_user AS d ON a.user_id = d.user_id
        <where>
            <include refid="getUserCouponActivityDynamicSQL"/>
        </where>
    </select>
    <sql id="getCouponInfoListDynamicSQL">
        a.store_id = #{store_id}
        and a.status = 0
        and a.recycle = 0
        <if test="user_id != null">and a.user_id = #{user_id}</if>
        <if test="type != null">and a.type = #{type}</if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and a.type in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>
</mapper>