<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laiketui.common.mapper.CurrencyModelMapper">

    <resultMap id="BaseResultMap" type="com.laiketui.domain.CurrencyModel">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="currency_code" jdbcType="CHAR" property="currency_code"/>
        <result column="currency_name" jdbcType="VARCHAR" property="currency_name"/>
        <result column="is_show" jdbcType="INTEGER" property="is_show"/>
        <result column="currency_symbol" jdbcType="VARCHAR" property="currency_symbol"/>
        <result column="exchange_rate" jdbcType="DECIMAL" property="exchange_rate"/>
        <result column="recycle" jdbcType="INTEGER" property="recycle"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, currency_code, currency_name, is_show, currency_symbol, exchange_rate, recycle, update_time
    </sql>

    <select id="countCurrency" resultType="int" parameterType="com.laiketui.domain.vo.saas.CurrencyVo">
        select count(1) from lkt_currency as a
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

    <select id="queryCurrencyList" resultType="Map" parameterType="com.laiketui.domain.vo.saas.CurrencyVo">
        select * from lkt_currency a
        <where>
            <trim prefixOverrides="and">
                <include refid="queryCondition"/>
            </trim>
        </where>
        ORDER BY id desc
        <if test="pageNo != null and pageSize != ''">limit #{pageNo},#{pageSize}</if>
    </select>

    <sql id="queryCondition">

        <if test="keyword != null and keyword !=''">
            and (currency_name like concat('%',#{keyword},'%') or currency_code like concat('%',#{keyword},'%'))
        </if>

        <if test="id != null">AND a.id = #{id}</if>
        AND a.is_show = 1
    </sql>


</mapper>