<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.DistributionRankingModelMapper">

    <sql id="selectUserDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                and a.user_id = c.user_id
                <if test="store_id != null">and a.store_id = #{store_id}</if>
                <if test="rankId != null">and a.id=#{rankId}</if>
                <if test="type != null">and a.type=#{type}</if>
                <if test="user_id != null">and a.user_id=#{user_id}</if>
                <if test="userName != null and userName != ''">and(c.user_id like concat('%',#{userName},'%') or
                    c.zhanghao like concat('%',#{userName},'%'))
                </if>
            </trim>
        </where>
    </sql>

    <select id="selectUserDynamic" parameterType="Map" resultType="Map">
        SELECT (@rowNum := @rowNum + 1) orderNo,a.*,c.headimgurl,cast(c.user_name as char ) user_name FROM lkt_distribution_ranking a,(SELECT (@rowNum
        := #{pageStart,jdbcType=INTEGER})) b,lkt_user c
        <include refid="selectUserDynamicSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <if test="commission_sort!=null and commission_sort!=''">commission ${commission_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countUserDynamic" parameterType="Map" resultType="int">
        SELECT count(a.id) as num
        FROM lkt_distribution_ranking a,
        lkt_user c
        <include refid="selectUserDynamicSQL"/>
    </select>

    <delete id="batchDelById" parameterType="List">
        delete from lkt_distribution_ranking
        <where>
            <foreach collection="list" item="id" separator="," open="and id in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </where>
    </delete>
</mapper>