<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.DistributionGradeModelMapper">

    <sql id="selectDynamicSQL">
        <trim prefixOverrides="and">
            <if test="store_id != null">and store_id = #{store_id}</if>
            <if test="id != null">and id = #{id}</if>
            <if test="levelGT != null">and id  <![CDATA[ > ]]> #{levelGT}</if>
            <if test="levelGT1 != null">and id  <![CDATA[ >= ]]> #{levelGT1}</if>
        </trim>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select * from lkt_distribution_grade
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="datetime_sort!=null and datetime_sort!=''">datetime ${datetime_sort},</if>
            <if test="sort_sort!=null and sort_sort_sort!=''">sort ${sort_sort_sort},</if>
            <if test="id_sort!=null and id_sort!=''">id ${id_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_distribution_grade
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
    </select>

</mapper>