<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.DistributionRecordModelMapper">
    <sql id="selectDynamicSQL">
        and o.status != 0
        <if test="id != null">and a.id = #{id}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="genre != null ">and a.genre = #{genre}</if>
        <if test="user_name != null and user_name!=''">and ( a.user_id like concat('%',#{user_name},'%') or
            c.zhanghao like concat('%',#{user_name},'%') or c.mobile like concat('%',#{user_name},'%'))
        </if>
        <if test="from_id != null and from_id!=''">and a.from_id=#{from_id}</if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and a.type in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">and a.add_date <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate != ''">and a.add_date <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="notUserLevel != null and notUserLevel != ''">and a.user_level != 0 and a.user_level  is not null</if>
        <if test="type != null and type != ''">and a.type = #{type}</if>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.id,a.user_id as gm_id,a.from_id as
        fx_id,a.status,a.type,a.money,a.sNo,a.event,a.level,a.user_level,a.type,a.add_date,a.genre,c.user_name as
        gm_name,c.mobile,c.zhanghao,c.headimgurl,g.sets
        from lkt_distribution_record as a
            left join lkt_user as c on a.user_id = c.user_id
            left join lkt_user_distribution as d on d.user_id = c.user_id
            left join lkt_distribution_grade as g on g.id = a.user_level
            left join lkt_order as o on a.sNo = o.sNo and o.status != 0
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">a.add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_distribution_record as a left join lkt_user as c on a.user_id = c.user_id
        left join lkt_user_distribution as d on d.user_id = c.user_id
        left join lkt_distribution_grade as g on g.id = a.user_level
        left join lkt_order as o on a.sNo = o.sNo and o.status != 0
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>

    <sql id="selectRecordDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="oType != null and oType != ''">and a.otype = #{oType}</if>
                <if test="store_id != null">and a.store_id = #{store_id} and a.recycle=0</if>
                <if test="userId != null">and a.user_id = #{userId}</if>
                <if test="notOrderUserId != null">and b.user_id != #{notOrderUserId}</if>
                <if test="search != null">and (f.user_name like concat('%',#{search},'%') or c.p_name like concat('%',#{search},'%'))</if>
                <if test="statusList != null">
                    <foreach collection="statusList" item="status" separator="," open="and a.status in(" close=")">
                        #{status,jdbcType=INTEGER}
                    </foreach>
                </if>
                <if test="userIdList != null">
                    <foreach collection="userIdList" item="userId" separator="," open="and a.user_id in (" close=")">
                        #{userId}
                    </foreach>
                </if>
            </trim>
        </where>
    </sql>

    <select id="selectRecordDynamic" parameterType="Map" resultType="Map">
        SELECT
        a.user_id,
        a.p_name,
        a.num,
        a.img,
        a.attribute,
        a.user_name,
        a.order_status,
        a.add_time,
        a.z_price,
        a.sNo,
        a.otype,
        a.store_id,
        a.recycle
        FROM
        (
        SELECT
        a.user_id,
        c.p_name,
        c.num,
        d.img,
        d.attribute,
        f.user_name,
        a.STATUS AS order_status,
        a.add_time,
        a.z_price,
        a.sNo,
        a.otype,
        a.store_id,
        a.recycle,
        ROW_NUMBER() over(partition by a.sNo) AS top
        FROM
        lkt_order AS a
        LEFT JOIN lkt_order_details AS c ON a.sNo = c.r_sNo
        LEFT JOIN lkt_configure AS d ON c.sid = d.id
        LEFT JOIN lkt_user AS f ON a.user_id = f.user_id
        <include refid="selectDynamicSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_time_sort!=null and add_time_sort!=''">a.add_time ${add_time_sort},</if>
        </trim>
        ) AS a
        <if test="group != null and group != ''">
            where a.top &lt;2
        </if>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countRecordDynamic" parameterType="Map" resultType="int">
        select COUNT(DISTINCT a.id)
        FROM
        lkt_order AS a
        LEFT JOIN lkt_order_details AS c ON a.sNo = c.r_sNo
        LEFT JOIN lkt_configure AS d ON c.sid = d.id
        LEFT JOIN lkt_user AS f ON a.user_id = f.user_id
        <include refid="selectRecordDynamicSQL"/>
    </select>

    <select id="selectUserTell" parameterType="Map" resultType="Map">
        select a.id,a.money,c.user_name as gm_name,c.headimgurl
        from lkt_distribution_record as a
        left join lkt_user as c on a.user_id = c.user_id
        left join lkt_order as o on a.sNo = o.sNo and o.status != 0
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">a.add_date ${add_date_sort},</if>
        </trim>
    </select>
</mapper>