<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.DiyModelMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.plugin.DiyModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="add_time" property="add_time" jdbcType="INTEGER" />
    <result column="update_time" property="update_time" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="is_del" property="is_del" jdbcType="TINYINT" />
    <result column="store_id" property="store_id" jdbcType="INTEGER" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, version, name, value, add_time, update_time, status, type, is_del, store_id, 
    cover
  </sql>

  <select id="countDynamic" parameterType="Map" resultType="int">
    select count(1) from lkt_diy
    where store_id = #{store_id} and is_del = 0
    <if test="theme_type != null">
        and theme_type = #{theme_type} and mch_id = #{mch_id}
    </if>
  </select>
    <select id="selectList" resultType="com.laiketui.domain.plugin.DiyModel">
      SELECT id,name
      <if test="model.id != null">
        ,value,tabber_info,tab_bar
      </if>
      ,remark,theme_dict_code,theme_type,status,type,is_del,store_id,mch_id,cover,lang_code from lkt_diy
      <where>
        <if test="model.store_id != null">
          and store_id = #{model.store_id}
        </if>
      <if test="model.is_del != null">
        and is_del = #{model.is_del}
      </if>
      <if test="model.id != null">
        and id = #{model.id}
      </if>
      <if test="model.theme_type != null">
        and theme_type = #{model.theme_type}
      </if>
      <if test="model.theme_dict_code != null">
        and theme_dict_code = #{model.theme_dict_code}
      </if>
      <if test="model.mch_id != null">
        and mch_id = #{model.mch_id}
      </if>
      </where>
    </select>
</mapper>