<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.DiyPageBindModelMapper" >

    <select id="getBindPageListByDiyId" resultType="java.util.Map">
        SELECT a.bind_id,
               a.id,
               a.link_key,
               a.page_name,
               a.link,
               a.page_key,
               a.image,
               a.page_context,
               a.status,
               a.recycle,
               a.create_time,
               a.create_by,
               a.update_time
        FROM (SELECT b.id AS bind_id,
                     b.link_key,
                     p.*,
                     ROW_NUMBER() over ( PARTITION BY b.diy_page_id ) AS top
              FROM lkt_diy_page_bind b
                       LEFT JOIN lkt_diy_page p ON p.id = b.diy_page_id
              WHERE b.diy_id = #{id} and p.recycle = 0) AS a
        WHERE a.top = 1
    </select>


    <select id="getBindDiyList" parameterType="Map" resultType="Map">
        SELECT
        a.name,
        a.bind_time,
        a.bind_id,
        a.diy_id,
        a.cover,
        a.diy_page_id
        FROM
        (
        SELECT
        d.name,
        DATE_FORMAT( b.bind_time, '%Y-%m-%d %H:%i:%s' ) AS bind_time,
        b.id AS bind_id,
        b.diy_id,
        d.cover,
        b.diy_page_id,
        ROW_NUMBER() over(partition by b.diy_id) AS top
        FROM
        lkt_diy_page_bind b
        LEFT JOIN lkt_diy d ON d.id = b.diy_id
        WHERE
        b.diy_page_id = #{id}
        AND d.is_del = 0
        <if test="name != null and name != ''">
            and d.name like concat('%',#{name},'%')
        </if>
        ) AS a
        <if test="groupBy != null and groupBy != ''">
            where a.top = 1
        </if>
        <if test="pageNo != null and pageSize != null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>
    <select id="countByPageId" resultType="java.lang.Integer">
        select count(1) from lkt_diy_page_bind b
        left join lkt_diy d on d.id = b.diy_id
        where b.diy_page_id = #{id}  AND d.is_del = 0
        <if test="name != null and name != ''">
            and d.name like concat('%',#{name},'%')
        </if>
    </select>
</mapper>