<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laiketui.common.mapper.FlashsaleActivityModelMapper">
    <sql id="selectDynamicSQL">
        c.recycle=0
        <if test="key != null and key != ''">and (a.id = #{key} or a.name like CONCAT('%',#{key},'%'))</if>
        <if test="storeId != null">and a.store_id=#{storeId}</if>
        <if test="startDate != null and endDate != null">and a.starttime <![CDATA[  >=  ]]> #{startDate}
            and endtime <![CDATA[  <=  ]]> #{endDate}</if>
        <if test="labelId != null and labelId != ''"> and a.label_id = #{labelId}</if>
        <if test="mchId != null and mchId != ''"> and p.mch_id = #{mchId}</if>
        <if test="is_delete != null">
            and a.is_delete = #{is_delete}
        </if>
    </sql>
    <select id="selectDynamic" resultType="java.util.Map">
        SELECT
        a.id,
        a.buylimit,
        a.discount,
        a.status,
        a.goodsName,
        a.imgurl,
        a.num,
        a.goodsPrice,
        a.attrId,
        a.className,
        a.brandName,
        a.goods_id
        FROM
        (
        SELECT
        a.id,
        a.discount,
        a.buylimit,
        a.status,
        a.goods_id,
        p.product_title AS goodsName,
        p.imgurl,
        p.num,
        c.price AS goodsPrice,
        c.id AS attrId,
        cls.pname className,
        brand.brand_name brandName,
        ROW_NUMBER() over(partition by a.id) AS top
        FROM
        lkt_flashsale_activity a
        LEFT JOIN lkt_product_list p ON a.goods_id = p.id
        LEFT JOIN lkt_mch AS b ON p.mch_id = b.id
        LEFT JOIN lkt_configure AS c ON p.id = c.pid
        LEFT JOIN lkt_product_class cls ON cls.cid = substring_index( substring_index( p.product_class, '-', 2 ), '-', - 1 )
        LEFT JOIN lkt_brand_class brand ON brand.brand_id = p.brand_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"></include>
            </trim>
        </where>

        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
        </trim>
        ) AS a
        where a.top = 1
        <if test="pageNo!=null and pageSize!=null">limit #{pageNo},#{pageSize}</if>
    </select>
    <select id="countDynamic" resultType="java.lang.Integer">
        select count(1) from lkt_flashsale_activity a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"></include>
            </trim>
        </where>
    </select>

</mapper>