<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.GroupOpenModelMapper" >
  <sql id="selectDynamicSQL">
    <choose>
      <when test="recycle != null and recycle!=''">and a.recycle = #{recycle} </when>
      <otherwise>and a.recycle = 0</otherwise>
    </choose>
    <if test="openId != null and openId!=''">and a.openId = #{openId}</if>
    <if test="status != null and status!=''">and a.status = #{status}</if>
    <if test="mch_id != null and mch_id!=''">and b.mch_id = #{mch_id}</if>
    <if test="teamName != null and teamName!=''">and d.user_name like concat('%',#{teamName},'%')</if>
    <if test="key != null and key!=''">and (c.product_title like concat('%',#{key},'%') or c.id like concat('%',#{key},'%') )</if>
    <if test="activityId != null and activityId!=''">and b.id = #{activityId}</if>
  </sql>
  <select id="selectDynamic" parameterType="Map" resultType="Map">
    select ifnull(`order`.z_price,0) as z_price ,ifnull(`order`.z_freight,0) as z_freight,a.id,c.id goodsId,c.product_title,c.imgurl,c.num stockNum,a.team_num,d.user_name teamName,a.status,a.add_date, a.end_date as openEndDate, b.start_date,b.end_date, b.team_limit, a.team_commission,a.activity_id,b.team_rule,attr.price attr_price
    from lkt_group_open a left join lkt_order `order` on `order`.sno=a.sno inner join lkt_group_activity b on a.activity_id=b.id inner join lkt_product_list c on c.id = a.goods_id
    inner join lkt_user d on d.user_id= a.user_id inner join lkt_configure attr on attr.id=a.attr_id
    <where>
      <trim prefixOverrides="and">
        <include refid="selectDynamicSQL"/>
      </trim>
    </where>
    <trim prefix="order by" suffixOverrides=",">
      <if test="add_date_sort!=null">a.add_date ${add_date_sort},</if>
    </trim>
    <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
  </select>
  <select id="countDynamic" parameterType="Map" resultType="int">
    select count(1) from lkt_group_open a left join lkt_order `order` on `order`.sno=a.sno inner join lkt_group_activity b on a.activity_id=b.id inner join lkt_product_list c on c.id = a.goods_id
    inner join lkt_user d on d.user_id= a.user_id
    <where>
      <trim prefixOverrides="and">
        <include refid="selectDynamicSQL"/>
      </trim>
    </where>
  </select>


  <sql id="groupDetailInfoSQL">
    <choose>
      <when test="recycle != null and recycle!=''">and a.recycle = #{recycle} </when>
      <otherwise>and a.recycle = 0</otherwise>
    </choose>
    <if test="status != null and status!=''">and a.status = #{status}</if>
    <if test="mch_id != null and mch_id!=''">and b.mch_id = #{mch_id}</if>
    <if test="teamName != null and teamName!=''">and d.user_name = #{teamName}</if>
    <if test="key != null and key!=''">and (c.product_title like concat('%',#{key},'%') or c.id =#{key} )</if>
  </sql>
  <select id="groupDetailInfo" parameterType="Map" resultType="Map">
    select a.id,c.id goodsId,c.product_title,a.team_num,d.user_name teamName,a.status,a.add_date,b.start_date,b.end_date,a.team_commission from lkt_group_open a inner join lkt_group_activity b on a.activity_id=b.id inner join lkt_product_list c on c.id = a.goods_id
    inner join lkt_user d on d.user_id= a.user_id
    <where>
      <trim prefixOverrides="and">
        <include refid="groupDetailInfoSQL"/>
      </trim>
    </where>
    <trim prefix="order by" suffixOverrides=",">
      <if test="add_date_sort!=null">a.add_date ${add_date_sort},</if>
    </trim>
    <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
  </select>
  <select id="countDetailInfo" parameterType="Map" resultType="int">
    select count(1) from lkt_group_open a inner join lkt_group_activity b on a.activity_id=b.id inner join lkt_product_list c on c.id = a.goods_id
    inner join lkt_user d on d.user_id= a.user_id
    <where>
      <trim prefixOverrides="and">
        <include refid="groupDetailInfoSQL"/>
      </trim>
    </where>
  </select>

  <sql id="getUserOpenGroupInfoSQL">
    and a.status >0
    <choose>
      <when test="recycle != null and recycle!=''">and a.recycle = #{recycle} </when>
      <otherwise>and a.recycle = 0</otherwise>
    </choose>
    <if test="activityId != null ">and ac.id = #{activityId}</if>
    <if test="isSettlement != null ">and `open`.is_settlement = #{isSettlement}</if>
    <if test="orderType != null and orderType!=''">and a.otype = #{orderType}</if>
    <if test="teamStatus != null">and `open`.status = #{teamStatus}</if>
    <if test="openId != null">and `open`.id = #{openId}</if>
    <if test="acId != null">and ac.status = #{acId}</if>
    <if test="userId != null and userId!=''">and a.user_id = #{userId}</if>
    <if test="goodsId != null ">and c.id = #{goodsId}</if>
    <if test="storeId != null and storeId!=''">and a.store_id = #{storeId}</if>
    <if test="notJoinGroup != null and notJoinGroup!=''">and not exists(select x.id from lkt_group_open_record x where x.user_id=`open`.user_id and x.open_id=`open`.id and x.recycle=0)</if>
    <if test="statusList != null">
      <foreach collection="statusList" item="status" separator="," open="and `open`.status in(" close=")">
        #{name}
      </foreach>
    </if>
    <if test="startDate != null and startDate != ''">and `open`.add_date <![CDATA[  >=  ]]> #{startDate}</if>
    <if test="endDate != null and endDate != ''">and `open`.add_date <![CDATA[  <=  ]]> #{endDate}</if>

  </sql>
  <select id="getUserOpenGroupInfo" parameterType="Map" resultType="Map">
    select a.id oid,a.sno,a.z_price,a.user_id,a.pay,a.spz_price,a.status orderStatus,a.arrive_time settleDate,b.p_name,attr.id attrId,attr.pid goodsId ,attr.img,a.add_time,a.arrive_time settelDate,mch.id mchId,mch.head_img mchImg,mch.`name` mchName,b.p_id,a.store_id,`open`.is_settlement,
    `open`.id openId,`open`.goods_id goodsId,b.size,`ac`.team_rule,`ac`.id acId,ac.status teamStatus,ac.name as activityName, `open`.status,`open`.team_num,`open`.user_id teamUserId,`open`.sno openNo,`user`.user_name,`user`.headimgurl,`open`.add_date openDate,`open`.end_date openEndDate,`open`.team_commission
    from lkt_order a inner join lkt_order_details b on a.sno=b.r_sno and a.recycle=b.recycle
    inner join lkt_group_open `open` on `open`.sno=a.sno
    inner join lkt_group_activity ac on `open`.activity_id=ac.id
    inner join lkt_user `user` on `user`.user_id = `open`.user_id
    inner join lkt_configure attr on attr.id=b.sid
    inner join lkt_product_list c on c.id = attr.pid
    left join lkt_mch mch on mch.id=c.mch_id
    <where>
      <trim prefixOverrides="and">
        <include refid="getUserOpenGroupInfoSQL"/>
      </trim>
    </where>
    <trim prefix="order by" suffixOverrides=",">
      <if test="add_date_sort!=null">a.add_time ${add_date_sort},</if>
    </trim>
    <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
  </select>
  <select id="countUserOpenGroupInfo" parameterType="Map" resultType="int">
    select count(1) from lkt_order a inner join lkt_order_details b on a.sno=b.r_sno and a.recycle=b.recycle
    inner join lkt_group_open `open` on `open`.sno=a.sno
    inner join lkt_group_activity ac on `open`.activity_id=ac.id
    inner join lkt_configure attr on attr.id=b.sid
    inner join lkt_product_list c on c.id = attr.pid
    left join lkt_mch mch on mch.id=c.mch_id
    <where>
      <trim prefixOverrides="and">
        <include refid="getUserOpenGroupInfoSQL"/>
      </trim>
    </where>
  </select>
</mapper>