<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.IntegralGoodsModelMapper">
    <sql id="selectDynamicSQL">
        <if test="integralId != null">and a.id = #{integralId}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="idList != null">
            <foreach collection="idList" item="id" separator="," open="and a.id in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select * from lkt_integral_goods a
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd!=null">LIMIT #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_integral_goods a
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
    </select>
    <!--  获取积分商城商品信息-->
    <select id="getGoodsInfo" parameterType="Map" resultType="Map">
        SELECT g.*, a.id AS goodsId, if(a.volume is null,0,a.volume) volume, a.imgurl, a.product_title , a.subtitle,
        a.STATUS, a.s_type,a.initial FROM lkt_integral_goods g LEFT JOIN
        lkt_product_list a ON g.goods_id = a.id LEFT JOIN lkt_mch m ON
        a.mch_id = m.id
        <where>
            <include refid="getGoodsInfoSQL1"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">g.sort ${sort_sort},</if>
        </trim>
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>
    <select id="countGoodsInfo" parameterType="Map" resultType="int">
        SELECT count(1) FROM lkt_integral_goods g LEFT JOIN
        lkt_product_list a ON g.goods_id = a.id LEFT JOIN lkt_mch m ON
        a.mch_id = m.id
        <where>
            <include refid="getGoodsInfoSQL1"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">g.sort ${sort_sort},</if>
        </trim>
    </select>

    <sql id="getGoodsInfoSQL1">
        <choose>
            <when test="recycle != null">and a.recycle=#{recycle}</when>
            <otherwise>and a.recycle != 1</otherwise>
        </choose>
        <if test="store_id != null">
            and g.store_id = #{store_id}
        </if>
        <if test="integralId!=null">AND g.id = #{integralId}</if>
        <if test="status!=null">AND g. STATUS = #{status}</if>
        <if test="goodsName!=null">AND a.product_title like concat('%',#{goodsName},'%') </if>
        <if test="notStatus!=null">AND a. STATUS <![CDATA[<>]]> #{notStatus}</if>
        <choose>
            <when test="is_delete != null">and g.is_delete=#{recycle}</when>
            <otherwise>and g.is_delete = 0</otherwise>
        </choose>
        <choose>
            <when test="is_open != null">and m.is_open = #{recycle}</when>
            <otherwise>and m.is_open = 1</otherwise>
        </choose>
        <if test="allGoodsId != null">
            <foreach collection="allGoodsId" item="goodId" separator="," open="and g.id in(" close=")">
                #{goodId,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="mchId != null and mchId != null">and a.mch_id = #{mchId}</if>
        <if test="stockNum != null and stockNum!=''">AND g.num <![CDATA[ >  ]]>  0</if>
    </sql>

    <sql id="getGoodsInfoSQL">
        <choose>
            <when test="recycle != null">and a.recycle=#{recycle}</when>
            <otherwise>and a.recycle != 1</otherwise>
        </choose>
        <choose>
            <when test="is_delete != null">and b.del=#{is_delete}</when>
            <otherwise>and b.is_delete = 0</otherwise>
        </choose>
        <if test="integralId != null">and b.id = #{integralId}</if>
        <if test="c_recycle != null">and c.recycle = #{c_recycle}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="c_recycle != null">and c.recycle = #{c_recycle}</if>
        <if test="product_title != null and product_title != ''">and (a.product_title like
            concat('%',#{product_title},'%') or
             a.id like concat('%',#{product_title},'%')) </if>
        <if test="active != null">and a.active = #{active}</if>
        <if test="status != null">and a.status = #{status}</if>
        <if test="mchId != null">and a.mch_id = #{mchId}</if>
        <if test="attrId != '' and attrId != null">and c.id = #{attrId}</if>
        <if test="mchName != '' and mchName != null"> and mch.name like concat('%',#{mchName},'%')</if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            and b.add_time <![CDATA[  >=  ]]> #{startTime}
            and b.add_time <![CDATA[  <=  ]]> #{endTime}
        </if>
    </sql>
    <select id="getGoodsInfo1" parameterType="Map" resultType="Map">
        select b.*,a.product_title,a.imgurl,a.product_class,mch.name mchName,a.initial,class.pname,brand.brand_name,c.attribute,c.id attrId,c.img,c.price,c.num attrNum
        from lkt_integral_goods as b
        left join lkt_product_list as a on b.goods_id=a.id
        left join lkt_product_class class on class.cid = substring_index(substring_index(a.product_class, '-', 2), '-', -1)
        left join lkt_configure AS c ON a.id = c.pid and b.attr_id = c.id
        left join lkt_brand_class brand on brand.brand_id=a.brand_id
        left join lkt_mch mch on mch.id = a.mch_id
        <where>
            <include refid="getGoodsInfoSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">b.sort ${sort_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd!=null">
            LIMIT #{pageStart},#{pageEnd}
        </if>
    </select>
    <select id="countGoodsInfo1" parameterType="Map" resultType="int">
        select count(b.id)
        from lkt_integral_goods as b
        left join lkt_product_list as a on b.goods_id=a.id
        left join lkt_product_class class on class.cid = substring_index(substring_index(a.product_class, '-', 2), '-', -1)
        left join lkt_configure AS c ON a.id = c.pid and b.attr_id = c.id
        left join lkt_brand_class brand on brand.brand_id=a.brand_id
        left join lkt_mch mch on mch.id = a.mch_id
        <where>
            <include refid="getGoodsInfoSQL"/>
        </where>
    </select>

    <select id="getRecordsByGoodsId" parameterType="Map"  resultType="Map">
        select b.integral, b.money, b.status, b.goods_id, a.product_title,a.imgurl,a.product_class,a.initial,class.pname,
               c.attribute,c.id attrId,c.img,c.price,c.num attrNum,o.sNo, o.add_time, o.remark, u.user_id, u.mobile
        from lkt_integral_goods as b
        left join lkt_product_list as a on b.goods_id=a.id
        left join lkt_product_class class on class.cid = substring_index(substring_index(a.product_class, '-', 2), '-', -1)
        left join lkt_configure AS c ON a.id = c.pid and b.attr_id = c.id
        right join lkt_order_details as details on details.p_id = b.id
        right join lkt_order as o on o.sNo = details.r_sNo
        right join lkt_user as u on o.user_id = u.user_id
        <where>
           and b.id = #{goodsId}
           and b.store_id = #{storeId}
           and o.otype = 'IN'
        </where>
        <if test="pageStart != null and pageEnd!=null">
            LIMIT #{pageStart},#{pageEnd}
        </if>
    </select>

    <select id="getRecordsByGoodsIdcount" parameterType="Map"  resultType="int">
        select count(b.id)
        from lkt_integral_goods as b
        left join lkt_product_list as a on b.goods_id=a.id
        left join lkt_product_class class on class.cid = substring_index(substring_index(a.product_class, '-', 2), '-', -1)
        left join lkt_configure AS c ON a.id = c.pid and b.attr_id = c.id
        right join lkt_order_details as details on details.p_id = b.id
        right join lkt_order as o on o.sNo = details.r_sNo
        <where>
            and b.id = #{goodsId}
            and b.store_id = #{storeId}
            and o.otype = 'IN'
        </where>
    </select>
</mapper>