<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.LivingProductModelMapper" >

    <sql id="column">
        a.id,
		a.store_id,
		a.product_number,
		a.commodity_type,
		a.product_title,
		a.subtitle,
		a.label,
		a.scan,
		a.product_class,
		a.imgurl,
		a.content,
		a.richList,
		a.sort,
		a.mch_sort,
		a.add_date,
		a.upper_shelf_time,
		a.volume,
		a.initial,
		a.s_type,
		a.num,
		a.min_inventory,
		a.status,
		a.brand_id,
		a.is_distribution,
		a.is_default_ratio,
		a.keyword,
		a.weight,
		a.weight_unit,
		a.distributor_id,
		a.freight,
		a.is_zhekou,
		a.separate_distribution,
		a.recycle,
		a.gongyingshang,
		a.is_hexiao,
		a.hxaddress,
		a.active,
		a.mch_id,
		a.mch_status,
		a.refuse_reasons,
		a.search_num,
		a.show_adr,
		a.publisher,
		a.is_zixuan,
		a.commodity_str,
		a.source,
		a.comment_num,
		a.cover_map,
		a.class_sort,
		a.display_position_sort,
		a.is_presell,
		a.supplier_superior,
		a.lower_remark,
		a.outage_time,
		a.pro_param,
		a.pro_introduce,
		a.examine_time,
		a.violation_time,
		a.receiving_form,
		a.zixuan_id,
		a.video,
		a.pro_video,
		a.real_volume,
		a.lower_image,
		a.write_off_settings,
		a.write_off_mch_ids,
		a.is_appointment,
		a.supplier_status,
		a.is_zc,
		a.country_num,
		a.lang_code,
		a.lang_pid,
    </sql>

    <sql id="selectPro">
        <where>
            <trim prefixOverrides="and">
                AND c.store_id = #{storeId}
                AND c.recycle = 0
                and c.living_id = #{room_id}
                <if test="product_class != null and product_class!=''">AND a.product_class like CONCAT('%-',
                    #{product_class},'-%')
                </if>
                <if test="brand_id != null">AND a.brand_id = #{brand_id}</if>
                <if test="product_title != null and product_title!=''">AND (a.product_title like CONCAT('%',
                    #{product_title},'%') or a.id = #{product_title})
                </if>
                <if test="mch_name != null and mch_name!=''">AND b.name like CONCAT('%', #{mch_name},'%')</if>
            </trim>
        </where>
    </sql>

    <select id="selectProByRooId" resultType="map" parameterType="map">
        SELECT
        <include refid="column"/>
        a.update_time,
        a.living_id,
        a.mch_name
        FROM
        (
        SELECT
        <include refid="column"/>
        c.add_time AS update_time,
        c.store_id as c_storeId,
        c.recycle as c_recycle,
        c.living_id,
        ifnull( b.NAME, '' ) AS mch_name,
        ROW_NUMBER() over(partition by a.id ORDER BY c.add_time DESC, c.id DESC) AS top
        FROM
        lkt_living_product c
        LEFT JOIN lkt_product_list a ON c.pro_id = a.id
        LEFT JOIN lkt_mch AS b ON a.mch_id = b.id
        <include refid="selectPro"/>
        ) AS a
        where a.top &lt;2
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>

    <select id="countProByRooId" resultType="int" parameterType="map">
        select count(1) from (
        select a.id from lkt_living_product c
        left join lkt_product_list a on c.pro_id = a.id
        LEFT JOIN lkt_mch AS b ON a.mch_id = b.id
        <include refid="selectPro"/>
        group by a.id
        order by a.sort desc, a.add_date desc
        ) z;
    </select>

    <sql id="getGoodsPoolSql">
        <where>
            <trim prefixOverrides="and">
                AND a.store_id = #{store_id}
                AND a.recycle = 0
                AND a.is_presell = 0
                AND a.gongyingshang = ''
                and a.status = 2 and a.mch_status = 2
                and a.commodity_type=0
                <if test="isProPool==0">and ifnull(b.commission,'') ='' and b.num > 0</if>
                <if test="isProPool==1">and ifnull(b.commission,'') !='' </if>
                <if test="roomId!=null and roomId!=''">and a.num>0</if>
                <if test="proList != null">
                    <foreach collection="proList" item="pro_id" separator="," open="and a.id not in(" close=")">
                        #{pro_id,jdbcType=INTEGER}
                    </foreach>
                </if>
                <if test="product_class != null and product_class!=''">AND a.product_class like CONCAT('%-',
                    #{product_class},'-%')
                </if>
                <if test="brand_id != null">AND a.brand_id = #{brand_id}</if>
                <if test="product_title != null and product_title!=''">AND (a.product_title like CONCAT('%', #{product_title},'%') or a.id=#{product_title})
                </if>
                <if test="mchName != null and mchName!=''">AND m.name like CONCAT('%',
                    #{mchName},'%')
                </if>
                <if test="mchNameOrProductName != null and mchNameOrProductName!=''">AND (m.name like CONCAT('%',
                    #{mchNameOrProductName},'%') or a.product_title like CONCAT('%', #{mchNameOrProductName},'%'))
                </if>
                <if test="mch_id!=null and mch_id!=''"> and a.mch_id=#{mch_id}</if>
            </trim>
        </where>
    </sql>
    <select id="getGoodsPool" resultType="map" parameterType="map">
        SELECT
        <include refid="column"/>
        a.mch_name,
        a.commission,
        a.kucun,
        a.update_time
        FROM
        (
        SELECT
        a.*,
        ifnull( m.NAME, '' ) AS mch_name,
        b.commission,
        b.num as kucun,
        date_format( b.update_time, '%Y-%m-%d %H:%i:%s' ) AS update_time,
        ROW_NUMBER() over (partition by a.id ORDER BY b.update_time DESC, b.id DESC) AS top
        FROM
        lkt_product_list a
        LEFT JOIN lkt_configure b ON a.id = b.pid
        LEFT JOIN lkt_mch m ON m.id = a.mch_id
        <include refid="getGoodsPoolSql"/>
        ) AS a
        WHERE a.top &lt; 2
        order by a.id desc
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>

    <select id="countGoodsPool" resultType="map" parameterType="map">
        select a.id from lkt_product_list a
        left join lkt_configure b on a.id=b.pid
        left join lkt_mch m on m.id = a.mch_id
        <include refid="getGoodsPoolSql"/>
        group by a.id
    </select>


    <sql id="getLivingGoodsPoolSql">
        <where>
            <trim prefixOverrides="and">
                AND a.store_id = #{store_id}
                AND a.recycle = 0
                AND a.is_presell = 0
                AND a.gongyingshang = ''
                <choose>
                    <when test="recycle1 != null">
                        AND (l.recycle = 0 or l.recycle = 1)
                    </when>
                    <otherwise>
                        AND l.recycle = 0
                    </otherwise>
                </choose>
                <if test="isProPool==0">and ifnull(b.commission,'') = ''</if>
                <if test="isProPool==1">and ifnull(b.commission,'') !=''</if>
                <if test="product_class != null and product_class!=''">AND a.product_class like CONCAT('%-',
                    #{product_class},'-%')
                </if>
                <if test="brand_id != null">AND a.brand_id = #{brand_id}</if>
                <if test="product_title != null and product_title!=''">AND (a.product_title like CONCAT('%',
                    #{product_title},'%') or a.id=#{product_title} or m.name like CONCAT('%',#{product_title},'%')
                    )
                </if>
                <if test="mch_id!=null and mch_id!=''"> and a.mch_id=#{mch_id}</if>
                <if test="room_id!=null and room_id!=''"> and l.living_id=#{room_id}</if>
                <if test="mchName!=null and mchName!=''"> and m.name like CONCAT('%',
                    #{mchName},'%')</if>
            </trim>
        </where>
    </sql>
    <select id="getLivingGoodById" resultType="map" parameterType="map">
        SELECT
        <include refid="column"/>
        a.update_time,
        a.sort_num,
        a.add_time
        FROM
        (
        SELECT
        a.*,
        ifnull( m.NAME, "" ) AS mchName,
        date_format( b.update_time, '%Y-%m-%d %H:%i:%s' ) AS update_time,
        l.sort_num,
        date_format( l.add_time, '%Y-%m-%d %H:%i:%s' ) AS add_time,
        ROW_NUMBER() over(partition by a.id ORDER BY l.sort ASC, l.sort_num ASC, l.id DESC) AS top,
        l.recycle as l_recycle,
        b.commission,
        l.living_id,
        l.sort as l_sort
        FROM
        lkt_living_product l
        LEFT JOIN lkt_product_list a ON l.pro_id = a.id
        LEFT JOIN lkt_configure b ON l.config_id = b.id
        LEFT JOIN lkt_mch m ON m.id = a.mch_id
        <include refid="getLivingGoodsPoolSql"/>
        order by l.sort asc,l.sort_num asc
        ) AS a
        where a.top &lt;2
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>

    <select id="countLivingGoodById" resultType="map" parameterType="map">
        select a.* from lkt_living_product l
        left join lkt_product_list a on l.pro_id = a.id
        left join lkt_configure b on l.config_id=b.id
        left join lkt_mch m on m.id = a.mch_id
        <include refid="getLivingGoodsPoolSql"/>
        group by a.id
    </select>


    <select id="queryLivingPro" resultType="map" parameterType="map">
        SELECT
        <include refid="column"/>
        a.mchName,
        a.represent,
        a.sort_num,
        a.l_sort,
        a.commission,
        a.living_id,
        l_recycle
        FROM
        (
        SELECT
        a.*,
        ifnull( m.NAME, '' ) AS mchName,
        l.represent,
        l.sort_num,
        l.sort as l_sort,
        b.commission,
        l.living_id,
        l.recycle as l_recycle,
        ROW_NUMBER() over(partition by a.id ORDER BY l.represent DESC, l.sort ASC, l.sort_num ASC, l.id DESC) AS top
        FROM
        lkt_living_product l
        LEFT JOIN lkt_product_list a ON l.pro_id = a.id
        LEFT JOIN lkt_configure b ON l.config_id = b.id
        LEFT JOIN lkt_mch m ON m.id = a.mch_id
        <include refid="getLivingGoodsPoolSql"/>
        order by l.represent desc,l.sort asc,l.sort_num
        ) AS a
        WHERE a.top &lt; 2
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>
</mapper>
