<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.MchClassModelMapper" >

    <sql id="getMchClassSQL">
        and recycle = 0
        <if test="storeId != null and storeId != ''">and store_id = #{storeId}</if>
        <if test="id != null">and id = #{id}</if>
        <if test="isDisplay != null ">and is_display = #{isDisplay}</if>
        <if test="name != null and name != ''">and `name` like CONCAT('%', #{name},'%')</if>
    </sql>

    <select id="selectCondition" parameterType="Map" resultType="Map">
        select * from lkt_mch_class
        <where>
            <trim prefixOverrides="and">
                <include refid="getMchClassSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">add_date ${add_date_sort},</if>
            <if test="sort_sort!=null and sort_sort!=''">sort ${sort_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countCondition" parameterType="Map" resultType="int">
        select count(*) from lkt_mch_class
        <where>
            <trim prefixOverrides="and">
                <include refid="getMchClassSQL"/>
            </trim>
        </where>
    </select>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select * from lkt_mch_class
        <where>
            <include refid="getMchClassSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">sort ${sort_sort},</if>
        </trim>
        <if test="pageNo != null and pageSize != ''">limit #{pageNo},#{pageSize}</if>
    </select>


</mapper>