<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laiketui.common.mapper.MchStoreWriteModelMapper">
    <sql id="getMchStoreDynamicSQL">
        <if test="id != null">and a.id = #{id}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="mch_id != null">and a.mch_id = #{mch_id}</if>
        <if test="lkt_mch_store_mch_id != null">and b.mch_id = #{mch_id}</if>
        <if test="mch_store_id != null">and a.mch_store_id = #{mch_store_id}</if>
        <if test="is_default != null">and b.is_default = #{is_default}</if>
        <if test="recycle != null">and a.recycle = #{recycle}</if>
        <if test="idList != null">
            <foreach collection="idList" item="id" separator="," open="and a.mch_store_id in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="writeNumStatus != null">
            and (a.write_off_num = 0 or a.off_num <![CDATA[ < ]]>  a.write_off_num)
        </if>
    </sql>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.id as w_id,a.start_time,a.end_time,a.write_off_num,a.off_num,b.* from lkt_mch_store_write as a
        left join  lkt_mch_store b on a.mch_store_id = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getMchStoreDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="is_default_sort!=null and is_default_sort!=''">is_default ${is_default_sort},</if>
            <if test="add_date_sort!=null and add_date_sort!=''">add_date ${add_date_sort},</if>
            <if test="order_id!=null and order_id!=''">id asc,</if>
        </trim>
        <if test="pageNo!=null and pageSize!=null">limit #{pageNo},#{pageSize}</if>
    </select>

    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(*) from lkt_mch_store_write as a
        left join  lkt_mch_store b on a.mch_store_id = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="getMchStoreDynamicSQL"/>
            </trim>
        </where>
    </select>

    <select id="selectMchStore" parameterType="Map" resultType="Map">
        select a.* from lkt_mch_store a left join lkt_mch_store_write b on a.id=b.mch_store_id where b.store_id = #{storeId} and b.mch_id = #{mchId} and b.recycle= #{recycle}
        group by a.id
        <if test="pageNo!=null and pageSize!=null"> limit #{pageNo},#{pageSize}</if>
    </select>
</mapper>
