<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.MemberProModelMapper" >

    <sql id="getProDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                AND a.store_id = #{store_id}
                AND a.recycle = 0
                AND a.is_presell = 0
                AND a.gongyingshang = ''
                and a.commodity_type = 0
                <if test="goodsId != null">AND a.id = #{goodsId}</if>
                <if test="stockNumGt != null">AND a.num > #{stockNumGt}</if>
                <if test="mch_id != null">AND a.mch_id = #{mch_id}</if>
                <if test="commodity_type != null">AND a.commodity_type = #{commodity_type}</if>
                <if test="recovery != null">AND m.recovery = #{recovery}</if>
                <if test="mch_status != null">
                    <choose>
                        <when test="mch_status == -1">AND a.mch_status != 1</when>
                        <when test="mch_status == -2">AND a.mch_status != 2</when>
                        <otherwise>AND a.mch_status = #{mch_status}</otherwise>
                    </choose>
                </if>
                <if test="statusList != null">
                    <foreach collection="statusList" item="status" separator="," open="and a.status in (" close=")">
                        #{status,jdbcType=INTEGER}
                    </foreach>
                </if>
                <if test="goodsStatus != null">AND a.status = #{goodsStatus}</if>
                <if test="status != null">
                    <choose>
                        <when test="status == -1">AND a.status != 1</when>
                        <otherwise>AND a.status = #{status}</otherwise>
                    </choose>
                </if>
                <if test="productClass != null and productClass!=''">AND a.product_class=#{productClass}</if>
                <if test="product_class != null and product_class!=''">AND a.product_class like CONCAT('%-',
                    #{product_class},'-%')
                </if>
                <if test="s_type != null and s_type!=''">AND a.s_type like CONCAT('%,', #{s_type},',%')</if>
                <if test="brand_id != null">AND a.brand_id = #{brand_id}</if>
                <if test="active != null">AND a.active =#{active}</if>
                <if test="product_title != null and product_title!=''">AND a.product_title like CONCAT('%',
                    #{product_title},'%')
                </if>
                <if test="condition != null and condition!=''">AND (a.id = #{condition} or a.product_title like CONCAT('%',
                    #{condition},'%'))
                </if>
                <if test="keyName != null and keyName!=''">AND (a.product_title like CONCAT('%', #{keyName},'%') or
                    a.id=#{keyName})
                </if>
                <if test="mchNameOrGoodsName != null">AND(a.product_title like CONCAT('%', #{mchNameOrGoodsName},'%') or
                    b.name like CONCAT('%', #{mchNameOrGoodsName},'%'))
                </if>
                <if test="mch_name != null and mch_name!=''">AND b.name like CONCAT('%', #{mch_name},'%')</if>
                <if test="show_adr != null and show_adr!=''">AND a.show_adr like CONCAT('%,', #{show_adr},',%')</if>
                <if test="productTitleList != null">
                    <foreach collection="productTitleList" item="title" separator="or" open="and (" close=")">
                        a.product_title LIKE CONCAT('%,', #{title}, ',%')
                    </foreach>
                </if>
                <if test="notMember != null and notMember!=''">AND a.id not in (SELECT pro_id FROM lkt_member_pro WHERE recovery = 0)</if>
            </trim>
        </where>
    </sql>

    <select id="getMemberPro" parameterType="Map" resultType="Map">
        SELECT a.*,b.name FROM lkt_member_pro m LEFT JOIN lkt_product_list a ON m.pro_id = a.id LEFT JOIN lkt_mch b ON a.mch_id = b.id
        <include refid="getProDynamicSQL"/>
        <trim prefix=" ORDER BY " suffixOverrides=",">
            <if test="sort_sort != null">a.sort ${sort_sort},</if>
            <if test="addTimeSort != null">m.add_time ${addTimeSort},</if>
        </trim>
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>

    <select id="countMemberPro" parameterType="Map" resultType="int">
        SELECT count(1) FROM lkt_member_pro m LEFT JOIN lkt_product_list a ON m.pro_id = a.id LEFT JOIN lkt_mch b ON a.mch_id = b.id
        <include refid="getProDynamicSQL"/>
    </select>

    <select id="getPro" parameterType="Map" resultType="Map">
        select a.*,b.name from lkt_product_list a LEFT JOIN lkt_mch b ON a.mch_id = b.id
        <include refid="getProDynamicSQL"/>
        <trim prefix=" ORDER BY " suffixOverrides=",">
            <if test="sort_sort != null">a.sort ${sort_sort},</if>
            <if test="addTimeSort != null">a.add_date ${addTimeSort},</if>
        </trim>
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>

    <select id="countPro" parameterType="Map" resultType="int">
        SELECT count(1) FROM lkt_product_list a LEFT JOIN lkt_mch b ON a.mch_id = b.id
        <include refid="getProDynamicSQL"/>
    </select>

</mapper>