<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.OrderDetailsModelMapper">
    <select id="getOrderDetailByGoodsInfo" parameterType="Map" resultType="Map">
        SELECT
        a.id,
        a.p_id AS commodityId,
        a.p_name,
        a.p_price,
        a.num,
        a.size,
        a.deliver_time,
        a.sid,
        a.r_status,
        a.re_type,
        a.r_type,
        a.freight,
        a.unit,
        a.user_id,
        a.r_sNo,
        a.express_id,
        a.courier_num,
        a.coupon_id detailCouponId,
        a.mch_store_write_id,
        a.write_time,
        a.write_time_id,
        a.platform_coupon_price,
        a.store_coupon_price,
        goods.id goodsId,
        goods.imgurl goodsUrl,
        goods.is_distribution,
        goods.write_off_settings,
        goods.is_appointment,
        goods.commodity_type,
        goods.write_off_mch_ids,
        goods.mch_id,
        m.img,
        m.id as attr_id,
        goods.product_title product_title,
        m.live_price,
        goods.gongyingshang gys
        FROM lkt_order_details AS a
        LEFT JOIN lkt_configure AS m ON a.sid = m.id
        left join lkt_product_list goods on goods.id = m.pid

        WHERE a.store_id = #{store_id}
        <if test="r_statusList!=null">
            <foreach collection="r_statusList" item="status" separator="," open="and a.r_status in(" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="oderDetailId>0">AND a.id = #{oderDetailId}</if>
        <if test="orderno!=null">AND a.r_sNo = #{orderno}</if>
        <if test="mch_id!=null">AND goods.mch_id = #{mch_id}</if>
        <if test="recycle!=null">AND a.recycle = #{recycle}</if>
        <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
    </select>


    <select id="countOrderDetailDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_order_details
        where store_id = #{store_id}
        <if test="orderno != null and orderno!=''">
            and r_sNo like CONCAT('%',#{orderno},'%')
        </if>
        <if test="notStatus != null and notStatus!=''">
            and r_status != #{notStatus}
        </if>
    </select>

    <update id="updateByOrdernoDynamic" parameterType="Map">
        update lkt_order_details
        <set>
            <trim suffixOverrides=",">
                <if test="r_status!=null">
                    r_status=#{r_status},
                </if>
                <if test="write_off_num!=null">
                    write_off_num=#{write_off_num},
                </if>
                <if test="after_write_off_num!=null">
                    after_write_off_num=#{after_write_off_num},
                </if>
                <if test="mch_store_write_id!=null">
                    mch_store_write_id=#{mch_store_write_id},
                </if>
                <if test="express_id!=null">
                    express_id=#{express_id},
                </if>
                <if test="courier_num!=null">
                    courier_num=#{courier_num},
                </if>
                <if test="deliver_time!=null">
                    deliver_time=#{deliver_time},
                </if>
                <if test="recycle != null ">
                    recycle = #{recycle},
                </if>
                <if test="afterDiscount != null ">
                    after_discount = #{afterDiscount},
                </if>
                <if test="arrive_time != null ">
                    arrive_time = #{arrive_time},
                </if>
                <if test="upFreight!=null"> freight = #{upFreight}, </if>
                <if test="upAfterDiscount!=null"> after_discount = #{upAfterDiscount}, </if>
            </trim>
        </set>
        <where>
            <trim suffixOverrides="and">
                <if test="by_id!=null">and id=by_id</if>
                <if test="orderno!=null">
                    and r_sNo = #{orderno}
                </if>
                <if test=" ids != null  ">
                    and id in (${ids})
                </if>
                <if test="rstatus!=null">
                    and r_status = #{rstatus}
                </if>
                <if test="detailId!=null">
                    and id = #{detailId}
                </if>
                <if test="storeId!=null">
                    and store_id = #{storeId}
                </if>
                <if test="p_id!=null">
                    and p_id = #{p_id}
                </if>
                <if test="orderDetailIds!=null">
                    <foreach collection="orderDetailIds" item="id" separator="," open="and id in(" close=")">
                        #{id,jdbcType=INTEGER}
                    </foreach>
                </if>
            </trim>
        </where>
    </update>
    <update id="reBack">
        update lkt_order_details set r_sNo = #{sNo}
                                 where
        <foreach collection="sNos" item="sNo" separator="," open="r_sNo in(" close=")">
        #{sNo}
        </foreach>
    </update>

    <sql id="selectOrderInfoListDynamceSQL">
        <if test="store_id!=null">and d.store_id = #{store_id}</if>
        <if test="orderno!=null">and d.r_sNo = #{orderno}</if>
        <if test="r_status!=null">and d.r_status = #{r_status}</if>
        <if test="orderType!=null">and o.otype = #{orderType}</if>
        <if test="deliverNum != null"> and  d.deliver_num  <![CDATA[ < ]]> d.num</if>
    </sql>
    <select id="selectOrderInfoListDynamce" parameterType="Map" resultType="Map">
        select
        o.p_sNo,o.coupon_price,o.coupon_id,o.otype,o.self_lifting,d.id,d.r_sNo,d.user_id,d.p_id,d.p_name,d.p_price,d.num,d.r_status,d.sid,d.size,p.imgurl,o.otype
        ,o.ptcode ,p.product_class,b.brand_name,c.costprice,c.price,c.img, d.deliver_num, p.mch_id
        from lkt_order_details as d
            left join lkt_configure as c on d.sid = c.id
            right join lkt_product_list as p on p.id=c.pid left join lkt_order as o on d.r_sNo=o.sNo
        left join lkt_brand_class as b on p.brand_id = b.brand_id
        <where>
            <trim suffixOverrides="and">
                <include refid="selectOrderInfoListDynamceSQL"/>
            </trim>
        </where>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countOrderInfoListDynamce" parameterType="Map" resultType="int">
        select count(1) from lkt_order_details as d left join lkt_configure
        as c on d.sid = c.id left join lkt_product_list as p on p.id=c.pid left join lkt_order as o on d.r_sNo=o.sNo
        left join lkt_brand_class as b on p.brand_id = b.brand_id
        <where>
            <trim suffixOverrides="and">
                <include refid="selectOrderInfoListDynamceSQL"/>
            </trim>
        </where>
    </select>
    <select id="getGoodsSales" resultType="java.lang.Integer">
        select ifnull(sum(a.num),0) num from lkt_order_details a LEFT JOIN lkt_order b on a.r_sNo=b.sNo LEFT JOIN lkt_product_list
        p
        on a.p_id=p.id
        <where>
            b.status in(1,2,5,7) and a.store_id=#{storeId}
            <if test="date!=null and date!='' and type=='day'">
                and DATE_FORMAT(a.add_time,'%Y-%m-%d')=#{date}
            </if>
            <if test="date!=null and date!='' and type=='month'">
                and DATE_FORMAT(a.add_time,'%Y-%m')=#{date}
            </if>
            <if test="flag and  mchId!=null">
                and p.mch_id=#{mchId}
            </if>
            <if test="!flag and  mchId!=null">
                and p.mch_id!=#{mchId}
            </if>
        </where>

    </select>



    <select id="getOrderDetailBypSnoOrsNo" parameterType="Map" resultType="Map">
        select
        d.id,d.p_id,d.p_name, d.courier_num, d.express_id, d.num
        from lkt_order_details as d
        left join lkt_order as o on  d.r_sNo = o.sNo
        <where>
            d.store_id = #{store_id}
            <if test="sNo != null">
                and o.sNo = #{sNo}
            </if>
            <if test="Real_sno != null">
                and o.real_sno = #{Real_sno}
            </if>
            <if test="p_sNo != null">
                and o.p_sNo = #{p_sNo}
            </if>
        </where>
    </select>
    <select id="getDetailInfoById" resultType="java.util.Map">
        SELECT d.r_status,o.real_sno,o.pay FROM lkt_order_details d
        INNER JOIN lkt_order o ON o.sNo = d.r_sNo
        where d.id = #{pId} and o.sNo = #{sNo} and d.store_id = #{storeId}
    </select>
    <select id="getGoodsByUser" resultType="java.lang.Integer">
        SELECT DISTINCT product_class
        FROM (
                 SELECT substring_index(substring_index(b.product_class, '-', 2), '-', -1) AS product_class
                 FROM lkt_order_details AS a
                          RIGHT JOIN lkt_configure c ON a.sid = c.id
                          RIGHT JOIN lkt_product_list AS b ON c.pid = b.id
                 WHERE b.store_id = #{storeId} AND a.user_id = #{userId}
                 ORDER BY b.add_date DESC
             ) AS temp;

    </select>
</mapper>
