<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.PreSellRecordModelMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.presell.PreSellRecordModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="store_id" jdbcType="INTEGER" />
    <result column="user_id" property="user_id" jdbcType="VARCHAR" />
    <result column="product_id" property="product_id" jdbcType="INTEGER" />
    <result column="attr_id" property="attr_id" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="sNo" property="sNo" jdbcType="VARCHAR" />
    <result column="is_deposit" property="is_deposit" jdbcType="TINYINT" />
    <result column="is_balance" property="is_balance" jdbcType="TINYINT" />
    <result column="is_delete" property="is_delete" jdbcType="TINYINT" />
    <result column="add_time" property="add_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, store_id, user_id, product_id, attr_id, price, deposit, balance, num, sNo, is_deposit, 
    is_balance, is_delete, add_time
  </sql>

  <sql id="getSellOrderListSQL">
    <where>
      <trim prefixOverrides="and">
        AND a.store_id = #{storeId}
        AND a.is_delete = 0
        AND c.`status` IS NOT NULL
        <if test="isRefund != null">AND a.is_refund = 0</if>
        <if test="sellType != null">AND f.sell_type = #{sellType}</if>
        <if test="status != null">AND c.status = #{status}</if>
        <if test="titleOrId != null">AND(f.product_title like CONCAT('%', #{titleOrId},'%') or
          f.product_id = #{titleOrId})
        </if>
        <if test="productTitle">AND f.product_title like CONCAT('%', #{productTitle},'%')</if>
        <if test="mchName!=null">and m.name like concat('%',#{mchName},'%')</if>
        <if test="mchId != null">AND m.id = #{mchId}</if>
        <if test="productId != null">AND f.product_id = #{productId}</if>
        <if test="startTime != null">AND c.add_time <![CDATA[  >=  ]]> #{startTime}</if>
        <if test="endTime != null">AND c.add_time <![CDATA[  <=  ]]> #{endTime}</if>
        <if test="condition != null">AND (a.sNo like CONCAT('%', #{condition},'%') or b.user_name like CONCAT('%', #{condition},'%') or b.mobile = #{condition} or b.user_id = #{condition})</if>
        <if test="statusList != null">
          <foreach collection="statusList" item="status" separator="," open="and c.status in(" close=")">
            #{status,jdbcType=INTEGER}
          </foreach>
        </if>
        <if test="storeRecycle != null and storeRecycle != ''">and c.store_recycle = #{storeRecycle}</if>
        <if test="mchRecycle != null and mchRecycle != ''">and c.mch_recycle = #{mchRecycle}</if>
      </trim>
    </where>
  </sql>

  <select id="getSellOrderList" parameterType="Map" resultType="Map">
    SELECT
    a.`id`,
    a.`store_id`,
    a.`user_id`,
    a.`product_id`,
    a.`attr_id`,
    a.`price`,
    a.`deposit`,
    a.`balance`,
    a.`num`,
    a.`sNo`,
    a.`pay_type`,
    a.`is_pay`,
    a.`is_refund`,
    a.`is_delete`,
    a.`add_time`,
    a.`pay_balance_time`,
    a.`order_info`,
    a.`order_details_info`,
    a.`real_sno`,
    a.`pay`,
    a.`paypal_id`,
    a.`stripe_id`,
    a.realPrice,
    a.attribute,
    a.user_name,
    a.headimgurl,
    a.`status`,
    a.order_add_time,
    a.sell_type,
    a.product_title,
    a.one_price,
    a.img,
    a.one_num,
    a.mobile,
    a.sheng,
    a.shi,
    a.xian,
    a.address,
    a.z_price,
    a.express_id,
    a.freight,
    a.courier_num,
    a.mchId,
    a.mchName,
    a.detailId
    FROM
    (
    SELECT
    a.*,
    sum( a.price ) over(partition by a.sNo) realPrice,
    e.attribute,
    b.user_name,
    b.headimgurl,
    c.`status`,
    c.add_time order_add_time,
    f.sell_type,
    f.product_title,
    e.price one_price,
    e.img,
    e.num one_num,
    b.mobile,
    c.sheng,
    c.shi,
    c.xian,
    c.address,
    c.z_price,
    d.express_id,
    d.freight,
    d.courier_num,
    m.id mchId,
    m.name mchName,
    d.id AS detailId,
    ROW_NUMBER() over(partition by a.sNo) AS top
    FROM
    lkt_pre_sell_record a
    LEFT JOIN lkt_user b ON a.user_id = b.user_id
    LEFT JOIN lkt_order c ON a.sNo = c.sNo
    LEFT JOIN lkt_order_details d ON a.sNo = d.r_sNo
    LEFT JOIN lkt_configure e ON a.attr_id = e.id
    LEFT JOIN lkt_pre_sell_goods f ON a.product_id = f.product_id
    LEFT JOIN lkt_product_list p ON a.product_id = p.id
    LEFT JOIN lkt_mch m ON p.mch_id = m.id
    <include refid="getSellOrderListSQL"/>
    ORDER BY c.add_time DESC
    )AS a
    WHERE a.top &lt;2
    <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
  </select>

  <select id="countSellOrderList" parameterType="Map" resultType="int">
    SELECT COUNT(distinct a.sNo) FROM lkt_order c
    LEFT JOIN lkt_pre_sell_record a ON a.sNo = c.sNo
    LEFT JOIN lkt_user b ON a.user_id = b.user_id
    LEFT JOIN lkt_order_details d ON a.sNo = d.r_sNo
    LEFT JOIN lkt_configure e ON a.attr_id = e.id
    LEFT JOIN lkt_pre_sell_goods f ON a.product_id = f.product_id
    LEFT JOIN lkt_product_list p ON a.product_id = p.id
    LEFT JOIN lkt_mch m ON p.mch_id = m.id
    <include refid="getSellOrderListSQL"/>
  </select>

  <select id="getTimerSellOrder" parameterType="Map" resultType="Map">
    SELECT DISTINCT o.*,p.balance_pay_time FROM lkt_order o
    LEFT JOIN lkt_pre_sell_record r ON o.sNo = r.sNo
    LEFT JOIN lkt_pre_sell_goods p ON r.product_id = p.product_id
    <where>
      <trim prefixOverrides="and">
        <include refid="getTimerSellOrder"/>
      </trim>
    </where>
    order by add_time desc
  </select>

  <sql id="getTimerSellOrder">
    and o.store_id = #{store_id}
    <if test="sell_type != null">and p.sell_type = #{sell_type}</if>
    <if test="recycle != null">and o.recycle != #{recycle}</if>
    <if test="orderType != null ">and o.otype = #{orderType}</if>
    <if test="orderStauts != null ">and o.status = #{orderStauts}</if>
    <if test="mch_id != null and mch_id!=''">and o.mch_id like CONCAT('%,',#{mch_id},',%')</if>
    <if test="startDay != null">and o.add_time <![CDATA[  >=  ]]> #{startDay}</if>
    <if test="endDay != null ">and o.add_time <![CDATA[  <=  ]]> #{endDay}</if>
    <if test="notOtype != null">and o.otype != #{notOtype}</if>
    <if test="statusType == 1">and o.`status` != 7</if>
    <if test="notStatusType !=null">and o.`status` != #{notStatusType}</if>
    <if test="orderFailureTime !=null and sysDate !=null">and date_add(o.add_time, interval IFNULL(order_failure_time, #{orderFailureTime})
      second) <![CDATA[  <  ]]> #{sysDate}
    </if>

  </sql>
</mapper>