<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.PreSellGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.presell.PreSellGoodsModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="product_id" jdbcType="INTEGER" />
    <result column="sell_type" property="sell_type" jdbcType="INTEGER" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="deposit_start_time" property="deposit_start_time" jdbcType="TIMESTAMP" />
    <result column="deposit_end_time" property="deposit_end_time" jdbcType="TIMESTAMP" />
    <result column="balance_pay_time" property="balance_pay_time" jdbcType="TIMESTAMP" />
    <result column="sell_num" property="sell_num" jdbcType="INTEGER" />
    <result column="end_day" property="end_day" jdbcType="INTEGER" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="delivery_time" property="delivery_time" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, product_id, sell_type, deposit, deposit_start_time, deposit_end_time, balance_pay_time, 
    sell_num, end_day, deadline, delivery_time
  </sql>



  <select id="getGoodsList" parameterType="Map" resultType="Map">
    SELECT DISTINCT b.*, a.sell_type, a.deposit, a.sell_num, a.is_on_shelf,c.name mchName FROM lkt_pre_sell_goods a LEFT JOIN lkt_product_list b ON a.product_id = b.id LEFT JOIN lkt_mch c ON b.mch_id = c.id
    <include refid="getGoodsListSQL"/>
    ORDER BY b.add_date DESC
    <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
  </select>

  <select id="getTotal" parameterType="Map" resultType="int">
    SELECT count(1) FROM lkt_pre_sell_goods a LEFT JOIN lkt_product_list b ON a.product_id = b.id LEFT JOIN lkt_mch c ON b.mch_id = c.id
    <include refid="getGoodsListSQL"/>
  </select>

  <select id="getPreGoods" parameterType="Map" resultType="Map">
    SELECT p.* FROM lkt_pre_sell_goods s LEFT JOIN lkt_product_list p ON s.product_id = p.id
    <include refid="getGoodsList"/>
    ORDER BY p.add_date DESC
    <if test="page != null and pageSize!=null">LIMIT #{page},#{pageSize}</if>
  </select>

  <sql id="getGoodsList">
    <where>
      <trim prefixOverrides="and">
        AND s.is_display = 1
        AND s.is_delete = 0
        AND p.recycle = 0
        AND p.`status` = 2
        AND p.store_id = #{storeId}
        <if test="mchId != null">AND p.mch_id = #{mchId}</if>
        <if test="storeMchId != null">AND p.mch_id = #{storeMchId}</if>
        <if test="title != null">AND p.product_title like CONCAT('%', #{title},'%')</if>
      </trim>
    </where>
  </sql>

  <sql id="getGoodsListSQL">
    <where>
      <trim prefixOverrides="and">
        AND b.store_id = #{store_id}
        AND b.recycle = 0
        AND a.is_delete = 0
        <if test="product_class != null">AND b.product_class like CONCAT('%-',#{product_class},'-%')</if>
        <if test="brand_id != null">AND b.brand_id = #{brand_id}</if>
        <if test="mchName != null">AND c.name like CONCAT('%', #{mchName},'%')</if>
        <if test="mch_id != null">AND b.mch_id = #{mch_id}</if>
        <if test="status != null">AND b.status = #{status}</if>
        <if test="sellType != null">AND a.sell_type = #{sellType}</if>
        <if test="titleOrNum != null">AND (b.product_title like CONCAT('%', #{titleOrNum},'%') or b.id = #{titleOrNum})
        </if>
        <if test="product_title != null">AND b.product_title like CONCAT('%', #{product_title},'%')</if>
        <if test="product_id != null">AND b.id = #{product_id}</if>
      </trim>
    </where>
  </sql>
</mapper>