<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.ProductClassModelMapper">

    <sql id="selectDynamicSQL">
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="storeId != null">and store_id = #{storeId}</if>
        <if test="id != null">and id = #{id}</if>
        <if test="sid != null">and sid = #{sid}</if>
        <if test="mch_id != null">and mch_id = #{mch_id}</if>
        <if test="recycle != null">and recycle = #{recycle}</if>
        <if test="status != null">and a.examine = #{status}</if>
        <if test="lang_code != null and lang_code != '' ">and lang_code = #{lang_code}</if>
        <if test="level != null">and `level` = #{level}</if>
        <if test="className != null">and a.pname like concat('%',#{className},'%')</if>
        <if test="condition != null">AND (a.pname like CONCAT('%',#{condition},'%') or b.supplier_name like CONCAT('%',#{condition},'%') or c.name like CONCAT('%',#{condition},'%'))</if>
        <if test="operator!=null and operator=='pt'">and (mch_id is not null or supplier_id is not null)</if>
        <if test="classIdList != null">
            <foreach collection="classIdList" item="classId" separator="," open="and a.cid in("
                     close=")">
                #{classId}
            </foreach>
        </if>
        <if test="pname != null">and pname = #{pname}</if>
        <if test="examineList != null">
            <foreach collection="examineList" item="examine" separator="," open="and examine in(" close=")">
                #{examine}
            </foreach>
        </if>
        <if test="startTime != null">AND a.add_date <![CDATA[  >=  ]]> #{startTime}</if>
        <if test="endTime != null">and a.add_date <![CDATA[  <=  ]]> #{endTime}</if>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.*,CASE
        WHEN a.mch_id IS NOT NULL THEN c.name
        WHEN a.supplier_id IS NOT NULL THEN b.supplier_name
        ELSE '平台'
        END AS supplier_name
        from lkt_product_class a left join lkt_supplier b on a.supplier_id = b.id left join lkt_mch c on a.mch_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">sort ${sort_sort},</if>
            <if test="add_date_sort!=null and add_date_sort!=''">a.add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_product_class a left join lkt_supplier b on a.supplier_id = b.id left join lkt_mch c on a.mch_id = c.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>

    <sql id="getProductClassLevelSQL">
        store_id = #{store_id}
        AND recycle = 0
        <if test="sid!=null"> AND sid = #{sid} </if>
        <if test="cid!=null"> AND cid = #{cid} </if>
        <if test="pname!=null"> AND pname like concat('%',#{pname},'%') </if>
        <if test="lang_code != null  and lang_code != '' ">AND lang_code = #{lang_code}</if>
        <if test="level!=null"> AND `level` = #{level} </if>
        <if test="examine!=null"> AND examine = #{examine} </if>
        <if test="notset != null and  notset != 1 ">AND notset = 0</if>
        <if test="is_display!=null"> AND is_display = #{is_display} </if>
    </sql>
    <select id="getProductClassLevel" parameterType="com.laiketui.domain.product.ProductClassModel"
            resultType="com.laiketui.domain.product.ProductClassModel">
        SELECT cid,sid,pname,english_name,img,bg,level,sort,store_id,add_date,recycle,is_display,is_default,mch_id,examine,remark,supplier_id,lang_code,country_num,notset FROM lkt_product_class
        <where>
            <trim prefixOverrides="and">
                <include refid="getProductClassLevelSQL"></include>
            </trim>
        </where>
        ORDER BY
        sort DESC
        <if test="pageModel!=null">limit #{pageModel.pageNo},#{pageModel.pageSize}</if>
    </select>

    <select id="getGoodsClassCount" parameterType="com.laiketui.domain.product.ProductClassModel"
            resultType="int">
        SELECT count(1) FROM lkt_product_class
        <where>
            <trim prefixOverrides="and">
                <include refid="getProductClassLevelSQL"></include>
            </trim>
        </where>

    </select>

    <sql id="getGoodsClassListSQL">
        and a.brand_id = b.brand_id
        and a.recycle = 0
        and b.recycle = 0
        and c.recycle = 0
        and a.mch_status=2
        <if test="is_display_class!=null">and b.is_display = #{is_display_class}</if>
        <if test="class_level!=null">and c.level = #{class_level}</if>
        <if test="store_id!=null">and a.store_id = #{store_id} and c.store_id=a.store_id</if>
        <foreach collection="GoodsStatus" item="status" separator="," open="and a.STATUS in(" close=")">
            #{status,jdbcType=INTEGER}
        </foreach>
        <if test="brandIdList != null">
            <foreach collection="brandIdList" item="brandId" separator="," open="and b.brand_id in(" close=")">
                #{brandId}
            </foreach>
        </if>
        <if test="classFatherIdList != null">
            <foreach collection="classFatherIdList" item="classFatherId" separator="," open="and c.sid in(" close=")">
                #{classFatherId}
            </foreach>
        </if>
        <if test="brandId!=null">and b.brand_id = #{brandId}</if>
        <if test="classId!=null">and c.cid = #{classId}</if>
        <if test="classFatherId!=null">and c.sid = #{classFatherId}</if>
        <if test="commodity_type!=null">and a.commodity_type = #{commodity_type}</if>
        <choose>
            <when test="is_presell!=null">and a.is_presell=#{is_presell}</when>
            <otherwise>and a.is_presell=0</otherwise>
        </choose>
    </sql>
    <select id="getGoodsClassList" parameterType="Map" resultType="Map">
        select distinct c.cid,c.pname from lkt_product_list a,lkt_brand_class b,lkt_product_class c
        <where>
            <trim prefixOverrides="and">
                <include refid="getGoodsClassListSQL"/>
            </trim>
        </where>
    </select>

    <select id="count" resultType="int" parameterType="Map">
        select count(1) from lkt_product_class
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
    </select>
    <select id="getProduct" resultType="com.laiketui.domain.product.ProductClassModel">
        select cid,pname,english_name from lkt_product_class
        where store_id = #{storeId}
          and recycle = 0
          and sid = 0
          and lang_code = #{lang_code}
          and notset = 0
          and examine = 1
        order by sort desc
    </select>
    <select id="getProductPc" resultType="java.util.Map">
        SELECT
            cid,
            pname,
            english_name,
            img
        FROM
            lkt_product_class
        WHERE
            store_id = #{vo.storeId}
          and notset= #{vo.classnotset}
          and lang_code = #{vo.language}
          and is_display=1
          and recycle = 0
          and sid=0
          <if test="mchId != null">
              and mch_id = #{mchId}
          </if>
          and examine = 1 order by sort desc
    </select>
</mapper>
