<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.PtGoGroupOrderModelMapper">
    <select id="getGrouporder" parameterType="Map" resultType="Map">
        select
        gp.activity_no,od.p_id,gp.is_show,gp.group_data,gp.endtime,od.sid,a.id,a.user_id,a.pay,
        a.z_price,a.offset_balance,a.sNo,a.add_time,status,delivery_status,gp.g_status,a.id
        ,a.offset_balance,a.otype,a.pid,a.mch_id,gp.id gpId,a.ptcode,a.groupman
        from lkt_pt_go_group_order a
        LEFT JOIN lkt_pt_go_group_order_details as od on a.sNo = od.r_sNo
        LEFT JOIN lkt_pt_group_product as gp on od.sid = gp.attr_id and gp.activity_no=a.activity_no
        <where>
            <trim prefixOverrides="and">
                <include refid="orderSQL"/>
                <include refid="orderDetailSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_time_sort!=null and add_time_sort!=''">add_time ${add_time_sort},</if>
        </trim>
        <include refid="publicSQL"/>
    </select>

    <select id="countGrouporder" parameterType="Map" resultType="int">
        select count(distinct a.id)
        from lkt_pt_go_group_order a
        LEFT JOIN lkt_pt_go_group_order_details as od on a.sNo = od.r_sNo
        LEFT JOIN lkt_pt_group_product as gp on od.sid = gp.attr_id
        <where>
            <trim prefixOverrides="and">
                <include refid="orderSQL"/>
                <include refid="orderDetailSQL"/>
            </trim>
        </where>
    </select>


    <sql id="getGrouporderListSQL">
        and gp.is_delete = 0
        <if test="store_id != null">and o.store_id = #{store_id}</if>
        <if test="groupType != null">and o.pid = #{groupType}</if>
        <if test="ptcodeNotNull != null">and o.ptcode!= ''</if>
        <if test="goodsName != null">and d.p_name like concat('%',#{goodsName},'%')</if>
        <if test="userName != null">and u.user_name like concat('%',#{userName},'%')</if>
        <if test="activityNo != null">and g.activityNo = #{activityNo}</if>
        <if test="platform_activities_id != null">and gp.platform_activities_id = #{platform_activities_id}</if>
    </sql>

    <select id="countGrouporderList" parameterType="Map" resultType="int">
        SELECT count(o.id)
        from lkt_pt_go_group_order as o
        LEFT JOIN lkt_user as u on o.user_id = u.user_id
        LEFT JOIN lkt_pt_go_group_order_details as d on o.sNo = d.r_sNo
        LEFT JOIN lkt_pt_group_open as goo on goo.ptcode = o.ptcode
        LEFT JOIN lkt_pt_group_product as gp on gp.product_id = d.p_id and gp.activity_no = goo.activity_no
        <where>
            <trim prefixOverrides="and">
                <include refid="getGrouporderListSQL"/>
            </trim>
        </where>
    </select>


    <!-- 公共条件 -->
    <sql id="publicSQL">
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </sql>
    <!-- 订单表条件 【主表命名 a】-->
    <sql id="orderSQL">
        <if test="activity_no != null">and a.activity_no = #{activity_no}</if>
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="ptstatus != null">and a.ptstatus = #{ptstatus}</if>
        <if test="user_id != null">and a.user_id = #{user_id}</if>
        <if test="status != null">and a.`status` = #{status}</if>
        <if test="sNo != null">and a.sNo = #{sNo}</if>
        <if test="otype != null">and a.otype = #{otype}</if>
        <if test="pid != null">and a.pid = #{pid}</if>
        <if test="ptcode != null">and a.ptcode = #{ptcode}</if>
        <if test="group_title != null">and a.ptcode = #{group_title}</if>
        <if test="orderType !=null and orderType!=''">
            <choose>
                <when test="orderType == 'notpay'">and a.status = 0 <!--未付款--></when>
                <when test="orderType == 'grouping'">and a.status = 9 <!--拼团中--></when>
                <when test="orderType == 'success'">and a.status = 2 <!--拼团成功--></when>
                <when test="orderType == 'fail'">and a.status in (10,11) <!--拼团失败--></when>
            </choose>
        </if>
        <if test="payTimeStart != null">and a.pay_time <![CDATA[  >=  ]]> #{payTimeStart}</if>
        <if test="payTimeEnd != null">and a.pay_time <![CDATA[  <=  ]]> #{payTimeEnd}</if>
    </sql>
    <!-- 订单明细表条件 【从表命名 od,主表命名 a】-->
    <sql id="orderDetailSQL">
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="r_sNo1 != null">and od.r_sNo = #{r_sNo1}</if>
        <if test="r_sNo != null">and a.r_sNo = #{r_sNo}</if>
    </sql>
</mapper>