<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.PtSecondsProModelMapper">
    <resultMap id="BaseResultMap" type="com.laiketui.domain.plugin.seckill.PtSecondsProModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="store_id" property="store_id" jdbcType="INTEGER"/>
        <result column="pro_id" property="pro_id" jdbcType="INTEGER"/>
        <result column="attr_id" property="attr_id" jdbcType="INTEGER"/>
        <result column="seconds_price" property="seconds_price" jdbcType="DECIMAL"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="max_num" property="max_num" jdbcType="INTEGER"/>
        <result column="buy_num" property="buy_num" jdbcType="INTEGER"/>
        <result column="activity_id" property="activity_id" jdbcType="INTEGER"/>
        <result column="starttime" property="starttime" jdbcType="TIMESTAMP"/>
        <result column="endtime" property="endtime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="time_id" property="time_id" jdbcType="INTEGER"/>
        <result column="platform_activities_id" property="platform_activities_id" jdbcType="INTEGER"/>
        <result column="mch_id" property="mch_id" jdbcType="INTEGER"/>
        <result column="audit_status" property="audit_status" jdbcType="TINYINT"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="add_time" property="add_time" jdbcType="TIMESTAMP"/>
        <result column="is_show" property="is_show" jdbcType="TINYINT"/>
        <result column="is_delete" property="is_delete" jdbcType="TINYINT"/>
        <result column="resetting" property="resetting" jdbcType="TINYINT"/>
        <result column="free_freight" property="free_freight" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, store_id, pro_id, attr_id, seconds_price, num, max_num, buy_num, activity_id,
    starttime, endtime, status, time_id, platform_activities_id, mch_id, audit_status, 
    reason, add_time, is_show, is_delete, resetting, free_freight
    </sql>
    <sql id="selectDynamicSQL">
        and is_delete=0
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="platform_activities_id != null">and a.platform_activities_id = #{platform_activities_id}</if>
        <if test="mch_id != null">and a.mch_id = #{mch_id}</if>
        <if test="addtime != null">and a.add_time = #{addtime}</if>
        <if test="audit_not_status!=null">and a.audit_status <![CDATA[  <>  ]]> #{audit_not_status}</if>
        <if test="audit_status!=null">and a.audit_status = #{audit_status}</if>
        <if test="auditStatusList != null">
            <foreach collection="auditStatusList" item="status" separator="," open="and a.audit_status in(" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.*
        from lkt_pt_seconds_pro a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="GROUP BY" suffixOverrides=",">
            <if test="group_activity_no!=null">a.activity_no,</if>
        </trim>
        <trim prefix="order by" suffixOverrides=",">
            <if test="addtime_sort!=null and addtime_sort!=''">a.`addtime` ${addtime_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_pt_seconds_pro a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>

    <sql id="secGoodsListSQL">
        <choose>
            <when test="pt==null">
                and sp.is_delete = 0
            </when>
            <otherwise>
                and sp.is_show = 1
                and m.is_open = 1
                and sp.is_delete = 0
                and st.is_delete = 0
                and pl.status = 2
                and pl.recycle = 0
            </otherwise>
        </choose>
        <if test="id != null">and sp.id = #{id}</if>
        <if test="platId != null">and sp.platform_activities_id = #{platId}</if>
        <if test="store_id != null">and sp.store_id = #{store_id}</if>
        <if test="platform_activities_id != null">and sp.platform_activities_id = #{platform_activities_id}</if>
        <if test="goodsName != null">and (pl.id = #{goodsName} or pl.product_title like
            concat('%',#{goodsName},'%'))
        </if>
        <if test="timeId != null">and sp.time_id = #{timeId}</if>
        <if test="startDate != null and startDate != ''">and sp.starttime <![CDATA[  <=  ]]> #{startDate} and
            sp.endtime <![CDATA[  >=  ]]> #{startDate}
        </if>
        <if test="starttime_st != null and starttime_st != ''">and st.starttime <![CDATA[  <=  ]]>
            #{starttime_st} and st.endtime <![CDATA[  >  ]]> #{starttime_st}
        </if>
        <if test="auditStatusList != null">
            <foreach collection="auditStatusList" item="status" separator="," open="and sp.audit_status in(" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>

    <select id="secGoodsList" parameterType="Map" resultType="Map">
        select sp.* ,DATE_FORMAT(st.starttime, '%Y-%m-%d %k:%i:%s') timeStart
        ,DATE_FORMAT(st.endtime,'%Y-%m-%d %k:%i:%s') timeEnd,
        pl.initial,pl.product_title,stock.img,stock.price,stock.attribute
        from lkt_pt_seconds_pro as sp
        LEFT JOIN lkt_seconds_time as st on sp.time_id = st.id and sp.store_id = st.store_id
        left join lkt_product_list as pl on pl.id = sp.pro_id and sp.store_id = pl.store_id
        left join lkt_configure stock on stock.id=sp.attr_id
        left join lkt_mch as m on m.id = pl.mch_id and sp.store_id = m.store_id
        <where>
            <trim prefixOverrides="and">
                <include refid="secGoodsListSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="num_sort!=null and num_sort!=''">sp.num ${num_sort},</if>
            <if test="add_time_sort!=null and add_time_sort!=''">sp.add_time ${add_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countSecGoodsList" parameterType="Map" resultType="int">
        select count(1)
        from lkt_pt_seconds_pro as sp
        LEFT JOIN lkt_seconds_time as st on sp.time_id = st.id and sp.store_id = st.store_id
        left join lkt_product_list as pl on pl.id = sp.pro_id and sp.store_id = pl.store_id
        left join lkt_configure stock on stock.id=sp.attr_id
        left join lkt_mch as m on m.id = pl.mch_id and sp.store_id = m.store_id
        <where>
            <trim prefixOverrides="and">
                <include refid="secGoodsListSQL"/>
            </trim>
        </where>
    </select>

    <sql id="secGoodsListUserSQL">
        <if test="user_id != null">and sr.user_id = #{user_id}</if>
        <if test="time_id != null">and sr.time_id = #{time_id}</if>
    </sql>
    <select id="secGoodsListUser" parameterType="Map" resultType="Map">
        select sr.*,pl.initial,pl.imgurl,pl.product_title,st.name as time_name,m.name as
        mch_name,u.user_name,c.attribute
        from lkt_pt_seconds_pro as sp
        right join lkt_pt_seconds_record as sr on sr.sec_id = sp.id
        left join lkt_seconds_time as st on sp.time_id = st.id
        left join lkt_user as u on u.user_id = sr.user_id
        left join lkt_product_list as pl on sp.pro_id = pl.id
        left join lkt_configure as c on c.id = sr.attr_id
        left join lkt_mch as m on sp.mch_id = m.id
        <where>
            <trim prefixOverrides="and">
                <include refid="secGoodsListSQL"/>
                <include refid="secGoodsListUserSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="num_sort!=null and num_sort!=''">sp.num ${num_sort},</if>
            <if test="add_time_sort!=null and add_time_sort!=''">sp.add_time ${add_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countSecGoodsListUser" parameterType="Map" resultType="int">
        select count(1)
        from lkt_pt_seconds_pro as sp
        right join lkt_pt_seconds_record as sr on sr.sec_id = sp.id
        left join lkt_seconds_time as st on sp.time_id = st.id
        left join lkt_user as u on u.user_id = sr.user_id
        left join lkt_product_list as pl on sp.pro_id = pl.id
        left join lkt_configure as c on c.id = sr.attr_id
        left join lkt_mch as m on sp.mch_id = m.id
        <where>
            <trim prefixOverrides="and">
                <include refid="secGoodsListSQL"/>
                <include refid="secGoodsListUserSQL"/>
            </trim>
        </where>
    </select>

</mapper>