<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.RecordModelMapper">

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select a.*
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
        order by a.add_date desc
        <if test="pageStart!=null and pageEnd!=null">
            LIMIT #{pageStart},#{pageEnd}
        </if>
    </select>

    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
    </select>



    <sql id="getUserWalletRecordInfoSQL">
        <if test="store_id != null and store_id != ''">c.store_id=#{store_id}</if>
        <if test="id != null">and a.id=#{id}</if>
        <if test="isMch != null">and a.is_mch=#{isMch}</if>
        <if test="main_id != null">and a.main_id=#{main_id}</if>
        <if test="userid != null">and c.user_id=#{userid}</if>
        <if test="zhangHao != null">AND c.zhanghao like concat('%',#{zhangHao},'%')</if>
        <if test="type != null">
            <choose>
                <when test=' type.toString()=="record" '>and (a.type = 1 or a.type = 14 or a.type = 11) and d.money_type_name != 10</when>
                <when test=' type.toString()=="record_mch" '>and a.type = 0</when>
                <when test=' type.toString()=="record_detail" '>and a.type != 0</when>
            </choose>
        </if>
        <if test="otype != null">AND a.type=#{otype}</if>
        <if test="like_name != null">AND c.user_name like concat('%',#{like_name},'%')</if>
        <if test="key != null">AND (c.user_id like concat('%',#{key},'%') or c.user_name like concat('%',#{key},'%') or c.mobile like concat('%',#{key},'%'))</if>
        <if test="ostatus != null">AND l.status = #{ostatus}</if>
        <if test="like_mobile != null">AND c.mobile like concat('%',#{like_mobile},'%')</if>
        <if test="startDate != null">AND a.add_date <![CDATA[ >= ]]> #{startDate}</if>
        <if test="endDate != null">AND a.add_date <![CDATA[ <= ]]> #{endDate}</if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and a.type in(" close=")">
                #{type}
            </foreach>
        </if>
    </sql>

    <select id="getUserWalletRecordInfo" parameterType="Map" resultType="Map">
        select a.id,a.user_id, c.user_name, c.mobile, c.source,c.zhanghao, c.Register_data,a.event,a.add_date,a.type as
        recordType, a.money,d.type, a.details_id,d.money_type as moneyType,d.record_notes as
        remake,d.exchange_rate,d.currency_code,d.currency_symbol,
        CASE c.source WHEN 1 THEN '小程序' WHEN 2 THEN 'H5移动端' WHEN 3 THEN '支付宝小程序' WHEN 4 THEN '头条小程序' WHEN 5 THEN '百度小程序' WHEN 6 THEN 'PC端' WHEN 11 THEN 'APP端' ELSE '未知' END as sourceName,
        CASE a.type WHEN 1 THEN '用户充值' WHEN 11 THEN '系统扣款' WHEN 14 THEN '系统充值' WHEN 4 THEN '余额消费' when 42 then '直播佣金转入' ELSE '未知' END as typeName
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        left join lkt_record_details d on a.details_id = d.id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
        order by a.add_date desc
        <if test="pageStart!=null and pageEnd!=null">
            LIMIT #{pageStart},#{pageEnd}
        </if>
    </select>

    <select id="sumUserWalletRecordInfo" parameterType="Map" resultType="BigDecimal">
        select ifnull(sum(a.money),0)
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        left join lkt_record_details d on a.details_id = d.id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
    </select>

    <select id="countUserWalletRecordInfo" parameterType="Map" resultType="int">
        select count(1)
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        left join lkt_record_details d on a.details_id = d.id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
    </select>

    <select id="selectMoneyInfo_see" parameterType="Map" resultType="Map">
        select a.id, c.user_id, a.type, c.user_name,a.add_date as `addtime`,a.money,c.Register_data,
        CASE
        a.type
        WHEN 1 THEN
        '用户充值'
        WHEN 2 THEN
        '申请提现'
        WHEN 4 THEN
        '余额消费'
        WHEN 5 THEN
        '退款'
        WHEN 11 THEN
        '系统扣除'
        WHEN 14 THEN
        '系统充值'
        WHEN 22 THEN
        '提现失败'
        WHEN 28 THEN
        '售后退款'
        WHEN 26 THEN
        '缴纳押金'
        WHEN 27 THEN
        '退竞拍押金'
        WHEN 31 THEN
        '充值会员'
        WHEN 32 THEN
        '购物消费'
        WHEN 33 THEN
        '押金退回'
        WHEN 34 THEN
        '缴纳押金'
        WHEN 36 THEN
        '线上消费'
        WHEN 37 THEN
        '第三方退款'
        WHEN 38 THEN
        '缴纳店铺押金'
        WHEN 39 THEN
        '退店铺押金'
        when 42 then
        '直播佣金转入'
        ELSE '-'
        END AS
        typeName,
        CASE
        a.type
        WHEN 1 THEN
        '入账'
        WHEN 2 THEN
        '出账'
        WHEN 4 THEN
        '出账'
        WHEN 5 THEN
        '入账'
        WHEN 11 THEN
        '出账'
        WHEN 14 THEN
        '入账'
        WHEN 22 THEN
        '入账'
        WHEN 28 THEN
        '入账'
        WHEN 26 THEN
        '出账'
        WHEN 27 THEN
        '入账'
        WHEN 31 THEN
        '出账'
        WHEN 32 THEN
        '出账'
        WHEN 33 THEN
        '入账'
        WHEN 34 THEN
        '缴纳押金'
        WHEN 36 THEN
        '出账'
        WHEN 37 THEN
        '入账'
        WHEN 38 THEN
        '出账'
        WHEN 39 THEN
        '入账'
        ELSE '-'
        END AS statusName
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
        order by a.add_date desc
        <if test="pageStart!=null and pageEnd!=null">
            LIMIT #{pageStart},#{pageEnd}
        </if>
    </select>
    <select id="countMoneyInfo_see" parameterType="Map" resultType="int">
        select count(distinct a.id)
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
    </select>

    <select id="countMoney" parameterType="Map" resultType="BigDecimal">
        select ifnull(sum(a.money),0)
        from lkt_record as a
        left join lkt_user as c on c.user_id = a.user_id
        <where>
            <include refid="getUserWalletRecordInfoSQL"/>
        </where>
    </select>


    <select id="selectIntegralInfo_see" parameterType="Map" resultType="Map">
        select a.*,c.user_name,c.mobile,c.source
        from lkt_sign_record as a
        left join lkt_user as c on c.user_id = a.user_id
        <where>
            <include refid="getUserIntegralInfoSQL"/>
        </where>
        order by a.sign_time desc
        <if test="pageStart!=null and pageEnd!=null">
            LIMIT #{pageStart},#{pageEnd}
        </if>
    </select>
    <select id="countIntegralInfo_see" parameterType="Map" resultType="int">
        select count(1)
        from lkt_sign_record as a
        left join lkt_user as c on c.user_id = a.user_id
        <where>
            <include refid="getUserIntegralInfoSQL"/>
        </where>
    </select>

    <sql id="getUserIntegralInfoSQL">
        <if test="id != null">and a.id=#{id}</if>
        <if test="store_id != null and store_id != ''">c.store_id=#{store_id}</if>
        <if test="userid != null">and c.user_id=#{userid}</if>
        <if test="zhangHao != null">AND c.zhanghao like concat('%',#{zhangHao},'%')</if>
        <if test="type != null">
            <choose>
                <when test=' type.toString()=="record" '>and (a.type = 1 or a.type = 14 or type = 11)</when>
                <when test=' type.toString()=="record_mch" '>and (a.type = 0)</when>
            </choose>
        </if>
        <if test="otype != null">AND a.type=#{otype}</if>
        <if test="like_name != null">AND c.user_name like concat('%',#{like_name},'%')</if>
        <if test="like_mobile != null">AND c.mobile like concat('%',#{like_mobile},'%')</if>
        <if test="startDate != null">AND a.sign_time <![CDATA[ >= ]]> #{startDate}</if>
        <if test="endDate != null">AND a.sign_time <![CDATA[ <= ]]> #{endDate}</if>
    </sql>


</mapper>