<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SecondsLabelModelMapper">
    <sql id="selectDynamicSQL">
        and a.recovery = 0
        <if test="id!=null and id!=''">and a.id=#{id}</if>
        <if test="mchId!=null and mchId!=''">and a.mch_id=#{mchId}</if>
        <if test="store_id!=null">and a.store_id=#{store_id}</if>
        <if test="is_show!=null">and a.is_show=#{is_show}</if>
        <if test="sort!=null">and a.sort=#{sort}</if>
    </sql>
    <select id="selectDynamic" resultType="java.util.Map">
        select * from lkt_seconds_label a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"></include>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort_sort!=null and sort_sort!=''">a.sort ${sort_sort},</if>
        </trim>
        <if test="pageNo!=null and pageSize!=null">limit #{pageNo},#{pageSize}</if>
    </select>
    <select id="countDynamic" resultType="java.lang.Integer">
        select count(1) from lkt_seconds_label a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"></include>
            </trim>
        </where>
    </select>
</mapper>