<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SecondsProModelMapper">

    <sql id="secGoodsListSQL">

        <if test="id != null">and sp.id = #{id}</if>
        <if test="store_id != null">and sp.store_id = #{store_id}</if>
        <if test="timeId != null">and sp.time_id = #{timeId}</if>
        <if test="goodsName != null">and (sp.id = #{goodsName} or pl.product_title like #{goodsName} or pl.id like
            #{goodsName} )
        </if>
        <if test="startDate != null and startDate != ''">and sp.starttime <![CDATA[  <=  ]]> #{startDate} and
            sp.endtime <![CDATA[  >=  ]]> #{startDate}
        </if>
        <if test="starttime_st != null and starttime_st != ''">and st.starttime <![CDATA[  <=  ]]>
            #{starttime_st} and st.endtime <![CDATA[  >  ]]> #{starttime_st}
        </if>
        <if test="msstatus != null and stime !=null">and sp.id = #{id}
            <choose>
                <when test="msstatus == 1 ">and sp.starttime <![CDATA[  >  ]]> #{stime}</when>
                <when test="msstatus == 3 ">and ADDTIME(sp.endtime,'23:59:59') <![CDATA[  < ]]> #{stime}</when>
                <otherwise>and ADDTIME(sp.endtime,'23:59:59') <![CDATA[  >  ]]> #{stime} and sp.starttime
                    <![CDATA[  < ]]> #{stime}
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="sqltype == null ">
                and sp.is_delete = 0
                and sp.is_show = 1
                and m.is_open = 1
                and st.is_delete = 0
                and pl.status = 2
                and pl.recycle = 0
            </when>
        </choose>
    </sql>

    <select id="countSecGoodsList" parameterType="Map" resultType="int">
        select count(sp.id)
        from lkt_seconds_pro as sp
        LEFT JOIN lkt_seconds_time as st on sp.time_id = st.id and sp.store_id = st.store_id
        left join lkt_product_list as pl on pl.id = sp.pro_id and sp.store_id = pl.store_id
        left join lkt_configure stock on stock.id=sp.attr_id
        left join lkt_mch as m on m.id = pl.mch_id and sp.store_id = m.store_id
        <where>
            <trim prefixOverrides="and">
                <include refid="secGoodsListSQL"/>
            </trim>
        </where>
    </select>

    <select id="secGoodsList" parameterType="Map" resultType="Map">
        select sp.* ,DATE_FORMAT(st.starttime, '%Y-%m-%d %k:%i:%s') timeStart
        ,DATE_FORMAT(st.endtime,'%Y-%m-%d %k:%i:%s') timeEnd,DATE_FORMAT(sp.starttime, '%Y-%m-%d %k:%i:%s') stime
        ,DATE_FORMAT(sp.endtime,'%Y-%m-%d %k:%i:%s') etime,
        st.name,pl.initial,pl.product_title,stock.img,stock.price,stock.attribute,
        case when sp.starttime > now() then 1 when date_add(sp.endtime, interval 24 hour) <![CDATA[  <  ]]> now() then 3
        else 2 end as `status`
        from lkt_seconds_pro as sp
        LEFT JOIN lkt_seconds_time as st on sp.time_id = st.id and sp.store_id = st.store_id
        left join lkt_product_list as pl on pl.id = sp.pro_id and sp.store_id = pl.store_id
        left join lkt_configure stock on stock.id=sp.attr_id
        left join lkt_mch as m on m.id = pl.mch_id and sp.store_id = m.store_id
        <where>
            <trim prefixOverrides="and">
                <include refid="secGoodsListSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="num_sort!=null and num_sort!=''">sp.num ${num_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="getCurrentSeconds" parameterType="Map" resultType="Map">
        select sp.*, st.starttime, st.endtime, pl.initial, pl.product_title
        from lkt_seconds_pro as sp
                 LEFT JOIN lkt_seconds_time as st on sp.time_id = st.id
                 LEFT JOIN platform_activities as pa on pa.id = sp.platform_activities_id
                 left join lkt_product_list as pl on pl.id = sp.pro_id
        where sp.store_id = #{store_id}
          and sp.store_id = st.store_id
          and ((sp.starttime <![CDATA[  <=  ]]> #{date} and sp.endtime <![CDATA[  >=  ]]> #{date} and sp.is_delete = 0) or (pa.starttime <![CDATA[  >=  ]]> #{date}
          and pa.endtime <![CDATA[  >=  ]]> #{date}))
          and st.starttime <![CDATA[  <=  ]]> #{time}
          and st.endtime <![CDATA[  >  ]]>  #{time}
          and sp.is_show = 1
          and sp.is_delete = 0
          and st.is_delete = 0
          and pl.status = 2
          and pl.recycle = 0
        order by sp.num desc
    </select>

    <!-- 2021版秒杀 -->
    <sql id="getSecondsGoodsListByLabelIdSQL">
        and a.goodsId = b.id
        and b.recycle = 0
        and b.mch_id=c.id
        and b.brand_id=d.brand_id
        and lab.id = a.label_id
        and lab.recovery = 0
        and pro.activity_id=a.id
        and pro.is_delete=0
        and substring_index(substring_index(b.product_class, '-', 2), '-', -1)=e.cid
        <choose>
            <when test="is_delete==null">and a.is_delete=0</when>
            <when test="is_delete==-1">and (a.is_delete=0 or a.is_delete=1)</when>
            <otherwise>and a.is_delete=#{is_delete}</otherwise>
        </choose>
        <choose>
            <when test="is_show==null">and a.isshow=1</when>
            <when test="is_show==-1"/>
            <otherwise>and a.isshow=#{is_delete}</otherwise>
        </choose>
        <if test='store_id != null '>and a.store_id = #{store_id}</if>
        <if test='goods_status != null '>and b.status = #{goods_status}</if>
        <if test='status != null '>and a.status = #{status}</if>
        <if test='mchId != null '>and lab.mch_id = #{mchId}</if>
        <if test='secGoodsId != null '>and a.id = #{secGoodsId}</if>
        <if test="labelId != null">and a.label_id = #{labelId}</if>
        <if test="not_delete != null">and a.delete_method != 1</if>
        <if test="keyName != null">AND(b.product_title like CONCAT('%', #{keyName},'%') or
            b.id =#{keyName})
        </if>
        <if test="secStatus != null">
            <choose>
                <when test="secStatus==1">and #{sysDate} <![CDATA[  <  ]]> a.starttime</when>
                <when test="secStatus==2">and #{sysDate}<![CDATA[  >=  ]]>a.starttime and #{sysDate} <![CDATA[  <=  ]]>
                    a.endtime</when>
                <when test="secStatus==3">and #{sysDate} <![CDATA[  >  ]]> a.endtime</when>
            </choose>
        </if>
        <if test="startDate != null and startDate!=''">and a.starttime <![CDATA[  >=  ]]> #{startDate}</if>
        <if test="endDate != null and endDate!=''">and a.endtime<![CDATA[  <=  ]]> #{endDate}</if>
        <if test="heraldDate != null">and a.starttime <![CDATA[  <=  ]]> #{heraldDate}</if>
        <if test="num != null">and pro.num > 0</if>
        <if test="labIsShow != null">and lab.is_show = 1</if>
    </sql>

    <select id="countSecondsGoodsListByLabelId" resultType="java.lang.Integer">
        select count(distinct a.id) from lkt_seconds_activity a,lkt_seconds_label lab,lkt_product_list b,lkt_mch c,lkt_brand_class d,lkt_product_class e,lkt_seconds_pro pro
        <where>
            <trim prefixOverrides="and">
                <include refid="getSecondsGoodsListByLabelIdSQL"/>
            </trim>
        </where>
    </select>
    <select id="getUserSecNum" resultType="java.lang.Integer">
        SELECT COALESCE(SUM(b.num), 0) AS total_num
        FROM lkt_seconds_record a
                 INNER JOIN lkt_order b ON a.sno = b.sno
        WHERE a.activity_id = #{activityId}
          AND a.user_id = #{userId}
          AND b.recycle = 0
          AND b.status != 7;
    </select>
</mapper>