<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SignRecordModelMapper">
    <sql id="selectUserDynamicSQL">
        and a.recovery = 0 and a.sign_score &gt;0
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="type != null">and a.type = #{type}</if>
        <if test="source != null">and b.source = #{source}</if>
        <if test="user_id != null">and a.user_id = #{user_id}</if>
        <!-- 添加sNo模糊查询条件 -->
        <if test="sNo != null and sNo != ''">
            and a.sNo like concat('%', #{sNo}, '%')
        </if>
        <!-- 添加年月查询条件 -->
        <if test="signTime != null and signTime != ''">
            and a.sign_time <![CDATA[ >= ]]> concat(#{signTime}, '-01 00:00:00')
            and a.sign_time <![CDATA[ < ]]> date_add(concat(#{signTime}, '-01 00:00:00'), interval 1 month)
        </if>
        <if test="sign_time_start != null">and a.sign_time <![CDATA[ >= ]]> #{sign_time_start}</if>
        <if test="sign_time_end != null">and a.sign_time <![CDATA[ < ]]> #{sign_time_end}</if>
        <if test="sign_time_end1 != null">and a.sign_time <![CDATA[ <= ]]> #{sign_time_end1}</if>
        <if test="userName != null and userName != ''">and(b.user_id like concat('%',#{userName},'%') or
            b.zhanghao like concat('%',#{userName},'%') or b.mobile like concat('%',#{userName},'%'))
        </if>
        <if test="typeList != null">
            <foreach collection="typeList" item="type" separator="," open="and a.type in(" close=")">
                #{type,jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="ids!= null">
            <foreach collection="ids" item="id" separator="," open="and a.id in(" close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>


    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select *
        from lkt_sign_record a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectUserDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sign_time_sort!=null and sign_time_sort!=''">a.sign_time ${sign_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_sign_record a
        <where>
            <trim prefixOverrides="and">
                <include refid="selectUserDynamicSQL"/>
            </trim>
        </where>
    </select>

    <select id="selectUserDynamic" parameterType="Map" resultType="Map">
        SELECT
        a.`id`,
        a.`store_id`,
        a.`user_id`,
        a.`sign_score`,
        a.`total_score`,
        a.`record`,
        a.`score_invalid`,
        a.`sign_time`,
        a.`type`,
        a.`recovery`,
        a.`sNo`,
        a.`frozen_time`,
        a.`notice`
        FROM
        (
        SELECT
        max( a.sign_time ) over(partition by b.user_id) AS sign_time1,
        a.*,
        b.user_name,
        b.mobile,
        b.source,
        b.user_id AS b_userId,
        ROW_NUMBER() over(partition by b.user_id) AS top
        FROM
        lkt_sign_record AS a
        LEFT JOIN lkt_user AS b ON a.user_id = b.user_id
        AND a.store_id = b.store_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectUserDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="user_id_sort!=null and user_id_sort!=''">b.user_id ${user_id_sort},</if>
            <if test="sign_time1_sort!=null and sign_time1_sort!=''">sign_time1 ${sign_time1_sort},</if>
        </trim>
        ) AS a
        WHERE a.top &lt; 2
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="selectUserDynamic1" parameterType="Map" resultType="Map">
        select a.*,b.user_name,b.user_id as b_userId
        from lkt_sign_record as a
        left join
        lkt_user as b on a.user_id = b.user_id and a.store_id = b.store_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectUserDynamicSQL"/>
            </trim>
        </where>

        <trim prefix="order by" suffixOverrides=",">
            <if test="user_id_sort!=null and user_id_sort!=''">b.user_id ${user_id_sort},</if>
            <if test="sign_time1_sort!=null and sign_time1_sort!=''">sign_time1 ${sign_time1_sort},</if>
            <if test="sign_time_sort!=null and sign_time_sort!=''">sign_time ${sign_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countUserDynamic" parameterType="Map" resultType="int">
        select count(1) from lkt_sign_record as a left join lkt_user as b on a.user_id = b.user_id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectUserDynamicSQL"/>
            </trim>
        </where>
    </select>

</mapper>
