<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SubtractionModalMapper">

    <sql id="selectDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="store_id != null">and store_id = #{store_id}</if>
                <if test="status != null">
                    <choose>
                        <when test="status==3">and `status` in(3,4)</when>
                        <otherwise>and `status` = #{status}</otherwise>
                    </choose>
                </if>
                <if test="id != null">and id = #{id}</if>
                <if test="title != null">and title like concat('%',#{title},'%')</if>
                <if test="starttime != null">and starttime <![CDATA[  <=  ]]> #{starttime}</if>
                <if test="endtime != null">and endtime <![CDATA[  >  ]]> #{endtime}</if>
            </trim>
        </where>
    </sql>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select *
        from lkt_subtraction
        <include refid="selectDynamicSQL"/>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_subtraction
        <include refid="selectDynamicSQL"/>
    </select>

</mapper>