<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SubtractionRecordModalMapper" >
  <resultMap id="BaseResultMap" type="com.laiketui.domain.subtraction.SubtractionRecordModal" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="h_id" property="h_id" jdbcType="INTEGER" />
    <result column="p_id" property="p_id" jdbcType="INTEGER" />
    <result column="sNo" property="sNo" jdbcType="VARCHAR" />
    <result column="user_id" property="user_id" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="add_date" property="add_date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, h_id, sNo, user_id, content, add_date
  </sql>
</mapper>