<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SupplierWithdrawModelMapper" >

    <select id="getWithdraw" parameterType="Map" resultType="Map">
        select * from lkt_supplier_withdraw
        <where>
            <trim prefixOverrides="and">
                <include refid="getWithdrawLeftUserBankSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart!=null and pageEnd!=null">limit #{pageStart},#{pageEnd}</if>
    </select>

    <select id="countWithdraw" parameterType="Map" resultType="int">
        select count(*) from lkt_supplier_withdraw
        <where>
            <trim prefixOverrides="and">
                <include refid="getWithdrawLeftUserBankSQL"/>
            </trim>
        </where>
    </select>

    <sql id="getWithdrawLeftUserBankSQL">
        and recovery = 0
        <if test="storeId != null">and store_id = #{storeId}</if>
        <if test="supplierId != null">AND supplier_id = #{supplierId}</if>
        <if test="supplierName != null">AND `name` like CONCAT('%',#{supplierName},'%')</if>
        <if test="phone != null">AND mobile = #{phone}</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="startTime != null">AND add_date <![CDATA[ >= ]]> #{startTime}</if>
        <if test="endTime != null">AND add_date <![CDATA[ <= ]]> #{endTime}</if>
        <if test="statusList != null">
            <foreach collection="statusList" item="status" separator="," open="and status in (" close=")">
                #{status,jdbcType=INTEGER}
            </foreach>
        </if>
    </sql>
</mapper>