<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SupplierProClassModelMapper" >

    <sql id="selectDynamicSQL">
        and a.store_id = #{storeId}
        and a.recycle = 0
        <if test="condition != null">AND (a.pname like CONCAT('%',#{condition},'%') or b.supplier_name = #{condition})</if>
        <if test="status != null">AND a.examine = #{status}</if>
        <if test="level != null">AND a.level = #{level}</if>
        <if test="startTime != null and startTime != ''">and a.add_date <![CDATA[  >=  ]]> #{startTime}</if>
        <if test="endTime != null and endTime != ''">and a.add_date <![CDATA[  <=  ]]> #{endTime}</if>
        <if test="supplierId != null">and b.id = #{supplierId}</if>
    </sql>

    <select id="selectCondition" parameterType="Map" resultType="Map">
        SELECT a.*,b.id supplierId,b.supplier_name FROM lkt_supplier_pro_class a LEFT JOIN lkt_supplier b ON a.supplier_id = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">add_date ${add_date_sort},</if>
        </trim>
        <if test="page != null and pageSize != ''">limit #{page},#{pageSize}</if>
    </select>

    <select id="countCondition" parameterType="Map" resultType="int">
        SELECT COUNT(1) FROM lkt_supplier_pro_class a LEFT JOIN lkt_supplier b ON a.supplier_id = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>



    <select id="getGoodsClassCount" parameterType="com.laiketui.domain.supplier.SupplierProClassModel"
            resultType="int">
        SELECT count(1) FROM lkt_supplier_pro_class
        <where>
            <trim prefixOverrides="and">
                <include refid="getProductClassLevelSQL"></include>
            </trim>
        </where>

    </select>

    <select id="getProductClassLevel" parameterType="com.laiketui.domain.supplier.SupplierProClassModel"
            resultType="com.laiketui.domain.supplier.SupplierProClassModel">
        SELECT * FROM lkt_supplier_pro_class
        <where>
            <trim prefixOverrides="and">
                <include refid="getProductClassLevelSQL"></include>
            </trim>
        </where>
        ORDER BY
        sort DESC
        <if test="pageModel!=null">limit #{pageModel.pageNo},#{pageModel.pageSize}</if>
    </select>

    <sql id="getProductClassLevelSQL">
        store_id = #{store_id}
        AND recycle = 0
        AND supplier_id = #{supplier_id}
        <if test="sid!=null"> AND sid = #{sid} </if>
        <if test="cid!=null"> AND cid = #{cid} </if>
        <if test="pname!=null"> AND pname like concat('%',#{pname},'%') </if>
        <if test="level!=null"> AND `level` = #{level} </if>
        <if test="is_display!=null"> AND is_display = #{is_display} </if>
        <if test="examine!=null"> AND examine = #{examine} </if>
    </sql>
</mapper>