<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.SupplierBrandModelMapper" >


    <sql id="selectDynamicSQL">
        and a.store_id = #{storeId}
        and a.recycle = 0
        <if test="id != null">AND a.brand_id = id</if>
        <if test="condition != null">AND (a.brand_name like CONCAT('%',#{condition},'%') or b.supplier_name like CONCAT('%',#{condition},'%'))</if>
        <if test="status != null">AND a.examine = #{status}</if>
        <if test="supplierId != null">AND a.supplier_id = #{supplierId}</if>
        <if test="brandName != null and brandName!=''">AND a.brand_name like CONCAT('%',#{brandName},'%')</if>
        <if test="startTime != null and startTime != ''">and add_date <![CDATA[  >=  ]]> #{startTime}</if>
        <if test="endTime != null and endTime != ''">and add_date <![CDATA[  <=  ]]> #{endTime}</if>
        <if test="status != null"> AND examine = #{status} </if>
    </sql>

    <select id="selectCondition" parameterType="Map" resultType="Map">
        SELECT a.*,b.id supplierId,b.supplier_name FROM lkt_supplier_brand a LEFT JOIN lkt_supplier b ON a.supplier_id = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">brand_time ${add_date_sort},</if>
        </trim>
        <if test="page != null and pageSize != ''">limit #{page},#{pageSize}</if>
    </select>

    <select id="countCondition" parameterType="Map" resultType="int">
        SELECT COUNT(1) FROM lkt_supplier_brand a LEFT JOIN lkt_supplier b ON a.supplier_id = b.id
        <where>
            <trim prefixOverrides="and">
                <include refid="selectDynamicSQL"/>
            </trim>
        </where>
    </select>
</mapper>