<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.UserDistributionModelMapper">
    <select id="selectOne1" parameterType="UserDistributionModel" resultType="UserDistributionModel">
        select *
        from lkt_user_distribution
        <where>
            <trim prefixOverrides="and">
                <if test="store_id != null">and store_id = #{store_id}</if>
                <if test="user_id != null">and user_id = #{user_id}</if>
                <if test="pid != null">and pid = #{pid}</if>
                <if test="level != null">and `level` = #{level}</if>
                <if test="uplevel != null">and uplevel = #{uplevel}</if>
                <if test="commission != null">and commission = #{commission}</if>
                <if test="onlyamount != null">and onlyamount = #{onlyamount}</if>
                <if test="allamount != null">and allamount = #{allamount}</if>
                <if test="accumulative != null">and accumulative = #{accumulative}</if>
                <if test="tx_commission != null">and tx_commission = #{tx_commission}</if>
            </trim>
        </where>
        limit 1
    </select>
    <select id="select1" parameterType="UserDistributionModel" resultType="UserDistributionModel">
        select *
        from lkt_user_distribution
        <where>
            <trim prefixOverrides="and">
                <if test="user_id != null">and user_id = #{user_id}</if>
                <if test="pid != null">and pid = #{pid}</if>
                <if test="level != null">and `level` = #{level}</if>
                <if test="uplevel != null">and uplevel = #{uplevel}</if>
                <if test="commission != null">and commission = #{commission}</if>
                <if test="onlyamount != null">and onlyamount = #{onlyamount}</if>
                <if test="allamount != null">and allamount = #{allamount}</if>
                <if test="accumulative != null">and accumulative = #{accumulative}</if>
                <if test="tx_commission != null">and tx_commission = #{tx_commission}</if>
            </trim>
        </where>
    </select>

    <sql id="selectDynamicSQL">
        <where>
            <trim prefixOverrides="and">
                <if test="user_id != null">and user_id = #{user_id}</if>
                <if test="pid != null">and pid = #{pid}</if>
                <if test="level != null">and `level` = #{level}</if>
                <if test="uplevel != null">and uplevel = #{uplevel}</if>
                <if test="commission != null">and commission = #{commission}</if>
                <if test="onlyamount != null">and onlyamount = #{onlyamount}</if>
                <if test="allamount != null">and allamount = #{allamount}</if>
                <if test="accumulative != null">and accumulative = #{accumulative}</if>
                <if test="tx_commission != null">and tx_commission = #{tx_commission}</if>
                <if test="levelGT != null">and `level` > #{levelGT}</if>
                <if test="ltGT1 != null">and `lt` <![CDATA[  >=  ]]> #{ltGT1}</if>
                <if test="rtGT1 != null">and `rt` <![CDATA[  <=  ]]> #{rtGT1}</if>
                <if test="levelList!=null">
                    <foreach collection="levelList" item="level" separator="," open="and level in(" close=")">
                        #{level,jdbcType=INTEGER}
                    </foreach>
                </if>
            </trim>
        </where>
    </sql>
    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select *
        from lkt_user_distribution
        <include refid="selectDynamicSQL"/>
        <trim prefix="order by" suffixOverrides=",">
            <if test="id_sort!=null and id_sort!=''">id ${id_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_user_distribution
        <include refid="selectDynamicSQL"/>
    </select>

    <sql id="selectUserDistributionInfoSQL">
        <trim prefixOverrides="and">
            <if test="ranking_userByType != null">and not exists (select id from lkt_distribution_ranking x where
                x.user_id = lud.user_id and type=#{ranking_userByType})
            </if>
            <if test="ranking_userById != null">and not EXISTS(select x.id from lkt_distribution_ranking x where
                x.user_id=b.user_id)
            </if>
            <if test="level_GT != null">and lud.level>#{level_GT}</if>
            <if test="store_id != null">and b.store_id = #{store_id}</if>
            <if test="id != null">and lud.id = #{id}</if>
            <if test="level != null">and lud.level = #{level}</if>
            <if test="fatherUid != null and fatherUid!=''">and lud.pid = #{fatherUid}</if>
            <if test="mobile != null and mobile!=''">and b.mobile like concat('%',#{mobile},'%')</if>
            <if test="userId != null and userId!=''">and b.user_id = #{userId}</if>
            <if test="user_name != null and user_name!=''">and (lud.user_id = #{user_name} or b.zhanghao like
                concat('%',#{user_name},'%'))
            </if>
            <if test="user_name1 != null and user_name1!=''">and (b.user_id = #{user_name1} or b.zhanghao like
                concat('%',#{user_name1},'%'))
            </if>
            <if test="startdate != null and startdate!=''">and lud.add_date <![CDATA[  >  ]]> #{startdate}</if>
            <if test="enddate != null and enddate!=''">and lud.add_date <![CDATA[  <  ]]> #{enddate}</if>
        </trim>
    </sql>

    <select id="selectUserDistributionInfo" parameterType="Map" resultType="Map">
        select lud.*,b.zhanghao ,b.headimgurl,b.mobile,b.Register_data,b.user_name user_name,father.zhanghao
        fatherNo,b.cpc
        from lkt_user_distribution as lud
        left join lkt_user as b on lud.user_id=b.user_id and lud.store_id=b.store_id
        left join lkt_user as father on father.user_id=lud.pid and father.store_id=b.store_id
        <where>
            <include refid="selectUserDistributionInfoSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="sort!=null and sort!=''">lud.${sort} ${sort_type},</if>
            <if test="add_date_sort!=null and add_date_sort!=''">lud.add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countUserDistributionInfo" parameterType="Map" resultType="int">
        select count(1)
        from lkt_user_distribution as lud
        left join lkt_user as b on lud.user_id=b.user_id and lud.store_id=b.store_id
        <where>
            <include refid="selectUserDistributionInfoSQL"/>
        </where>
    </select>

    <sql id="selectUserDistributionSQL">
        <trim prefixOverrides="and">
            <if test="store_id != null">and a.store_id = #{store_id}</if>
            <if test="user_name != null and user_name!=''">and (a.user_id = #{user_name} or a.zhanghao like
                concat('%',#{user_name},'%') or a.user_name like concat('%',#{user_name},'%'))
            </if>
            <if test="user_name1 != null and user_name1!=''">and (a.user_id = #{user_name1} or a.zhanghao like
                concat('%',#{user_name1},'%'))
            </if>
            <if test="user_name2 != null and user_name2!=''">and (father1.zhanghao = #{user_name2} or father1.user_id
                =#{user_name2})
            </if>
            <if test="user_name3 != null and user_name3 !=''">
                and a.user_name like concat('%',#{user_name3},'%')
            </if>
            <if test="userId != null"> and (a.user_id like concat('%',#{userId},'%') or a.zhanghao like
                concat('%',#{userId},'%'))</if>
            <if test="phone != null"> and a.mobile like concat('%',#{phone},'%')</if>
            <if test="user_id_isNotNull != null">and b.user_id is not null</if>
            <if test="user_id_isnull != null">and b.user_id is null</if>
            <if test="referee_isNotNull != null">and a.referee is not null</if>
            <if test="startDate != null">and b.add_date <![CDATA[  >  ]]> #{startDate}</if>
            <if test="endDate != null">and b.add_date <![CDATA[  <  ]]> #{endDate}</if>
            <if test="isStore != null and isStore != ''">and a.user_id not in (select main_id from lkt_user_authority where type=1)</if>
            <if test="not_user != null and not_user != ''">and a.user_id != #{not_user}</if>
            <if test="level != null and level != ''"> and a.user_id != #{level} AND (b.user_id is null or b.level = 0) </if>

        </trim>
    </sql>
    <select id="selectUserDistribution" parameterType="Map" resultType="Map">
        select a.*,CASE WHEN b.user_id IS NOT NULL THEN '永久关系' ELSE '临时关系' END refereeName,
        cast(a.user_name as char ) userName,
        father.zhanghao fatherNo,father.user_name fatherName,b.add_date
        refereeDate,father1.user_id disUserId,father1.zhanghao disZhangHao,b.add_date disRefDate
        from lkt_user as a
        left join lkt_user_distribution as b ON a.user_id= b.user_id
        <if test="distributionTop != null and distributionTop != ''"> and b.user_id != #{distributionTop} and (b.user_id is null or b.level = 0)</if>
        left join lkt_user father on father.user_id = a.Referee
        left join lkt_user father1 on father1.user_id = b.pid
        <where>
            <include refid="selectUserDistributionSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="Register_data_sort!=null and Register_data_sort!=''">a.Register_data ${Register_data_sort},</if>
            <if test="refereeDate_sort!=null and refereeDate_sort!=''">b.add_date ${refereeDate_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countUserDistribution" parameterType="Map" resultType="int">
        select count(1)
        from lkt_user as a
        left join lkt_user_distribution as b ON a.user_id= b.user_id
        <if test="distributionTop != null and distributionTop != ''"> and b.user_id != #{distributionTop} and (b.user_id is null or b.level = 0)</if>
        left join lkt_user father on father.user_id = a.Referee
        left join lkt_user father1 on father1.user_id = b.pid
        <where>
            <include refid="selectUserDistributionSQL"/>
        </where>
    </select>

    <select id="selectCount1" parameterType="UserDistributionModel" resultType="int">
        select count(1) from lkt_user_distribution as a
        <where>
            <trim prefixOverrides="and">
                <if test="store_id != null">and store_id = #{store_id}</if>
                <if test="id != null">and id = #{id}</if>
                <if test="user_id != null">and user_id = #{user_id}</if>
                <if test="pid != null">and pid = #{pid}</if>
                <if test="level != null">and `level` = #{level}</if>
                <if test="uplevel != null">and uplevel = #{uplevel}</if>
                <if test="commission != null">and commission = #{commission}</if>
                <if test="onlyamount != null">and onlyamount = #{onlyamount}</if>
                <if test="allamount != null">and allamount = #{allamount}</if>
                <if test="accumulative != null">and accumulative = #{accumulative}</if>
                <if test="tx_commission != null">and tx_commission = #{tx_commission}</if>
            </trim>
        </where>
    </select>

    <update id="updateByPrimaryKeySelective1" parameterType="UserDistributionModel" useGeneratedKeys="true">
        update lkt_user_distribution
        <set>
            <trim suffixOverrides=",">
                <if test="user_id != null">user_id = #{user_id},</if>
                <if test="pid != null">pid = #{pid},</if>
                <if test="level != null">`level` = #{level},</if>
                <if test="uplevel != null">uplevel = #{uplevel},</if>
                <if test="commission != null">commission = #{commission},</if>
                <if test="onlyamount != null">onlyamount = #{onlyamount},</if>
                <if test="allamount != null">allamount = #{allamount},</if>
                <if test="accumulative != null">accumulative = #{accumulative},</if>
                <if test="tx_commission != null">tx_commission = #{tx_commission},</if>
                <if test="add_date != null">add_date = #{add_date},</if>
            </trim>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <insert id="save" parameterType="UserDistributionModel" useGeneratedKeys="true">
        INSERT INTO lkt_user_distribution (store_id,
                                           user_id,
                                           pid,
                                           level,
                                           lt,
                                           rt,
                                           uplevel,
                                           add_date,
                                           usets,
                                           commission,
                                           onlyamount,
                                           allamount,
                                           one_put,
                                           team_put,
                                           accumulative,
                                           tx_commission)
        VALUES (#{store_id},
                #{user_id},
                #{pid},
                #{level},
                #{lt},
                #{rt},
                #{uplevel},
                #{add_date},
                #{usets},
                #{commission},
                #{onlyamount},
                #{allamount},
                #{one_put},
                #{team_put},
                #{accumulative},
                #{tx_commission});


    </insert>
</mapper>